<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.base.dao.mapper.DstksjhMapper" >
  <resultMap id="BaseResultMap" type="activetech.base.pojo.domain.Dstksjh" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="OPRT_TYP" property="oprtTyp" jdbcType="VARCHAR" />
    <result column="OBJT" property="objt" jdbcType="VARCHAR" />
    <result column="LEND_DPM" property="lendDpm" jdbcType="VARCHAR" />
    <result column="LEND_DAT" property="lendDat" jdbcType="TIMESTAMP" />
    <result column="BORROW_DPM" property="borrowDpm" jdbcType="VARCHAR" />
    <result column="BORROW_USR" property="borrowUsr" jdbcType="VARCHAR" />
    <result column="BORROW_USR_TEL" property="borrowUsrTel" jdbcType="VARCHAR" />
    <result column="RETURN_STATUS" property="returnStatus" jdbcType="VARCHAR" />
    <result column="OPRT_USR" property="oprtUsr" jdbcType="VARCHAR" />
    <result column="OPRT_DAT" property="oprtDat" jdbcType="TIMESTAMP" />
    <result column="LNED_USR" property="lnedUsr" jdbcType="VARCHAR" />
    <result column="DEPOSIT" property="deposit" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, OPRT_TYP, OBJT, LEND_DPM, LEND_DAT, BORROW_DPM, BORROW_USR, BORROW_USR_TEL, RETURN_STATUS, 
    OPRT_USR, OPRT_DAT, LNED_USR, DEPOSIT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.base.pojo.domain.DstksjhExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DSTKSJH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from DSTKSJH
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from DSTKSJH
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.base.pojo.domain.DstksjhExample" >
    delete from DSTKSJH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.base.pojo.domain.Dstksjh" >
    insert into DSTKSJH (ID, OPRT_TYP, OBJT, 
      LEND_DPM, LEND_DAT, BORROW_DPM, 
      BORROW_USR, BORROW_USR_TEL, RETURN_STATUS, 
      OPRT_USR, OPRT_DAT, LNED_USR, 
      DEPOSIT)
    values (#{id,jdbcType=VARCHAR}, #{oprtTyp,jdbcType=VARCHAR}, #{objt,jdbcType=VARCHAR}, 
      #{lendDpm,jdbcType=VARCHAR}, #{lendDat,jdbcType=TIMESTAMP}, #{borrowDpm,jdbcType=VARCHAR}, 
      #{borrowUsr,jdbcType=VARCHAR}, #{borrowUsrTel,jdbcType=VARCHAR}, #{returnStatus,jdbcType=VARCHAR}, 
      #{oprtUsr,jdbcType=VARCHAR}, #{oprtDat,jdbcType=TIMESTAMP}, #{lnedUsr,jdbcType=VARCHAR}, 
      #{deposit,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="activetech.base.pojo.domain.Dstksjh" >
    insert into DSTKSJH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="oprtTyp != null" >
        OPRT_TYP,
      </if>
      <if test="objt != null" >
        OBJT,
      </if>
      <if test="lendDpm != null" >
        LEND_DPM,
      </if>
      <if test="lendDat != null" >
        LEND_DAT,
      </if>
      <if test="borrowDpm != null" >
        BORROW_DPM,
      </if>
      <if test="borrowUsr != null" >
        BORROW_USR,
      </if>
      <if test="borrowUsrTel != null" >
        BORROW_USR_TEL,
      </if>
      <if test="returnStatus != null" >
        RETURN_STATUS,
      </if>
      <if test="oprtUsr != null" >
        OPRT_USR,
      </if>
      <if test="oprtDat != null" >
        OPRT_DAT,
      </if>
      <if test="lnedUsr != null" >
        LNED_USR,
      </if>
      <if test="deposit != null" >
        DEPOSIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="oprtTyp != null" >
        #{oprtTyp,jdbcType=VARCHAR},
      </if>
      <if test="objt != null" >
        #{objt,jdbcType=VARCHAR},
      </if>
      <if test="lendDpm != null" >
        #{lendDpm,jdbcType=VARCHAR},
      </if>
      <if test="lendDat != null" >
        #{lendDat,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowDpm != null" >
        #{borrowDpm,jdbcType=VARCHAR},
      </if>
      <if test="borrowUsr != null" >
        #{borrowUsr,jdbcType=VARCHAR},
      </if>
      <if test="borrowUsrTel != null" >
        #{borrowUsrTel,jdbcType=VARCHAR},
      </if>
      <if test="returnStatus != null" >
        #{returnStatus,jdbcType=VARCHAR},
      </if>
      <if test="oprtUsr != null" >
        #{oprtUsr,jdbcType=VARCHAR},
      </if>
      <if test="oprtDat != null" >
        #{oprtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="lnedUsr != null" >
        #{lnedUsr,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null" >
        #{deposit,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.base.pojo.domain.DstksjhExample" resultType="java.lang.Integer" >
    select count(*) from DSTKSJH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DSTKSJH
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.oprtTyp != null" >
        OPRT_TYP = #{record.oprtTyp,jdbcType=VARCHAR},
      </if>
      <if test="record.objt != null" >
        OBJT = #{record.objt,jdbcType=VARCHAR},
      </if>
      <if test="record.lendDpm != null" >
        LEND_DPM = #{record.lendDpm,jdbcType=VARCHAR},
      </if>
      <if test="record.lendDat != null" >
        LEND_DAT = #{record.lendDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.borrowDpm != null" >
        BORROW_DPM = #{record.borrowDpm,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowUsr != null" >
        BORROW_USR = #{record.borrowUsr,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowUsrTel != null" >
        BORROW_USR_TEL = #{record.borrowUsrTel,jdbcType=VARCHAR},
      </if>
      <if test="record.returnStatus != null" >
        RETURN_STATUS = #{record.returnStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.oprtUsr != null" >
        OPRT_USR = #{record.oprtUsr,jdbcType=VARCHAR},
      </if>
      <if test="record.oprtDat != null" >
        OPRT_DAT = #{record.oprtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lnedUsr != null" >
        LNED_USR = #{record.lnedUsr,jdbcType=VARCHAR},
      </if>
      <if test="record.deposit != null" >
        DEPOSIT = #{record.deposit,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DSTKSJH
    set ID = #{record.id,jdbcType=VARCHAR},
      OPRT_TYP = #{record.oprtTyp,jdbcType=VARCHAR},
      OBJT = #{record.objt,jdbcType=VARCHAR},
      LEND_DPM = #{record.lendDpm,jdbcType=VARCHAR},
      LEND_DAT = #{record.lendDat,jdbcType=TIMESTAMP},
      BORROW_DPM = #{record.borrowDpm,jdbcType=VARCHAR},
      BORROW_USR = #{record.borrowUsr,jdbcType=VARCHAR},
      BORROW_USR_TEL = #{record.borrowUsrTel,jdbcType=VARCHAR},
      RETURN_STATUS = #{record.returnStatus,jdbcType=VARCHAR},
      OPRT_USR = #{record.oprtUsr,jdbcType=VARCHAR},
      OPRT_DAT = #{record.oprtDat,jdbcType=TIMESTAMP},
      LNED_USR = #{record.lnedUsr,jdbcType=VARCHAR},
      DEPOSIT = #{record.deposit,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.base.pojo.domain.Dstksjh" >
    update DSTKSJH
    <set >
      <if test="oprtTyp != null" >
        OPRT_TYP = #{oprtTyp,jdbcType=VARCHAR},
      </if>
      <if test="objt != null" >
        OBJT = #{objt,jdbcType=VARCHAR},
      </if>
      <if test="lendDpm != null" >
        LEND_DPM = #{lendDpm,jdbcType=VARCHAR},
      </if>
      <if test="lendDat != null" >
        LEND_DAT = #{lendDat,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowDpm != null" >
        BORROW_DPM = #{borrowDpm,jdbcType=VARCHAR},
      </if>
      <if test="borrowUsr != null" >
        BORROW_USR = #{borrowUsr,jdbcType=VARCHAR},
      </if>
      <if test="borrowUsrTel != null" >
        BORROW_USR_TEL = #{borrowUsrTel,jdbcType=VARCHAR},
      </if>
      <if test="returnStatus != null" >
        RETURN_STATUS = #{returnStatus,jdbcType=VARCHAR},
      </if>
      <if test="oprtUsr != null" >
        OPRT_USR = #{oprtUsr,jdbcType=VARCHAR},
      </if>
      <if test="oprtDat != null" >
        OPRT_DAT = #{oprtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="lnedUsr != null" >
        LNED_USR = #{lnedUsr,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null" >
        DEPOSIT = #{deposit,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.base.pojo.domain.Dstksjh" >
    update DSTKSJH
    set OPRT_TYP = #{oprtTyp,jdbcType=VARCHAR},
      OBJT = #{objt,jdbcType=VARCHAR},
      LEND_DPM = #{lendDpm,jdbcType=VARCHAR},
      LEND_DAT = #{lendDat,jdbcType=TIMESTAMP},
      BORROW_DPM = #{borrowDpm,jdbcType=VARCHAR},
      BORROW_USR = #{borrowUsr,jdbcType=VARCHAR},
      BORROW_USR_TEL = #{borrowUsrTel,jdbcType=VARCHAR},
      RETURN_STATUS = #{returnStatus,jdbcType=VARCHAR},
      OPRT_USR = #{oprtUsr,jdbcType=VARCHAR},
      OPRT_DAT = #{oprtDat,jdbcType=TIMESTAMP},
      LNED_USR = #{lnedUsr,jdbcType=VARCHAR},
      DEPOSIT = #{deposit,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>