<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.base.dao.mapper.DstoperationMapper" >
  <resultMap id="BaseResultMap" type="activetech.base.pojo.domain.Dstoperation" >
    <id column="OPERATEID" property="operateid" jdbcType="VARCHAR" />
    <result column="OPERATENAME" property="operatename" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="MODULEID" property="moduleid" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="SHOWORDER" property="showorder" jdbcType="DECIMAL" />
    <result column="VCHAR1" property="vchar1" jdbcType="VARCHAR" />
    <result column="VCHAR2" property="vchar2" jdbcType="VARCHAR" />
    <result column="VCHAR3" property="vchar3" jdbcType="VARCHAR" />
    <result column="VCHAR4" property="vchar4" jdbcType="VARCHAR" />
    <result column="OPERTYPE" property="opertype" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    OPERATEID, OPERATENAME, URL, MODULEID, ICON, SHOWORDER, VCHAR1, VCHAR2, VCHAR3, VCHAR4, 
    OPERTYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.base.pojo.domain.DstoperationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DSTOPERATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from DSTOPERATION
    where OPERATEID = #{operateid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from DSTOPERATION
    where OPERATEID = #{operateid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.base.pojo.domain.DstoperationExample" >
    delete from DSTOPERATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.base.pojo.domain.Dstoperation" >
    insert into DSTOPERATION (OPERATEID, OPERATENAME, URL, 
      MODULEID, ICON, SHOWORDER, 
      VCHAR1, VCHAR2, VCHAR3, 
      VCHAR4, OPERTYPE)
    values (#{operateid,jdbcType=VARCHAR}, #{operatename,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{moduleid,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{showorder,jdbcType=DECIMAL}, 
      #{vchar1,jdbcType=VARCHAR}, #{vchar2,jdbcType=VARCHAR}, #{vchar3,jdbcType=VARCHAR}, 
      #{vchar4,jdbcType=VARCHAR}, #{opertype,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="activetech.base.pojo.domain.Dstoperation" >
    insert into DSTOPERATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operateid != null" >
        OPERATEID,
      </if>
      <if test="operatename != null" >
        OPERATENAME,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="moduleid != null" >
        MODULEID,
      </if>
      <if test="icon != null" >
        ICON,
      </if>
      <if test="showorder != null" >
        SHOWORDER,
      </if>
      <if test="vchar1 != null" >
        VCHAR1,
      </if>
      <if test="vchar2 != null" >
        VCHAR2,
      </if>
      <if test="vchar3 != null" >
        VCHAR3,
      </if>
      <if test="vchar4 != null" >
        VCHAR4,
      </if>
      <if test="opertype != null" >
        OPERTYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operateid != null" >
        #{operateid,jdbcType=VARCHAR},
      </if>
      <if test="operatename != null" >
        #{operatename,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="moduleid != null" >
        #{moduleid,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="showorder != null" >
        #{showorder,jdbcType=DECIMAL},
      </if>
      <if test="vchar1 != null" >
        #{vchar1,jdbcType=VARCHAR},
      </if>
      <if test="vchar2 != null" >
        #{vchar2,jdbcType=VARCHAR},
      </if>
      <if test="vchar3 != null" >
        #{vchar3,jdbcType=VARCHAR},
      </if>
      <if test="vchar4 != null" >
        #{vchar4,jdbcType=VARCHAR},
      </if>
      <if test="opertype != null" >
        #{opertype,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.base.pojo.domain.DstoperationExample" resultType="java.lang.Integer" >
    select count(*) from DSTOPERATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DSTOPERATION
    <set >
      <if test="record.operateid != null" >
        OPERATEID = #{record.operateid,jdbcType=VARCHAR},
      </if>
      <if test="record.operatename != null" >
        OPERATENAME = #{record.operatename,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleid != null" >
        MODULEID = #{record.moduleid,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null" >
        ICON = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.showorder != null" >
        SHOWORDER = #{record.showorder,jdbcType=DECIMAL},
      </if>
      <if test="record.vchar1 != null" >
        VCHAR1 = #{record.vchar1,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar2 != null" >
        VCHAR2 = #{record.vchar2,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar3 != null" >
        VCHAR3 = #{record.vchar3,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar4 != null" >
        VCHAR4 = #{record.vchar4,jdbcType=VARCHAR},
      </if>
      <if test="record.opertype != null" >
        OPERTYPE = #{record.opertype,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DSTOPERATION
    set OPERATEID = #{record.operateid,jdbcType=VARCHAR},
      OPERATENAME = #{record.operatename,jdbcType=VARCHAR},
      URL = #{record.url,jdbcType=VARCHAR},
      MODULEID = #{record.moduleid,jdbcType=VARCHAR},
      ICON = #{record.icon,jdbcType=VARCHAR},
      SHOWORDER = #{record.showorder,jdbcType=DECIMAL},
      VCHAR1 = #{record.vchar1,jdbcType=VARCHAR},
      VCHAR2 = #{record.vchar2,jdbcType=VARCHAR},
      VCHAR3 = #{record.vchar3,jdbcType=VARCHAR},
      VCHAR4 = #{record.vchar4,jdbcType=VARCHAR},
      OPERTYPE = #{record.opertype,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.base.pojo.domain.Dstoperation" >
    update DSTOPERATION
    <set >
      <if test="operatename != null" >
        OPERATENAME = #{operatename,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="moduleid != null" >
        MODULEID = #{moduleid,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="showorder != null" >
        SHOWORDER = #{showorder,jdbcType=DECIMAL},
      </if>
      <if test="vchar1 != null" >
        VCHAR1 = #{vchar1,jdbcType=VARCHAR},
      </if>
      <if test="vchar2 != null" >
        VCHAR2 = #{vchar2,jdbcType=VARCHAR},
      </if>
      <if test="vchar3 != null" >
        VCHAR3 = #{vchar3,jdbcType=VARCHAR},
      </if>
      <if test="vchar4 != null" >
        VCHAR4 = #{vchar4,jdbcType=VARCHAR},
      </if>
      <if test="opertype != null" >
        OPERTYPE = #{opertype,jdbcType=CHAR},
      </if>
    </set>
    where OPERATEID = #{operateid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.base.pojo.domain.Dstoperation" >
    update DSTOPERATION
    set OPERATENAME = #{operatename,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      MODULEID = #{moduleid,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      SHOWORDER = #{showorder,jdbcType=DECIMAL},
      VCHAR1 = #{vchar1,jdbcType=VARCHAR},
      VCHAR2 = #{vchar2,jdbcType=VARCHAR},
      VCHAR3 = #{vchar3,jdbcType=VARCHAR},
      VCHAR4 = #{vchar4,jdbcType=VARCHAR},
      OPERTYPE = #{opertype,jdbcType=CHAR}
    where OPERATEID = #{operateid,jdbcType=VARCHAR}
  </update>
</mapper>