<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.eicu.dao.mapper.IcuGradeRiskMapper" >
  <resultMap id="BaseResultMap" type="activetech.eicu.pojo.domain.IcuGradeRisk" >
    <id column="ITEM_FIELD" property="itemField" jdbcType="VARCHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="ITEM_ROOT" property="itemRoot" jdbcType="VARCHAR" />
    <result column="LOW_VALUE" property="lowValue" jdbcType="DECIMAL" />
    <result column="UPP_VALUE" property="uppValue" jdbcType="DECIMAL" />
    <result column="RISK_COLOR" property="riskColor" jdbcType="VARCHAR" />
    <result column="RISK_DESC" property="riskDesc" jdbcType="VARCHAR" />
    <result column="RISK_SORT" property="riskSort" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ITEM_FIELD, ITEM_NAME, ITEM_ROOT, LOW_VALUE, UPP_VALUE, RISK_COLOR, RISK_DESC, RISK_SORT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.eicu.pojo.domain.IcuGradeRiskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ICU_GRADE_RISK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ICU_GRADE_RISK
    where ITEM_FIELD = #{itemField,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ICU_GRADE_RISK
    where ITEM_FIELD = #{itemField,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.eicu.pojo.domain.IcuGradeRiskExample" >
    delete from ICU_GRADE_RISK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.eicu.pojo.domain.IcuGradeRisk" >
    insert into ICU_GRADE_RISK (ITEM_FIELD, ITEM_NAME, ITEM_ROOT, 
      LOW_VALUE, UPP_VALUE, RISK_COLOR, 
      RISK_DESC, RISK_SORT)
    values (#{itemField,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{itemRoot,jdbcType=VARCHAR}, 
      #{lowValue,jdbcType=DECIMAL}, #{uppValue,jdbcType=DECIMAL}, #{riskColor,jdbcType=VARCHAR}, 
      #{riskDesc,jdbcType=VARCHAR}, #{riskSort,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="activetech.eicu.pojo.domain.IcuGradeRisk" >
    insert into ICU_GRADE_RISK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemField != null" >
        ITEM_FIELD,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="itemRoot != null" >
        ITEM_ROOT,
      </if>
      <if test="lowValue != null" >
        LOW_VALUE,
      </if>
      <if test="uppValue != null" >
        UPP_VALUE,
      </if>
      <if test="riskColor != null" >
        RISK_COLOR,
      </if>
      <if test="riskDesc != null" >
        RISK_DESC,
      </if>
      <if test="riskSort != null" >
        RISK_SORT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemField != null" >
        #{itemField,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemRoot != null" >
        #{itemRoot,jdbcType=VARCHAR},
      </if>
      <if test="lowValue != null" >
        #{lowValue,jdbcType=DECIMAL},
      </if>
      <if test="uppValue != null" >
        #{uppValue,jdbcType=DECIMAL},
      </if>
      <if test="riskColor != null" >
        #{riskColor,jdbcType=VARCHAR},
      </if>
      <if test="riskDesc != null" >
        #{riskDesc,jdbcType=VARCHAR},
      </if>
      <if test="riskSort != null" >
        #{riskSort,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.eicu.pojo.domain.IcuGradeRiskExample" resultType="java.lang.Integer" >
    select count(*) from ICU_GRADE_RISK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ICU_GRADE_RISK
    <set >
      <if test="record.itemField != null" >
        ITEM_FIELD = #{record.itemField,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemRoot != null" >
        ITEM_ROOT = #{record.itemRoot,jdbcType=VARCHAR},
      </if>
      <if test="record.lowValue != null" >
        LOW_VALUE = #{record.lowValue,jdbcType=DECIMAL},
      </if>
      <if test="record.uppValue != null" >
        UPP_VALUE = #{record.uppValue,jdbcType=DECIMAL},
      </if>
      <if test="record.riskColor != null" >
        RISK_COLOR = #{record.riskColor,jdbcType=VARCHAR},
      </if>
      <if test="record.riskDesc != null" >
        RISK_DESC = #{record.riskDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.riskSort != null" >
        RISK_SORT = #{record.riskSort,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ICU_GRADE_RISK
    set ITEM_FIELD = #{record.itemField,jdbcType=VARCHAR},
      ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      ITEM_ROOT = #{record.itemRoot,jdbcType=VARCHAR},
      LOW_VALUE = #{record.lowValue,jdbcType=DECIMAL},
      UPP_VALUE = #{record.uppValue,jdbcType=DECIMAL},
      RISK_COLOR = #{record.riskColor,jdbcType=VARCHAR},
      RISK_DESC = #{record.riskDesc,jdbcType=VARCHAR},
      RISK_SORT = #{record.riskSort,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.eicu.pojo.domain.IcuGradeRisk" >
    update ICU_GRADE_RISK
    <set >
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemRoot != null" >
        ITEM_ROOT = #{itemRoot,jdbcType=VARCHAR},
      </if>
      <if test="lowValue != null" >
        LOW_VALUE = #{lowValue,jdbcType=DECIMAL},
      </if>
      <if test="uppValue != null" >
        UPP_VALUE = #{uppValue,jdbcType=DECIMAL},
      </if>
      <if test="riskColor != null" >
        RISK_COLOR = #{riskColor,jdbcType=VARCHAR},
      </if>
      <if test="riskDesc != null" >
        RISK_DESC = #{riskDesc,jdbcType=VARCHAR},
      </if>
      <if test="riskSort != null" >
        RISK_SORT = #{riskSort,jdbcType=DECIMAL},
      </if>
    </set>
    where ITEM_FIELD = #{itemField,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.eicu.pojo.domain.IcuGradeRisk" >
    update ICU_GRADE_RISK
    set ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      ITEM_ROOT = #{itemRoot,jdbcType=VARCHAR},
      LOW_VALUE = #{lowValue,jdbcType=DECIMAL},
      UPP_VALUE = #{uppValue,jdbcType=DECIMAL},
      RISK_COLOR = #{riskColor,jdbcType=VARCHAR},
      RISK_DESC = #{riskDesc,jdbcType=VARCHAR},
      RISK_SORT = #{riskSort,jdbcType=DECIMAL}
    where ITEM_FIELD = #{itemField,jdbcType=VARCHAR}
  </update>
</mapper>