<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.eicu.dao.mapper.IcuMenuDefMapper" >
  <resultMap id="BaseResultMap" type="activetech.eicu.pojo.domain.IcuMenuDef" >
    <id column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="MENU_STAT" property="menuStat" jdbcType="VARCHAR" />
    <result column="MENU_TYPE" property="menuType" jdbcType="VARCHAR" />
    <result column="OV_FLAG" property="ovFlag" jdbcType="VARCHAR" />
    <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR" />
    <result column="MENU_ROOT" property="menuRoot" jdbcType="VARCHAR" />
    <result column="MENU_SORT" property="menuSort" jdbcType="DECIMAL" />
    <result column="MENU_KIND" property="menuKind" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MENU_ID, MENU_NAME, MENU_STAT, MENU_TYPE, OV_FLAG, MENU_URL, MENU_ROOT, MENU_SORT, 
    MENU_KIND
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.eicu.pojo.domain.IcuMenuDefExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ICU_MENU_DEF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ICU_MENU_DEF
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ICU_MENU_DEF
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.eicu.pojo.domain.IcuMenuDefExample" >
    delete from ICU_MENU_DEF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.eicu.pojo.domain.IcuMenuDef" >
    insert into ICU_MENU_DEF (MENU_ID, MENU_NAME, MENU_STAT, 
      MENU_TYPE, OV_FLAG, MENU_URL, 
      MENU_ROOT, MENU_SORT, MENU_KIND
      )
    values (#{menuId,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{menuStat,jdbcType=VARCHAR}, 
      #{menuType,jdbcType=VARCHAR}, #{ovFlag,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, 
      #{menuRoot,jdbcType=VARCHAR}, #{menuSort,jdbcType=DECIMAL}, #{menuKind,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="activetech.eicu.pojo.domain.IcuMenuDef" >
    insert into ICU_MENU_DEF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="menuName != null" >
        MENU_NAME,
      </if>
      <if test="menuStat != null" >
        MENU_STAT,
      </if>
      <if test="menuType != null" >
        MENU_TYPE,
      </if>
      <if test="ovFlag != null" >
        OV_FLAG,
      </if>
      <if test="menuUrl != null" >
        MENU_URL,
      </if>
      <if test="menuRoot != null" >
        MENU_ROOT,
      </if>
      <if test="menuSort != null" >
        MENU_SORT,
      </if>
      <if test="menuKind != null" >
        MENU_KIND,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuStat != null" >
        #{menuStat,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="ovFlag != null" >
        #{ovFlag,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuRoot != null" >
        #{menuRoot,jdbcType=VARCHAR},
      </if>
      <if test="menuSort != null" >
        #{menuSort,jdbcType=DECIMAL},
      </if>
      <if test="menuKind != null" >
        #{menuKind,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.eicu.pojo.domain.IcuMenuDefExample" resultType="java.lang.Integer" >
    select count(*) from ICU_MENU_DEF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ICU_MENU_DEF
    <set >
      <if test="record.menuId != null" >
        MENU_ID = #{record.menuId,jdbcType=VARCHAR},
      </if>
      <if test="record.menuName != null" >
        MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuStat != null" >
        MENU_STAT = #{record.menuStat,jdbcType=VARCHAR},
      </if>
      <if test="record.menuType != null" >
        MENU_TYPE = #{record.menuType,jdbcType=VARCHAR},
      </if>
      <if test="record.ovFlag != null" >
        OV_FLAG = #{record.ovFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.menuUrl != null" >
        MENU_URL = #{record.menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.menuRoot != null" >
        MENU_ROOT = #{record.menuRoot,jdbcType=VARCHAR},
      </if>
      <if test="record.menuSort != null" >
        MENU_SORT = #{record.menuSort,jdbcType=DECIMAL},
      </if>
      <if test="record.menuKind != null" >
        MENU_KIND = #{record.menuKind,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ICU_MENU_DEF
    set MENU_ID = #{record.menuId,jdbcType=VARCHAR},
      MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      MENU_STAT = #{record.menuStat,jdbcType=VARCHAR},
      MENU_TYPE = #{record.menuType,jdbcType=VARCHAR},
      OV_FLAG = #{record.ovFlag,jdbcType=VARCHAR},
      MENU_URL = #{record.menuUrl,jdbcType=VARCHAR},
      MENU_ROOT = #{record.menuRoot,jdbcType=VARCHAR},
      MENU_SORT = #{record.menuSort,jdbcType=DECIMAL},
      MENU_KIND = #{record.menuKind,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.eicu.pojo.domain.IcuMenuDef" >
    update ICU_MENU_DEF
    <set >
      <if test="menuName != null" >
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuStat != null" >
        MENU_STAT = #{menuStat,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        MENU_TYPE = #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="ovFlag != null" >
        OV_FLAG = #{ovFlag,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuRoot != null" >
        MENU_ROOT = #{menuRoot,jdbcType=VARCHAR},
      </if>
      <if test="menuSort != null" >
        MENU_SORT = #{menuSort,jdbcType=DECIMAL},
      </if>
      <if test="menuKind != null" >
        MENU_KIND = #{menuKind,jdbcType=VARCHAR},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.eicu.pojo.domain.IcuMenuDef" >
    update ICU_MENU_DEF
    set MENU_NAME = #{menuName,jdbcType=VARCHAR},
      MENU_STAT = #{menuStat,jdbcType=VARCHAR},
      MENU_TYPE = #{menuType,jdbcType=VARCHAR},
      OV_FLAG = #{ovFlag,jdbcType=VARCHAR},
      MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      MENU_ROOT = #{menuRoot,jdbcType=VARCHAR},
      MENU_SORT = #{menuSort,jdbcType=DECIMAL},
      MENU_KIND = #{menuKind,jdbcType=VARCHAR}
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>