<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.eicu.dao.mapper.IcuVsLmtMapper" >
  <resultMap id="BaseResultMap" type="activetech.eicu.pojo.domain.IcuVsLmt" >
    <id column="LMT_SEQ" property="lmtSeq" jdbcType="VARCHAR" />
    <result column="LIVE_NO" property="liveNo" jdbcType="VARCHAR" />
    <result column="VS_TYPE" property="vsType" jdbcType="VARCHAR" />
    <result column="VS_CODE" property="vsCode" jdbcType="VARCHAR" />
    <result column="LOW_LMT" property="lowLmt" jdbcType="DECIMAL" />
    <result column="UPP_LMT" property="uppLmt" jdbcType="DECIMAL" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="MOD_TIME" property="modTime" jdbcType="TIMESTAMP" />
    <result column="MOD_USER" property="modUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LMT_SEQ, LIVE_NO, VS_TYPE, VS_CODE, LOW_LMT, UPP_LMT, CRT_TIME, CRT_USER, MOD_TIME, 
    MOD_USER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.eicu.pojo.domain.IcuVsLmtExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ICU_VS_LMT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ICU_VS_LMT
    where LMT_SEQ = #{lmtSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ICU_VS_LMT
    where LMT_SEQ = #{lmtSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.eicu.pojo.domain.IcuVsLmtExample" >
    delete from ICU_VS_LMT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.eicu.pojo.domain.IcuVsLmt" >
    insert into ICU_VS_LMT (LMT_SEQ, LIVE_NO, VS_TYPE, 
      VS_CODE, LOW_LMT, UPP_LMT, 
      CRT_TIME, CRT_USER, MOD_TIME, 
      MOD_USER)
    values (#{lmtSeq,jdbcType=VARCHAR}, #{liveNo,jdbcType=VARCHAR}, #{vsType,jdbcType=VARCHAR}, 
      #{vsCode,jdbcType=VARCHAR}, #{lowLmt,jdbcType=DECIMAL}, #{uppLmt,jdbcType=DECIMAL}, 
      #{crtTime,jdbcType=TIMESTAMP}, #{crtUser,jdbcType=VARCHAR}, #{modTime,jdbcType=TIMESTAMP}, 
      #{modUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="activetech.eicu.pojo.domain.IcuVsLmt" >
    insert into ICU_VS_LMT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lmtSeq != null" >
        LMT_SEQ,
      </if>
      <if test="liveNo != null" >
        LIVE_NO,
      </if>
      <if test="vsType != null" >
        VS_TYPE,
      </if>
      <if test="vsCode != null" >
        VS_CODE,
      </if>
      <if test="lowLmt != null" >
        LOW_LMT,
      </if>
      <if test="uppLmt != null" >
        UPP_LMT,
      </if>
      <if test="crtTime != null" >
        CRT_TIME,
      </if>
      <if test="crtUser != null" >
        CRT_USER,
      </if>
      <if test="modTime != null" >
        MOD_TIME,
      </if>
      <if test="modUser != null" >
        MOD_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lmtSeq != null" >
        #{lmtSeq,jdbcType=VARCHAR},
      </if>
      <if test="liveNo != null" >
        #{liveNo,jdbcType=VARCHAR},
      </if>
      <if test="vsType != null" >
        #{vsType,jdbcType=VARCHAR},
      </if>
      <if test="vsCode != null" >
        #{vsCode,jdbcType=VARCHAR},
      </if>
      <if test="lowLmt != null" >
        #{lowLmt,jdbcType=DECIMAL},
      </if>
      <if test="uppLmt != null" >
        #{uppLmt,jdbcType=DECIMAL},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUser != null" >
        #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUser != null" >
        #{modUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.eicu.pojo.domain.IcuVsLmtExample" resultType="java.lang.Integer" >
    select count(*) from ICU_VS_LMT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ICU_VS_LMT
    <set >
      <if test="record.lmtSeq != null" >
        LMT_SEQ = #{record.lmtSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.liveNo != null" >
        LIVE_NO = #{record.liveNo,jdbcType=VARCHAR},
      </if>
      <if test="record.vsType != null" >
        VS_TYPE = #{record.vsType,jdbcType=VARCHAR},
      </if>
      <if test="record.vsCode != null" >
        VS_CODE = #{record.vsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.lowLmt != null" >
        LOW_LMT = #{record.lowLmt,jdbcType=DECIMAL},
      </if>
      <if test="record.uppLmt != null" >
        UPP_LMT = #{record.uppLmt,jdbcType=DECIMAL},
      </if>
      <if test="record.crtTime != null" >
        CRT_TIME = #{record.crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtUser != null" >
        CRT_USER = #{record.crtUser,jdbcType=VARCHAR},
      </if>
      <if test="record.modTime != null" >
        MOD_TIME = #{record.modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modUser != null" >
        MOD_USER = #{record.modUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ICU_VS_LMT
    set LMT_SEQ = #{record.lmtSeq,jdbcType=VARCHAR},
      LIVE_NO = #{record.liveNo,jdbcType=VARCHAR},
      VS_TYPE = #{record.vsType,jdbcType=VARCHAR},
      VS_CODE = #{record.vsCode,jdbcType=VARCHAR},
      LOW_LMT = #{record.lowLmt,jdbcType=DECIMAL},
      UPP_LMT = #{record.uppLmt,jdbcType=DECIMAL},
      CRT_TIME = #{record.crtTime,jdbcType=TIMESTAMP},
      CRT_USER = #{record.crtUser,jdbcType=VARCHAR},
      MOD_TIME = #{record.modTime,jdbcType=TIMESTAMP},
      MOD_USER = #{record.modUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.eicu.pojo.domain.IcuVsLmt" >
    update ICU_VS_LMT
    <set >
      <if test="liveNo != null" >
        LIVE_NO = #{liveNo,jdbcType=VARCHAR},
      </if>
      <if test="vsType != null" >
        VS_TYPE = #{vsType,jdbcType=VARCHAR},
      </if>
      <if test="vsCode != null" >
        VS_CODE = #{vsCode,jdbcType=VARCHAR},
      </if>
      <if test="lowLmt != null" >
        LOW_LMT = #{lowLmt,jdbcType=DECIMAL},
      </if>
      <if test="uppLmt != null" >
        UPP_LMT = #{uppLmt,jdbcType=DECIMAL},
      </if>
      <if test="crtTime != null" >
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUser != null" >
        CRT_USER = #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="modTime != null" >
        MOD_TIME = #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUser != null" >
        MOD_USER = #{modUser,jdbcType=VARCHAR},
      </if>
    </set>
    where LMT_SEQ = #{lmtSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.eicu.pojo.domain.IcuVsLmt" >
    update ICU_VS_LMT
    set LIVE_NO = #{liveNo,jdbcType=VARCHAR},
      VS_TYPE = #{vsType,jdbcType=VARCHAR},
      VS_CODE = #{vsCode,jdbcType=VARCHAR},
      LOW_LMT = #{lowLmt,jdbcType=DECIMAL},
      UPP_LMT = #{uppLmt,jdbcType=DECIMAL},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      CRT_USER = #{crtUser,jdbcType=VARCHAR},
      MOD_TIME = #{modTime,jdbcType=TIMESTAMP},
      MOD_USER = #{modUser,jdbcType=VARCHAR}
    where LMT_SEQ = #{lmtSeq,jdbcType=VARCHAR}
  </update>
</mapper>