<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activetech.aid.dao.mapper.AidEptGrpMapper">
  <resultMap id="BaseResultMap" type="activetech.aid.pojo.domain.AidEptGrp">
    <id column="GRP_SEQ" jdbcType="VARCHAR" property="grpSeq" />
    <result column="GRP_NO" jdbcType="VARCHAR" property="grpNo" />
    <result column="GRP_NAM" jdbcType="VARCHAR" property="grpNam" />
    <result column="EPT_TYP" jdbcType="CHAR" property="eptTyp" />
    <result column="EPT_NO" jdbcType="VARCHAR" property="eptNo" />
    <result column="EPT_COM" jdbcType="VARCHAR" property="eptCom" />
    <result column="WXP_FLG" jdbcType="CHAR" property="wxpFlg" />
    <result column="CRT_TIM" jdbcType="TIMESTAMP" property="crtTim" />
    <result column="CRT_USR" jdbcType="VARCHAR" property="crtUsr" />
    <result column="MOD_TIM" jdbcType="TIMESTAMP" property="modTim" />
    <result column="MOD_USR" jdbcType="VARCHAR" property="modUsr" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    GRP_SEQ, GRP_NO, GRP_NAM, EPT_TYP, EPT_NO, EPT_COM, WXP_FLG, CRT_TIM, CRT_USR, MOD_TIM, 
    MOD_USR
  </sql>
  <select id="selectByExample" parameterType="activetech.aid.pojo.domain.AidEptGrpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AID_EPT_GRP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AID_EPT_GRP
    where GRP_SEQ = #{grpSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AID_EPT_GRP
    where GRP_SEQ = #{grpSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.aid.pojo.domain.AidEptGrpExample">
    delete from AID_EPT_GRP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="GRP_SEQ" keyProperty="grpSeq" parameterType="activetech.aid.pojo.domain.AidEptGrp" useGeneratedKeys="true">
    insert into AID_EPT_GRP (GRP_NO, GRP_NAM, EPT_TYP, 
      EPT_NO, EPT_COM, WXP_FLG, 
      CRT_TIM, CRT_USR, MOD_TIM, 
      MOD_USR)
    values (#{grpNo,jdbcType=VARCHAR}, #{grpNam,jdbcType=VARCHAR}, #{eptTyp,jdbcType=CHAR}, 
      #{eptNo,jdbcType=VARCHAR}, #{eptCom,jdbcType=VARCHAR}, #{wxpFlg,jdbcType=CHAR}, 
      #{crtTim,jdbcType=TIMESTAMP}, #{crtUsr,jdbcType=VARCHAR}, #{modTim,jdbcType=TIMESTAMP}, 
      #{modUsr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="GRP_SEQ" keyProperty="grpSeq" parameterType="activetech.aid.pojo.domain.AidEptGrp" useGeneratedKeys="true">
    insert into AID_EPT_GRP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="grpNo != null">
        GRP_NO,
      </if>
      <if test="grpNam != null">
        GRP_NAM,
      </if>
      <if test="eptTyp != null">
        EPT_TYP,
      </if>
      <if test="eptNo != null">
        EPT_NO,
      </if>
      <if test="eptCom != null">
        EPT_COM,
      </if>
      <if test="wxpFlg != null">
        WXP_FLG,
      </if>
      <if test="crtTim != null">
        CRT_TIM,
      </if>
      <if test="crtUsr != null">
        CRT_USR,
      </if>
      <if test="modTim != null">
        MOD_TIM,
      </if>
      <if test="modUsr != null">
        MOD_USR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="grpNo != null">
        #{grpNo,jdbcType=VARCHAR},
      </if>
      <if test="grpNam != null">
        #{grpNam,jdbcType=VARCHAR},
      </if>
      <if test="eptTyp != null">
        #{eptTyp,jdbcType=CHAR},
      </if>
      <if test="eptNo != null">
        #{eptNo,jdbcType=VARCHAR},
      </if>
      <if test="eptCom != null">
        #{eptCom,jdbcType=VARCHAR},
      </if>
      <if test="wxpFlg != null">
        #{wxpFlg,jdbcType=CHAR},
      </if>
      <if test="crtTim != null">
        #{crtTim,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUsr != null">
        #{crtUsr,jdbcType=VARCHAR},
      </if>
      <if test="modTim != null">
        #{modTim,jdbcType=TIMESTAMP},
      </if>
      <if test="modUsr != null">
        #{modUsr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.aid.pojo.domain.AidEptGrpExample" resultType="java.lang.Long">
    select count(*) from AID_EPT_GRP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update AID_EPT_GRP
    <set>
      <if test="record.grpSeq != null">
        GRP_SEQ = #{record.grpSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.grpNo != null">
        GRP_NO = #{record.grpNo,jdbcType=VARCHAR},
      </if>
      <if test="record.grpNam != null">
        GRP_NAM = #{record.grpNam,jdbcType=VARCHAR},
      </if>
      <if test="record.eptTyp != null">
        EPT_TYP = #{record.eptTyp,jdbcType=CHAR},
      </if>
      <if test="record.eptNo != null">
        EPT_NO = #{record.eptNo,jdbcType=VARCHAR},
      </if>
      <if test="record.eptCom != null">
        EPT_COM = #{record.eptCom,jdbcType=VARCHAR},
      </if>
      <if test="record.wxpFlg != null">
        WXP_FLG = #{record.wxpFlg,jdbcType=CHAR},
      </if>
      <if test="record.crtTim != null">
        CRT_TIM = #{record.crtTim,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtUsr != null">
        CRT_USR = #{record.crtUsr,jdbcType=VARCHAR},
      </if>
      <if test="record.modTim != null">
        MOD_TIM = #{record.modTim,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modUsr != null">
        MOD_USR = #{record.modUsr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update AID_EPT_GRP
    set GRP_SEQ = #{record.grpSeq,jdbcType=VARCHAR},
      GRP_NO = #{record.grpNo,jdbcType=VARCHAR},
      GRP_NAM = #{record.grpNam,jdbcType=VARCHAR},
      EPT_TYP = #{record.eptTyp,jdbcType=CHAR},
      EPT_NO = #{record.eptNo,jdbcType=VARCHAR},
      EPT_COM = #{record.eptCom,jdbcType=VARCHAR},
      WXP_FLG = #{record.wxpFlg,jdbcType=CHAR},
      CRT_TIM = #{record.crtTim,jdbcType=TIMESTAMP},
      CRT_USR = #{record.crtUsr,jdbcType=VARCHAR},
      MOD_TIM = #{record.modTim,jdbcType=TIMESTAMP},
      MOD_USR = #{record.modUsr,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.aid.pojo.domain.AidEptGrp">
    update AID_EPT_GRP
    <set>
      <if test="grpNo != null">
        GRP_NO = #{grpNo,jdbcType=VARCHAR},
      </if>
      <if test="grpNam != null">
        GRP_NAM = #{grpNam,jdbcType=VARCHAR},
      </if>
      <if test="eptTyp != null">
        EPT_TYP = #{eptTyp,jdbcType=CHAR},
      </if>
      <if test="eptNo != null">
        EPT_NO = #{eptNo,jdbcType=VARCHAR},
      </if>
      <if test="eptCom != null">
        EPT_COM = #{eptCom,jdbcType=VARCHAR},
      </if>
      <if test="wxpFlg != null">
        WXP_FLG = #{wxpFlg,jdbcType=CHAR},
      </if>
      <if test="crtTim != null">
        CRT_TIM = #{crtTim,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUsr != null">
        CRT_USR = #{crtUsr,jdbcType=VARCHAR},
      </if>
      <if test="modTim != null">
        MOD_TIM = #{modTim,jdbcType=TIMESTAMP},
      </if>
      <if test="modUsr != null">
        MOD_USR = #{modUsr,jdbcType=VARCHAR},
      </if>
    </set>
    where GRP_SEQ = #{grpSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.aid.pojo.domain.AidEptGrp">
    update AID_EPT_GRP
    set GRP_NO = #{grpNo,jdbcType=VARCHAR},
      GRP_NAM = #{grpNam,jdbcType=VARCHAR},
      EPT_TYP = #{eptTyp,jdbcType=CHAR},
      EPT_NO = #{eptNo,jdbcType=VARCHAR},
      EPT_COM = #{eptCom,jdbcType=VARCHAR},
      WXP_FLG = #{wxpFlg,jdbcType=CHAR},
      CRT_TIM = #{crtTim,jdbcType=TIMESTAMP},
      CRT_USR = #{crtUsr,jdbcType=VARCHAR},
      MOD_TIM = #{modTim,jdbcType=TIMESTAMP},
      MOD_USR = #{modUsr,jdbcType=VARCHAR}
    where GRP_SEQ = #{grpSeq,jdbcType=VARCHAR}
  </update>
</mapper>