<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.hospital.dao.mapper.HspFastInfMapper" >
  <resultMap id="BaseResultMap" type="activetech.hospital.pojo.domain.HspFastInf" >
    <id column="EMG_SEQ" property="emgSeq" jdbcType="VARCHAR" />
    <result column="MT_COD" property="mtCod" jdbcType="CHAR" />
    <result column="SZTH_COD" property="szthCod" jdbcType="CHAR" />
    <result column="WL_COD" property="wlCod" jdbcType="CHAR" />
    <result column="CZ_FLAG" property="czFlag" jdbcType="VARCHAR" />
    <result column="FASTCRT_DAT" property="fastcrtDat" jdbcType="TIMESTAMP" />
    <result column="FASTCRT_NBR" property="fastcrtNbr" jdbcType="VARCHAR" />
    <result column="FASTUPD_DAT" property="fastupdDat" jdbcType="TIMESTAMP" />
    <result column="FASTUPD_NBR" property="fastupdNbr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EMG_SEQ, MT_COD, SZTH_COD, WL_COD, CZ_FLAG, FASTCRT_DAT, FASTCRT_NBR, FASTUPD_DAT, 
    FASTUPD_NBR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.hospital.pojo.domain.HspFastInfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_FAST_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from HSP_FAST_INF
    where EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HSP_FAST_INF
    where EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.hospital.pojo.domain.HspFastInfExample" >
    delete from HSP_FAST_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.hospital.pojo.domain.HspFastInf" >
    insert into HSP_FAST_INF (EMG_SEQ, MT_COD, SZTH_COD, 
      WL_COD, CZ_FLAG, FASTCRT_DAT, 
      FASTCRT_NBR, FASTUPD_DAT, FASTUPD_NBR
      )
    values (#{emgSeq,jdbcType=VARCHAR}, #{mtCod,jdbcType=CHAR}, #{szthCod,jdbcType=CHAR}, 
      #{wlCod,jdbcType=CHAR}, #{czFlag,jdbcType=VARCHAR}, #{fastcrtDat,jdbcType=TIMESTAMP}, 
      #{fastcrtNbr,jdbcType=VARCHAR}, #{fastupdDat,jdbcType=TIMESTAMP}, #{fastupdNbr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="activetech.hospital.pojo.domain.HspFastInf" >
    insert into HSP_FAST_INF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="emgSeq != null" >
        EMG_SEQ,
      </if>
      <if test="mtCod != null" >
        MT_COD,
      </if>
      <if test="szthCod != null" >
        SZTH_COD,
      </if>
      <if test="wlCod != null" >
        WL_COD,
      </if>
      <if test="czFlag != null" >
        CZ_FLAG,
      </if>
      <if test="fastcrtDat != null" >
        FASTCRT_DAT,
      </if>
      <if test="fastcrtNbr != null" >
        FASTCRT_NBR,
      </if>
      <if test="fastupdDat != null" >
        FASTUPD_DAT,
      </if>
      <if test="fastupdNbr != null" >
        FASTUPD_NBR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="emgSeq != null" >
        #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="mtCod != null" >
        #{mtCod,jdbcType=CHAR},
      </if>
      <if test="szthCod != null" >
        #{szthCod,jdbcType=CHAR},
      </if>
      <if test="wlCod != null" >
        #{wlCod,jdbcType=CHAR},
      </if>
      <if test="czFlag != null" >
        #{czFlag,jdbcType=VARCHAR},
      </if>
      <if test="fastcrtDat != null" >
        #{fastcrtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="fastcrtNbr != null" >
        #{fastcrtNbr,jdbcType=VARCHAR},
      </if>
      <if test="fastupdDat != null" >
        #{fastupdDat,jdbcType=TIMESTAMP},
      </if>
      <if test="fastupdNbr != null" >
        #{fastupdNbr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.hospital.pojo.domain.HspFastInfExample" resultType="java.lang.Integer" >
    select count(*) from HSP_FAST_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_FAST_INF
    <set >
      <if test="record.emgSeq != null" >
        EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.mtCod != null" >
        MT_COD = #{record.mtCod,jdbcType=CHAR},
      </if>
      <if test="record.szthCod != null" >
        SZTH_COD = #{record.szthCod,jdbcType=CHAR},
      </if>
      <if test="record.wlCod != null" >
        WL_COD = #{record.wlCod,jdbcType=CHAR},
      </if>
      <if test="record.czFlag != null" >
        CZ_FLAG = #{record.czFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.fastcrtDat != null" >
        FASTCRT_DAT = #{record.fastcrtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fastcrtNbr != null" >
        FASTCRT_NBR = #{record.fastcrtNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.fastupdDat != null" >
        FASTUPD_DAT = #{record.fastupdDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fastupdNbr != null" >
        FASTUPD_NBR = #{record.fastupdNbr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_FAST_INF
    set EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      MT_COD = #{record.mtCod,jdbcType=CHAR},
      SZTH_COD = #{record.szthCod,jdbcType=CHAR},
      WL_COD = #{record.wlCod,jdbcType=CHAR},
      CZ_FLAG = #{record.czFlag,jdbcType=VARCHAR},
      FASTCRT_DAT = #{record.fastcrtDat,jdbcType=TIMESTAMP},
      FASTCRT_NBR = #{record.fastcrtNbr,jdbcType=VARCHAR},
      FASTUPD_DAT = #{record.fastupdDat,jdbcType=TIMESTAMP},
      FASTUPD_NBR = #{record.fastupdNbr,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.hospital.pojo.domain.HspFastInf" >
    update HSP_FAST_INF
    <set >
      <if test="mtCod != null" >
        MT_COD = #{mtCod,jdbcType=CHAR},
      </if>
      <if test="szthCod != null" >
        SZTH_COD = #{szthCod,jdbcType=CHAR},
      </if>
      <if test="wlCod != null" >
        WL_COD = #{wlCod,jdbcType=CHAR},
      </if>
      <if test="czFlag != null" >
        CZ_FLAG = #{czFlag,jdbcType=VARCHAR},
      </if>
      <if test="fastcrtDat != null" >
        FASTCRT_DAT = #{fastcrtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="fastcrtNbr != null" >
        FASTCRT_NBR = #{fastcrtNbr,jdbcType=VARCHAR},
      </if>
      <if test="fastupdDat != null" >
        FASTUPD_DAT = #{fastupdDat,jdbcType=TIMESTAMP},
      </if>
      <if test="fastupdNbr != null" >
        FASTUPD_NBR = #{fastupdNbr,jdbcType=VARCHAR},
      </if>
    </set>
    where EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.hospital.pojo.domain.HspFastInf" >
    update HSP_FAST_INF
    set MT_COD = #{mtCod,jdbcType=CHAR},
      SZTH_COD = #{szthCod,jdbcType=CHAR},
      WL_COD = #{wlCod,jdbcType=CHAR},
      CZ_FLAG = #{czFlag,jdbcType=VARCHAR},
      FASTCRT_DAT = #{fastcrtDat,jdbcType=TIMESTAMP},
      FASTCRT_NBR = #{fastcrtNbr,jdbcType=VARCHAR},
      FASTUPD_DAT = #{fastupdDat,jdbcType=TIMESTAMP},
      FASTUPD_NBR = #{fastupdNbr,jdbcType=VARCHAR}
    where EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
  </update>
</mapper>