<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.hospital.dao.mapper.HspHealtheduItemMapper" >
  <resultMap id="BaseResultMap" type="activetech.hospital.pojo.domain.HspHealtheduItem" >
    <id column="ITEMNO" property="itemno" jdbcType="VARCHAR" />
    <result column="ITEM_NAM" property="itemNam" jdbcType="VARCHAR" />
    <result column="PARENTNO" property="parentno" jdbcType="VARCHAR" />
    <result column="ISENABLE" property="isenable" jdbcType="CHAR" />
    <result column="SPELLCODE" property="spellcode" jdbcType="VARCHAR" />
    <result column="VCHAR1" property="vchar1" jdbcType="VARCHAR" />
    <result column="VCHAR2" property="vchar2" jdbcType="VARCHAR" />
    <result column="SHOWORDER" property="showorder" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ITEMNO, ITEM_NAM, PARENTNO, ISENABLE, SPELLCODE, VCHAR1, VCHAR2, SHOWORDER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.hospital.pojo.domain.HspHealtheduItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_HEALTHEDU_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from HSP_HEALTHEDU_ITEM
    where ITEMNO = #{itemno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HSP_HEALTHEDU_ITEM
    where ITEMNO = #{itemno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.hospital.pojo.domain.HspHealtheduItemExample" >
    delete from HSP_HEALTHEDU_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.hospital.pojo.domain.HspHealtheduItem" >
    insert into HSP_HEALTHEDU_ITEM (ITEMNO, ITEM_NAM, PARENTNO, 
      ISENABLE, SPELLCODE, VCHAR1, 
      VCHAR2, SHOWORDER)
    values (#{itemno,jdbcType=VARCHAR}, #{itemNam,jdbcType=VARCHAR}, #{parentno,jdbcType=VARCHAR}, 
      #{isenable,jdbcType=CHAR}, #{spellcode,jdbcType=VARCHAR}, #{vchar1,jdbcType=VARCHAR}, 
      #{vchar2,jdbcType=VARCHAR}, #{showorder,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="activetech.hospital.pojo.domain.HspHealtheduItem" >
    insert into HSP_HEALTHEDU_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemno != null" >
        ITEMNO,
      </if>
      <if test="itemNam != null" >
        ITEM_NAM,
      </if>
      <if test="parentno != null" >
        PARENTNO,
      </if>
      <if test="isenable != null" >
        ISENABLE,
      </if>
      <if test="spellcode != null" >
        SPELLCODE,
      </if>
      <if test="vchar1 != null" >
        VCHAR1,
      </if>
      <if test="vchar2 != null" >
        VCHAR2,
      </if>
      <if test="showorder != null" >
        SHOWORDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemno != null" >
        #{itemno,jdbcType=VARCHAR},
      </if>
      <if test="itemNam != null" >
        #{itemNam,jdbcType=VARCHAR},
      </if>
      <if test="parentno != null" >
        #{parentno,jdbcType=VARCHAR},
      </if>
      <if test="isenable != null" >
        #{isenable,jdbcType=CHAR},
      </if>
      <if test="spellcode != null" >
        #{spellcode,jdbcType=VARCHAR},
      </if>
      <if test="vchar1 != null" >
        #{vchar1,jdbcType=VARCHAR},
      </if>
      <if test="vchar2 != null" >
        #{vchar2,jdbcType=VARCHAR},
      </if>
      <if test="showorder != null" >
        #{showorder,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.hospital.pojo.domain.HspHealtheduItemExample" resultType="java.lang.Integer" >
    select count(*) from HSP_HEALTHEDU_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_HEALTHEDU_ITEM
    <set >
      <if test="record.itemno != null" >
        ITEMNO = #{record.itemno,jdbcType=VARCHAR},
      </if>
      <if test="record.itemNam != null" >
        ITEM_NAM = #{record.itemNam,jdbcType=VARCHAR},
      </if>
      <if test="record.parentno != null" >
        PARENTNO = #{record.parentno,jdbcType=VARCHAR},
      </if>
      <if test="record.isenable != null" >
        ISENABLE = #{record.isenable,jdbcType=CHAR},
      </if>
      <if test="record.spellcode != null" >
        SPELLCODE = #{record.spellcode,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar1 != null" >
        VCHAR1 = #{record.vchar1,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar2 != null" >
        VCHAR2 = #{record.vchar2,jdbcType=VARCHAR},
      </if>
      <if test="record.showorder != null" >
        SHOWORDER = #{record.showorder,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_HEALTHEDU_ITEM
    set ITEMNO = #{record.itemno,jdbcType=VARCHAR},
      ITEM_NAM = #{record.itemNam,jdbcType=VARCHAR},
      PARENTNO = #{record.parentno,jdbcType=VARCHAR},
      ISENABLE = #{record.isenable,jdbcType=CHAR},
      SPELLCODE = #{record.spellcode,jdbcType=VARCHAR},
      VCHAR1 = #{record.vchar1,jdbcType=VARCHAR},
      VCHAR2 = #{record.vchar2,jdbcType=VARCHAR},
      SHOWORDER = #{record.showorder,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.hospital.pojo.domain.HspHealtheduItem" >
    update HSP_HEALTHEDU_ITEM
    <set >
      <if test="itemNam != null" >
        ITEM_NAM = #{itemNam,jdbcType=VARCHAR},
      </if>
      <if test="parentno != null" >
        PARENTNO = #{parentno,jdbcType=VARCHAR},
      </if>
      <if test="isenable != null" >
        ISENABLE = #{isenable,jdbcType=CHAR},
      </if>
      <if test="spellcode != null" >
        SPELLCODE = #{spellcode,jdbcType=VARCHAR},
      </if>
      <if test="vchar1 != null" >
        VCHAR1 = #{vchar1,jdbcType=VARCHAR},
      </if>
      <if test="vchar2 != null" >
        VCHAR2 = #{vchar2,jdbcType=VARCHAR},
      </if>
      <if test="showorder != null" >
        SHOWORDER = #{showorder,jdbcType=DECIMAL},
      </if>
    </set>
    where ITEMNO = #{itemno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.hospital.pojo.domain.HspHealtheduItem" >
    update HSP_HEALTHEDU_ITEM
    set ITEM_NAM = #{itemNam,jdbcType=VARCHAR},
      PARENTNO = #{parentno,jdbcType=VARCHAR},
      ISENABLE = #{isenable,jdbcType=CHAR},
      SPELLCODE = #{spellcode,jdbcType=VARCHAR},
      VCHAR1 = #{vchar1,jdbcType=VARCHAR},
      VCHAR2 = #{vchar2,jdbcType=VARCHAR},
      SHOWORDER = #{showorder,jdbcType=DECIMAL}
    where ITEMNO = #{itemno,jdbcType=VARCHAR}
  </update>
</mapper>