<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activetech.rfid.dao.mapper.HspUhfTrpCustomMapper">

    <update id="updateByPrimaryKey" parameterType="activetech.rfid.pojo.domain.HspUhfTrp">
        update HSP_UHF_TRP
        set TRP_ID      = #{trpId,jdbcType=VARCHAR},
            TRP_NAM     = #{trpNam,jdbcType=CHAR},
            TRP_TYP     = #{trpTyp,jdbcType=VARCHAR},
            TRP_CLS     = #{trpCls,jdbcType=VARCHAR},
            TYP_PIC     = #{typPic,jdbcType=VARCHAR},
            TRP_STA     = #{trpSta,jdbcType=CHAR},
            MOD_USR_NO  = #{modUsrNo,jdbcType=VARCHAR},
            MOD_USR_NAM = #{modUsrNam,jdbcType=VARCHAR},
            MOD_TIM     = #{modTim,jdbcType=TIMESTAMP}
        where TRP_SEQ = #{trpSeq,jdbcType=VARCHAR}
    </update>

    <insert id="insert" parameterType="activetech.rfid.pojo.domain.HspUhfTrp"
            useGeneratedKeys="true" keyColumn="trpSeq">
        <selectKey resultType="java.lang.String" keyProperty="trpSeq" order="BEFORE">
            select HSP_UHF_TRP_TRP_SEQ.nextval from dual
        </selectKey>
        insert into HSP_UHF_TRP (TRP_SEQ,
                                 TRP_ID,
                                 TRP_NAM,
                                 TRP_TYP,
                                 TRP_CLS,
                                 TYP_PIC,
                                 TRP_STA,
                                 BID_FLG,
                                 CRT_USR_NO,
                                 CRT_USR_NAM,
                                 CRT_TIM)
        values (#{trpSeq,jdbcType=VARCHAR},
                #{trpId,jdbcType=VARCHAR},
                #{trpNam,jdbcType=VARCHAR},
                #{trpTyp,jdbcType=CHAR},
                #{trpCls,jdbcType=VARCHAR},
                #{typPic,jdbcType=VARCHAR},
                #{trpSta,jdbcType=VARCHAR},
                #{bidFlg,jdbcType=CHAR},
                #{crtUsrNo,jdbcType=VARCHAR},
                #{crtUsrNam,jdbcType=VARCHAR},
                #{crtTim,jdbcType=TIMESTAMP}
                )
    </insert>


     <update id="updateHspUhfTrpForUnbindPatient" parameterType="activetech.rfid.pojo.domain.HspUhfTrp">
        update HSP_UHF_TRP
        set BID_FLG     = #{bidFlg,jdbcType=VARCHAR},
            BID_TIM     = #{bidTim,jdbcType=TIMESTAMP},
            BID_PAT     = #{bidPat,jdbcType=VARCHAR},
            BID_MAN     = #{bidMan,jdbcType=VARCHAR},
            MOD_USR_NO  = #{modUsrNo,jdbcType=VARCHAR},
            MOD_USR_NAM = #{modUsrNam,jdbcType=VARCHAR},
            MOD_TIM     = sysdate
        where TRP_SEQ = #{trpSeq,jdbcType=VARCHAR}
    </update>

    <!-- 查询列表的总记录数 -->
    <select id="findHspUhfTrpCount" parameterType="activetech.rfid.pojo.dto.HspUhfTrpQueryDto" resultType="int">
    select count(*) from HSP_UHF_TRP
    <where>
      <include refid="query_hspUhfTrp_where" />
    </where>
  </select>

  <sql id="query_hspUhfTrp_where">
    <if test="hspUhfTrpCustom!=null">
      <if test="hspUhfTrpCustom.trpNam!=null and hspUhfTrpCustom.trpNam!=''">
        and TRP_NAM like  '%'|| #{hspUhfTrpCustom.trpNam}||'%'
      </if>
    </if>
  </sql>

  <select id="findHspUhfTrpList" parameterType="activetech.rfid.pojo.dto.HspUhfTrpQueryDto" resultType="activetech.rfid.pojo.domain.HspUhfTrp">
    select
      t1.TRP_SEQ,
      t1.TRP_ID,
      t1.TRP_NAM,
      t1.TRP_TYP,
      t1.TRP_CLS,
      t1.TYP_PIC,
      t1.TRP_STA,
      t1.BID_FLG,
      t1.BID_MAN,
      t1.BID_TIM,
      t1.BID_PAT,
      t1.PAT_NAM,
      t1.UNB_MAN,
      t1.UNB_TIM,
      t1.CRT_USR_NO,
      t1.CRT_USR_NAM,
      t1.CRT_TIM,
      t1.MOD_USR_NO,
      t1.MOD_USR_NAM,
      t1.MOD_TIM
    from
        HSP_UHF_TRP t1
    <where>
      <include refid="query_hspUhfTrp_where" />
    </where>
    order by CRT_TIM desc
  </select>
</mapper>