<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activetech.zyyhospital.dao.mapper.HspBasyInfMapper">
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspBasyInf">
    <id column="BASY_SEQ" jdbcType="VARCHAR" property="basySeq" />
    <result column="EMG_SEQ" jdbcType="VARCHAR" property="emgSeq" />
    <result column="YLJG" jdbcType="VARCHAR" property="yljg" />
    <result column="ZZJG_COD" jdbcType="VARCHAR" property="zzjgCod" />
    <result column="YLFF_TYPE" jdbcType="VARCHAR" property="ylffType" />
    <result column="YLFF_OTHER" jdbcType="VARCHAR" property="ylffOther" />
    <result column="LQ_NUM" jdbcType="VARCHAR" property="lqNum" />
    <result column="GXR_NAM" jdbcType="VARCHAR" property="gxrNam" />
    <result column="GX" jdbcType="VARCHAR" property="gx" />
    <result column="GXR_ADDRES" jdbcType="VARCHAR" property="gxrAddres" />
    <result column="GXR_TEL" jdbcType="VARCHAR" property="gxrTel" />
    <result column="LQ_DAT" jdbcType="TIMESTAMP" property="lqDat" />
    <result column="LQKB" jdbcType="VARCHAR" property="lqkb" />
    <result column="LQSC" jdbcType="VARCHAR" property="lqsc" />
    <result column="SQL_DAT" jdbcType="TIMESTAMP" property="sqlDat" />
    <result column="SQL_TYPE" jdbcType="VARCHAR" property="sqlType" />
    <result column="JSYLJG_NAM" jdbcType="VARCHAR" property="jsyljgNam" />
    <result column="ZYTJ" jdbcType="VARCHAR" property="zytj" />
    <result column="ZYTJ_OTHER" jdbcType="VARCHAR" property="zytjOther" />
    <result column="YWGM" jdbcType="VARCHAR" property="ywgm" />
    <result column="YWGM_OTHER" jdbcType="VARCHAR" property="ywgmOther" />
    <result column="BLOOD_TYPE" jdbcType="VARCHAR" property="bloodType" />
    <result column="RH" jdbcType="VARCHAR" property="rh" />
    <result column="ZGYS_COD" jdbcType="VARCHAR" property="zgysCod" />
    <result column="ZGYS_NAM" jdbcType="VARCHAR" property="zgysNam" />
    <result column="JGYS_COD" jdbcType="VARCHAR" property="jgysCod" />
    <result column="JGYS_NAM" jdbcType="VARCHAR" property="jgysNam" />
    <result column="ZRHS_COD" jdbcType="VARCHAR" property="zrhsCod" />
    <result column="ZRHS_NAM" jdbcType="VARCHAR" property="zrhsNam" />
    <result column="BYZD1" jdbcType="VARCHAR" property="byzd1" />
    <result column="BYZD2" jdbcType="VARCHAR" property="byzd2" />
    <result column="BYZD3" jdbcType="VARCHAR" property="byzd3" />
    <result column="CRE_DAT" jdbcType="TIMESTAMP" property="creDat" />
    <result column="CRE_COD" jdbcType="VARCHAR" property="creCod" />
    <result column="CRE_NAM" jdbcType="VARCHAR" property="creNam" />
    <result column="UPD_DAT" jdbcType="TIMESTAMP" property="updDat" />
    <result column="UPD_COD" jdbcType="VARCHAR" property="updCod" />
    <result column="UPD_NAM" jdbcType="VARCHAR" property="updNam" />
    <result column="LQSC_TYPE" jdbcType="VARCHAR" property="lqscType" />
    <result column="BZ_COD" jdbcType="VARCHAR" property="bzCod" />
    <result column="CZJS_COD" jdbcType="VARCHAR" property="czjsCod" />
    <result column="SQL_DES" jdbcType="VARCHAR" property="sqlDes" />
    <result column="SQL_DEP_COD" jdbcType="VARCHAR" property="sqlDepCod" />
    <result column="ARV_CHL_COD" jdbcType="VARCHAR" property="arvChlCod" />
    <result column="ABN_SCO_NME" jdbcType="VARCHAR" property="abnScoNme" />
    <result column="ABN_DRIVER" jdbcType="VARCHAR" property="abnDriver" />
    <result column="ABN_DOCTOR" jdbcType="VARCHAR" property="abnDoctor" />
    <result column="LQFY" jdbcType="DECIMAL" property="lqfy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BASY_SEQ, EMG_SEQ, YLJG, ZZJG_COD, YLFF_TYPE, YLFF_OTHER, LQ_NUM, GXR_NAM, GX, GXR_ADDRES, 
    GXR_TEL, LQ_DAT, LQKB, LQSC, SQL_DAT, SQL_TYPE, JSYLJG_NAM, ZYTJ, ZYTJ_OTHER, YWGM, 
    YWGM_OTHER, BLOOD_TYPE, RH, ZGYS_COD, ZGYS_NAM, JGYS_COD, JGYS_NAM, ZRHS_COD, ZRHS_NAM, 
    BYZD1, BYZD2, BYZD3, CRE_DAT, CRE_COD, CRE_NAM, UPD_DAT, UPD_COD, UPD_NAM, LQSC_TYPE, 
    BZ_COD, CZJS_COD, SQL_DES, SQL_DEP_COD, ARV_CHL_COD, ABN_SCO_NME, ABN_DRIVER, ABN_DOCTOR, 
    LQFY
  </sql>
  <select id="selectByExample" parameterType="activetech.zyyhospital.pojo.domain.HspBasyInfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_BASY_INF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HSP_BASY_INF
    where BASY_SEQ = #{basySeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HSP_BASY_INF
    where BASY_SEQ = #{basySeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspBasyInfExample">
    delete from HSP_BASY_INF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspBasyInf">
    insert into HSP_BASY_INF (BASY_SEQ, EMG_SEQ, YLJG, 
      ZZJG_COD, YLFF_TYPE, YLFF_OTHER, 
      LQ_NUM, GXR_NAM, GX, 
      GXR_ADDRES, GXR_TEL, LQ_DAT, 
      LQKB, LQSC, SQL_DAT, 
      SQL_TYPE, JSYLJG_NAM, ZYTJ, 
      ZYTJ_OTHER, YWGM, YWGM_OTHER, 
      BLOOD_TYPE, RH, ZGYS_COD, 
      ZGYS_NAM, JGYS_COD, JGYS_NAM, 
      ZRHS_COD, ZRHS_NAM, BYZD1, 
      BYZD2, BYZD3, CRE_DAT, 
      CRE_COD, CRE_NAM, UPD_DAT, 
      UPD_COD, UPD_NAM, LQSC_TYPE, 
      BZ_COD, CZJS_COD, SQL_DES, 
      SQL_DEP_COD, ARV_CHL_COD, ABN_SCO_NME, 
      ABN_DRIVER, ABN_DOCTOR, LQFY
      )
    values (#{basySeq,jdbcType=VARCHAR}, #{emgSeq,jdbcType=VARCHAR}, #{yljg,jdbcType=VARCHAR}, 
      #{zzjgCod,jdbcType=VARCHAR}, #{ylffType,jdbcType=VARCHAR}, #{ylffOther,jdbcType=VARCHAR}, 
      #{lqNum,jdbcType=VARCHAR}, #{gxrNam,jdbcType=VARCHAR}, #{gx,jdbcType=VARCHAR}, 
      #{gxrAddres,jdbcType=VARCHAR}, #{gxrTel,jdbcType=VARCHAR}, #{lqDat,jdbcType=TIMESTAMP}, 
      #{lqkb,jdbcType=VARCHAR}, #{lqsc,jdbcType=VARCHAR}, #{sqlDat,jdbcType=TIMESTAMP}, 
      #{sqlType,jdbcType=VARCHAR}, #{jsyljgNam,jdbcType=VARCHAR}, #{zytj,jdbcType=VARCHAR}, 
      #{zytjOther,jdbcType=VARCHAR}, #{ywgm,jdbcType=VARCHAR}, #{ywgmOther,jdbcType=VARCHAR}, 
      #{bloodType,jdbcType=VARCHAR}, #{rh,jdbcType=VARCHAR}, #{zgysCod,jdbcType=VARCHAR}, 
      #{zgysNam,jdbcType=VARCHAR}, #{jgysCod,jdbcType=VARCHAR}, #{jgysNam,jdbcType=VARCHAR}, 
      #{zrhsCod,jdbcType=VARCHAR}, #{zrhsNam,jdbcType=VARCHAR}, #{byzd1,jdbcType=VARCHAR}, 
      #{byzd2,jdbcType=VARCHAR}, #{byzd3,jdbcType=VARCHAR}, #{creDat,jdbcType=TIMESTAMP}, 
      #{creCod,jdbcType=VARCHAR}, #{creNam,jdbcType=VARCHAR}, #{updDat,jdbcType=TIMESTAMP}, 
      #{updCod,jdbcType=VARCHAR}, #{updNam,jdbcType=VARCHAR}, #{lqscType,jdbcType=VARCHAR}, 
      #{bzCod,jdbcType=VARCHAR}, #{czjsCod,jdbcType=VARCHAR}, #{sqlDes,jdbcType=VARCHAR}, 
      #{sqlDepCod,jdbcType=VARCHAR}, #{arvChlCod,jdbcType=VARCHAR}, #{abnScoNme,jdbcType=VARCHAR}, 
      #{abnDriver,jdbcType=VARCHAR}, #{abnDoctor,jdbcType=VARCHAR}, #{lqfy,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspBasyInf">
    insert into HSP_BASY_INF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="basySeq != null">
        BASY_SEQ,
      </if>
      <if test="emgSeq != null">
        EMG_SEQ,
      </if>
      <if test="yljg != null">
        YLJG,
      </if>
      <if test="zzjgCod != null">
        ZZJG_COD,
      </if>
      <if test="ylffType != null">
        YLFF_TYPE,
      </if>
      <if test="ylffOther != null">
        YLFF_OTHER,
      </if>
      <if test="lqNum != null">
        LQ_NUM,
      </if>
      <if test="gxrNam != null">
        GXR_NAM,
      </if>
      <if test="gx != null">
        GX,
      </if>
      <if test="gxrAddres != null">
        GXR_ADDRES,
      </if>
      <if test="gxrTel != null">
        GXR_TEL,
      </if>
      <if test="lqDat != null">
        LQ_DAT,
      </if>
      <if test="lqkb != null">
        LQKB,
      </if>
      <if test="lqsc != null">
        LQSC,
      </if>
      <if test="sqlDat != null">
        SQL_DAT,
      </if>
      <if test="sqlType != null">
        SQL_TYPE,
      </if>
      <if test="jsyljgNam != null">
        JSYLJG_NAM,
      </if>
      <if test="zytj != null">
        ZYTJ,
      </if>
      <if test="zytjOther != null">
        ZYTJ_OTHER,
      </if>
      <if test="ywgm != null">
        YWGM,
      </if>
      <if test="ywgmOther != null">
        YWGM_OTHER,
      </if>
      <if test="bloodType != null">
        BLOOD_TYPE,
      </if>
      <if test="rh != null">
        RH,
      </if>
      <if test="zgysCod != null">
        ZGYS_COD,
      </if>
      <if test="zgysNam != null">
        ZGYS_NAM,
      </if>
      <if test="jgysCod != null">
        JGYS_COD,
      </if>
      <if test="jgysNam != null">
        JGYS_NAM,
      </if>
      <if test="zrhsCod != null">
        ZRHS_COD,
      </if>
      <if test="zrhsNam != null">
        ZRHS_NAM,
      </if>
      <if test="byzd1 != null">
        BYZD1,
      </if>
      <if test="byzd2 != null">
        BYZD2,
      </if>
      <if test="byzd3 != null">
        BYZD3,
      </if>
      <if test="creDat != null">
        CRE_DAT,
      </if>
      <if test="creCod != null">
        CRE_COD,
      </if>
      <if test="creNam != null">
        CRE_NAM,
      </if>
      <if test="updDat != null">
        UPD_DAT,
      </if>
      <if test="updCod != null">
        UPD_COD,
      </if>
      <if test="updNam != null">
        UPD_NAM,
      </if>
      <if test="lqscType != null">
        LQSC_TYPE,
      </if>
      <if test="bzCod != null">
        BZ_COD,
      </if>
      <if test="czjsCod != null">
        CZJS_COD,
      </if>
      <if test="sqlDes != null">
        SQL_DES,
      </if>
      <if test="sqlDepCod != null">
        SQL_DEP_COD,
      </if>
      <if test="arvChlCod != null">
        ARV_CHL_COD,
      </if>
      <if test="abnScoNme != null">
        ABN_SCO_NME,
      </if>
      <if test="abnDriver != null">
        ABN_DRIVER,
      </if>
      <if test="abnDoctor != null">
        ABN_DOCTOR,
      </if>
      <if test="lqfy != null">
        LQFY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="basySeq != null">
        #{basySeq,jdbcType=VARCHAR},
      </if>
      <if test="emgSeq != null">
        #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="yljg != null">
        #{yljg,jdbcType=VARCHAR},
      </if>
      <if test="zzjgCod != null">
        #{zzjgCod,jdbcType=VARCHAR},
      </if>
      <if test="ylffType != null">
        #{ylffType,jdbcType=VARCHAR},
      </if>
      <if test="ylffOther != null">
        #{ylffOther,jdbcType=VARCHAR},
      </if>
      <if test="lqNum != null">
        #{lqNum,jdbcType=VARCHAR},
      </if>
      <if test="gxrNam != null">
        #{gxrNam,jdbcType=VARCHAR},
      </if>
      <if test="gx != null">
        #{gx,jdbcType=VARCHAR},
      </if>
      <if test="gxrAddres != null">
        #{gxrAddres,jdbcType=VARCHAR},
      </if>
      <if test="gxrTel != null">
        #{gxrTel,jdbcType=VARCHAR},
      </if>
      <if test="lqDat != null">
        #{lqDat,jdbcType=TIMESTAMP},
      </if>
      <if test="lqkb != null">
        #{lqkb,jdbcType=VARCHAR},
      </if>
      <if test="lqsc != null">
        #{lqsc,jdbcType=VARCHAR},
      </if>
      <if test="sqlDat != null">
        #{sqlDat,jdbcType=TIMESTAMP},
      </if>
      <if test="sqlType != null">
        #{sqlType,jdbcType=VARCHAR},
      </if>
      <if test="jsyljgNam != null">
        #{jsyljgNam,jdbcType=VARCHAR},
      </if>
      <if test="zytj != null">
        #{zytj,jdbcType=VARCHAR},
      </if>
      <if test="zytjOther != null">
        #{zytjOther,jdbcType=VARCHAR},
      </if>
      <if test="ywgm != null">
        #{ywgm,jdbcType=VARCHAR},
      </if>
      <if test="ywgmOther != null">
        #{ywgmOther,jdbcType=VARCHAR},
      </if>
      <if test="bloodType != null">
        #{bloodType,jdbcType=VARCHAR},
      </if>
      <if test="rh != null">
        #{rh,jdbcType=VARCHAR},
      </if>
      <if test="zgysCod != null">
        #{zgysCod,jdbcType=VARCHAR},
      </if>
      <if test="zgysNam != null">
        #{zgysNam,jdbcType=VARCHAR},
      </if>
      <if test="jgysCod != null">
        #{jgysCod,jdbcType=VARCHAR},
      </if>
      <if test="jgysNam != null">
        #{jgysNam,jdbcType=VARCHAR},
      </if>
      <if test="zrhsCod != null">
        #{zrhsCod,jdbcType=VARCHAR},
      </if>
      <if test="zrhsNam != null">
        #{zrhsNam,jdbcType=VARCHAR},
      </if>
      <if test="byzd1 != null">
        #{byzd1,jdbcType=VARCHAR},
      </if>
      <if test="byzd2 != null">
        #{byzd2,jdbcType=VARCHAR},
      </if>
      <if test="byzd3 != null">
        #{byzd3,jdbcType=VARCHAR},
      </if>
      <if test="creDat != null">
        #{creDat,jdbcType=TIMESTAMP},
      </if>
      <if test="creCod != null">
        #{creCod,jdbcType=VARCHAR},
      </if>
      <if test="creNam != null">
        #{creNam,jdbcType=VARCHAR},
      </if>
      <if test="updDat != null">
        #{updDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updCod != null">
        #{updCod,jdbcType=VARCHAR},
      </if>
      <if test="updNam != null">
        #{updNam,jdbcType=VARCHAR},
      </if>
      <if test="lqscType != null">
        #{lqscType,jdbcType=VARCHAR},
      </if>
      <if test="bzCod != null">
        #{bzCod,jdbcType=VARCHAR},
      </if>
      <if test="czjsCod != null">
        #{czjsCod,jdbcType=VARCHAR},
      </if>
      <if test="sqlDes != null">
        #{sqlDes,jdbcType=VARCHAR},
      </if>
      <if test="sqlDepCod != null">
        #{sqlDepCod,jdbcType=VARCHAR},
      </if>
      <if test="arvChlCod != null">
        #{arvChlCod,jdbcType=VARCHAR},
      </if>
      <if test="abnScoNme != null">
        #{abnScoNme,jdbcType=VARCHAR},
      </if>
      <if test="abnDriver != null">
        #{abnDriver,jdbcType=VARCHAR},
      </if>
      <if test="abnDoctor != null">
        #{abnDoctor,jdbcType=VARCHAR},
      </if>
      <if test="lqfy != null">
        #{lqfy,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspBasyInfExample" resultType="java.lang.Long">
    select count(*) from HSP_BASY_INF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update HSP_BASY_INF
    <set>
      <if test="record.basySeq != null">
        BASY_SEQ = #{record.basySeq,jdbcType=VARCHAR},
      </if>
      <if test="record.emgSeq != null">
        EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.yljg != null">
        YLJG = #{record.yljg,jdbcType=VARCHAR},
      </if>
      <if test="record.zzjgCod != null">
        ZZJG_COD = #{record.zzjgCod,jdbcType=VARCHAR},
      </if>
      <if test="record.ylffType != null">
        YLFF_TYPE = #{record.ylffType,jdbcType=VARCHAR},
      </if>
      <if test="record.ylffOther != null">
        YLFF_OTHER = #{record.ylffOther,jdbcType=VARCHAR},
      </if>
      <if test="record.lqNum != null">
        LQ_NUM = #{record.lqNum,jdbcType=VARCHAR},
      </if>
      <if test="record.gxrNam != null">
        GXR_NAM = #{record.gxrNam,jdbcType=VARCHAR},
      </if>
      <if test="record.gx != null">
        GX = #{record.gx,jdbcType=VARCHAR},
      </if>
      <if test="record.gxrAddres != null">
        GXR_ADDRES = #{record.gxrAddres,jdbcType=VARCHAR},
      </if>
      <if test="record.gxrTel != null">
        GXR_TEL = #{record.gxrTel,jdbcType=VARCHAR},
      </if>
      <if test="record.lqDat != null">
        LQ_DAT = #{record.lqDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lqkb != null">
        LQKB = #{record.lqkb,jdbcType=VARCHAR},
      </if>
      <if test="record.lqsc != null">
        LQSC = #{record.lqsc,jdbcType=VARCHAR},
      </if>
      <if test="record.sqlDat != null">
        SQL_DAT = #{record.sqlDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sqlType != null">
        SQL_TYPE = #{record.sqlType,jdbcType=VARCHAR},
      </if>
      <if test="record.jsyljgNam != null">
        JSYLJG_NAM = #{record.jsyljgNam,jdbcType=VARCHAR},
      </if>
      <if test="record.zytj != null">
        ZYTJ = #{record.zytj,jdbcType=VARCHAR},
      </if>
      <if test="record.zytjOther != null">
        ZYTJ_OTHER = #{record.zytjOther,jdbcType=VARCHAR},
      </if>
      <if test="record.ywgm != null">
        YWGM = #{record.ywgm,jdbcType=VARCHAR},
      </if>
      <if test="record.ywgmOther != null">
        YWGM_OTHER = #{record.ywgmOther,jdbcType=VARCHAR},
      </if>
      <if test="record.bloodType != null">
        BLOOD_TYPE = #{record.bloodType,jdbcType=VARCHAR},
      </if>
      <if test="record.rh != null">
        RH = #{record.rh,jdbcType=VARCHAR},
      </if>
      <if test="record.zgysCod != null">
        ZGYS_COD = #{record.zgysCod,jdbcType=VARCHAR},
      </if>
      <if test="record.zgysNam != null">
        ZGYS_NAM = #{record.zgysNam,jdbcType=VARCHAR},
      </if>
      <if test="record.jgysCod != null">
        JGYS_COD = #{record.jgysCod,jdbcType=VARCHAR},
      </if>
      <if test="record.jgysNam != null">
        JGYS_NAM = #{record.jgysNam,jdbcType=VARCHAR},
      </if>
      <if test="record.zrhsCod != null">
        ZRHS_COD = #{record.zrhsCod,jdbcType=VARCHAR},
      </if>
      <if test="record.zrhsNam != null">
        ZRHS_NAM = #{record.zrhsNam,jdbcType=VARCHAR},
      </if>
      <if test="record.byzd1 != null">
        BYZD1 = #{record.byzd1,jdbcType=VARCHAR},
      </if>
      <if test="record.byzd2 != null">
        BYZD2 = #{record.byzd2,jdbcType=VARCHAR},
      </if>
      <if test="record.byzd3 != null">
        BYZD3 = #{record.byzd3,jdbcType=VARCHAR},
      </if>
      <if test="record.creDat != null">
        CRE_DAT = #{record.creDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creCod != null">
        CRE_COD = #{record.creCod,jdbcType=VARCHAR},
      </if>
      <if test="record.creNam != null">
        CRE_NAM = #{record.creNam,jdbcType=VARCHAR},
      </if>
      <if test="record.updDat != null">
        UPD_DAT = #{record.updDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updCod != null">
        UPD_COD = #{record.updCod,jdbcType=VARCHAR},
      </if>
      <if test="record.updNam != null">
        UPD_NAM = #{record.updNam,jdbcType=VARCHAR},
      </if>
      <if test="record.lqscType != null">
        LQSC_TYPE = #{record.lqscType,jdbcType=VARCHAR},
      </if>
      <if test="record.bzCod != null">
        BZ_COD = #{record.bzCod,jdbcType=VARCHAR},
      </if>
      <if test="record.czjsCod != null">
        CZJS_COD = #{record.czjsCod,jdbcType=VARCHAR},
      </if>
      <if test="record.sqlDes != null">
        SQL_DES = #{record.sqlDes,jdbcType=VARCHAR},
      </if>
      <if test="record.sqlDepCod != null">
        SQL_DEP_COD = #{record.sqlDepCod,jdbcType=VARCHAR},
      </if>
      <if test="record.arvChlCod != null">
        ARV_CHL_COD = #{record.arvChlCod,jdbcType=VARCHAR},
      </if>
      <if test="record.abnScoNme != null">
        ABN_SCO_NME = #{record.abnScoNme,jdbcType=VARCHAR},
      </if>
      <if test="record.abnDriver != null">
        ABN_DRIVER = #{record.abnDriver,jdbcType=VARCHAR},
      </if>
      <if test="record.abnDoctor != null">
        ABN_DOCTOR = #{record.abnDoctor,jdbcType=VARCHAR},
      </if>
      <if test="record.lqfy != null">
        LQFY = #{record.lqfy,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update HSP_BASY_INF
    set BASY_SEQ = #{record.basySeq,jdbcType=VARCHAR},
      EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      YLJG = #{record.yljg,jdbcType=VARCHAR},
      ZZJG_COD = #{record.zzjgCod,jdbcType=VARCHAR},
      YLFF_TYPE = #{record.ylffType,jdbcType=VARCHAR},
      YLFF_OTHER = #{record.ylffOther,jdbcType=VARCHAR},
      LQ_NUM = #{record.lqNum,jdbcType=VARCHAR},
      GXR_NAM = #{record.gxrNam,jdbcType=VARCHAR},
      GX = #{record.gx,jdbcType=VARCHAR},
      GXR_ADDRES = #{record.gxrAddres,jdbcType=VARCHAR},
      GXR_TEL = #{record.gxrTel,jdbcType=VARCHAR},
      LQ_DAT = #{record.lqDat,jdbcType=TIMESTAMP},
      LQKB = #{record.lqkb,jdbcType=VARCHAR},
      LQSC = #{record.lqsc,jdbcType=VARCHAR},
      SQL_DAT = #{record.sqlDat,jdbcType=TIMESTAMP},
      SQL_TYPE = #{record.sqlType,jdbcType=VARCHAR},
      JSYLJG_NAM = #{record.jsyljgNam,jdbcType=VARCHAR},
      ZYTJ = #{record.zytj,jdbcType=VARCHAR},
      ZYTJ_OTHER = #{record.zytjOther,jdbcType=VARCHAR},
      YWGM = #{record.ywgm,jdbcType=VARCHAR},
      YWGM_OTHER = #{record.ywgmOther,jdbcType=VARCHAR},
      BLOOD_TYPE = #{record.bloodType,jdbcType=VARCHAR},
      RH = #{record.rh,jdbcType=VARCHAR},
      ZGYS_COD = #{record.zgysCod,jdbcType=VARCHAR},
      ZGYS_NAM = #{record.zgysNam,jdbcType=VARCHAR},
      JGYS_COD = #{record.jgysCod,jdbcType=VARCHAR},
      JGYS_NAM = #{record.jgysNam,jdbcType=VARCHAR},
      ZRHS_COD = #{record.zrhsCod,jdbcType=VARCHAR},
      ZRHS_NAM = #{record.zrhsNam,jdbcType=VARCHAR},
      BYZD1 = #{record.byzd1,jdbcType=VARCHAR},
      BYZD2 = #{record.byzd2,jdbcType=VARCHAR},
      BYZD3 = #{record.byzd3,jdbcType=VARCHAR},
      CRE_DAT = #{record.creDat,jdbcType=TIMESTAMP},
      CRE_COD = #{record.creCod,jdbcType=VARCHAR},
      CRE_NAM = #{record.creNam,jdbcType=VARCHAR},
      UPD_DAT = #{record.updDat,jdbcType=TIMESTAMP},
      UPD_COD = #{record.updCod,jdbcType=VARCHAR},
      UPD_NAM = #{record.updNam,jdbcType=VARCHAR},
      LQSC_TYPE = #{record.lqscType,jdbcType=VARCHAR},
      BZ_COD = #{record.bzCod,jdbcType=VARCHAR},
      CZJS_COD = #{record.czjsCod,jdbcType=VARCHAR},
      SQL_DES = #{record.sqlDes,jdbcType=VARCHAR},
      SQL_DEP_COD = #{record.sqlDepCod,jdbcType=VARCHAR},
      ARV_CHL_COD = #{record.arvChlCod,jdbcType=VARCHAR},
      ABN_SCO_NME = #{record.abnScoNme,jdbcType=VARCHAR},
      ABN_DRIVER = #{record.abnDriver,jdbcType=VARCHAR},
      ABN_DOCTOR = #{record.abnDoctor,jdbcType=VARCHAR},
      LQFY = #{record.lqfy,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspBasyInf">
    update HSP_BASY_INF
    <set>
      <if test="emgSeq != null">
        EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="yljg != null">
        YLJG = #{yljg,jdbcType=VARCHAR},
      </if>
      <if test="zzjgCod != null">
        ZZJG_COD = #{zzjgCod,jdbcType=VARCHAR},
      </if>
      <if test="ylffType != null">
        YLFF_TYPE = #{ylffType,jdbcType=VARCHAR},
      </if>
      <if test="ylffOther != null">
        YLFF_OTHER = #{ylffOther,jdbcType=VARCHAR},
      </if>
      <if test="lqNum != null">
        LQ_NUM = #{lqNum,jdbcType=VARCHAR},
      </if>
      <if test="gxrNam != null">
        GXR_NAM = #{gxrNam,jdbcType=VARCHAR},
      </if>
      <if test="gx != null">
        GX = #{gx,jdbcType=VARCHAR},
      </if>
      <if test="gxrAddres != null">
        GXR_ADDRES = #{gxrAddres,jdbcType=VARCHAR},
      </if>
      <if test="gxrTel != null">
        GXR_TEL = #{gxrTel,jdbcType=VARCHAR},
      </if>
      <if test="lqDat != null">
        LQ_DAT = #{lqDat,jdbcType=TIMESTAMP},
      </if>
      <if test="lqkb != null">
        LQKB = #{lqkb,jdbcType=VARCHAR},
      </if>
      <if test="lqsc != null">
        LQSC = #{lqsc,jdbcType=VARCHAR},
      </if>
      <if test="sqlDat != null">
        SQL_DAT = #{sqlDat,jdbcType=TIMESTAMP},
      </if>
      <if test="sqlType != null">
        SQL_TYPE = #{sqlType,jdbcType=VARCHAR},
      </if>
      <if test="jsyljgNam != null">
        JSYLJG_NAM = #{jsyljgNam,jdbcType=VARCHAR},
      </if>
      <if test="zytj != null">
        ZYTJ = #{zytj,jdbcType=VARCHAR},
      </if>
      <if test="zytjOther != null">
        ZYTJ_OTHER = #{zytjOther,jdbcType=VARCHAR},
      </if>
      <if test="ywgm != null">
        YWGM = #{ywgm,jdbcType=VARCHAR},
      </if>
      <if test="ywgmOther != null">
        YWGM_OTHER = #{ywgmOther,jdbcType=VARCHAR},
      </if>
      <if test="bloodType != null">
        BLOOD_TYPE = #{bloodType,jdbcType=VARCHAR},
      </if>
      <if test="rh != null">
        RH = #{rh,jdbcType=VARCHAR},
      </if>
      <if test="zgysCod != null">
        ZGYS_COD = #{zgysCod,jdbcType=VARCHAR},
      </if>
      <if test="zgysNam != null">
        ZGYS_NAM = #{zgysNam,jdbcType=VARCHAR},
      </if>
      <if test="jgysCod != null">
        JGYS_COD = #{jgysCod,jdbcType=VARCHAR},
      </if>
      <if test="jgysNam != null">
        JGYS_NAM = #{jgysNam,jdbcType=VARCHAR},
      </if>
      <if test="zrhsCod != null">
        ZRHS_COD = #{zrhsCod,jdbcType=VARCHAR},
      </if>
      <if test="zrhsNam != null">
        ZRHS_NAM = #{zrhsNam,jdbcType=VARCHAR},
      </if>
      <if test="byzd1 != null">
        BYZD1 = #{byzd1,jdbcType=VARCHAR},
      </if>
      <if test="byzd2 != null">
        BYZD2 = #{byzd2,jdbcType=VARCHAR},
      </if>
      <if test="byzd3 != null">
        BYZD3 = #{byzd3,jdbcType=VARCHAR},
      </if>
      <if test="creDat != null">
        CRE_DAT = #{creDat,jdbcType=TIMESTAMP},
      </if>
      <if test="creCod != null">
        CRE_COD = #{creCod,jdbcType=VARCHAR},
      </if>
      <if test="creNam != null">
        CRE_NAM = #{creNam,jdbcType=VARCHAR},
      </if>
      <if test="updDat != null">
        UPD_DAT = #{updDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updCod != null">
        UPD_COD = #{updCod,jdbcType=VARCHAR},
      </if>
      <if test="updNam != null">
        UPD_NAM = #{updNam,jdbcType=VARCHAR},
      </if>
      <if test="lqscType != null">
        LQSC_TYPE = #{lqscType,jdbcType=VARCHAR},
      </if>
      <if test="bzCod != null">
        BZ_COD = #{bzCod,jdbcType=VARCHAR},
      </if>
      <if test="czjsCod != null">
        CZJS_COD = #{czjsCod,jdbcType=VARCHAR},
      </if>
      <if test="sqlDes != null">
        SQL_DES = #{sqlDes,jdbcType=VARCHAR},
      </if>
      <if test="sqlDepCod != null">
        SQL_DEP_COD = #{sqlDepCod,jdbcType=VARCHAR},
      </if>
      <if test="arvChlCod != null">
        ARV_CHL_COD = #{arvChlCod,jdbcType=VARCHAR},
      </if>
      <if test="abnScoNme != null">
        ABN_SCO_NME = #{abnScoNme,jdbcType=VARCHAR},
      </if>
      <if test="abnDriver != null">
        ABN_DRIVER = #{abnDriver,jdbcType=VARCHAR},
      </if>
      <if test="abnDoctor != null">
        ABN_DOCTOR = #{abnDoctor,jdbcType=VARCHAR},
      </if>
      <if test="lqfy != null">
        LQFY = #{lqfy,jdbcType=DECIMAL},
      </if>
    </set>
    where BASY_SEQ = #{basySeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspBasyInf">
    update HSP_BASY_INF
    set EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      YLJG = #{yljg,jdbcType=VARCHAR},
      ZZJG_COD = #{zzjgCod,jdbcType=VARCHAR},
      YLFF_TYPE = #{ylffType,jdbcType=VARCHAR},
      YLFF_OTHER = #{ylffOther,jdbcType=VARCHAR},
      LQ_NUM = #{lqNum,jdbcType=VARCHAR},
      GXR_NAM = #{gxrNam,jdbcType=VARCHAR},
      GX = #{gx,jdbcType=VARCHAR},
      GXR_ADDRES = #{gxrAddres,jdbcType=VARCHAR},
      GXR_TEL = #{gxrTel,jdbcType=VARCHAR},
      LQ_DAT = #{lqDat,jdbcType=TIMESTAMP},
      LQKB = #{lqkb,jdbcType=VARCHAR},
      LQSC = #{lqsc,jdbcType=VARCHAR},
      SQL_DAT = #{sqlDat,jdbcType=TIMESTAMP},
      SQL_TYPE = #{sqlType,jdbcType=VARCHAR},
      JSYLJG_NAM = #{jsyljgNam,jdbcType=VARCHAR},
      ZYTJ = #{zytj,jdbcType=VARCHAR},
      ZYTJ_OTHER = #{zytjOther,jdbcType=VARCHAR},
      YWGM = #{ywgm,jdbcType=VARCHAR},
      YWGM_OTHER = #{ywgmOther,jdbcType=VARCHAR},
      BLOOD_TYPE = #{bloodType,jdbcType=VARCHAR},
      RH = #{rh,jdbcType=VARCHAR},
      ZGYS_COD = #{zgysCod,jdbcType=VARCHAR},
      ZGYS_NAM = #{zgysNam,jdbcType=VARCHAR},
      JGYS_COD = #{jgysCod,jdbcType=VARCHAR},
      JGYS_NAM = #{jgysNam,jdbcType=VARCHAR},
      ZRHS_COD = #{zrhsCod,jdbcType=VARCHAR},
      ZRHS_NAM = #{zrhsNam,jdbcType=VARCHAR},
      BYZD1 = #{byzd1,jdbcType=VARCHAR},
      BYZD2 = #{byzd2,jdbcType=VARCHAR},
      BYZD3 = #{byzd3,jdbcType=VARCHAR},
      CRE_DAT = #{creDat,jdbcType=TIMESTAMP},
      CRE_COD = #{creCod,jdbcType=VARCHAR},
      CRE_NAM = #{creNam,jdbcType=VARCHAR},
      UPD_DAT = #{updDat,jdbcType=TIMESTAMP},
      UPD_COD = #{updCod,jdbcType=VARCHAR},
      UPD_NAM = #{updNam,jdbcType=VARCHAR},
      LQSC_TYPE = #{lqscType,jdbcType=VARCHAR},
      BZ_COD = #{bzCod,jdbcType=VARCHAR},
      CZJS_COD = #{czjsCod,jdbcType=VARCHAR},
      SQL_DES = #{sqlDes,jdbcType=VARCHAR},
      SQL_DEP_COD = #{sqlDepCod,jdbcType=VARCHAR},
      ARV_CHL_COD = #{arvChlCod,jdbcType=VARCHAR},
      ABN_SCO_NME = #{abnScoNme,jdbcType=VARCHAR},
      ABN_DRIVER = #{abnDriver,jdbcType=VARCHAR},
      ABN_DOCTOR = #{abnDoctor,jdbcType=VARCHAR},
      LQFY = #{lqfy,jdbcType=DECIMAL}
    where BASY_SEQ = #{basySeq,jdbcType=VARCHAR}
  </update>
</mapper>