<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activetech.zyyhospital.dao.mapper.HspBasyInfCustomMapper">
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.dto.HspBasyInfQueryDto">
  <association property="hspBasyCustom" javaType="activetech.zyyhospital.pojo.dto.HspBasyInfCustom">
    <id column="BASY_SEQ" jdbcType="VARCHAR" property="basySeq" />
    <result column="EMG_SEQ" jdbcType="VARCHAR" property="emgSeq" />
    <result column="YLJG" jdbcType="VARCHAR" property="yljg" />
    <result column="ZZJG_COD" jdbcType="VARCHAR" property="zzjgCod" />
    <result column="YLFF_TYPE" jdbcType="VARCHAR" property="ylffType" />
    <result column="YLFF_OTHER" jdbcType="VARCHAR" property="ylffOther" />
    <result column="LQ_NUM" jdbcType="VARCHAR" property="lqNum" />
    <result column="GXR_NAM" jdbcType="VARCHAR" property="gxrNam" />
    <result column="GX" jdbcType="VARCHAR" property="gx" />
    <result column="GXR_ADDRES" jdbcType="VARCHAR" property="gxrAddres" />
    <result column="GXR_TEL" jdbcType="VARCHAR" property="gxrTel" />
    <result column="LQ_DAT" jdbcType="TIMESTAMP" property="lqDat" />
    <result column="LQKB" jdbcType="VARCHAR" property="lqkb" />
    <result column="LQSC" jdbcType="VARCHAR" property="lqsc" />
    <result column="SQL_DAT" jdbcType="TIMESTAMP" property="sqlDat" />
    <result column="SQL_TYPE" jdbcType="VARCHAR" property="sqlType" />
    <result column="JSYLJG_NAM" jdbcType="VARCHAR" property="jsyljgNam" />
    <result column="ZYTJ" jdbcType="VARCHAR" property="zytj" />
    <result column="ZYTJ_OTHER" jdbcType="VARCHAR" property="zytjOther" />
    <result column="YWGM" jdbcType="VARCHAR" property="ywgm" />
    <result column="YWGM_OTHER" jdbcType="VARCHAR" property="ywgmOther" />
    <result column="BLOOD_TYPE" jdbcType="VARCHAR" property="bloodType" />
    <result column="RH" jdbcType="VARCHAR" property="rh" />
    <result column="ZGYS_COD" jdbcType="VARCHAR" property="zgysCod" />
    <result column="ZGYS_NAM" jdbcType="VARCHAR" property="zgysNam" />
    <result column="JGYS_COD" jdbcType="VARCHAR" property="jgysCod" />
    <result column="JGYS_NAM" jdbcType="VARCHAR" property="jgysNam" />
    <result column="ZRHS_COD" jdbcType="VARCHAR" property="zrhsCod" />
    <result column="ZRHS_NAM" jdbcType="VARCHAR" property="zrhsNam" />
    <result column="BYZD1" jdbcType="VARCHAR" property="byzd1" />
    <result column="BYZD2" jdbcType="VARCHAR" property="byzd2" />
    <result column="BYZD3" jdbcType="VARCHAR" property="byzd3" />
    <result column="CRE_DAT" jdbcType="TIMESTAMP" property="creDat" />
    <result column="CRE_COD" jdbcType="VARCHAR" property="creCod" />
    <result column="CRE_NAM" jdbcType="VARCHAR" property="creNam" />
    <result column="UPD_DAT" jdbcType="TIMESTAMP" property="updDat" />
    <result column="UPD_COD" jdbcType="VARCHAR" property="updCod" />
    <result column="UPD_NAM" jdbcType="VARCHAR" property="updNam" />
    <result column="LQSC_TYPE" jdbcType="VARCHAR" property="lqscType" />
    <result column="BZ_COD" jdbcType="VARCHAR" property="bzCod" />
    <result column="CZJS_COD" jdbcType="VARCHAR" property="czjsCod" />
    <result column="SQL_DES" jdbcType="VARCHAR" property="sqlDes" />
    <result column="SQL_DEP_COD" jdbcType="VARCHAR" property="sqlDepCod" />
    <result column="ARV_CHL_COD" jdbcType="VARCHAR" property="arvChlCod" />
    <result column="ABN_SCO_NME" jdbcType="VARCHAR" property="abnScoNme" />
    <result column="ABN_DRIVER" jdbcType="VARCHAR" property="abnDriver" />
    <result column="ABN_DOCTOR" jdbcType="VARCHAR" property="abnDoctor" />
    <result column="FINALLY_NUR" jdbcType="VARCHAR" property="finallyNur" />
    <result column="FINALLY_NAM" jdbcType="VARCHAR" property="finallyNam" />
    <result column="sqlDepName" jdbcType="VARCHAR" property="sqlDepName" />
    <result column="LQFY" jdbcType="DECIMAL" property="lqfy" />
    </association>
    <association property="hspemginfCustom" javaType="activetech.hospital.pojo.dto.HspemginfCustom">
    	<id column="EMG_SEQ" jdbcType="VARCHAR" property="emgSeq" />
  		<result column="VST_CAD" jdbcType="VARCHAR" property="vstCad"/>
  		<result column="CST_NAM" property="cstNam" jdbcType="VARCHAR" />
  		<result column="CST_SEX_COD" property="cstSexCod" jdbcType="VARCHAR" />
  		<result column="EMG_DAT" property="emgDat" jdbcType="TIMESTAMP" />
  		<result column="BTH_DAT" property="bthDat" jdbcType="TIMESTAMP" />
  		<result column="CST_AGE" property="cstAge" jdbcType="VARCHAR" />
  		<result column="CST_AGE_COD" property="cstAgeCod" jdbcType="VARCHAR" />
  		<result column="NATIONALITY" jdbcType="VARCHAR" property="nationality" />
  		<result column="NATION" jdbcType="VARCHAR" property="nation" />
  		<result column="EMG_JOB" jdbcType="VARCHAR" property="emgJob" />
  		<result column="GZDW" jdbcType="VARCHAR" property="gzdw" />
  		<result column="MARITAL_STATUS" jdbcType="CHAR" property="maritalStatus" />
  		<result column="ID_NBR" jdbcType="CHAR" property="idNbr" />
  		<result column="CST_ADR" jdbcType="CHAR" property="cstAdr" />
  		<result column="PHE_NBR" jdbcType="CHAR" property="pheNbr" />
  		<result column="chkLvlCod" property="chkLvlCod" jdbcType="VARCHAR" />
  		<result column="emgFkName" property="emgFkName" jdbcType="VARCHAR" />
  		<result column="EMG_FK_COD" property="emgFkCod" jdbcType="VARCHAR" />
  		<result column="sqlDatNew" property="sqlDatNew" jdbcType="TIMESTAMP" />
  		<result column="cstDspCodNameNew" property="cstDspCodNameNew" jdbcType="VARCHAR" />
  		<result column="cstDspCodNew" property="cstDspCodNew" jdbcType="VARCHAR" />
  		<result column="zg" property="zgcount" jdbcType="INTEGER" />
  		<result column="JBZD_DES" jdbcType="VARCHAR" property="jbzdDes" />
  		<result column="DOC_DAT" property="docDat" jdbcType="TIMESTAMP" />
  		<result column="PRE_USR_NBR" jdbcType="VARCHAR" property="preUsrNbr" />
  		<result column="PRE_USR_NAM" jdbcType="VARCHAR" property="preUsrNam" />
  		<result column="mpi" jdbcType="VARCHAR" property="mpi" />
  		<result column="emg_ARV_CHL_COD" jdbcType="VARCHAR" property="arvChlCod" />
    	<result column="emg_ABN_SCO_NME" jdbcType="VARCHAR" property="abnScoNme" />
    	<result column="emg_ABN_DRIVER" jdbcType="VARCHAR" property="abnDriver" />
    	<result column="emg_ABN_DOCTOR" jdbcType="VARCHAR" property="abnDoctor" />
    </association>
  </resultMap>
  
  <sql id="Base_Column_List">
    BASY_SEQ, basy.EMG_SEQ, YLJG, ZZJG_COD, YLFF_TYPE, YLFF_OTHER, LQ_NUM, GXR_NAM, GX, GXR_ADDRES, 
    GXR_TEL, LQ_DAT, LQKB, LQSC, SQL_DAT, SQL_TYPE, JSYLJG_NAM, ZYTJ, ZYTJ_OTHER, YWGM, 
    YWGM_OTHER, BLOOD_TYPE, RH, ZGYS_COD, ZGYS_NAM, JGYS_COD, JGYS_NAM, ZRHS_COD, ZRHS_NAM, 
    BYZD1, BYZD2, BYZD3, CRE_DAT, CRE_COD, CRE_NAM, UPD_DAT, UPD_COD, UPD_NAM, LQSC_TYPE, 
    BZ_COD, CZJS_COD, SQL_DES, SQL_DEP_COD, basy.ARV_CHL_COD, basy.ABN_SCO_NME, basy.ABN_DRIVER, basy.ABN_DOCTOR
  </sql>
  
  <!-- 病案首页返回数据 -->
  <select id="medicalRecord_result" parameterType="activetech.zyyhospital.pojo.dto.HspBasyInfQueryDto" resultMap="BaseResultMap">
  	select emg.EMG_SEQ EMG_SEQ, 
       decode(to_char((select count(*) from HSP_SQL_INF sql where SQL_STA_COD ='6' and sql.EMG_SEQ = emg.EMG_SEQ and SQL_DAT between sysdate-numtodsinterval(24,'hour') and sysdate)),'0','1',
       		  to_char((select count(*) from HSP_SQL_INF sql where SQL_STA_COD ='6' and sql.EMG_SEQ = emg.EMG_SEQ and SQL_DAT between sysdate-numtodsinterval(24,'hour') and sysdate))) LQ_NUM,
       (select count(*) from HSP_SQL_INF sql where sql.EMG_SEQ = emg.EMG_SEQ group by emg.EMG_SEQ) zg,
       EMG_DAT EMG_DAT,
       VST_CAD VST_CAD,
       CST_NAM CST_NAM,
       CST_SEX_COD CST_SEX_COD,
       BTH_DAT BTH_DAT,
       CST_AGE CST_AGE,
       CST_AGE_COD CST_AGE_COD,
       NATIONALITY NATIONALITY,
       NATION NATION,
       EMG_JOB EMG_JOB,
       GZDW GZDW,
       MARITAL_STATUS MARITAL_STATUS,
       ID_NBR ID_NBR,
       CST_ADR CST_ADR,
       PHE_NBR PHE_NBR,
       LQFY LQFY,
       (select info from DSTDICTINFO where TYPECODE='MOD_LVL_COD' and INFOCODE = emg.EMG_DEP_COD) chkLvlCod,
       DOC_DAT DOC_DAT,
       EMG_FK_COD EMG_FK_COD,
       (select COMCNAME from DSTCOMPCTL where COMNO = emg.EMG_FK_COD) emgFkName,
       (select info from DSTDICTINFO where TYPECODE='ARV_CHL_COD' and INFOCODE = emg.ARV_CHL_COD) arvCHlStr,
       (select SQL_DAT from HSP_SQL_INF sql where emg.SQL_SEQ = sql.SQL_SEQ) sqlDatNew,
       (select SQL_STA_COD from HSP_SQL_INF sql where emg.SQL_SEQ = sql.SQL_SEQ) cstDspCodNew,
       (select info from DSTDICTINFO where TYPECODE='CST_DSP_COD' and INFOCODE=(select SQL_STA_COD from HSP_SQL_INF sql where emg.SQL_SEQ = sql.SQL_SEQ)) cstDspCodNameNew,
       (select SQL_NUR_NBR from HSP_SQL_INF a where a.SQL_SEQ = emg.SQL_SEQ) FINALLY_NUR,
       (select SQL_NUR_NAM from HSP_SQL_INF a where a.SQL_SEQ = emg.SQL_SEQ) FINALLY_NAM,
       (select COMCNAME from DSTCOMPCTL where COMNO = basy.SQL_DEP_COD)sqlDepName,
       GETJBZDDATA(#{hspemginfCustom.jbzdType},#{hspemginfCustom.emgSeq}) JBZD_DES,
       PRE_USR_NBR PRE_USR_NBR,
       PRE_USR_NAM PRE_USR_NAM,
       mpi,
       emg.ARV_CHL_COD emg_ARV_CHL_COD, 
       emg.ABN_SCO_NME emg_ABN_SCO_NME, 
       emg.ABN_DRIVER emg_ABN_DRIVER, 
       emg.ABN_DOCTOR emg_ABN_DOCTOR,
       <include refid="Base_Column_List"/>
	from HSP_EMG_INF emg,HSP_BASY_INF basy where emg.EMG_Seq = basy.EMG_SEQ(+) and  emg.EMG_SEQ=#{hspemginfCustom.emgSeq}
  </select>
 	
 	<!-- 通过emg_seq查询一条数据 -->
  <select id="findBasyInfByEmgSeq" parameterType="string" resultType="activetech.zyyhospital.pojo.domain.HspBasyInf">
  		select 
  			BASY_SEQ basySeq,
  			EMG_SEQ	emgSeq,
  			YLJG yljg,
  			ZZJG_COD zzjgCod, 
  			YLFF_TYPE ylffType, 
  			YLFF_OTHER ylffOther, 
  			LQ_NUM	lqNum,
  			GXR_NAM gxrNam, 
  			GX	gx, 
  			GXR_ADDRES gxrAddres, 
    		GXR_TEL gxrTel, 
    		LQ_DAT lqDat, 
    		LQKB lqkb, 
    		LQSC lqsc, 
    		SQL_DAT sqlDat, 
    		SQL_TYPE sqlType, 
    		JSYLJG_NAM jsyljgNam, 
    		ZYTJ zytj, 
    		ZYTJ_OTHER zytjOther, 
    		YWGM ywgm, 
    		YWGM_OTHER ywgmOther, 
    		BLOOD_TYPE bloodType, 
    		RH rh, 
    		ZGYS_COD zgysCod, 
    		ZGYS_NAM zgysNam, 
    		JGYS_COD jgysCod, 
    		JGYS_NAM jgysNam, 
    		ZRHS_COD zrhsCod,
    		ZRHS_NAM zrhsNam, 
    		BYZD1 byzd1, 
    		BYZD2 byzd2, 
    		BYZD3 byzd3, 
    		CRE_DAT creDat, 
    		CRE_COD creCod, 
    		CRE_NAM creNam, 
    		UPD_DAT updDat, 
    		UPD_COD updCod, 
    		UPD_NAM updNam, 
    		LQSC_TYPE lqscType,
    		BZ_COD,
    		CZJS_COD,
    		SQL_DES,
    		SQL_DEP_COD,
    		ARV_CHL_COD,
    		ABN_SCO_NME,
    		ABN_DRIVER,
    		ABN_DOCTOR
  			from HSP_BASY_INF where emg_seq = #{emgSeq}
  </select>
  
  <!-- 病种统计 -->
  <select id="getcountFromHspBasyInfToBz" parameterType="activetech.zyyhospital.pojo.dto.HspBasyInfQueryDto"
		resultType="activetech.zyyhospital.pojo.dto.HspBasyInfCustom">
		select to_char(#{startdate},'yyyy/MM/dd') || '-' || to_char(#{enddate}-1,'yyyy/MM/dd') querydate,count,name from(
			<foreach collection="scoIdList"  item="scoIdList" index="index" open="(" close=")" separator="union all">
				select 
				count(BZ_COD) count,(#{scoIdList, jdbcType=VARCHAR}) name 	
				from hsp_basy_inf,hsp_emg_inf where instr(','||BZ_COD||',',',${scoIdList},')>0
				and hsp_basy_inf.EMG_SEQ = hsp_emg_inf.emg_seq 
				<if test="startdate!=null and startdate!=''">
					and to_char(hsp_basy_inf.CRE_DAT,'yyyyMMdd') <![CDATA[>=]]> to_char(#{startdate},'yyyyMMdd') 
				</if>
				<if test="enddate!=null and enddate!=''">
					and to_char(hsp_basy_inf.CRE_DAT,'yyyyMMdd') <![CDATA[<=]]> to_char(#{enddate},'yyyyMMdd') 
				</if>
			</foreach>
		)
  </select>
  
  <!-- 操作技术统计 -->
  <select id="getcountFromHspBasyInfToCzjs" parameterType="activetech.zyyhospital.pojo.dto.HspBasyInfQueryDto"
		resultType="activetech.zyyhospital.pojo.dto.HspBasyInfCustom">
		select to_char(#{startdate},'yyyy/MM/dd') || '-' || to_char(#{enddate}-1,'yyyy/MM/dd') querydate,count,name from(
			<foreach collection="scoIdList"  item="scoIdList" index="index" open="(" close=")" separator="union all">
				select 
				count(CZJS_COD) count,(#{scoIdList, jdbcType=VARCHAR}) name 	
				from hsp_basy_inf,hsp_emg_inf where instr(','||CZJS_COD||',',',${scoIdList},')>0
				and hsp_basy_inf.EMG_SEQ = hsp_emg_inf.emg_seq
				<if test="startdate!=null and startdate!=''">
					and to_char(hsp_basy_inf.CRE_DAT,'yyyyMMdd') <![CDATA[>=]]> to_char(#{startdate},'yyyyMMdd') 
				</if>
				<if test="enddate!=null and enddate!=''">
					and to_char(hsp_basy_inf.CRE_DAT,'yyyyMMdd') <![CDATA[<=]]> to_char(#{enddate},'yyyyMMdd') 
				</if>
			</foreach>
		)
  </select>
</mapper>