<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspCfjlInfCustomMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.dto.HspCfjlInfCustom" >
    <id column="CFJL_SEQ" property="cfjlSeq" jdbcType="VARCHAR" />
    <result column="EMG_SEQ" property="emgSeq" jdbcType="VARCHAR" />
    <result column="CFJL_DAT" property="cfjlDat" jdbcType="TIMESTAMP" />
    <result column="CFJL_TYPE" property="cfjlType" jdbcType="VARCHAR" />
    <result column="CFJL_NUM" property="cfjlNum" jdbcType="VARCHAR" />
    <result column="CFJL_NAM" property="cfjlNam" jdbcType="VARCHAR" />
    <result column="CREATE_DAT" property="createDat" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DAT" property="updateDat" jdbcType="TIMESTAMP" />
    <result column="UPDATE_NUM" property="updateNum" jdbcType="VARCHAR" />
    <result column="UPDATE_NAM" property="updateNam" jdbcType="VARCHAR" />
    <result column="CHECK_NAM" property="checkNam" jdbcType="VARCHAR" />
    <result column="CFJL_CONTENT" property="cfjlContent" jdbcType="CLOB" />
    <result column="comparatorVal" property="comparatorVal" jdbcType="TIMESTAMP" />
    <result column="ISPRINT" property="isprint" jdbcType="VARCHAR" />
  </resultMap>
  
   <!-- 区域是查询条件 通常情况，为了提高 sql片段可重用性，按单表创建sql片段 -->
	<sql id="query_HspLqbljl_where">
		<if test="hspCfjlInfCustom!=null">
			<if test="hspCfjlInfCustom.emgSeq!=null">
					and EMG_SEQ = #{hspCfjlInfCustom.emgSeq}
			</if>
			<if test="hspCfjlInfCustom.cfjlType!=null">
					and CFJL_TYPE = #{hspCfjlInfCustom.cfjlType}
			</if>
		</if>
	</sql>
  
  
  <select id="findhspCfjlInfList" parameterType="activetech.zyyhospital.pojo.dto.HspLqbljlQueryDto"
		resultMap="BaseResultMap">
		<!-- 分页头 -->
		<include refid="activetech.base.CommonSql.page_start" />
		 select CFJL_SEQ cfjlSeq, EMG_SEQ emgSeq, 
		 	CFJL_DAT cfjlDat,
		 	nvl(to_char(CFJL_DAT,'yyyyMMddHH24miss'),0) comparatorVal,
		 	CFJL_TYPE cfjlType, CFJL_NUM cfjlNum, 
		 	CFJL_NAM cfjlNam, CREATE_DAT createDat, UPDATE_DAT updateDat, 
		 	CHECK_NAM,
    		UPDATE_NUM updateNum, UPDATE_NAM updateNam,CFJL_CONTENT cfjlContent,ISPRINT isprint 
    		from HSP_CFJL_INF
			<where>
				<include refid="query_HspLqbljl_where" />
			</where>
			 order by ${sort} ${order}
			<include refid="activetech.base.CommonSql.page_end" />
	</select>
	
	<select id="findhspCfjlInfcount" parameterType="activetech.zyyhospital.pojo.dto.HspLqbljlQueryDto"
					 resultType="int">
		select count(*) from HSP_CFJL_INF
		<where>
				<include refid="query_HspLqbljl_where" />
			</where>
	</select>
	
	<update id="updCfjlAfterPrint" parameterType="activetech.zyyhospital.pojo.dto.HspDiseaseCourseQueryDto">
  		 update HSP_CFJL_INF
		   set isprint = '1'
		 where CFJL_SEQ in
		<foreach collection="cfjlSeqList" index="index" item="cfjlSeq" open="(" separator="," close=")">  
           #{cfjlSeq}  
       </foreach>
	</update>
  
  </mapper>