<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspCerebralCourseCustomMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.dto.HspCerebralCourseCustom" >
    <id column="CEREBRAL_COURSE_SEQ" property="cerebralCourseSeq" jdbcType="VARCHAR" />
    <result column="EMG_SEQ_DC" property="emgSeqDc" jdbcType="VARCHAR" />
    <result column="WEIGHT" property="weight" jdbcType="DECIMAL" />
    <result column="CEREBRAL_DATE" property="cerebralDate" jdbcType="TIMESTAMP" />
    <result column="ERECT_DOSE" property="erectDose" jdbcType="VARCHAR" />
    <result column="CEREBRAL_IND" property="cerebralInd" jdbcType="VARCHAR" />
    <result column="CEREBRAL_CONT" property="cerebralCont" jdbcType="VARCHAR" />
    <result column="ASSESS_DOC" property="assessDoc" jdbcType="VARCHAR" />
    <result column="ASSESS_DATE" property="assessDate" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DOC" property="createDoc" jdbcType="VARCHAR" />
    <result column="UPDATE_DOC" property="updateDoc" jdbcType="VARCHAR" />
    <result column="assessDocNam" property="assessDocNam" jdbcType="VARCHAR" />
    <result column="CEREBRAL_DNT" property="cerebralDnt" jdbcType="VARCHAR" />
    <result column="CREATE_NAM" jdbcType="VARCHAR" property="createNam" />
    <result column="UPDATE_NAM" jdbcType="VARCHAR" property="updateNam" />
  </resultMap>
  <sql id="Base_Column_List">
    CEREBRAL_COURSE_SEQ, EMG_SEQ_DC, WEIGHT, CEREBRAL_DATE, ERECT_DOSE, CEREBRAL_IND, 
    CEREBRAL_CONT, ASSESS_DOC, ASSESS_DATE, CREATE_DATE, UPDATE_DATE, CREATE_DOC, UPDATE_DOC, 
    CEREBRAL_DNT, CREATE_NAM, UPDATE_NAM
  </sql>
  <select id="getCerebralCourseByEmgSeq" resultMap="BaseResultMap" parameterType="String" >
	    select CEREBRAL_COURSE_SEQ, EMG_SEQ_DC, WEIGHT, CEREBRAL_DATE, ERECT_DOSE, CEREBRAL_IND, 
        CEREBRAL_CONT, ASSESS_DOC, ASSESS_DATE, CREATE_DATE, UPDATE_DATE, CREATE_DOC, UPDATE_DOC,CEREBRAL_DNT,
        CREATE_NAM
    	from HSP_CEREBRAL_COURSE
	    where EMG_SEQ_DC=#{emgSeq}
  </select>
  <select id="getCerebralCourseCountByEmgSeq" resultType="int" parameterType="activetech.zyyhospital.pojo.dto.HspCerebralQueryDto" >
	    select count(CEREBRAL_COURSE_SEQ) from HSP_CEREBRAL_COURSE
	    where EMG_SEQ_DC=#{hspCerebralCourseCustom.emgSeqDc}
  </select>
  <select id="findCerebralCourseListByEmgSeq" resultType="activetech.zyyhospital.pojo.dto.HspCerebralCourseCustom" parameterType="activetech.zyyhospital.pojo.dto.HspCerebralQueryDto" >
	    <!-- 分页头 -->
		<include refid="activetech.base.CommonSql.page_start" />
	    select temp.* from(select
		    CEREBRAL_COURSE_SEQ cerebralCourseSeq, EMG_SEQ_DC emgSeqDc, WEIGHT weight, CEREBRAL_DATE cerebralDate, 
		    ERECT_DOSE erectDose, CEREBRAL_IND cerebralInd, 
		    CEREBRAL_CONT cerebralCont, ASSESS_DOC assessDoc, ASSESS_DATE assessDate, CREATE_DATE createDate, 
		    UPDATE_DATE updateDate, CREATE_DOC createDoc, UPDATE_DOC updateDoc,CEREBRAL_DNT cerebralDnt,
		    CREATE_NAM
		    from HSP_CEREBRAL_COURSE
		    where EMG_SEQ_DC=#{hspCerebralCourseCustom.emgSeqDc}
		)temp
	    order by ${sort} ${order}
	    <!-- 分页尾部 -->
		<include refid="activetech.base.CommonSql.page_end" />
  </select>
</mapper>