<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspCerebralSheetMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspCerebralSheet" >
    <id column="CEREBRAL_COURSE_SEQ" property="cerebralCourseSeq" jdbcType="VARCHAR" />
    <id column="TIME_TYPE" property="timeType" jdbcType="DECIMAL" />
    <result column="EMG_SEQ_DC" property="emgSeqDc" jdbcType="VARCHAR" />
    <result column="CEREBRAL_DATE" property="cerebralDate" jdbcType="TIMESTAMP" />
    <result column="HEART_RATE" property="heartRate" jdbcType="DECIMAL" />
    <result column="PRESSURE_UP" property="pressureUp" jdbcType="DECIMAL" />
    <result column="OXY_NBR" property="oxyNbr" jdbcType="DECIMAL" />
    <result column="NIHSS_SCORE" property="nihssScore" jdbcType="DECIMAL" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DOC" property="createDoc" jdbcType="VARCHAR" />
    <result column="UPDATE_DOC" property="updateDoc" jdbcType="VARCHAR" />
    <result column="PRESSURE_DOWN" property="pressureDown" jdbcType="DECIMAL" />
    <result column="ASSESS_DOC" property="assessDoc" jdbcType="VARCHAR" />
    <result column="ASSESS_DATE" property="assessDate" jdbcType="VARCHAR" />
    <result column="RELATION_DOC" property="relationDoc" jdbcType="VARCHAR" />
    <result column="RELATION_DOCNAM" property="relationDocnam" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CEREBRAL_COURSE_SEQ, TIME_TYPE, EMG_SEQ_DC, CEREBRAL_DATE, HEART_RATE, PRESSURE_UP, 
    OXY_NBR, NIHSS_SCORE, CREATE_DATE, UPDATE_DATE, CREATE_DOC, UPDATE_DOC, PRESSURE_DOWN, 
    ASSESS_DOC, ASSESS_DATE, RELATION_DOC, RELATION_DOCNAM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.domain.HspCerebralSheetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_CEREBRAL_SHEET
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.domain.HspCerebralSheetKey" >
    select 
    <include refid="Base_Column_List" />
    from HSP_CEREBRAL_SHEET
    where CEREBRAL_COURSE_SEQ = #{cerebralCourseSeq,jdbcType=VARCHAR}
      and TIME_TYPE = #{timeType,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspCerebralSheetKey" >
    delete from HSP_CEREBRAL_SHEET
    where CEREBRAL_COURSE_SEQ = #{cerebralCourseSeq,jdbcType=VARCHAR}
      and TIME_TYPE = #{timeType,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspCerebralSheetExample" >
    delete from HSP_CEREBRAL_SHEET
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspCerebralSheet" >
    insert into HSP_CEREBRAL_SHEET (CEREBRAL_COURSE_SEQ, TIME_TYPE, EMG_SEQ_DC, 
      CEREBRAL_DATE, HEART_RATE, PRESSURE_UP, 
      OXY_NBR, NIHSS_SCORE, CREATE_DATE, 
      UPDATE_DATE, CREATE_DOC, UPDATE_DOC, 
      PRESSURE_DOWN, ASSESS_DOC, ASSESS_DATE, 
      RELATION_DOC, RELATION_DOCNAM)
    values (#{cerebralCourseSeq,jdbcType=VARCHAR}, #{timeType,jdbcType=DECIMAL}, #{emgSeqDc,jdbcType=VARCHAR}, 
      #{cerebralDate,jdbcType=TIMESTAMP}, #{heartRate,jdbcType=DECIMAL}, #{pressureUp,jdbcType=DECIMAL}, 
      #{oxyNbr,jdbcType=DECIMAL}, #{nihssScore,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{createDoc,jdbcType=VARCHAR}, #{updateDoc,jdbcType=VARCHAR}, 
      #{pressureDown,jdbcType=DECIMAL}, #{assessDoc,jdbcType=VARCHAR}, #{assessDate,jdbcType=VARCHAR}, 
      #{relationDoc,jdbcType=VARCHAR}, #{relationDocnam,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspCerebralSheet" >
    insert into HSP_CEREBRAL_SHEET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cerebralCourseSeq != null" >
        CEREBRAL_COURSE_SEQ,
      </if>
      <if test="timeType != null" >
        TIME_TYPE,
      </if>
      <if test="emgSeqDc != null" >
        EMG_SEQ_DC,
      </if>
      <if test="cerebralDate != null" >
        CEREBRAL_DATE,
      </if>
      <if test="heartRate != null" >
        HEART_RATE,
      </if>
      <if test="pressureUp != null" >
        PRESSURE_UP,
      </if>
      <if test="oxyNbr != null" >
        OXY_NBR,
      </if>
      <if test="nihssScore != null" >
        NIHSS_SCORE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="createDoc != null" >
        CREATE_DOC,
      </if>
      <if test="updateDoc != null" >
        UPDATE_DOC,
      </if>
      <if test="pressureDown != null" >
        PRESSURE_DOWN,
      </if>
      <if test="assessDoc != null" >
        ASSESS_DOC,
      </if>
      <if test="assessDate != null" >
        ASSESS_DATE,
      </if>
      <if test="relationDoc != null" >
        RELATION_DOC,
      </if>
      <if test="relationDocnam != null" >
        RELATION_DOCNAM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cerebralCourseSeq != null" >
        #{cerebralCourseSeq,jdbcType=VARCHAR},
      </if>
      <if test="timeType != null" >
        #{timeType,jdbcType=DECIMAL},
      </if>
      <if test="emgSeqDc != null" >
        #{emgSeqDc,jdbcType=VARCHAR},
      </if>
      <if test="cerebralDate != null" >
        #{cerebralDate,jdbcType=TIMESTAMP},
      </if>
      <if test="heartRate != null" >
        #{heartRate,jdbcType=DECIMAL},
      </if>
      <if test="pressureUp != null" >
        #{pressureUp,jdbcType=DECIMAL},
      </if>
      <if test="oxyNbr != null" >
        #{oxyNbr,jdbcType=DECIMAL},
      </if>
      <if test="nihssScore != null" >
        #{nihssScore,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDoc != null" >
        #{createDoc,jdbcType=VARCHAR},
      </if>
      <if test="updateDoc != null" >
        #{updateDoc,jdbcType=VARCHAR},
      </if>
      <if test="pressureDown != null" >
        #{pressureDown,jdbcType=DECIMAL},
      </if>
      <if test="assessDoc != null" >
        #{assessDoc,jdbcType=VARCHAR},
      </if>
      <if test="assessDate != null" >
        #{assessDate,jdbcType=VARCHAR},
      </if>
      <if test="relationDoc != null" >
        #{relationDoc,jdbcType=VARCHAR},
      </if>
      <if test="relationDocnam != null" >
        #{relationDocnam,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspCerebralSheetExample" resultType="java.lang.Integer" >
    select count(*) from HSP_CEREBRAL_SHEET
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_CEREBRAL_SHEET
    <set >
      <if test="record.cerebralCourseSeq != null" >
        CEREBRAL_COURSE_SEQ = #{record.cerebralCourseSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.timeType != null" >
        TIME_TYPE = #{record.timeType,jdbcType=DECIMAL},
      </if>
      <if test="record.emgSeqDc != null" >
        EMG_SEQ_DC = #{record.emgSeqDc,jdbcType=VARCHAR},
      </if>
      <if test="record.cerebralDate != null" >
        CEREBRAL_DATE = #{record.cerebralDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.heartRate != null" >
        HEART_RATE = #{record.heartRate,jdbcType=DECIMAL},
      </if>
      <if test="record.pressureUp != null" >
        PRESSURE_UP = #{record.pressureUp,jdbcType=DECIMAL},
      </if>
      <if test="record.oxyNbr != null" >
        OXY_NBR = #{record.oxyNbr,jdbcType=DECIMAL},
      </if>
      <if test="record.nihssScore != null" >
        NIHSS_SCORE = #{record.nihssScore,jdbcType=DECIMAL},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDoc != null" >
        CREATE_DOC = #{record.createDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDoc != null" >
        UPDATE_DOC = #{record.updateDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.pressureDown != null" >
        PRESSURE_DOWN = #{record.pressureDown,jdbcType=DECIMAL},
      </if>
      <if test="record.assessDoc != null" >
        ASSESS_DOC = #{record.assessDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.assessDate != null" >
        ASSESS_DATE = #{record.assessDate,jdbcType=VARCHAR},
      </if>
      <if test="record.relationDoc != null" >
        RELATION_DOC = #{record.relationDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.relationDocnam != null" >
        RELATION_DOCNAM = #{record.relationDocnam,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_CEREBRAL_SHEET
    set CEREBRAL_COURSE_SEQ = #{record.cerebralCourseSeq,jdbcType=VARCHAR},
      TIME_TYPE = #{record.timeType,jdbcType=DECIMAL},
      EMG_SEQ_DC = #{record.emgSeqDc,jdbcType=VARCHAR},
      CEREBRAL_DATE = #{record.cerebralDate,jdbcType=TIMESTAMP},
      HEART_RATE = #{record.heartRate,jdbcType=DECIMAL},
      PRESSURE_UP = #{record.pressureUp,jdbcType=DECIMAL},
      OXY_NBR = #{record.oxyNbr,jdbcType=DECIMAL},
      NIHSS_SCORE = #{record.nihssScore,jdbcType=DECIMAL},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      CREATE_DOC = #{record.createDoc,jdbcType=VARCHAR},
      UPDATE_DOC = #{record.updateDoc,jdbcType=VARCHAR},
      PRESSURE_DOWN = #{record.pressureDown,jdbcType=DECIMAL},
      ASSESS_DOC = #{record.assessDoc,jdbcType=VARCHAR},
      ASSESS_DATE = #{record.assessDate,jdbcType=VARCHAR},
      RELATION_DOC = #{record.relationDoc,jdbcType=VARCHAR},
      RELATION_DOCNAM = #{record.relationDocnam,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspCerebralSheet" >
    update HSP_CEREBRAL_SHEET
    <set >
      <if test="emgSeqDc != null" >
        EMG_SEQ_DC = #{emgSeqDc,jdbcType=VARCHAR},
      </if>
      <if test="cerebralDate != null" >
        CEREBRAL_DATE = #{cerebralDate,jdbcType=TIMESTAMP},
      </if>
      <if test="heartRate != null" >
        HEART_RATE = #{heartRate,jdbcType=DECIMAL},
      </if>
      <if test="pressureUp != null" >
        PRESSURE_UP = #{pressureUp,jdbcType=DECIMAL},
      </if>
      <if test="oxyNbr != null" >
        OXY_NBR = #{oxyNbr,jdbcType=DECIMAL},
      </if>
      <if test="nihssScore != null" >
        NIHSS_SCORE = #{nihssScore,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDoc != null" >
        CREATE_DOC = #{createDoc,jdbcType=VARCHAR},
      </if>
      <if test="updateDoc != null" >
        UPDATE_DOC = #{updateDoc,jdbcType=VARCHAR},
      </if>
      <if test="pressureDown != null" >
        PRESSURE_DOWN = #{pressureDown,jdbcType=DECIMAL},
      </if>
      <if test="assessDoc != null" >
        ASSESS_DOC = #{assessDoc,jdbcType=VARCHAR},
      </if>
      <if test="assessDate != null" >
        ASSESS_DATE = #{assessDate,jdbcType=VARCHAR},
      </if>
      <if test="relationDoc != null" >
        RELATION_DOC = #{relationDoc,jdbcType=VARCHAR},
      </if>
      <if test="relationDocnam != null" >
        RELATION_DOCNAM = #{relationDocnam,jdbcType=VARCHAR},
      </if>
    </set>
    where CEREBRAL_COURSE_SEQ = #{cerebralCourseSeq,jdbcType=VARCHAR}
      and TIME_TYPE = #{timeType,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspCerebralSheet" >
    update HSP_CEREBRAL_SHEET
    set EMG_SEQ_DC = #{emgSeqDc,jdbcType=VARCHAR},
      CEREBRAL_DATE = #{cerebralDate,jdbcType=TIMESTAMP},
      HEART_RATE = #{heartRate,jdbcType=DECIMAL},
      PRESSURE_UP = #{pressureUp,jdbcType=DECIMAL},
      OXY_NBR = #{oxyNbr,jdbcType=DECIMAL},
      NIHSS_SCORE = #{nihssScore,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_DOC = #{createDoc,jdbcType=VARCHAR},
      UPDATE_DOC = #{updateDoc,jdbcType=VARCHAR},
      PRESSURE_DOWN = #{pressureDown,jdbcType=DECIMAL},
      ASSESS_DOC = #{assessDoc,jdbcType=VARCHAR},
      ASSESS_DATE = #{assessDate,jdbcType=VARCHAR},
      RELATION_DOC = #{relationDoc,jdbcType=VARCHAR},
      RELATION_DOCNAM = #{relationDocnam,jdbcType=VARCHAR}
    where CEREBRAL_COURSE_SEQ = #{cerebralCourseSeq,jdbcType=VARCHAR}
      and TIME_TYPE = #{timeType,jdbcType=DECIMAL}
  </update>
</mapper>