<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspCfjlInfMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspCfjlInf" >
    <id column="CFJL_SEQ" property="cfjlSeq" jdbcType="VARCHAR" />
    <result column="EMG_SEQ" property="emgSeq" jdbcType="VARCHAR" />
    <result column="CFJL_DAT" property="cfjlDat" jdbcType="TIMESTAMP" />
    <result column="CFJL_TYPE" property="cfjlType" jdbcType="VARCHAR" />
    <result column="CFJL_NUM" property="cfjlNum" jdbcType="VARCHAR" />
    <result column="CFJL_NAM" property="cfjlNam" jdbcType="VARCHAR" />
    <result column="CREATE_DAT" property="createDat" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DAT" property="updateDat" jdbcType="TIMESTAMP" />
    <result column="UPDATE_NUM" property="updateNum" jdbcType="VARCHAR" />
    <result column="UPDATE_NAM" property="updateNam" jdbcType="VARCHAR" />
    <result column="CHECK_NAM" property="checkNam" jdbcType="VARCHAR" />
    <result column="ISPRINT" property="isprint" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="activetech.zyyhospital.pojo.domain.HspCfjlInf" extends="BaseResultMap" >
    <result column="CFJL_CONTENT" property="cfjlContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CFJL_SEQ, EMG_SEQ, CFJL_DAT, CFJL_TYPE, CFJL_NUM, CFJL_NAM, CREATE_DAT, UPDATE_DAT, 
    UPDATE_NUM, UPDATE_NAM, CHECK_NAM, ISPRINT
  </sql>
  <sql id="Blob_Column_List" >
    CFJL_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="activetech.zyyhospital.pojo.domain.HspCfjlInfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HSP_CFJL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.domain.HspCfjlInfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_CFJL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HSP_CFJL_INF
    where CFJL_SEQ = #{cfjlSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HSP_CFJL_INF
    where CFJL_SEQ = #{cfjlSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspCfjlInfExample" >
    delete from HSP_CFJL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspCfjlInf" >
    insert into HSP_CFJL_INF (CFJL_SEQ, EMG_SEQ, CFJL_DAT, 
      CFJL_TYPE, CFJL_NUM, CFJL_NAM, 
      CREATE_DAT, UPDATE_DAT, UPDATE_NUM, 
      UPDATE_NAM, CHECK_NAM, ISPRINT, 
      CFJL_CONTENT)
    values (#{cfjlSeq,jdbcType=VARCHAR}, #{emgSeq,jdbcType=VARCHAR}, #{cfjlDat,jdbcType=TIMESTAMP}, 
      #{cfjlType,jdbcType=VARCHAR}, #{cfjlNum,jdbcType=VARCHAR}, #{cfjlNam,jdbcType=VARCHAR}, 
      #{createDat,jdbcType=TIMESTAMP}, #{updateDat,jdbcType=TIMESTAMP}, #{updateNum,jdbcType=VARCHAR}, 
      #{updateNam,jdbcType=VARCHAR}, #{checkNam,jdbcType=VARCHAR}, #{isprint,jdbcType=VARCHAR}, 
      #{cfjlContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspCfjlInf" >
    insert into HSP_CFJL_INF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cfjlSeq != null" >
        CFJL_SEQ,
      </if>
      <if test="emgSeq != null" >
        EMG_SEQ,
      </if>
      <if test="cfjlDat != null" >
        CFJL_DAT,
      </if>
      <if test="cfjlType != null" >
        CFJL_TYPE,
      </if>
      <if test="cfjlNum != null" >
        CFJL_NUM,
      </if>
      <if test="cfjlNam != null" >
        CFJL_NAM,
      </if>
      <if test="createDat != null" >
        CREATE_DAT,
      </if>
      <if test="updateDat != null" >
        UPDATE_DAT,
      </if>
      <if test="updateNum != null" >
        UPDATE_NUM,
      </if>
      <if test="updateNam != null" >
        UPDATE_NAM,
      </if>
      <if test="checkNam != null" >
        CHECK_NAM,
      </if>
      <if test="isprint != null" >
        ISPRINT,
      </if>
      <if test="cfjlContent != null" >
        CFJL_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cfjlSeq != null" >
        #{cfjlSeq,jdbcType=VARCHAR},
      </if>
      <if test="emgSeq != null" >
        #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="cfjlDat != null" >
        #{cfjlDat,jdbcType=TIMESTAMP},
      </if>
      <if test="cfjlType != null" >
        #{cfjlType,jdbcType=VARCHAR},
      </if>
      <if test="cfjlNum != null" >
        #{cfjlNum,jdbcType=VARCHAR},
      </if>
      <if test="cfjlNam != null" >
        #{cfjlNam,jdbcType=VARCHAR},
      </if>
      <if test="createDat != null" >
        #{createDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDat != null" >
        #{updateDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateNum != null" >
        #{updateNum,jdbcType=VARCHAR},
      </if>
      <if test="updateNam != null" >
        #{updateNam,jdbcType=VARCHAR},
      </if>
      <if test="checkNam != null" >
        #{checkNam,jdbcType=VARCHAR},
      </if>
      <if test="isprint != null" >
        #{isprint,jdbcType=VARCHAR},
      </if>
      <if test="cfjlContent != null" >
        #{cfjlContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspCfjlInfExample" resultType="java.lang.Integer" >
    select count(*) from HSP_CFJL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_CFJL_INF
    <set >
      <if test="record.cfjlSeq != null" >
        CFJL_SEQ = #{record.cfjlSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.emgSeq != null" >
        EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.cfjlDat != null" >
        CFJL_DAT = #{record.cfjlDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cfjlType != null" >
        CFJL_TYPE = #{record.cfjlType,jdbcType=VARCHAR},
      </if>
      <if test="record.cfjlNum != null" >
        CFJL_NUM = #{record.cfjlNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cfjlNam != null" >
        CFJL_NAM = #{record.cfjlNam,jdbcType=VARCHAR},
      </if>
      <if test="record.createDat != null" >
        CREATE_DAT = #{record.createDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDat != null" >
        UPDATE_DAT = #{record.updateDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateNum != null" >
        UPDATE_NUM = #{record.updateNum,jdbcType=VARCHAR},
      </if>
      <if test="record.updateNam != null" >
        UPDATE_NAM = #{record.updateNam,jdbcType=VARCHAR},
      </if>
      <if test="record.checkNam != null" >
        CHECK_NAM = #{record.checkNam,jdbcType=VARCHAR},
      </if>
      <if test="record.isprint != null" >
        ISPRINT = #{record.isprint,jdbcType=VARCHAR},
      </if>
      <if test="record.cfjlContent != null" >
        CFJL_CONTENT = #{record.cfjlContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update HSP_CFJL_INF
    set CFJL_SEQ = #{record.cfjlSeq,jdbcType=VARCHAR},
      EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      CFJL_DAT = #{record.cfjlDat,jdbcType=TIMESTAMP},
      CFJL_TYPE = #{record.cfjlType,jdbcType=VARCHAR},
      CFJL_NUM = #{record.cfjlNum,jdbcType=VARCHAR},
      CFJL_NAM = #{record.cfjlNam,jdbcType=VARCHAR},
      CREATE_DAT = #{record.createDat,jdbcType=TIMESTAMP},
      UPDATE_DAT = #{record.updateDat,jdbcType=TIMESTAMP},
      UPDATE_NUM = #{record.updateNum,jdbcType=VARCHAR},
      UPDATE_NAM = #{record.updateNam,jdbcType=VARCHAR},
      CHECK_NAM = #{record.checkNam,jdbcType=VARCHAR},
      ISPRINT = #{record.isprint,jdbcType=VARCHAR},
      CFJL_CONTENT = #{record.cfjlContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_CFJL_INF
    set CFJL_SEQ = #{record.cfjlSeq,jdbcType=VARCHAR},
      EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      CFJL_DAT = #{record.cfjlDat,jdbcType=TIMESTAMP},
      CFJL_TYPE = #{record.cfjlType,jdbcType=VARCHAR},
      CFJL_NUM = #{record.cfjlNum,jdbcType=VARCHAR},
      CFJL_NAM = #{record.cfjlNam,jdbcType=VARCHAR},
      CREATE_DAT = #{record.createDat,jdbcType=TIMESTAMP},
      UPDATE_DAT = #{record.updateDat,jdbcType=TIMESTAMP},
      UPDATE_NUM = #{record.updateNum,jdbcType=VARCHAR},
      UPDATE_NAM = #{record.updateNam,jdbcType=VARCHAR},
      CHECK_NAM = #{record.checkNam,jdbcType=VARCHAR},
      ISPRINT = #{record.isprint,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspCfjlInf" >
    update HSP_CFJL_INF
    <set >
      <if test="emgSeq != null" >
        EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="cfjlDat != null" >
        CFJL_DAT = #{cfjlDat,jdbcType=TIMESTAMP},
      </if>
      <if test="cfjlType != null" >
        CFJL_TYPE = #{cfjlType,jdbcType=VARCHAR},
      </if>
      <if test="cfjlNum != null" >
        CFJL_NUM = #{cfjlNum,jdbcType=VARCHAR},
      </if>
      <if test="cfjlNam != null" >
        CFJL_NAM = #{cfjlNam,jdbcType=VARCHAR},
      </if>
      <if test="createDat != null" >
        CREATE_DAT = #{createDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDat != null" >
        UPDATE_DAT = #{updateDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateNum != null" >
        UPDATE_NUM = #{updateNum,jdbcType=VARCHAR},
      </if>
      <if test="updateNam != null" >
        UPDATE_NAM = #{updateNam,jdbcType=VARCHAR},
      </if>
      <if test="checkNam != null" >
        CHECK_NAM = #{checkNam,jdbcType=VARCHAR},
      </if>
      <if test="isprint != null" >
        ISPRINT = #{isprint,jdbcType=VARCHAR},
      </if>
      <if test="cfjlContent != null" >
        CFJL_CONTENT = #{cfjlContent,jdbcType=CLOB},
      </if>
    </set>
    where CFJL_SEQ = #{cfjlSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="activetech.zyyhospital.pojo.domain.HspCfjlInf" >
    update HSP_CFJL_INF
    set EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      CFJL_DAT = #{cfjlDat,jdbcType=TIMESTAMP},
      CFJL_TYPE = #{cfjlType,jdbcType=VARCHAR},
      CFJL_NUM = #{cfjlNum,jdbcType=VARCHAR},
      CFJL_NAM = #{cfjlNam,jdbcType=VARCHAR},
      CREATE_DAT = #{createDat,jdbcType=TIMESTAMP},
      UPDATE_DAT = #{updateDat,jdbcType=TIMESTAMP},
      UPDATE_NUM = #{updateNum,jdbcType=VARCHAR},
      UPDATE_NAM = #{updateNam,jdbcType=VARCHAR},
      CHECK_NAM = #{checkNam,jdbcType=VARCHAR},
      ISPRINT = #{isprint,jdbcType=VARCHAR},
      CFJL_CONTENT = #{cfjlContent,jdbcType=CLOB}
    where CFJL_SEQ = #{cfjlSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspCfjlInf" >
    update HSP_CFJL_INF
    set EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      CFJL_DAT = #{cfjlDat,jdbcType=TIMESTAMP},
      CFJL_TYPE = #{cfjlType,jdbcType=VARCHAR},
      CFJL_NUM = #{cfjlNum,jdbcType=VARCHAR},
      CFJL_NAM = #{cfjlNam,jdbcType=VARCHAR},
      CREATE_DAT = #{createDat,jdbcType=TIMESTAMP},
      UPDATE_DAT = #{updateDat,jdbcType=TIMESTAMP},
      UPDATE_NUM = #{updateNum,jdbcType=VARCHAR},
      UPDATE_NAM = #{updateNam,jdbcType=VARCHAR},
      CHECK_NAM = #{checkNam,jdbcType=VARCHAR},
      ISPRINT = #{isprint,jdbcType=VARCHAR}
    where CFJL_SEQ = #{cfjlSeq,jdbcType=VARCHAR}
  </update>
</mapper>