<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspDiseaseCourseMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspDiseaseCourse" >
    <id column="DISEASE_COURSE_SEQ" property="diseaseCourseSeq" jdbcType="VARCHAR" />
    <result column="EMG_SEQ_DC" property="emgSeqDc" jdbcType="VARCHAR" />
    <result column="COURSE_DATE" property="courseDate" jdbcType="TIMESTAMP" />
    <result column="DISEASE_POINT" property="diseasePoint" jdbcType="VARCHAR" />
    <result column="TREATMENT_PLAN" property="treatmentPlan" jdbcType="VARCHAR" />
    <result column="REPORTING_TIME" property="reportingTime" jdbcType="VARCHAR" />
    <result column="TREATMENT_MEASURES" property="treatmentMeasures" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DOC" property="createDoc" jdbcType="VARCHAR" />
    <result column="UPDATE_DOC" property="updateDoc" jdbcType="VARCHAR" />
    <result column="COURSE_TYPE" property="courseType" jdbcType="VARCHAR" />
    <result column="CREATE_NAM" property="createNam" jdbcType="VARCHAR" />
    <result column="UPDATE_NAM" property="updateNam" jdbcType="VARCHAR" />
    <result column="ISPRINT" property="isprint" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="activetech.zyyhospital.pojo.domain.HspDiseaseCourseWithBLOBs" extends="BaseResultMap" >
    <result column="RECORD" property="record" jdbcType="CLOB" />
    <result column="CRITICAL_SIGNIFICANCE" property="criticalSignificance" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DISEASE_COURSE_SEQ, EMG_SEQ_DC, COURSE_DATE, DISEASE_POINT, TREATMENT_PLAN, REPORTING_TIME, 
    TREATMENT_MEASURES, CREATE_DATE, UPDATE_DATE, CREATE_DOC, UPDATE_DOC, COURSE_TYPE, 
    CREATE_NAM, UPDATE_NAM, ISPRINT
  </sql>
  <sql id="Blob_Column_List" >
    RECORD, CRITICAL_SIGNIFICANCE
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="activetech.zyyhospital.pojo.domain.HspDiseaseCourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HSP_DISEASE_COURSE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.domain.HspDiseaseCourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_DISEASE_COURSE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HSP_DISEASE_COURSE
    where DISEASE_COURSE_SEQ = #{diseaseCourseSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HSP_DISEASE_COURSE
    where DISEASE_COURSE_SEQ = #{diseaseCourseSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspDiseaseCourseExample" >
    delete from HSP_DISEASE_COURSE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspDiseaseCourseWithBLOBs" >
    insert into HSP_DISEASE_COURSE (DISEASE_COURSE_SEQ, EMG_SEQ_DC, COURSE_DATE, 
      DISEASE_POINT, TREATMENT_PLAN, REPORTING_TIME, 
      TREATMENT_MEASURES, CREATE_DATE, UPDATE_DATE, 
      CREATE_DOC, UPDATE_DOC, COURSE_TYPE, 
      CREATE_NAM, UPDATE_NAM, ISPRINT, 
      RECORD, CRITICAL_SIGNIFICANCE)
    values (#{diseaseCourseSeq,jdbcType=VARCHAR}, #{emgSeqDc,jdbcType=VARCHAR}, #{courseDate,jdbcType=TIMESTAMP}, 
      #{diseasePoint,jdbcType=VARCHAR}, #{treatmentPlan,jdbcType=VARCHAR}, #{reportingTime,jdbcType=VARCHAR}, 
      #{treatmentMeasures,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{createDoc,jdbcType=VARCHAR}, #{updateDoc,jdbcType=VARCHAR}, #{courseType,jdbcType=VARCHAR}, 
      #{createNam,jdbcType=VARCHAR}, #{updateNam,jdbcType=VARCHAR}, #{isprint,jdbcType=VARCHAR}, 
      #{record,jdbcType=CLOB}, #{criticalSignificance,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspDiseaseCourseWithBLOBs" >
    insert into HSP_DISEASE_COURSE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="diseaseCourseSeq != null" >
        DISEASE_COURSE_SEQ,
      </if>
      <if test="emgSeqDc != null" >
        EMG_SEQ_DC,
      </if>
      <if test="courseDate != null" >
        COURSE_DATE,
      </if>
      <if test="diseasePoint != null" >
        DISEASE_POINT,
      </if>
      <if test="treatmentPlan != null" >
        TREATMENT_PLAN,
      </if>
      <if test="reportingTime != null" >
        REPORTING_TIME,
      </if>
      <if test="treatmentMeasures != null" >
        TREATMENT_MEASURES,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="createDoc != null" >
        CREATE_DOC,
      </if>
      <if test="updateDoc != null" >
        UPDATE_DOC,
      </if>
      <if test="courseType != null" >
        COURSE_TYPE,
      </if>
      <if test="createNam != null" >
        CREATE_NAM,
      </if>
      <if test="updateNam != null" >
        UPDATE_NAM,
      </if>
      <if test="isprint != null" >
        ISPRINT,
      </if>
      <if test="record != null" >
        RECORD,
      </if>
      <if test="criticalSignificance != null" >
        CRITICAL_SIGNIFICANCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="diseaseCourseSeq != null" >
        #{diseaseCourseSeq,jdbcType=VARCHAR},
      </if>
      <if test="emgSeqDc != null" >
        #{emgSeqDc,jdbcType=VARCHAR},
      </if>
      <if test="courseDate != null" >
        #{courseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="diseasePoint != null" >
        #{diseasePoint,jdbcType=VARCHAR},
      </if>
      <if test="treatmentPlan != null" >
        #{treatmentPlan,jdbcType=VARCHAR},
      </if>
      <if test="reportingTime != null" >
        #{reportingTime,jdbcType=VARCHAR},
      </if>
      <if test="treatmentMeasures != null" >
        #{treatmentMeasures,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDoc != null" >
        #{createDoc,jdbcType=VARCHAR},
      </if>
      <if test="updateDoc != null" >
        #{updateDoc,jdbcType=VARCHAR},
      </if>
      <if test="courseType != null" >
        #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="createNam != null" >
        #{createNam,jdbcType=VARCHAR},
      </if>
      <if test="updateNam != null" >
        #{updateNam,jdbcType=VARCHAR},
      </if>
      <if test="isprint != null" >
        #{isprint,jdbcType=VARCHAR},
      </if>
      <if test="record != null" >
        #{record,jdbcType=CLOB},
      </if>
      <if test="criticalSignificance != null" >
        #{criticalSignificance,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspDiseaseCourseExample" resultType="java.lang.Integer" >
    select count(*) from HSP_DISEASE_COURSE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_DISEASE_COURSE
    <set >
      <if test="record.diseaseCourseSeq != null" >
        DISEASE_COURSE_SEQ = #{record.diseaseCourseSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.emgSeqDc != null" >
        EMG_SEQ_DC = #{record.emgSeqDc,jdbcType=VARCHAR},
      </if>
      <if test="record.courseDate != null" >
        COURSE_DATE = #{record.courseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.diseasePoint != null" >
        DISEASE_POINT = #{record.diseasePoint,jdbcType=VARCHAR},
      </if>
      <if test="record.treatmentPlan != null" >
        TREATMENT_PLAN = #{record.treatmentPlan,jdbcType=VARCHAR},
      </if>
      <if test="record.reportingTime != null" >
        REPORTING_TIME = #{record.reportingTime,jdbcType=VARCHAR},
      </if>
      <if test="record.treatmentMeasures != null" >
        TREATMENT_MEASURES = #{record.treatmentMeasures,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDoc != null" >
        CREATE_DOC = #{record.createDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDoc != null" >
        UPDATE_DOC = #{record.updateDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.courseType != null" >
        COURSE_TYPE = #{record.courseType,jdbcType=VARCHAR},
      </if>
      <if test="record.createNam != null" >
        CREATE_NAM = #{record.createNam,jdbcType=VARCHAR},
      </if>
      <if test="record.updateNam != null" >
        UPDATE_NAM = #{record.updateNam,jdbcType=VARCHAR},
      </if>
      <if test="record.isprint != null" >
        ISPRINT = #{record.isprint,jdbcType=VARCHAR},
      </if>
      <if test="record.record != null" >
        RECORD = #{record.record,jdbcType=CLOB},
      </if>
      <if test="record.criticalSignificance != null" >
        CRITICAL_SIGNIFICANCE = #{record.criticalSignificance,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update HSP_DISEASE_COURSE
    set DISEASE_COURSE_SEQ = #{record.diseaseCourseSeq,jdbcType=VARCHAR},
      EMG_SEQ_DC = #{record.emgSeqDc,jdbcType=VARCHAR},
      COURSE_DATE = #{record.courseDate,jdbcType=TIMESTAMP},
      DISEASE_POINT = #{record.diseasePoint,jdbcType=VARCHAR},
      TREATMENT_PLAN = #{record.treatmentPlan,jdbcType=VARCHAR},
      REPORTING_TIME = #{record.reportingTime,jdbcType=VARCHAR},
      TREATMENT_MEASURES = #{record.treatmentMeasures,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      CREATE_DOC = #{record.createDoc,jdbcType=VARCHAR},
      UPDATE_DOC = #{record.updateDoc,jdbcType=VARCHAR},
      COURSE_TYPE = #{record.courseType,jdbcType=VARCHAR},
      CREATE_NAM = #{record.createNam,jdbcType=VARCHAR},
      UPDATE_NAM = #{record.updateNam,jdbcType=VARCHAR},
      ISPRINT = #{record.isprint,jdbcType=VARCHAR},
      RECORD = #{record.record,jdbcType=CLOB},
      CRITICAL_SIGNIFICANCE = #{record.criticalSignificance,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_DISEASE_COURSE
    set DISEASE_COURSE_SEQ = #{record.diseaseCourseSeq,jdbcType=VARCHAR},
      EMG_SEQ_DC = #{record.emgSeqDc,jdbcType=VARCHAR},
      COURSE_DATE = #{record.courseDate,jdbcType=TIMESTAMP},
      DISEASE_POINT = #{record.diseasePoint,jdbcType=VARCHAR},
      TREATMENT_PLAN = #{record.treatmentPlan,jdbcType=VARCHAR},
      REPORTING_TIME = #{record.reportingTime,jdbcType=VARCHAR},
      TREATMENT_MEASURES = #{record.treatmentMeasures,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      CREATE_DOC = #{record.createDoc,jdbcType=VARCHAR},
      UPDATE_DOC = #{record.updateDoc,jdbcType=VARCHAR},
      COURSE_TYPE = #{record.courseType,jdbcType=VARCHAR},
      CREATE_NAM = #{record.createNam,jdbcType=VARCHAR},
      UPDATE_NAM = #{record.updateNam,jdbcType=VARCHAR},
      ISPRINT = #{record.isprint,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspDiseaseCourseWithBLOBs" >
    update HSP_DISEASE_COURSE
    <set >
      <if test="emgSeqDc != null" >
        EMG_SEQ_DC = #{emgSeqDc,jdbcType=VARCHAR},
      </if>
      <if test="courseDate != null" >
        COURSE_DATE = #{courseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="diseasePoint != null" >
        DISEASE_POINT = #{diseasePoint,jdbcType=VARCHAR},
      </if>
      <if test="treatmentPlan != null" >
        TREATMENT_PLAN = #{treatmentPlan,jdbcType=VARCHAR},
      </if>
      <if test="reportingTime != null" >
        REPORTING_TIME = #{reportingTime,jdbcType=VARCHAR},
      </if>
      <if test="treatmentMeasures != null" >
        TREATMENT_MEASURES = #{treatmentMeasures,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDoc != null" >
        CREATE_DOC = #{createDoc,jdbcType=VARCHAR},
      </if>
      <if test="updateDoc != null" >
        UPDATE_DOC = #{updateDoc,jdbcType=VARCHAR},
      </if>
      <if test="courseType != null" >
        COURSE_TYPE = #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="createNam != null" >
        CREATE_NAM = #{createNam,jdbcType=VARCHAR},
      </if>
      <if test="updateNam != null" >
        UPDATE_NAM = #{updateNam,jdbcType=VARCHAR},
      </if>
      <if test="isprint != null" >
        ISPRINT = #{isprint,jdbcType=VARCHAR},
      </if>
      <if test="record != null" >
        RECORD = #{record,jdbcType=CLOB},
      </if>
      <if test="criticalSignificance != null" >
        CRITICAL_SIGNIFICANCE = #{criticalSignificance,jdbcType=CLOB},
      </if>
    </set>
    where DISEASE_COURSE_SEQ = #{diseaseCourseSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="activetech.zyyhospital.pojo.domain.HspDiseaseCourseWithBLOBs" >
    update HSP_DISEASE_COURSE
    set EMG_SEQ_DC = #{emgSeqDc,jdbcType=VARCHAR},
      COURSE_DATE = #{courseDate,jdbcType=TIMESTAMP},
      DISEASE_POINT = #{diseasePoint,jdbcType=VARCHAR},
      TREATMENT_PLAN = #{treatmentPlan,jdbcType=VARCHAR},
      REPORTING_TIME = #{reportingTime,jdbcType=VARCHAR},
      TREATMENT_MEASURES = #{treatmentMeasures,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_DOC = #{createDoc,jdbcType=VARCHAR},
      UPDATE_DOC = #{updateDoc,jdbcType=VARCHAR},
      COURSE_TYPE = #{courseType,jdbcType=VARCHAR},
      CREATE_NAM = #{createNam,jdbcType=VARCHAR},
      UPDATE_NAM = #{updateNam,jdbcType=VARCHAR},
      ISPRINT = #{isprint,jdbcType=VARCHAR},
      RECORD = #{record,jdbcType=CLOB},
      CRITICAL_SIGNIFICANCE = #{criticalSignificance,jdbcType=CLOB}
    where DISEASE_COURSE_SEQ = #{diseaseCourseSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspDiseaseCourse" >
    update HSP_DISEASE_COURSE
    set EMG_SEQ_DC = #{emgSeqDc,jdbcType=VARCHAR},
      COURSE_DATE = #{courseDate,jdbcType=TIMESTAMP},
      DISEASE_POINT = #{diseasePoint,jdbcType=VARCHAR},
      TREATMENT_PLAN = #{treatmentPlan,jdbcType=VARCHAR},
      REPORTING_TIME = #{reportingTime,jdbcType=VARCHAR},
      TREATMENT_MEASURES = #{treatmentMeasures,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_DOC = #{createDoc,jdbcType=VARCHAR},
      UPDATE_DOC = #{updateDoc,jdbcType=VARCHAR},
      COURSE_TYPE = #{courseType,jdbcType=VARCHAR},
      CREATE_NAM = #{createNam,jdbcType=VARCHAR},
      UPDATE_NAM = #{updateNam,jdbcType=VARCHAR},
      ISPRINT = #{isprint,jdbcType=VARCHAR}
    where DISEASE_COURSE_SEQ = #{diseaseCourseSeq,jdbcType=VARCHAR}
  </update>
</mapper>