<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspDeathRecordCustomMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.dto.HspDeathRecordCustom" >
    <id column="DEATH_RECORD_SEQ" property="deathRecordSeq" jdbcType="VARCHAR" />
    <result column="EMG_SEQ_DR" property="emgSeqDr" jdbcType="VARCHAR" />
    <result column="COME_TIME" property="comeTime" jdbcType="TIMESTAMP" />
    <result column="DEATH_TIME" property="deathTime" jdbcType="TIMESTAMP" />
    <result column="CAUSE_DEATH" property="causeDeath" jdbcType="VARCHAR" />
    <result column="COURSE_DATE" property="courseDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_DOC" property="createDoc" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DOC" property="updateDoc" jdbcType="VARCHAR" />
    <result column="COME_SITUATION" property="comeSituation" jdbcType="CLOB" />
    <result column="TREATMENT_PROCESS" property="treatmentProcess" jdbcType="CLOB" />
    <result column="comeTimeStr" property="comeTimeStr" jdbcType="VARCHAR" />
    <result column="deathTimeStr" property="deathTimeStr" jdbcType="VARCHAR" />
    <result column="createTimeStr" property="createTimeStr" jdbcType="VARCHAR" />
    <result column="updateTimeStr" property="updateTimeStr" jdbcType="VARCHAR" />
    <result column="createDocName" property="createDocName" jdbcType="VARCHAR" />
    <result column="updateDocName" property="updateDocName" jdbcType="VARCHAR" />
    <result column="CREATE_NAM" jdbcType="VARCHAR" property="createNam" />
    <result column="UPDATE_NAM" jdbcType="VARCHAR" property="updateNam" />
  </resultMap>
  
  <select id="findDeathRecord" parameterType="activetech.zyyhospital.pojo.dto.HspDeathRecordQueryDto"
  		resultMap="BaseResultMap">
  	select 
  		death.DEATH_RECORD_SEQ, 
  		death.EMG_SEQ_DR, 
  		death.COME_TIME, 
  		to_char(death.COME_TIME,'yyyy/MM/dd HH24:mi:ss') comeTimeStr,
    	death.DEATH_TIME, 
    	to_char(death.DEATH_TIME,'yyyy/MM/dd HH24:mi:ss') deathTimeStr,
    	death.CAUSE_DEATH, 
    	death.COURSE_DATE,
    	to_char(death.COURSE_DATE,'yyyy/MM/dd HH24:mi:ss') courseDateStr,
    	death.CREATE_TIME, 
    	to_char(death.CREATE_TIME,'yyyy/MM/dd HH24:mi:ss') createTimeStr,
    	death.CREATE_DOC, 
    	death.CREATE_NAM,
    	death.UPDATE_TIME, 
    	to_char(death.UPDATE_TIME,'yyyy/MM/dd HH24:mi:ss') updateTimeStr,
    	death.UPDATE_DOC, 
    	death.UPDATE_NAM,
    	death.COME_SITUATION, 
    	death.TREATMENT_PROCESS,
    	(
    		select TREATMENT_PLAN 
    		from HSP_DISEASE_COURSE disease 
    		where death.EMG_SEQ_DR = disease.EMG_SEQ_DC 
    		and disease.COURSE_TYPE = '1'
    	) treatmentPlan
   	from HSP_DEATH_RECORD death
   	where EMG_SEQ_DR =#{hspDeathRecordCustom.emgSeqDr}
  </select>
  
</mapper>