<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspDiseaseCourseCustomMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.dto.HspDiseaseCourseCustom" >
    <id column="DISEASE_COURSE_SEQ" property="diseaseCourseSeq" jdbcType="VARCHAR" />
    <result column="EMG_SEQ_DC" property="emgSeqDc" jdbcType="VARCHAR" />
    <result column="COURSE_DATE" property="courseDate" jdbcType="VARCHAR" />
    <result column="DISEASE_POINT" property="diseasePoint" jdbcType="VARCHAR" />
    <result column="TREATMENT_PLAN" property="treatmentPlan" jdbcType="VARCHAR" />
    <result column="REPORTING_TIME" property="reportingTime" jdbcType="VARCHAR" />
    <result column="TREATMENT_MEASURES" property="treatmentMeasures" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DOC" property="createDoc" jdbcType="VARCHAR" />
    <result column="UPDATE_DOC" property="updateDoc" jdbcType="VARCHAR" />
    <result column="COURSE_TYPE" property="courseType" jdbcType="VARCHAR" />
    <result column="CREATE_NAM" jdbcType="VARCHAR" property="createNam" />
    <result column="UPDATE_NAM" jdbcType="VARCHAR" property="updateNam" />
    <result column="CST_NAM" property="cstNam" jdbcType="VARCHAR" />
    <result column="CST_SEX_COD" property="cstSexCod" jdbcType="VARCHAR" />
    <result column="CST_AGE" property="cstAge" jdbcType="VARCHAR" />
    <result column="EMG_BED" property="emgBed" jdbcType="VARCHAR" />
    <result column="OBSERVATION_CODE" property="observationCode" jdbcType="VARCHAR" />
    <result column="createDocName" property="createDocName" jdbcType="VARCHAR" />
    <result column="updateDocName" property="updateDocName" jdbcType="VARCHAR" />
    <result column="RECORD" property="record" jdbcType="CLOB" />
    <result column="CRITICAL_SIGNIFICANCE" property="criticalSignificance" jdbcType="CLOB" />
    <result column="courseDateStr" property="courseDateStr" jdbcType="VARCHAR" />
    <result column="comparatorVal" property="comparatorVal" jdbcType="TIMESTAMP" />
    <result column="JBZD_DES" property="jbzdDes" jdbcType="VARCHAR" />
    <result column="RYZD_XY" property="ryzdXy" jdbcType="VARCHAR" />
    <result column="ISPRINT" property="isprint" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="query_disease_where">
		<if test="hspDiseaseCourseCustom != null">
			<if test="hspDiseaseCourseCustom.diseaseCourseSeq !=null and hspDiseaseCourseCustom.diseaseCourseSeq !=''">
				and disease.DISEASE_COURSE_SEQ = #{hspDiseaseCourseCustom.diseaseCourseSeq}
			</if>
			<if test="hspDiseaseCourseCustom.courseType !=null and hspDiseaseCourseCustom.courseType !=''">
				and disease.COURSE_TYPE = #{hspDiseaseCourseCustom.courseType}
			</if>
		</if>
	</sql>
  
  <select id="findHspDiseaseCourse" parameterType="activetech.zyyhospital.pojo.dto.HspDiseaseCourseQueryDto"
  	resultMap="BaseResultMap">
  	select 
	  disease.DISEASE_COURSE_SEQ,
	  disease.EMG_SEQ_DC,
	  disease.COURSE_DATE,
	  to_char(disease.COURSE_DATE,'yyyy/MM/dd HH24:mi:ss') courseDateStr,
	  disease.DISEASE_POINT,
	  disease.TREATMENT_PLAN,
	  disease.RECORD,
	  disease.REPORTING_TIME,
	  disease.CRITICAL_SIGNIFICANCE,
	  disease.TREATMENT_MEASURES,
	  disease.CREATE_DATE,
	  disease.UPDATE_DATE,
	  disease.CREATE_DOC,
	  disease.CREATE_NAM,
	  disease.UPDATE_DOC,
	  disease.UPDATE_NAM,
	  disease.COURSE_TYPE,
	  disease.isprint,
	  emg.CST_NAM,
	  emg.CST_SEX_COD,
	  emg.CST_AGE,
	  emg.EMG_BED,
	  emg.OBSERVATION_CODE
	from HSP_DISEASE_COURSE disease,hsp_emg_inf emg
	where disease.EMG_SEQ_DC = emg.emg_seq(+)
	and emg.emg_seq = #{hspDiseaseCourseCustom.emgSeqDc}
	<include refid="query_disease_where" />
  </select>
  
  <select id="findHspDiseaseCourseList" parameterType="activetech.zyyhospital.pojo.dto.HspDiseaseCourseQueryDto"
  	resultMap="BaseResultMap">
  	<!-- 分页头 -->
	<include refid="activetech.base.CommonSql.page_start" />
  	select 
	  disease.DISEASE_COURSE_SEQ,
	  disease.EMG_SEQ_DC,
	  disease.COURSE_DATE,
	  nvl(to_char(disease.COURSE_DATE,'yyyyMMddHH24miss'),0) comparatorVal,
	  to_char(disease.COURSE_DATE,'yyyy/MM/dd HH24:mi:ss') courseDateStr,
	  disease.DISEASE_POINT,
	  disease.TREATMENT_PLAN,
	  disease.RECORD,
	  disease.REPORTING_TIME,
	  disease.CRITICAL_SIGNIFICANCE,
	  disease.TREATMENT_MEASURES,
	  disease.CREATE_DOC,
	  disease.CREATE_NAM,
	  disease.UPDATE_DOC,
	  disease.COURSE_TYPE,
	  disease.isprint,
	  emg.OBSERVATION_CODE,
	  emg.RYZD_XY,
	  emg.JBZD_DES
	from HSP_DISEASE_COURSE disease,hsp_emg_inf emg
	where disease.EMG_SEQ_DC = emg.emg_seq(+)
	and emg.emg_seq = #{hspDiseaseCourseCustom.emgSeqDc}
	<include refid="query_disease_where" />
	order by COURSE_DATE
	<include refid="activetech.base.CommonSql.page_end" />
  </select>
  
  <select id="findHspDiseaseCourseTotal" parameterType="activetech.zyyhospital.pojo.dto.HspDiseaseCourseQueryDto"
  	resultType="int">
	  	select 
		  count(DISEASE_COURSE_SEQ)
		from HSP_DISEASE_COURSE disease,hsp_emg_inf emg
		where disease.EMG_SEQ_DC = emg.emg_seq(+)
		and emg.emg_seq = #{hspDiseaseCourseCustom.emgSeqDc}
		<include refid="query_disease_where" />
	</select>
	
	<select id="findHspDiseaseCourseListNotEquals" parameterType="activetech.zyyhospital.pojo.dto.HspDiseaseCourseQueryDto"
  	resultMap="BaseResultMap">
  	select 
	  disease.DISEASE_COURSE_SEQ,
	  disease.EMG_SEQ_DC,
	  disease.COURSE_DATE,
	  nvl(to_char(disease.COURSE_DATE,'yyyyMMddHH24miss'),0) comparatorVal,
	  to_char(disease.COURSE_DATE,'yyyy/MM/dd HH24:mi:ss') courseDateStr,
	  disease.DISEASE_POINT,
	  disease.TREATMENT_PLAN,
	  disease.RECORD,
	  disease.REPORTING_TIME,
	  disease.CRITICAL_SIGNIFICANCE,
	  disease.TREATMENT_MEASURES,
	  disease.CREATE_DOC,
	  disease.CREATE_NAM,
	  disease.UPDATE_DOC,
	  disease.COURSE_TYPE,
	  disease.isprint,
	  emg.OBSERVATION_CODE,
	  emg.RYZD_XY,
	  emg.JBZD_DES
	from HSP_DISEASE_COURSE disease,hsp_emg_inf emg
	where disease.EMG_SEQ_DC = emg.emg_seq(+)
	and emg.emg_seq = #{hspDiseaseCourseCustom.emgSeqDc}
	and disease.COURSE_TYPE != #{hspDiseaseCourseCustom.courseType}
	and disease.COURSE_TYPE != '1'
	order by COURSE_DATE
  </select>
	
	<select id="findTreatmentPlanByEmgSeqDc" parameterType="java.lang.String" resultType="java.lang.String">
  		select
  			TREATMENT_PLAN
  		from HSP_DISEASE_COURSE
  		where EMG_SEQ_DC = #{emgSeqDr} and COURSE_TYPE = '1'
  		and COURSE_TYPE = '1'
  	</select>
  	
  	<update id="updDiseaseCourseAfterPrint" parameterType="activetech.zyyhospital.pojo.dto.HspDiseaseCourseQueryDto">
  		  update HSP_DISEASE_COURSE
		   set isprint = '1'
		 where DISEASE_COURSE_SEQ in
		<foreach collection="diseaseCourseSeqList" index="index" item="diseaseCourseSeq" open="(" separator="," close=")">  
           #{diseaseCourseSeq}  
       </foreach>
  	</update>
    
</mapper>