<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activetech.zyyhospital.dao.mapper.HspFavoritesInfCustomMapper">
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.dto.HspFavoritesInfCustom">
    <id column="SEQNO" jdbcType="VARCHAR" property="seqno" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="CRTUSRNO" jdbcType="VARCHAR" property="crtusrno" />
    <result column="CRTDATE" jdbcType="TIMESTAMP" property="crtdate" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="SCTYPE" jdbcType="VARCHAR" property="sctype" />
    <result column="KSDM" jdbcType="VARCHAR" property="ksdm" />
    <result column="SHOWORDER" jdbcType="DECIMAL" property="showorder" />
    <result column="SCTYPENAME" jdbcType="VARCHAR" property="sctypeName" />
    <result column="CRTUSRNAME" jdbcType="VARCHAR" property="crtusrName" />
    <result column="COMCNAME" jdbcType="VARCHAR" property="comcName" />
    <result column="CRTDATESTR" jdbcType="VARCHAR" property="crtDateStr" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQNO, TITLE, CONTENT, CRTUSRNO, CRTDATE, MEMO, SCTYPE, KSDM, SHOWORDER
  </sql>
  
  <sql id="query_favoritesInf_where">
		<if test="hspFavoritesInfCustom!=null">
			<if test="hspFavoritesInfCustom.content!=null and hspFavoritesInfCustom.content!=''">
				and CONTENT like '%'|| #{hspFavoritesInfCustom.content} ||'%'
			</if>
			<if test="hspFavoritesInfCustom.title!=null and hspFavoritesInfCustom.title!=''">
				and TITLE like '%'|| #{hspFavoritesInfCustom.title} ||'%'
			</if>
			<if test="hspFavoritesInfCustom.ksdm!=null and hspFavoritesInfCustom.ksdm!=''">
				and KSDM = #{hspFavoritesInfCustom.ksdm}
			</if>
			<if test="hspFavoritesInfCustom.crtusrno!=null and hspFavoritesInfCustom.crtusrno!=''">
				and CRTUSRNO = #{hspFavoritesInfCustom.crtusrno}
			</if>
			<if test="hspFavoritesInfCustom.sctype!=null and hspFavoritesInfCustom.sctype!=''">
				and SCTYPE = #{hspFavoritesInfCustom.sctype}
			</if>
			<if test="hspFavoritesInfCustom.isTemplateFlag!=null and hspFavoritesInfCustom.isTemplateFlag!=''">
				<if test="hspFavoritesInfCustom.isTemplateFlag==0">
					and KSDM = '*'
				</if>
				<if test="hspFavoritesInfCustom.isTemplateFlag==1">
					and KSDM != '*'
				</if>
			</if>
			<if test="hspFavoritesInfCustom.titleOrContent!=null and hspFavoritesInfCustom.titleOrContent!=''">
				and (TITLE like '%'|| #{hspFavoritesInfCustom.titleOrContent} ||'%' or CONTENT like '%'|| #{hspFavoritesInfCustom.titleOrContent} ||'%')
			</if>
		</if>
	</sql>
	
	<select id="findHspFavoritesInfList" parameterType="activetech.zyyhospital.pojo.dto.HspFavoritesInfCustomDto"
		resultMap="BaseResultMap">
		select 
			<include refid="Base_Column_List" />,
			(select info from dstdictinfo t where TYPECODE = 'SCTYPE' and INFOCODE = SCTYPE) sctypeName,
			(select DICTSORT from dstdictinfo t where TYPECODE = 'SCTYPE' and INFOCODE = SCTYPE) dictSort
			from HSP_FAVORITES_INF
		<where>
			<include refid="query_favoritesInf_where" />
		</where>
		order by dictSort,CRTDATE
	</select>
	
	<select id="findHspFavoritesInfListCount" parameterType="activetech.zyyhospital.pojo.dto.HspFavoritesInfCustomDto"
		resultType="int">
		select count(*) from HSP_FAVORITES_INF
		<where>
			<include refid="query_favoritesInf_where" />
		</where>
	</select>
	
	<select id="findHspFavoritesInfListFy" parameterType="activetech.zyyhospital.pojo.dto.HspFavoritesInfCustomDto"
		resultMap="BaseResultMap">
		<!-- 分页头 -->
		<include refid="activetech.base.CommonSql.page_start" />
			select 
				<include refid="Base_Column_List" />,
				(select info from dstdictinfo t where TYPECODE = 'SCTYPE' and INFOCODE = SCTYPE) sctypeName,
				(case KSDM
		         when '*' then
		          '*'
		         else
		          (select comcname from dstcompctl where comno = KSDM)
		       	end) comcName,
				(select usrname from dstuser where USRNO = CRTUSRNO) crtusrName,
				to_char(CRTDATE,'yyyy/mm/dd HH24:mi:ss') crtDateStr
				from HSP_FAVORITES_INF
			<where>
				<include refid="query_favoritesInf_where" />
			</where>
			order by SHOWORDER,CRTDATE
		<!-- 分页尾 -->
		<include refid="activetech.base.CommonSql.page_end" />
	</select>
</mapper>