<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspGlcsMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspGlcs" >
    <id column="EMG_SEQ" property="emgSeq" jdbcType="VARCHAR" />
    <result column="JCGL" property="jcgl" jdbcType="CHAR" />
    <result column="KQGL" property="kqgl" jdbcType="CHAR" />
    <result column="FMGL" property="fmgl" jdbcType="CHAR" />
    <result column="BHXGL" property="bhxgl" jdbcType="CHAR" />
    <result column="CRTDAT" property="crtdat" jdbcType="TIMESTAMP" />
    <result column="CRTNBR" property="crtnbr" jdbcType="VARCHAR" />
    <result column="UPDDAT" property="upddat" jdbcType="TIMESTAMP" />
    <result column="UPDNBR" property="updnbr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EMG_SEQ, JCGL, KQGL, FMGL, BHXGL, CRTDAT, CRTNBR, UPDDAT, UPDNBR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.domain.HspGlcsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_GLCS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from HSP_GLCS
    where EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HSP_GLCS
    where EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspGlcsExample" >
    delete from HSP_GLCS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspGlcs" >
    insert into HSP_GLCS (EMG_SEQ, JCGL, KQGL, 
      FMGL, BHXGL, CRTDAT, CRTNBR, 
      UPDDAT, UPDNBR)
    values (#{emgSeq,jdbcType=VARCHAR}, #{jcgl,jdbcType=CHAR}, #{kqgl,jdbcType=CHAR}, 
      #{fmgl,jdbcType=CHAR}, #{bhxgl,jdbcType=CHAR}, #{crtdat,jdbcType=TIMESTAMP}, #{crtnbr,jdbcType=VARCHAR}, 
      #{upddat,jdbcType=TIMESTAMP}, #{updnbr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspGlcs" >
    insert into HSP_GLCS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="emgSeq != null" >
        EMG_SEQ,
      </if>
      <if test="jcgl != null" >
        JCGL,
      </if>
      <if test="kqgl != null" >
        KQGL,
      </if>
      <if test="fmgl != null" >
        FMGL,
      </if>
      <if test="bhxgl != null" >
        BHXGL,
      </if>
      <if test="crtdat != null" >
        CRTDAT,
      </if>
      <if test="crtnbr != null" >
        CRTNBR,
      </if>
      <if test="upddat != null" >
        UPDDAT,
      </if>
      <if test="updnbr != null" >
        UPDNBR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="emgSeq != null" >
        #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="jcgl != null" >
        #{jcgl,jdbcType=CHAR},
      </if>
      <if test="kqgl != null" >
        #{kqgl,jdbcType=CHAR},
      </if>
      <if test="fmgl != null" >
        #{fmgl,jdbcType=CHAR},
      </if>
      <if test="bhxgl != null" >
        #{bhxgl,jdbcType=CHAR},
      </if>
      <if test="crtdat != null" >
        #{crtdat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtnbr != null" >
        #{crtnbr,jdbcType=VARCHAR},
      </if>
      <if test="upddat != null" >
        #{upddat,jdbcType=TIMESTAMP},
      </if>
      <if test="updnbr != null" >
        #{updnbr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspGlcsExample" resultType="java.lang.Integer" >
    select count(*) from HSP_GLCS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_GLCS
    <set >
      <if test="record.emgSeq != null" >
        EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.jcgl != null" >
        JCGL = #{record.jcgl,jdbcType=CHAR},
      </if>
      <if test="record.kqgl != null" >
        KQGL = #{record.kqgl,jdbcType=CHAR},
      </if>
      <if test="record.fmgl != null" >
        FMGL = #{record.fmgl,jdbcType=CHAR},
      </if>
      <if test="record.bhxgl != null" >
        BHXGL = #{record.bhxgl,jdbcType=CHAR},
      </if>
      <if test="record.crtdat != null" >
        CRTDAT = #{record.crtdat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtnbr != null" >
        CRTNBR = #{record.crtnbr,jdbcType=VARCHAR},
      </if>
      <if test="record.upddat != null" >
        UPDDAT = #{record.upddat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updnbr != null" >
        UPDNBR = #{record.updnbr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_GLCS
    set EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      JCGL = #{record.jcgl,jdbcType=CHAR},
      KQGL = #{record.kqgl,jdbcType=CHAR},
      FMGL = #{record.fmgl,jdbcType=CHAR},
      BHXGL = #{record.bhxgl,jdbcType=CHAR},
      CRTDAT = #{record.crtdat,jdbcType=TIMESTAMP},
      CRTNBR = #{record.crtnbr,jdbcType=VARCHAR},
      UPDDAT = #{record.upddat,jdbcType=TIMESTAMP},
      UPDNBR = #{record.updnbr,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspGlcs" >
    update HSP_GLCS
    <set >
      <if test="jcgl != null" >
        JCGL = #{jcgl,jdbcType=CHAR},
      </if>
      <if test="kqgl != null" >
        KQGL = #{kqgl,jdbcType=CHAR},
      </if>
      <if test="fmgl != null" >
        FMGL = #{fmgl,jdbcType=CHAR},
      </if>
      <if test="bhxgl != null" >
        BHXGL = #{bhxgl,jdbcType=CHAR},
      </if>
      <if test="crtdat != null" >
        CRTDAT = #{crtdat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtnbr != null" >
        CRTNBR = #{crtnbr,jdbcType=VARCHAR},
      </if>
      <if test="upddat != null" >
        UPDDAT = #{upddat,jdbcType=TIMESTAMP},
      </if>
      <if test="updnbr != null" >
        UPDNBR = #{updnbr,jdbcType=VARCHAR},
      </if>
    </set>
    where EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspGlcs" >
    update HSP_GLCS
    set JCGL = #{jcgl,jdbcType=CHAR},
      KQGL = #{kqgl,jdbcType=CHAR},
      FMGL = #{fmgl,jdbcType=CHAR},
      BHXGL = #{bhxgl,jdbcType=CHAR},
      CRTDAT = #{crtdat,jdbcType=TIMESTAMP},
      CRTNBR = #{crtnbr,jdbcType=VARCHAR},
      UPDDAT = #{upddat,jdbcType=TIMESTAMP},
      UPDNBR = #{updnbr,jdbcType=VARCHAR}
    where EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
  </update>
</mapper>