<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspHeartRecordMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspHeartRecord" >
    <id column="HEART_SEQ" property="heartSeq" jdbcType="VARCHAR" />
    <result column="EMG_SEQ" property="emgSeq" jdbcType="VARCHAR" />
    <result column="RESCUE_TIME" property="rescueTime" jdbcType="TIMESTAMP" />
    <result column="SEN_STU_COD" property="senStuCod" jdbcType="VARCHAR" />
    <result column="PUPIL_LEFT" property="pupilLeft" jdbcType="VARCHAR" />
    <result column="PUPIL_RIGHT" property="pupilRight" jdbcType="VARCHAR" />
    <result column="PUPIL_SIZE_LEFT" property="pupilSizeLeft" jdbcType="VARCHAR" />
    <result column="PUPIL_SIZE_RIGHT" property="pupilSizeRight" jdbcType="VARCHAR" />
    <result column="HRT_RTE" property="hrtRte" jdbcType="VARCHAR" />
    <result column="HRT_RHYTHM" property="hrtRhythm" jdbcType="VARCHAR" />
    <result column="SBP_NBR_FLG" property="sbpNbrFlg" jdbcType="VARCHAR" />
    <result column="SBP_UP_NBR" property="sbpUpNbr" jdbcType="VARCHAR" />
    <result column="SBP_DOWN_NBR" property="sbpDownNbr" jdbcType="VARCHAR" />
    <result column="BRE_NBR_FLG" property="breNbrFlg" jdbcType="VARCHAR" />
    <result column="BRE_NBR" property="breNbr" jdbcType="VARCHAR" />
    <result column="XY_FLG" property="xyFlg" jdbcType="VARCHAR" />
    <result column="XY" property="xy" jdbcType="VARCHAR" />
    <result column="VENTILATION" property="ventilation" jdbcType="VARCHAR" />
    <result column="ITCHY_FLOW" property="itchyFlow" jdbcType="VARCHAR" />
    <result column="INTRAVENOUS_BOLUS_NAM" property="intravenousBolusNam" jdbcType="VARCHAR" />
    <result column="INTRAVENOUS_BOLUS_DOSE" property="intravenousBolusDose" jdbcType="VARCHAR" />
    <result column="INTRAVENOUS_DRIP_NAME" property="intravenousDripName" jdbcType="VARCHAR" />
    <result column="INTRAVENOUS_DRIP_DOSE" property="intravenousDripDose" jdbcType="VARCHAR" />
    <result column="RESCUE_RECORD" property="rescueRecord" jdbcType="VARCHAR" />
    <result column="RECORD_TIME" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="RECORD_NAM" property="recordNam" jdbcType="VARCHAR" />
    <result column="CRT_DAT" property="crtDat" jdbcType="TIMESTAMP" />
    <result column="CRT_USR" property="crtUsr" jdbcType="VARCHAR" />
    <result column="CRT_USR_NAM" property="crtUsrNam" jdbcType="VARCHAR" />
    <result column="MOD_DAT" property="modDat" jdbcType="TIMESTAMP" />
    <result column="MOD_USR" property="modUsr" jdbcType="VARCHAR" />
    <result column="MOD_USR_NAM" property="modUsrNam" jdbcType="VARCHAR" />
    <result column="INTRAVENOUS_BOLUS_OTHER" property="intravenousBolusOther" jdbcType="VARCHAR" />
    <result column="INTRAVENOUS_DRIP_OTHER" property="intravenousDripOther" jdbcType="VARCHAR" />
    <result column="SEN_STU_OTHER" property="senStuOther" jdbcType="VARCHAR" />
    <result column="OXYGEN_TYPE" property="oxygenType" jdbcType="VARCHAR" />
    <result column="PUPIL_LEFT_OTHER" property="pupilLeftOther" jdbcType="VARCHAR" />
    <result column="PUPIL_RIGHT_OTHER" property="pupilRightOther" jdbcType="VARCHAR" />
    <result column="HRT_RHYTHM_OTHER" property="hrtRhythmOther" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    HEART_SEQ, EMG_SEQ, RESCUE_TIME, SEN_STU_COD, PUPIL_LEFT, PUPIL_RIGHT, PUPIL_SIZE_LEFT, 
    PUPIL_SIZE_RIGHT, HRT_RTE, HRT_RHYTHM, SBP_NBR_FLG, SBP_UP_NBR, SBP_DOWN_NBR, BRE_NBR_FLG, 
    BRE_NBR, XY_FLG, XY, VENTILATION, ITCHY_FLOW, INTRAVENOUS_BOLUS_NAM, INTRAVENOUS_BOLUS_DOSE, 
    INTRAVENOUS_DRIP_NAME, INTRAVENOUS_DRIP_DOSE, RESCUE_RECORD, RECORD_TIME, RECORD_NAM, 
    CRT_DAT, CRT_USR, CRT_USR_NAM, MOD_DAT, MOD_USR, MOD_USR_NAM, INTRAVENOUS_BOLUS_OTHER, 
    INTRAVENOUS_DRIP_OTHER, SEN_STU_OTHER, OXYGEN_TYPE, PUPIL_LEFT_OTHER, PUPIL_RIGHT_OTHER, 
    HRT_RHYTHM_OTHER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.domain.HspHeartRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_HEART_RECORD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from HSP_HEART_RECORD
    where HEART_SEQ = #{heartSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HSP_HEART_RECORD
    where HEART_SEQ = #{heartSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspHeartRecordExample" >
    delete from HSP_HEART_RECORD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspHeartRecord" >
    insert into HSP_HEART_RECORD (HEART_SEQ, EMG_SEQ, RESCUE_TIME, 
      SEN_STU_COD, PUPIL_LEFT, PUPIL_RIGHT, 
      PUPIL_SIZE_LEFT, PUPIL_SIZE_RIGHT, HRT_RTE, 
      HRT_RHYTHM, SBP_NBR_FLG, SBP_UP_NBR, 
      SBP_DOWN_NBR, BRE_NBR_FLG, BRE_NBR, 
      XY_FLG, XY, VENTILATION, 
      ITCHY_FLOW, INTRAVENOUS_BOLUS_NAM, INTRAVENOUS_BOLUS_DOSE, 
      INTRAVENOUS_DRIP_NAME, INTRAVENOUS_DRIP_DOSE, 
      RESCUE_RECORD, RECORD_TIME, RECORD_NAM, 
      CRT_DAT, CRT_USR, CRT_USR_NAM, 
      MOD_DAT, MOD_USR, MOD_USR_NAM, 
      INTRAVENOUS_BOLUS_OTHER, INTRAVENOUS_DRIP_OTHER, 
      SEN_STU_OTHER, OXYGEN_TYPE, PUPIL_LEFT_OTHER, 
      PUPIL_RIGHT_OTHER, HRT_RHYTHM_OTHER)
    values (#{heartSeq,jdbcType=VARCHAR}, #{emgSeq,jdbcType=VARCHAR}, #{rescueTime,jdbcType=TIMESTAMP}, 
      #{senStuCod,jdbcType=VARCHAR}, #{pupilLeft,jdbcType=VARCHAR}, #{pupilRight,jdbcType=VARCHAR}, 
      #{pupilSizeLeft,jdbcType=VARCHAR}, #{pupilSizeRight,jdbcType=VARCHAR}, #{hrtRte,jdbcType=VARCHAR}, 
      #{hrtRhythm,jdbcType=VARCHAR}, #{sbpNbrFlg,jdbcType=VARCHAR}, #{sbpUpNbr,jdbcType=VARCHAR}, 
      #{sbpDownNbr,jdbcType=VARCHAR}, #{breNbrFlg,jdbcType=VARCHAR}, #{breNbr,jdbcType=VARCHAR}, 
      #{xyFlg,jdbcType=VARCHAR}, #{xy,jdbcType=VARCHAR}, #{ventilation,jdbcType=VARCHAR}, 
      #{itchyFlow,jdbcType=VARCHAR}, #{intravenousBolusNam,jdbcType=VARCHAR}, #{intravenousBolusDose,jdbcType=VARCHAR}, 
      #{intravenousDripName,jdbcType=VARCHAR}, #{intravenousDripDose,jdbcType=VARCHAR}, 
      #{rescueRecord,jdbcType=VARCHAR}, #{recordTime,jdbcType=TIMESTAMP}, #{recordNam,jdbcType=VARCHAR}, 
      #{crtDat,jdbcType=TIMESTAMP}, #{crtUsr,jdbcType=VARCHAR}, #{crtUsrNam,jdbcType=VARCHAR}, 
      #{modDat,jdbcType=TIMESTAMP}, #{modUsr,jdbcType=VARCHAR}, #{modUsrNam,jdbcType=VARCHAR}, 
      #{intravenousBolusOther,jdbcType=VARCHAR}, #{intravenousDripOther,jdbcType=VARCHAR}, 
      #{senStuOther,jdbcType=VARCHAR}, #{oxygenType,jdbcType=VARCHAR}, #{pupilLeftOther,jdbcType=VARCHAR}, 
      #{pupilRightOther,jdbcType=VARCHAR}, #{hrtRhythmOther,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspHeartRecord" >
    insert into HSP_HEART_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="heartSeq != null" >
        HEART_SEQ,
      </if>
      <if test="emgSeq != null" >
        EMG_SEQ,
      </if>
      <if test="rescueTime != null" >
        RESCUE_TIME,
      </if>
      <if test="senStuCod != null" >
        SEN_STU_COD,
      </if>
      <if test="pupilLeft != null" >
        PUPIL_LEFT,
      </if>
      <if test="pupilRight != null" >
        PUPIL_RIGHT,
      </if>
      <if test="pupilSizeLeft != null" >
        PUPIL_SIZE_LEFT,
      </if>
      <if test="pupilSizeRight != null" >
        PUPIL_SIZE_RIGHT,
      </if>
      <if test="hrtRte != null" >
        HRT_RTE,
      </if>
      <if test="hrtRhythm != null" >
        HRT_RHYTHM,
      </if>
      <if test="sbpNbrFlg != null" >
        SBP_NBR_FLG,
      </if>
      <if test="sbpUpNbr != null" >
        SBP_UP_NBR,
      </if>
      <if test="sbpDownNbr != null" >
        SBP_DOWN_NBR,
      </if>
      <if test="breNbrFlg != null" >
        BRE_NBR_FLG,
      </if>
      <if test="breNbr != null" >
        BRE_NBR,
      </if>
      <if test="xyFlg != null" >
        XY_FLG,
      </if>
      <if test="xy != null" >
        XY,
      </if>
      <if test="ventilation != null" >
        VENTILATION,
      </if>
      <if test="itchyFlow != null" >
        ITCHY_FLOW,
      </if>
      <if test="intravenousBolusNam != null" >
        INTRAVENOUS_BOLUS_NAM,
      </if>
      <if test="intravenousBolusDose != null" >
        INTRAVENOUS_BOLUS_DOSE,
      </if>
      <if test="intravenousDripName != null" >
        INTRAVENOUS_DRIP_NAME,
      </if>
      <if test="intravenousDripDose != null" >
        INTRAVENOUS_DRIP_DOSE,
      </if>
      <if test="rescueRecord != null" >
        RESCUE_RECORD,
      </if>
      <if test="recordTime != null" >
        RECORD_TIME,
      </if>
      <if test="recordNam != null" >
        RECORD_NAM,
      </if>
      <if test="crtDat != null" >
        CRT_DAT,
      </if>
      <if test="crtUsr != null" >
        CRT_USR,
      </if>
      <if test="crtUsrNam != null" >
        CRT_USR_NAM,
      </if>
      <if test="modDat != null" >
        MOD_DAT,
      </if>
      <if test="modUsr != null" >
        MOD_USR,
      </if>
      <if test="modUsrNam != null" >
        MOD_USR_NAM,
      </if>
      <if test="intravenousBolusOther != null" >
        INTRAVENOUS_BOLUS_OTHER,
      </if>
      <if test="intravenousDripOther != null" >
        INTRAVENOUS_DRIP_OTHER,
      </if>
      <if test="senStuOther != null" >
        SEN_STU_OTHER,
      </if>
      <if test="oxygenType != null" >
        OXYGEN_TYPE,
      </if>
      <if test="pupilLeftOther != null" >
        PUPIL_LEFT_OTHER,
      </if>
      <if test="pupilRightOther != null" >
        PUPIL_RIGHT_OTHER,
      </if>
      <if test="hrtRhythmOther != null" >
        HRT_RHYTHM_OTHER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="heartSeq != null" >
        #{heartSeq,jdbcType=VARCHAR},
      </if>
      <if test="emgSeq != null" >
        #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="rescueTime != null" >
        #{rescueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="senStuCod != null" >
        #{senStuCod,jdbcType=VARCHAR},
      </if>
      <if test="pupilLeft != null" >
        #{pupilLeft,jdbcType=VARCHAR},
      </if>
      <if test="pupilRight != null" >
        #{pupilRight,jdbcType=VARCHAR},
      </if>
      <if test="pupilSizeLeft != null" >
        #{pupilSizeLeft,jdbcType=VARCHAR},
      </if>
      <if test="pupilSizeRight != null" >
        #{pupilSizeRight,jdbcType=VARCHAR},
      </if>
      <if test="hrtRte != null" >
        #{hrtRte,jdbcType=VARCHAR},
      </if>
      <if test="hrtRhythm != null" >
        #{hrtRhythm,jdbcType=VARCHAR},
      </if>
      <if test="sbpNbrFlg != null" >
        #{sbpNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="sbpUpNbr != null" >
        #{sbpUpNbr,jdbcType=VARCHAR},
      </if>
      <if test="sbpDownNbr != null" >
        #{sbpDownNbr,jdbcType=VARCHAR},
      </if>
      <if test="breNbrFlg != null" >
        #{breNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="breNbr != null" >
        #{breNbr,jdbcType=VARCHAR},
      </if>
      <if test="xyFlg != null" >
        #{xyFlg,jdbcType=VARCHAR},
      </if>
      <if test="xy != null" >
        #{xy,jdbcType=VARCHAR},
      </if>
      <if test="ventilation != null" >
        #{ventilation,jdbcType=VARCHAR},
      </if>
      <if test="itchyFlow != null" >
        #{itchyFlow,jdbcType=VARCHAR},
      </if>
      <if test="intravenousBolusNam != null" >
        #{intravenousBolusNam,jdbcType=VARCHAR},
      </if>
      <if test="intravenousBolusDose != null" >
        #{intravenousBolusDose,jdbcType=VARCHAR},
      </if>
      <if test="intravenousDripName != null" >
        #{intravenousDripName,jdbcType=VARCHAR},
      </if>
      <if test="intravenousDripDose != null" >
        #{intravenousDripDose,jdbcType=VARCHAR},
      </if>
      <if test="rescueRecord != null" >
        #{rescueRecord,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordNam != null" >
        #{recordNam,jdbcType=VARCHAR},
      </if>
      <if test="crtDat != null" >
        #{crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUsr != null" >
        #{crtUsr,jdbcType=VARCHAR},
      </if>
      <if test="crtUsrNam != null" >
        #{crtUsrNam,jdbcType=VARCHAR},
      </if>
      <if test="modDat != null" >
        #{modDat,jdbcType=TIMESTAMP},
      </if>
      <if test="modUsr != null" >
        #{modUsr,jdbcType=VARCHAR},
      </if>
      <if test="modUsrNam != null" >
        #{modUsrNam,jdbcType=VARCHAR},
      </if>
      <if test="intravenousBolusOther != null" >
        #{intravenousBolusOther,jdbcType=VARCHAR},
      </if>
      <if test="intravenousDripOther != null" >
        #{intravenousDripOther,jdbcType=VARCHAR},
      </if>
      <if test="senStuOther != null" >
        #{senStuOther,jdbcType=VARCHAR},
      </if>
      <if test="oxygenType != null" >
        #{oxygenType,jdbcType=VARCHAR},
      </if>
      <if test="pupilLeftOther != null" >
        #{pupilLeftOther,jdbcType=VARCHAR},
      </if>
      <if test="pupilRightOther != null" >
        #{pupilRightOther,jdbcType=VARCHAR},
      </if>
      <if test="hrtRhythmOther != null" >
        #{hrtRhythmOther,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspHeartRecordExample" resultType="java.lang.Integer" >
    select count(*) from HSP_HEART_RECORD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_HEART_RECORD
    <set >
      <if test="record.heartSeq != null" >
        HEART_SEQ = #{record.heartSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.emgSeq != null" >
        EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.rescueTime != null" >
        RESCUE_TIME = #{record.rescueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.senStuCod != null" >
        SEN_STU_COD = #{record.senStuCod,jdbcType=VARCHAR},
      </if>
      <if test="record.pupilLeft != null" >
        PUPIL_LEFT = #{record.pupilLeft,jdbcType=VARCHAR},
      </if>
      <if test="record.pupilRight != null" >
        PUPIL_RIGHT = #{record.pupilRight,jdbcType=VARCHAR},
      </if>
      <if test="record.pupilSizeLeft != null" >
        PUPIL_SIZE_LEFT = #{record.pupilSizeLeft,jdbcType=VARCHAR},
      </if>
      <if test="record.pupilSizeRight != null" >
        PUPIL_SIZE_RIGHT = #{record.pupilSizeRight,jdbcType=VARCHAR},
      </if>
      <if test="record.hrtRte != null" >
        HRT_RTE = #{record.hrtRte,jdbcType=VARCHAR},
      </if>
      <if test="record.hrtRhythm != null" >
        HRT_RHYTHM = #{record.hrtRhythm,jdbcType=VARCHAR},
      </if>
      <if test="record.sbpNbrFlg != null" >
        SBP_NBR_FLG = #{record.sbpNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.sbpUpNbr != null" >
        SBP_UP_NBR = #{record.sbpUpNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.sbpDownNbr != null" >
        SBP_DOWN_NBR = #{record.sbpDownNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.breNbrFlg != null" >
        BRE_NBR_FLG = #{record.breNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.breNbr != null" >
        BRE_NBR = #{record.breNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.xyFlg != null" >
        XY_FLG = #{record.xyFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.xy != null" >
        XY = #{record.xy,jdbcType=VARCHAR},
      </if>
      <if test="record.ventilation != null" >
        VENTILATION = #{record.ventilation,jdbcType=VARCHAR},
      </if>
      <if test="record.itchyFlow != null" >
        ITCHY_FLOW = #{record.itchyFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.intravenousBolusNam != null" >
        INTRAVENOUS_BOLUS_NAM = #{record.intravenousBolusNam,jdbcType=VARCHAR},
      </if>
      <if test="record.intravenousBolusDose != null" >
        INTRAVENOUS_BOLUS_DOSE = #{record.intravenousBolusDose,jdbcType=VARCHAR},
      </if>
      <if test="record.intravenousDripName != null" >
        INTRAVENOUS_DRIP_NAME = #{record.intravenousDripName,jdbcType=VARCHAR},
      </if>
      <if test="record.intravenousDripDose != null" >
        INTRAVENOUS_DRIP_DOSE = #{record.intravenousDripDose,jdbcType=VARCHAR},
      </if>
      <if test="record.rescueRecord != null" >
        RESCUE_RECORD = #{record.rescueRecord,jdbcType=VARCHAR},
      </if>
      <if test="record.recordTime != null" >
        RECORD_TIME = #{record.recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordNam != null" >
        RECORD_NAM = #{record.recordNam,jdbcType=VARCHAR},
      </if>
      <if test="record.crtDat != null" >
        CRT_DAT = #{record.crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtUsr != null" >
        CRT_USR = #{record.crtUsr,jdbcType=VARCHAR},
      </if>
      <if test="record.crtUsrNam != null" >
        CRT_USR_NAM = #{record.crtUsrNam,jdbcType=VARCHAR},
      </if>
      <if test="record.modDat != null" >
        MOD_DAT = #{record.modDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modUsr != null" >
        MOD_USR = #{record.modUsr,jdbcType=VARCHAR},
      </if>
      <if test="record.modUsrNam != null" >
        MOD_USR_NAM = #{record.modUsrNam,jdbcType=VARCHAR},
      </if>
      <if test="record.intravenousBolusOther != null" >
        INTRAVENOUS_BOLUS_OTHER = #{record.intravenousBolusOther,jdbcType=VARCHAR},
      </if>
      <if test="record.intravenousDripOther != null" >
        INTRAVENOUS_DRIP_OTHER = #{record.intravenousDripOther,jdbcType=VARCHAR},
      </if>
      <if test="record.senStuOther != null" >
        SEN_STU_OTHER = #{record.senStuOther,jdbcType=VARCHAR},
      </if>
      <if test="record.oxygenType != null" >
        OXYGEN_TYPE = #{record.oxygenType,jdbcType=VARCHAR},
      </if>
      <if test="record.pupilLeftOther != null" >
        PUPIL_LEFT_OTHER = #{record.pupilLeftOther,jdbcType=VARCHAR},
      </if>
      <if test="record.pupilRightOther != null" >
        PUPIL_RIGHT_OTHER = #{record.pupilRightOther,jdbcType=VARCHAR},
      </if>
      <if test="record.hrtRhythmOther != null" >
        HRT_RHYTHM_OTHER = #{record.hrtRhythmOther,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_HEART_RECORD
    set HEART_SEQ = #{record.heartSeq,jdbcType=VARCHAR},
      EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      RESCUE_TIME = #{record.rescueTime,jdbcType=TIMESTAMP},
      SEN_STU_COD = #{record.senStuCod,jdbcType=VARCHAR},
      PUPIL_LEFT = #{record.pupilLeft,jdbcType=VARCHAR},
      PUPIL_RIGHT = #{record.pupilRight,jdbcType=VARCHAR},
      PUPIL_SIZE_LEFT = #{record.pupilSizeLeft,jdbcType=VARCHAR},
      PUPIL_SIZE_RIGHT = #{record.pupilSizeRight,jdbcType=VARCHAR},
      HRT_RTE = #{record.hrtRte,jdbcType=VARCHAR},
      HRT_RHYTHM = #{record.hrtRhythm,jdbcType=VARCHAR},
      SBP_NBR_FLG = #{record.sbpNbrFlg,jdbcType=VARCHAR},
      SBP_UP_NBR = #{record.sbpUpNbr,jdbcType=VARCHAR},
      SBP_DOWN_NBR = #{record.sbpDownNbr,jdbcType=VARCHAR},
      BRE_NBR_FLG = #{record.breNbrFlg,jdbcType=VARCHAR},
      BRE_NBR = #{record.breNbr,jdbcType=VARCHAR},
      XY_FLG = #{record.xyFlg,jdbcType=VARCHAR},
      XY = #{record.xy,jdbcType=VARCHAR},
      VENTILATION = #{record.ventilation,jdbcType=VARCHAR},
      ITCHY_FLOW = #{record.itchyFlow,jdbcType=VARCHAR},
      INTRAVENOUS_BOLUS_NAM = #{record.intravenousBolusNam,jdbcType=VARCHAR},
      INTRAVENOUS_BOLUS_DOSE = #{record.intravenousBolusDose,jdbcType=VARCHAR},
      INTRAVENOUS_DRIP_NAME = #{record.intravenousDripName,jdbcType=VARCHAR},
      INTRAVENOUS_DRIP_DOSE = #{record.intravenousDripDose,jdbcType=VARCHAR},
      RESCUE_RECORD = #{record.rescueRecord,jdbcType=VARCHAR},
      RECORD_TIME = #{record.recordTime,jdbcType=TIMESTAMP},
      RECORD_NAM = #{record.recordNam,jdbcType=VARCHAR},
      CRT_DAT = #{record.crtDat,jdbcType=TIMESTAMP},
      CRT_USR = #{record.crtUsr,jdbcType=VARCHAR},
      CRT_USR_NAM = #{record.crtUsrNam,jdbcType=VARCHAR},
      MOD_DAT = #{record.modDat,jdbcType=TIMESTAMP},
      MOD_USR = #{record.modUsr,jdbcType=VARCHAR},
      MOD_USR_NAM = #{record.modUsrNam,jdbcType=VARCHAR},
      INTRAVENOUS_BOLUS_OTHER = #{record.intravenousBolusOther,jdbcType=VARCHAR},
      INTRAVENOUS_DRIP_OTHER = #{record.intravenousDripOther,jdbcType=VARCHAR},
      SEN_STU_OTHER = #{record.senStuOther,jdbcType=VARCHAR},
      OXYGEN_TYPE = #{record.oxygenType,jdbcType=VARCHAR},
      PUPIL_LEFT_OTHER = #{record.pupilLeftOther,jdbcType=VARCHAR},
      PUPIL_RIGHT_OTHER = #{record.pupilRightOther,jdbcType=VARCHAR},
      HRT_RHYTHM_OTHER = #{record.hrtRhythmOther,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspHeartRecord" >
    update HSP_HEART_RECORD
    <set >
      <if test="emgSeq != null" >
        EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="rescueTime != null" >
        RESCUE_TIME = #{rescueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="senStuCod != null" >
        SEN_STU_COD = #{senStuCod,jdbcType=VARCHAR},
      </if>
      <if test="pupilLeft != null" >
        PUPIL_LEFT = #{pupilLeft,jdbcType=VARCHAR},
      </if>
      <if test="pupilRight != null" >
        PUPIL_RIGHT = #{pupilRight,jdbcType=VARCHAR},
      </if>
      <if test="pupilSizeLeft != null" >
        PUPIL_SIZE_LEFT = #{pupilSizeLeft,jdbcType=VARCHAR},
      </if>
      <if test="pupilSizeRight != null" >
        PUPIL_SIZE_RIGHT = #{pupilSizeRight,jdbcType=VARCHAR},
      </if>
      <if test="hrtRte != null" >
        HRT_RTE = #{hrtRte,jdbcType=VARCHAR},
      </if>
      <if test="hrtRhythm != null" >
        HRT_RHYTHM = #{hrtRhythm,jdbcType=VARCHAR},
      </if>
      <if test="sbpNbrFlg != null" >
        SBP_NBR_FLG = #{sbpNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="sbpUpNbr != null" >
        SBP_UP_NBR = #{sbpUpNbr,jdbcType=VARCHAR},
      </if>
      <if test="sbpDownNbr != null" >
        SBP_DOWN_NBR = #{sbpDownNbr,jdbcType=VARCHAR},
      </if>
      <if test="breNbrFlg != null" >
        BRE_NBR_FLG = #{breNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="breNbr != null" >
        BRE_NBR = #{breNbr,jdbcType=VARCHAR},
      </if>
      <if test="xyFlg != null" >
        XY_FLG = #{xyFlg,jdbcType=VARCHAR},
      </if>
      <if test="xy != null" >
        XY = #{xy,jdbcType=VARCHAR},
      </if>
      <if test="ventilation != null" >
        VENTILATION = #{ventilation,jdbcType=VARCHAR},
      </if>
      <if test="itchyFlow != null" >
        ITCHY_FLOW = #{itchyFlow,jdbcType=VARCHAR},
      </if>
      <if test="intravenousBolusNam != null" >
        INTRAVENOUS_BOLUS_NAM = #{intravenousBolusNam,jdbcType=VARCHAR},
      </if>
      <if test="intravenousBolusDose != null" >
        INTRAVENOUS_BOLUS_DOSE = #{intravenousBolusDose,jdbcType=VARCHAR},
      </if>
      <if test="intravenousDripName != null" >
        INTRAVENOUS_DRIP_NAME = #{intravenousDripName,jdbcType=VARCHAR},
      </if>
      <if test="intravenousDripDose != null" >
        INTRAVENOUS_DRIP_DOSE = #{intravenousDripDose,jdbcType=VARCHAR},
      </if>
      <if test="rescueRecord != null" >
        RESCUE_RECORD = #{rescueRecord,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        RECORD_TIME = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordNam != null" >
        RECORD_NAM = #{recordNam,jdbcType=VARCHAR},
      </if>
      <if test="crtDat != null" >
        CRT_DAT = #{crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUsr != null" >
        CRT_USR = #{crtUsr,jdbcType=VARCHAR},
      </if>
      <if test="crtUsrNam != null" >
        CRT_USR_NAM = #{crtUsrNam,jdbcType=VARCHAR},
      </if>
      <if test="modDat != null" >
        MOD_DAT = #{modDat,jdbcType=TIMESTAMP},
      </if>
      <if test="modUsr != null" >
        MOD_USR = #{modUsr,jdbcType=VARCHAR},
      </if>
      <if test="modUsrNam != null" >
        MOD_USR_NAM = #{modUsrNam,jdbcType=VARCHAR},
      </if>
      <if test="intravenousBolusOther != null" >
        INTRAVENOUS_BOLUS_OTHER = #{intravenousBolusOther,jdbcType=VARCHAR},
      </if>
      <if test="intravenousDripOther != null" >
        INTRAVENOUS_DRIP_OTHER = #{intravenousDripOther,jdbcType=VARCHAR},
      </if>
      <if test="senStuOther != null" >
        SEN_STU_OTHER = #{senStuOther,jdbcType=VARCHAR},
      </if>
      <if test="oxygenType != null" >
        OXYGEN_TYPE = #{oxygenType,jdbcType=VARCHAR},
      </if>
      <if test="pupilLeftOther != null" >
        PUPIL_LEFT_OTHER = #{pupilLeftOther,jdbcType=VARCHAR},
      </if>
      <if test="pupilRightOther != null" >
        PUPIL_RIGHT_OTHER = #{pupilRightOther,jdbcType=VARCHAR},
      </if>
      <if test="hrtRhythmOther != null" >
        HRT_RHYTHM_OTHER = #{hrtRhythmOther,jdbcType=VARCHAR},
      </if>
    </set>
    where HEART_SEQ = #{heartSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspHeartRecord" >
    update HSP_HEART_RECORD
    set EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      RESCUE_TIME = #{rescueTime,jdbcType=TIMESTAMP},
      SEN_STU_COD = #{senStuCod,jdbcType=VARCHAR},
      PUPIL_LEFT = #{pupilLeft,jdbcType=VARCHAR},
      PUPIL_RIGHT = #{pupilRight,jdbcType=VARCHAR},
      PUPIL_SIZE_LEFT = #{pupilSizeLeft,jdbcType=VARCHAR},
      PUPIL_SIZE_RIGHT = #{pupilSizeRight,jdbcType=VARCHAR},
      HRT_RTE = #{hrtRte,jdbcType=VARCHAR},
      HRT_RHYTHM = #{hrtRhythm,jdbcType=VARCHAR},
      SBP_NBR_FLG = #{sbpNbrFlg,jdbcType=VARCHAR},
      SBP_UP_NBR = #{sbpUpNbr,jdbcType=VARCHAR},
      SBP_DOWN_NBR = #{sbpDownNbr,jdbcType=VARCHAR},
      BRE_NBR_FLG = #{breNbrFlg,jdbcType=VARCHAR},
      BRE_NBR = #{breNbr,jdbcType=VARCHAR},
      XY_FLG = #{xyFlg,jdbcType=VARCHAR},
      XY = #{xy,jdbcType=VARCHAR},
      VENTILATION = #{ventilation,jdbcType=VARCHAR},
      ITCHY_FLOW = #{itchyFlow,jdbcType=VARCHAR},
      INTRAVENOUS_BOLUS_NAM = #{intravenousBolusNam,jdbcType=VARCHAR},
      INTRAVENOUS_BOLUS_DOSE = #{intravenousBolusDose,jdbcType=VARCHAR},
      INTRAVENOUS_DRIP_NAME = #{intravenousDripName,jdbcType=VARCHAR},
      INTRAVENOUS_DRIP_DOSE = #{intravenousDripDose,jdbcType=VARCHAR},
      RESCUE_RECORD = #{rescueRecord,jdbcType=VARCHAR},
      RECORD_TIME = #{recordTime,jdbcType=TIMESTAMP},
      RECORD_NAM = #{recordNam,jdbcType=VARCHAR},
      CRT_DAT = #{crtDat,jdbcType=TIMESTAMP},
      CRT_USR = #{crtUsr,jdbcType=VARCHAR},
      CRT_USR_NAM = #{crtUsrNam,jdbcType=VARCHAR},
      MOD_DAT = #{modDat,jdbcType=TIMESTAMP},
      MOD_USR = #{modUsr,jdbcType=VARCHAR},
      MOD_USR_NAM = #{modUsrNam,jdbcType=VARCHAR},
      INTRAVENOUS_BOLUS_OTHER = #{intravenousBolusOther,jdbcType=VARCHAR},
      INTRAVENOUS_DRIP_OTHER = #{intravenousDripOther,jdbcType=VARCHAR},
      SEN_STU_OTHER = #{senStuOther,jdbcType=VARCHAR},
      OXYGEN_TYPE = #{oxygenType,jdbcType=VARCHAR},
      PUPIL_LEFT_OTHER = #{pupilLeftOther,jdbcType=VARCHAR},
      PUPIL_RIGHT_OTHER = #{pupilRightOther,jdbcType=VARCHAR},
      HRT_RHYTHM_OTHER = #{hrtRhythmOther,jdbcType=VARCHAR}
    where HEART_SEQ = #{heartSeq,jdbcType=VARCHAR}
  </update>
</mapper>