<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspJjbglInfCustomMapper">
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.dto.HspJjbglInfCustom">
    <id column="JJBGL_SEQ" property="jjbglSeq" jdbcType="VARCHAR" />
    <result column="JJBTYPE" property="jjbtype" jdbcType="VARCHAR" />
    <result column="JIAO_DAT" property="jiaoDat" jdbcType="TIMESTAMP" />
    <result column="JIAO_USRNO" property="jiaoUsrno" jdbcType="VARCHAR" />
    <result column="JIAO_USRNAM" property="jiaoUsrnam" jdbcType="VARCHAR" />
    <result column="PTHZS" property="pthzs" jdbcType="VARCHAR" />
    <result column="WZHZS" property="wzhzs" jdbcType="VARCHAR" />
    <result column="ZDJB_USRNO" property="zdjbUsrno" jdbcType="VARCHAR" />
    <result column="ZDJB_USRNAM" property="zdjbUsrnam" jdbcType="VARCHAR" />
    <result column="JIE_DAT" property="jieDat" jdbcType="TIMESTAMP" />
    <result column="JIE_USRNO" property="jieUsrno" jdbcType="VARCHAR" />
    <result column="JIE_USRNAM" property="jieUsrnam" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="JIAO_BC" property="jiaoBc" jdbcType="VARCHAR" />
    </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="activetech.zyyhospital.pojo.domain.HspJjbglInfWithBLOBs" extends="BaseResultMap" >
    <result column="JIAO_PTCONTENT" property="jiaoPtcontent" jdbcType="CLOB" />
    <result column="JIAO_WZCONTENT" property="jiaoWzcontent" jdbcType="CLOB" />
    <result column="JIE_CONTENT" property="jieContent" jdbcType="CLOB" />
  </resultMap>
  
  <sql id="Query_HspjjbglInf_where">
		<if test="startdate!=null and startdate!=''">
			and to_char(JIAO_DAT,'YYYY/MM/DD') <![CDATA[>=]]> to_char(#{startdate},'YYYY/MM/DD')
		</if>
		<if test="enddate!=null and enddate!=''">
			and to_char(JIAO_DAT,'YYYY/MM/DD') <![CDATA[<=]]> to_char(#{enddate},'YYYY/MM/DD')
		</if>
		<if test="jiaoBc!=null and jiaoBc!=''">
			and JIAO_BC = #{jiaoBc}
		</if>
		<if test="hspJjbglInfCustom!=null">
			<if test="hspJjbglInfCustom.jjbglSeq!=null and hspJjbglInfCustom.jjbglSeq!=''">
				and JJBGL_SEQ = #{hspJjbglInfCustom.jjbglSeq}
			</if>
			<if test="hspJjbglInfCustom.jjbtype!=null and hspJjbglInfCustom.jjbtype!=''">
				and JJBTYPE = #{hspJjbglInfCustom.jjbtype}
			</if>
		</if>
	</sql>
	
  	<select id="findHspJjbglInfCount" parameterType="activetech.zyyhospital.pojo.dto.HspJjbglInfQueryDto" resultType="int">
		select count(1) from hsp_jjbgl_inf 
		<where>
			<include refid="Query_HspjjbglInf_where" />
		</where>
	</select>
	
	<select id="findHspJjbglInfList" parameterType="activetech.zyyhospital.pojo.dto.HspJjbglInfQueryDto"
		resultMap="BaseResultMap">
		<!-- 分页头 -->
		<include refid="activetech.base.CommonSql.page_start" />
		select jjbgl_seq      jjbglSeq,
       jjbtype,
       jiao_dat       jiaoDat,
       jiao_usrno     jiaoUsrno,
       jiao_usrnam    jiaoUsrnam,
       pthzs,
       wzhzs,
       to_char(JIAO_PTCONTENT) jiaoPtcontent,
       to_char(JIAO_WZCONTENT) jiaoWzcontent,
       zdjb_usrno     zdjbUsrno,
       zdjb_usrnam    zdjbUsrnam,
       jie_dat        jieDat,
       jie_usrno      jieUsrno,
       jie_usrnam     jieUsrnam,
       to_char(JIE_CONTENT)    jieContent,
       memo,
       jiao_bc jiaoBc
  		from hsp_jjbgl_inf
		<where>
			<include refid="Query_HspjjbglInf_where" />
		</where>
		order by jiao_dat desc
		<!-- 分页尾部 -->
		<include refid="activetech.base.CommonSql.page_end" />
	</select>
	
	
	<!-- 交接班患者明细查询 -->
  	<!-- 列表数据 -->
  	<select id="findHspJjbhzmxList" parameterType="activetech.hospital.pojo.dto.HspemginfCustom" resultType="activetech.hospital.pojo.dto.HspemginfCustom">
  		<!-- 分页头 -->
  		<include refid="activetech.base.CommonSql.page_start" />
  		select
		  	a.emg_seq emgSeq,
            emg_type emgType,
            emg_dat emgDat,
            a.sym_sit_des symSitDes,
            a.cst_age cstAge,
            (select info from dstdictinfo q where q.typecode='CST_AGE_COD' and q.infocode=a.CST_AGE_COD) as  cstAgeCod,
            vst_cad vstCad,
            cst_nam cstNam,
            (select info from dstdictinfo q where q.typecode='CST_SEX_COD' and q.infocode=a.cst_sex_cod) as  cstSexCod,
            pre_dgn_cod preDgnCod,
            (select info from dstdictinfo q where q.typecode='MOD_LVL_COD' and q.infocode=a.emg_dep_cod) as  emgDepCod,
            (select info from dstdictinfo q where q.typecode='CST_DSP_COD' and q.infocode=a.CST_DSP_COD) as cstDspCod,
            (select COMCNAME from dstcompctl q where  q.COMNO=a.emg_fk_cod) as  emgFkCod, 
            jbzd_des jbzdDes,
            (select info from dstdictinfo q where q.typecode='ARV_CHL_COD' and q.infocode=a.arv_chl_cod) as  arvChlCod,
            (select info from dstdictinfo q where q.typecode='ISORNOT' and q.infocode=a.grn_chl) as  grnChl,
            getQjsBed(a.emg_seq,'6') emgBed,
            a.FIRSTSQLSEQ firstsqlseq,
            c.SQL_STA_COD  as cstDspCodNew,
            (select comcname from dstcompctl q where  q.comno= c.sql_dep_cod ) as cstDepCodNew,
            (select info from dstdictinfo q where q.typecode='CST_DSP_COD' and q.infocode= c.SQL_STA_COD) as cstDspCodNameNew,
            to_char(c.sql_dat,'yyyy/mm/dd hh24:mi')  as sqlDat,
            c.SQL_SEQ sqlSeq,
            c.sql_des as sqlDes,
            (select bed_num d from HSP_BED_INF d where d.emg_seq = a.emg_seq) bedNum,
            (select count(1) from hsp_jjbhzmx a where a.emg_type = 'P' and a.jjbgl_seq = #{hspemginfCustom.jjbglSeq}) as pthzs, 
            (select count(1) from hsp_jjbhzmx a where a.emg_type = 'W' and a.jjbgl_seq = #{hspemginfCustom.jjbglSeq}) as wzhzs
       		from hsp_emg_inf a,hsp_Jjbhzmx b,hsp_sql_inf c
		    <where>
		      a.emg_seq = b.emg_seq
		      and b.jjbgl_seq = #{hspemginfCustom.jjbglSeq}
		      and c.sql_seq = a.sql_seq
		      <if test="startdate!=null and startdate!=''">
				and to_char(EMG_DAT,'YYYY/MM/DD') <![CDATA[>=]]> to_char(#{startdate},'YYYY/MM/DD')
			  </if>
			  <if test="enddate!=null and enddate!=''">
				and to_char(EMG_DAT,'YYYY/MM/DD') <![CDATA[<=]]> to_char(#{enddate},'YYYY/MM/DD')
			  </if>
		    </where>
		    order by instr('W,P', b.emg_type),
  			 a.emg_dat desc
  		<!-- 分页尾部 -->
		<include refid="activetech.base.CommonSql.page_end" />   
 	 </select>
  
	  <!-- 交接班患者明细总记录数 -->
  	<select id="findHspJjbhzmxCount" parameterType="activetech.zyyhospital.pojo.dto.HspJjbhzmxCustom"
		resultType="int">
		select count(1) 
			from hsp_emg_inf a,hsp_Jjbhzmx b,hsp_sql_inf c
		    <where>
		      a.emg_seq = b.emg_seq
		      and b.jjbgl_seq = #{hspJjbhzmxCustom.jjbglSeq}
		      and c.sql_seq = a.sql_seq
		</where>
	</select>
	
	
	<select id="findbchzhzList" resultType="activetech.zyyhospital.pojo.dto.HspBchzhzReportCustom" parameterType="activetech.zyyhospital.pojo.dto.HspJjbglInfQueryDto">
	<![CDATA[
		select jbcst.JIAO_BC jiaobc,
		       jbcs,
		       nvl(pthzzrcs, 0) + nvl(wzhzzrcs, 0) jbzrcs,
		       pthzzrcs,
		       wzhzzrcs,
		       xrqcount,
		       cgcount,
		       cgzycount,
		       cgswcount,
		       cgzdlycount,
		       cghjcount,
		       zyuancount
		  from (select JIAO_BC, count(1) jbcs
		          from hsp_jjbgl_inf
		         where jjbtype = #{hspJjbglInfCustom.jjbtype}
		           and trunc(JIAO_DAT) = trunc(#{startdate})
		         group by JIAO_BC
		        
		        ) jbcst,
		       
		       (select *
		          from (select JIAO_BC, emg_type, count(1) hzzrcs
		                  from hsp_jjbgl_inf, hsp_jjbhzmx
		                 where jjbtype = #{hspJjbglInfCustom.jjbtype}
		                   and trunc(jiao_dat) =
		                       trunc(#{startdate})
		                   and hsp_jjbgl_inf.jjbgl_seq = hsp_jjbhzmx.jjbgl_seq
		                   
		                 group by jiao_bc, emg_type)
		        
		        pivot(SUM(hzzrcs)
		           for emg_type in('P' pthzzrcs, 'W' wzhzzrcs))) hzzrcst,
		       
		       (select *
		          from (select count(emg_seq) counts, JIAO_BC, sql_sta_cod
		                  from (select hsp_sql_inf.emg_seq,
		                               sql_sta_cod,
		                               case
		                                 when to_char(sql_dat, 'hh24') >= 8 and
		                                      to_char(sql_dat, 'hh24') < 17 then
		                                  'RB'
		                                 when to_char(sql_dat, 'hh24') >= 1 and
		                                      to_char(sql_dat, 'hh24') < 8 then
		                                  'HYB'
		                                 else
		                                  'QYB'
		                               end jiao_bc
		                          from hsp_sql_inf
		                         where hsp_sql_inf.emg_seq in
		                               (select m.emg_seq
		                                  from hsp_jjbhzmx m, hsp_jjbgl_inf n
		                                 where n.jjbgl_seq = m.jjbgl_seq
		                                   and m.jjbgl_seq in
		                                       (select jjbgl_seq
		                                          from hsp_jjbgl_inf
		                                         where jjbtype = #{hspJjbglInfCustom.jjbtype}
		                                           and trunc(jiao_dat) =
		                                               trunc(#{startdate})
		                                                             
		                                                             ))
		                            and trunc(hsp_sql_inf.sql_dat) = trunc(#{startdate})
		                                                             )
		                 group by jiao_bc, sql_sta_cod)
		        pivot(sum(counts)
		           for sql_sta_cod in('0' cgcount,
		                             '2' cgzycount,
		                             '3' cgswcount,
		                             '4' cgzdlycount,
		                             '6' xrqcount,
		                             '8' cghjcount,
		                             '13' zyuancount))) zgt
		 where jbcst.jiao_bc = hzzrcst.jiao_bc(+)
		   and jbcst.jiao_bc = zgt.jiao_bc(+)
		   order by decode(jiaobc, 'RB', '01', 'QYB', '02', 'HYB', '03')
    ]]>
	</select>
	
	
	<select id="findbchzhzListRange" resultType="activetech.zyyhospital.pojo.dto.HspBchzhzReportCustom" parameterType="activetech.zyyhospital.pojo.dto.HspJjbglInfQueryDto">
	<![CDATA[
		select jbcst.jiao_bc,
		      jbcs,
		      nvl(pthzzrcs, 0) + nvl(wzhzzrcs, 0) jbzrcs,
		      pthzzrcs,
		      wzhzzrcs,
		      xrqcount,
		      cgcount,
		      cgzycount,
		      cgswcount,
		      cgzdlycount,
		      cghjcount,
		      zyuancount
		 from (select JIAO_BC, count(1) jbcs
		         from hsp_jjbgl_inf
		        where jjbtype = #{hspJjbglInfCustom.jjbtype}
		          and JIAO_DAT > #{startdate}
		          and jiao_dat < #{enddate}
		        group by JIAO_BC) jbcst,
		      (select *
		         from (select JIAO_BC, emg_type, count(1) hzzrcs
		                 from hsp_jjbgl_inf, hsp_jjbhzmx
		                where jjbtype = #{hspJjbglInfCustom.jjbtype}
		                  and jiao_dat > #{startdate}
		                  and jiao_dat < #{enddate}
		                  and hsp_jjbgl_inf.jjbgl_seq = hsp_jjbhzmx.jjbgl_seq
		                group by jiao_bc, emg_type)
		       pivot(SUM(hzzrcs)
		          for emg_type in('P' pthzzrcs, 'W' wzhzzrcs))) hzzrcst,
		      (select *
		         from (select count(emg_seq) counts, JIAO_BC, sql_sta_cod
		                 from (select hsp_sql_inf.emg_seq,
		                              sql_sta_cod,
		                              case
		                                when to_char(sql_dat, 'hh24') >= 8 and
		                                     to_char(sql_dat, 'hh24') < 17 then
		                                 'RB'
		                                when to_char(sql_dat, 'hh24') >= 1 and
		                                     to_char(sql_dat, 'hh24') < 8 then
		                                 'HYB'
		                                else
		                                 'QYB'
		                              end jiao_bc
		                         from hsp_sql_inf
		                        where hsp_sql_inf.emg_seq in
		                              (select m.emg_seq
		                                 from hsp_jjbhzmx m
		                                where m.jjbgl_seq in
		                                      (select jjbgl_seq
		                                         from hsp_jjbgl_inf
		                                        where jjbtype =
		                                              #{hspJjbglInfCustom.jjbtype}
		                                          and jiao_dat > #{startdate}
		                                          and jiao_dat < #{enddate}))
		                          and hsp_sql_inf.sql_dat < #{enddate}
		                          and hsp_sql_inf.sql_dat > #{startdate})
		                group by jiao_bc, sql_sta_cod)
		       pivot(sum(counts)
		          for sql_sta_cod in('0' cgcount,
		                            '2' cgzycount,
		                            '3' cgswcount,
		                            '4' cgzdlycount,
		                            '6' xrqcount,
		                            '8' cghjcount,
		                            '13' zyuancount))) zgt
		where jbcst.jiao_bc = hzzrcst.jiao_bc(+)
		  and jbcst.jiao_bc = zgt.jiao_bc(+)
		  order by decode(jiao_bc, 'RB', '01', 'QYB', '02', 'HYB', '03')
	]]>
	</select>
 	 
  </mapper>