<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspJjbjlInfMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspJjbjlInf" >
    <id column="JJBJL_SEQ" property="jjbjlSeq" jdbcType="VARCHAR" />
    <result column="EMG_SEQ" property="emgSeq" jdbcType="VARCHAR" />
    <result column="JJBJL_DAT" property="jjbjlDat" jdbcType="TIMESTAMP" />
    <result column="JJBJL_TYPE" property="jjbjlType" jdbcType="VARCHAR" />
    <result column="JJBJL_NUM" property="jjbjlNum" jdbcType="VARCHAR" />
    <result column="JJBJL_NAM" property="jjbjlNam" jdbcType="VARCHAR" />
    <result column="CREATE_DAT" property="createDat" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DAT" property="updateDat" jdbcType="TIMESTAMP" />
    <result column="UPDATE_NUM" property="updateNum" jdbcType="VARCHAR" />
    <result column="UPDATE_NAM" property="updateNam" jdbcType="VARCHAR" />
    <result column="ISPRINT" property="isprint" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="activetech.zyyhospital.pojo.domain.HspJjbjlInf" extends="BaseResultMap" >
    <result column="JJBJL_CONTENT" property="jjbjlContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    JJBJL_SEQ, EMG_SEQ, JJBJL_DAT, JJBJL_TYPE, JJBJL_NUM, JJBJL_NAM, CREATE_DAT, UPDATE_DAT, 
    UPDATE_NUM, UPDATE_NAM, ISPRINT
  </sql>
  <sql id="Blob_Column_List" >
    JJBJL_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="activetech.zyyhospital.pojo.domain.HspJjbjlInfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HSP_JJBJL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.domain.HspJjbjlInfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_JJBJL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HSP_JJBJL_INF
    where JJBJL_SEQ = #{jjbjlSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HSP_JJBJL_INF
    where JJBJL_SEQ = #{jjbjlSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspJjbjlInfExample" >
    delete from HSP_JJBJL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspJjbjlInf" >
    insert into HSP_JJBJL_INF (JJBJL_SEQ, EMG_SEQ, JJBJL_DAT, 
      JJBJL_TYPE, JJBJL_NUM, JJBJL_NAM, 
      CREATE_DAT, UPDATE_DAT, UPDATE_NUM, 
      UPDATE_NAM, ISPRINT, JJBJL_CONTENT
      )
    values (#{jjbjlSeq,jdbcType=VARCHAR}, #{emgSeq,jdbcType=VARCHAR}, #{jjbjlDat,jdbcType=TIMESTAMP}, 
      #{jjbjlType,jdbcType=VARCHAR}, #{jjbjlNum,jdbcType=VARCHAR}, #{jjbjlNam,jdbcType=VARCHAR}, 
      #{createDat,jdbcType=TIMESTAMP}, #{updateDat,jdbcType=TIMESTAMP}, #{updateNum,jdbcType=VARCHAR}, 
      #{updateNam,jdbcType=VARCHAR}, #{isprint,jdbcType=VARCHAR}, #{jjbjlContent,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspJjbjlInf" >
    insert into HSP_JJBJL_INF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jjbjlSeq != null" >
        JJBJL_SEQ,
      </if>
      <if test="emgSeq != null" >
        EMG_SEQ,
      </if>
      <if test="jjbjlDat != null" >
        JJBJL_DAT,
      </if>
      <if test="jjbjlType != null" >
        JJBJL_TYPE,
      </if>
      <if test="jjbjlNum != null" >
        JJBJL_NUM,
      </if>
      <if test="jjbjlNam != null" >
        JJBJL_NAM,
      </if>
      <if test="createDat != null" >
        CREATE_DAT,
      </if>
      <if test="updateDat != null" >
        UPDATE_DAT,
      </if>
      <if test="updateNum != null" >
        UPDATE_NUM,
      </if>
      <if test="updateNam != null" >
        UPDATE_NAM,
      </if>
      <if test="isprint != null" >
        ISPRINT,
      </if>
      <if test="jjbjlContent != null" >
        JJBJL_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jjbjlSeq != null" >
        #{jjbjlSeq,jdbcType=VARCHAR},
      </if>
      <if test="emgSeq != null" >
        #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="jjbjlDat != null" >
        #{jjbjlDat,jdbcType=TIMESTAMP},
      </if>
      <if test="jjbjlType != null" >
        #{jjbjlType,jdbcType=VARCHAR},
      </if>
      <if test="jjbjlNum != null" >
        #{jjbjlNum,jdbcType=VARCHAR},
      </if>
      <if test="jjbjlNam != null" >
        #{jjbjlNam,jdbcType=VARCHAR},
      </if>
      <if test="createDat != null" >
        #{createDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDat != null" >
        #{updateDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateNum != null" >
        #{updateNum,jdbcType=VARCHAR},
      </if>
      <if test="updateNam != null" >
        #{updateNam,jdbcType=VARCHAR},
      </if>
      <if test="isprint != null" >
        #{isprint,jdbcType=VARCHAR},
      </if>
      <if test="jjbjlContent != null" >
        #{jjbjlContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspJjbjlInfExample" resultType="java.lang.Integer" >
    select count(*) from HSP_JJBJL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_JJBJL_INF
    <set >
      <if test="record.jjbjlSeq != null" >
        JJBJL_SEQ = #{record.jjbjlSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.emgSeq != null" >
        EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.jjbjlDat != null" >
        JJBJL_DAT = #{record.jjbjlDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jjbjlType != null" >
        JJBJL_TYPE = #{record.jjbjlType,jdbcType=VARCHAR},
      </if>
      <if test="record.jjbjlNum != null" >
        JJBJL_NUM = #{record.jjbjlNum,jdbcType=VARCHAR},
      </if>
      <if test="record.jjbjlNam != null" >
        JJBJL_NAM = #{record.jjbjlNam,jdbcType=VARCHAR},
      </if>
      <if test="record.createDat != null" >
        CREATE_DAT = #{record.createDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDat != null" >
        UPDATE_DAT = #{record.updateDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateNum != null" >
        UPDATE_NUM = #{record.updateNum,jdbcType=VARCHAR},
      </if>
      <if test="record.updateNam != null" >
        UPDATE_NAM = #{record.updateNam,jdbcType=VARCHAR},
      </if>
      <if test="record.isprint != null" >
        ISPRINT = #{record.isprint,jdbcType=VARCHAR},
      </if>
      <if test="record.jjbjlContent != null" >
        JJBJL_CONTENT = #{record.jjbjlContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update HSP_JJBJL_INF
    set JJBJL_SEQ = #{record.jjbjlSeq,jdbcType=VARCHAR},
      EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      JJBJL_DAT = #{record.jjbjlDat,jdbcType=TIMESTAMP},
      JJBJL_TYPE = #{record.jjbjlType,jdbcType=VARCHAR},
      JJBJL_NUM = #{record.jjbjlNum,jdbcType=VARCHAR},
      JJBJL_NAM = #{record.jjbjlNam,jdbcType=VARCHAR},
      CREATE_DAT = #{record.createDat,jdbcType=TIMESTAMP},
      UPDATE_DAT = #{record.updateDat,jdbcType=TIMESTAMP},
      UPDATE_NUM = #{record.updateNum,jdbcType=VARCHAR},
      UPDATE_NAM = #{record.updateNam,jdbcType=VARCHAR},
      ISPRINT = #{record.isprint,jdbcType=VARCHAR},
      JJBJL_CONTENT = #{record.jjbjlContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_JJBJL_INF
    set JJBJL_SEQ = #{record.jjbjlSeq,jdbcType=VARCHAR},
      EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      JJBJL_DAT = #{record.jjbjlDat,jdbcType=TIMESTAMP},
      JJBJL_TYPE = #{record.jjbjlType,jdbcType=VARCHAR},
      JJBJL_NUM = #{record.jjbjlNum,jdbcType=VARCHAR},
      JJBJL_NAM = #{record.jjbjlNam,jdbcType=VARCHAR},
      CREATE_DAT = #{record.createDat,jdbcType=TIMESTAMP},
      UPDATE_DAT = #{record.updateDat,jdbcType=TIMESTAMP},
      UPDATE_NUM = #{record.updateNum,jdbcType=VARCHAR},
      UPDATE_NAM = #{record.updateNam,jdbcType=VARCHAR},
      ISPRINT = #{record.isprint,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspJjbjlInf" >
    update HSP_JJBJL_INF
    <set >
      <if test="emgSeq != null" >
        EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="jjbjlDat != null" >
        JJBJL_DAT = #{jjbjlDat,jdbcType=TIMESTAMP},
      </if>
      <if test="jjbjlType != null" >
        JJBJL_TYPE = #{jjbjlType,jdbcType=VARCHAR},
      </if>
      <if test="jjbjlNum != null" >
        JJBJL_NUM = #{jjbjlNum,jdbcType=VARCHAR},
      </if>
      <if test="jjbjlNam != null" >
        JJBJL_NAM = #{jjbjlNam,jdbcType=VARCHAR},
      </if>
      <if test="createDat != null" >
        CREATE_DAT = #{createDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDat != null" >
        UPDATE_DAT = #{updateDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateNum != null" >
        UPDATE_NUM = #{updateNum,jdbcType=VARCHAR},
      </if>
      <if test="updateNam != null" >
        UPDATE_NAM = #{updateNam,jdbcType=VARCHAR},
      </if>
      <if test="isprint != null" >
        ISPRINT = #{isprint,jdbcType=VARCHAR},
      </if>
      <if test="jjbjlContent != null" >
        JJBJL_CONTENT = #{jjbjlContent,jdbcType=CLOB},
      </if>
    </set>
    where JJBJL_SEQ = #{jjbjlSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="activetech.zyyhospital.pojo.domain.HspJjbjlInf" >
    update HSP_JJBJL_INF
    set EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      JJBJL_DAT = #{jjbjlDat,jdbcType=TIMESTAMP},
      JJBJL_TYPE = #{jjbjlType,jdbcType=VARCHAR},
      JJBJL_NUM = #{jjbjlNum,jdbcType=VARCHAR},
      JJBJL_NAM = #{jjbjlNam,jdbcType=VARCHAR},
      CREATE_DAT = #{createDat,jdbcType=TIMESTAMP},
      UPDATE_DAT = #{updateDat,jdbcType=TIMESTAMP},
      UPDATE_NUM = #{updateNum,jdbcType=VARCHAR},
      UPDATE_NAM = #{updateNam,jdbcType=VARCHAR},
      ISPRINT = #{isprint,jdbcType=VARCHAR},
      JJBJL_CONTENT = #{jjbjlContent,jdbcType=CLOB}
    where JJBJL_SEQ = #{jjbjlSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspJjbjlInf" >
    update HSP_JJBJL_INF
    set EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      JJBJL_DAT = #{jjbjlDat,jdbcType=TIMESTAMP},
      JJBJL_TYPE = #{jjbjlType,jdbcType=VARCHAR},
      JJBJL_NUM = #{jjbjlNum,jdbcType=VARCHAR},
      JJBJL_NAM = #{jjbjlNam,jdbcType=VARCHAR},
      CREATE_DAT = #{createDat,jdbcType=TIMESTAMP},
      UPDATE_DAT = #{updateDat,jdbcType=TIMESTAMP},
      UPDATE_NUM = #{updateNum,jdbcType=VARCHAR},
      UPDATE_NAM = #{updateNam,jdbcType=VARCHAR},
      ISPRINT = #{isprint,jdbcType=VARCHAR}
    where JJBJL_SEQ = #{jjbjlSeq,jdbcType=VARCHAR}
  </update>
</mapper>