<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspJjbglInfMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspJjbglInf" >
    <id column="JJBGL_SEQ" property="jjbglSeq" jdbcType="VARCHAR" />
    <result column="JJBTYPE" property="jjbtype" jdbcType="VARCHAR" />
    <result column="JIAO_DAT" property="jiaoDat" jdbcType="TIMESTAMP" />
    <result column="JIAO_USRNO" property="jiaoUsrno" jdbcType="VARCHAR" />
    <result column="JIAO_USRNAM" property="jiaoUsrnam" jdbcType="VARCHAR" />
    <result column="PTHZS" property="pthzs" jdbcType="VARCHAR" />
    <result column="WZHZS" property="wzhzs" jdbcType="VARCHAR" />
    <result column="ZDJB_USRNO" property="zdjbUsrno" jdbcType="VARCHAR" />
    <result column="ZDJB_USRNAM" property="zdjbUsrnam" jdbcType="VARCHAR" />
    <result column="JIE_DAT" property="jieDat" jdbcType="TIMESTAMP" />
    <result column="JIE_USRNO" property="jieUsrno" jdbcType="VARCHAR" />
    <result column="JIE_USRNAM" property="jieUsrnam" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="JIAO_BC" property="jiaoBc" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="activetech.zyyhospital.pojo.domain.HspJjbglInfWithBLOBs" extends="BaseResultMap" >
    <result column="JIAO_PTCONTENT" property="jiaoPtcontent" jdbcType="CLOB" />
    <result column="JIAO_WZCONTENT" property="jiaoWzcontent" jdbcType="CLOB" />
    <result column="JIE_CONTENT" property="jieContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    JJBGL_SEQ, JJBTYPE, JIAO_DAT, JIAO_USRNO, JIAO_USRNAM, PTHZS, WZHZS, ZDJB_USRNO, 
    ZDJB_USRNAM, JIE_DAT, JIE_USRNO, JIE_USRNAM, MEMO, JIAO_BC
  </sql>
  <sql id="Blob_Column_List" >
    JIAO_PTCONTENT, JIAO_WZCONTENT, JIE_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="activetech.zyyhospital.pojo.domain.HspJjbglInfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HSP_JJBGL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.domain.HspJjbglInfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_JJBGL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HSP_JJBGL_INF
    where JJBGL_SEQ = #{jjbglSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HSP_JJBGL_INF
    where JJBGL_SEQ = #{jjbglSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspJjbglInfExample" >
    delete from HSP_JJBGL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspJjbglInfWithBLOBs" >
    insert into HSP_JJBGL_INF (JJBGL_SEQ, JJBTYPE, JIAO_DAT, 
      JIAO_USRNO, JIAO_USRNAM, PTHZS, 
      WZHZS, ZDJB_USRNO, ZDJB_USRNAM, 
      JIE_DAT, JIE_USRNO, JIE_USRNAM, 
      MEMO, JIAO_BC, JIAO_PTCONTENT, 
      JIAO_WZCONTENT, JIE_CONTENT)
    values (#{jjbglSeq,jdbcType=VARCHAR}, #{jjbtype,jdbcType=VARCHAR}, #{jiaoDat,jdbcType=TIMESTAMP}, 
      #{jiaoUsrno,jdbcType=VARCHAR}, #{jiaoUsrnam,jdbcType=VARCHAR}, #{pthzs,jdbcType=VARCHAR}, 
      #{wzhzs,jdbcType=VARCHAR}, #{zdjbUsrno,jdbcType=VARCHAR}, #{zdjbUsrnam,jdbcType=VARCHAR}, 
      #{jieDat,jdbcType=TIMESTAMP}, #{jieUsrno,jdbcType=VARCHAR}, #{jieUsrnam,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{jiaoBc,jdbcType=VARCHAR}, #{jiaoPtcontent,jdbcType=CLOB}, 
      #{jiaoWzcontent,jdbcType=CLOB}, #{jieContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspJjbglInfWithBLOBs" >
    insert into HSP_JJBGL_INF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jjbglSeq != null" >
        JJBGL_SEQ,
      </if>
      <if test="jjbtype != null" >
        JJBTYPE,
      </if>
      <if test="jiaoDat != null" >
        JIAO_DAT,
      </if>
      <if test="jiaoUsrno != null" >
        JIAO_USRNO,
      </if>
      <if test="jiaoUsrnam != null" >
        JIAO_USRNAM,
      </if>
      <if test="pthzs != null" >
        PTHZS,
      </if>
      <if test="wzhzs != null" >
        WZHZS,
      </if>
      <if test="zdjbUsrno != null" >
        ZDJB_USRNO,
      </if>
      <if test="zdjbUsrnam != null" >
        ZDJB_USRNAM,
      </if>
      <if test="jieDat != null" >
        JIE_DAT,
      </if>
      <if test="jieUsrno != null" >
        JIE_USRNO,
      </if>
      <if test="jieUsrnam != null" >
        JIE_USRNAM,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="jiaoBc != null" >
        JIAO_BC,
      </if>
      <if test="jiaoPtcontent != null" >
        JIAO_PTCONTENT,
      </if>
      <if test="jiaoWzcontent != null" >
        JIAO_WZCONTENT,
      </if>
      <if test="jieContent != null" >
        JIE_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jjbglSeq != null" >
        #{jjbglSeq,jdbcType=VARCHAR},
      </if>
      <if test="jjbtype != null" >
        #{jjbtype,jdbcType=VARCHAR},
      </if>
      <if test="jiaoDat != null" >
        #{jiaoDat,jdbcType=TIMESTAMP},
      </if>
      <if test="jiaoUsrno != null" >
        #{jiaoUsrno,jdbcType=VARCHAR},
      </if>
      <if test="jiaoUsrnam != null" >
        #{jiaoUsrnam,jdbcType=VARCHAR},
      </if>
      <if test="pthzs != null" >
        #{pthzs,jdbcType=VARCHAR},
      </if>
      <if test="wzhzs != null" >
        #{wzhzs,jdbcType=VARCHAR},
      </if>
      <if test="zdjbUsrno != null" >
        #{zdjbUsrno,jdbcType=VARCHAR},
      </if>
      <if test="zdjbUsrnam != null" >
        #{zdjbUsrnam,jdbcType=VARCHAR},
      </if>
      <if test="jieDat != null" >
        #{jieDat,jdbcType=TIMESTAMP},
      </if>
      <if test="jieUsrno != null" >
        #{jieUsrno,jdbcType=VARCHAR},
      </if>
      <if test="jieUsrnam != null" >
        #{jieUsrnam,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="jiaoBc != null" >
        #{jiaoBc,jdbcType=VARCHAR},
      </if>
      <if test="jiaoPtcontent != null" >
        #{jiaoPtcontent,jdbcType=CLOB},
      </if>
      <if test="jiaoWzcontent != null" >
        #{jiaoWzcontent,jdbcType=CLOB},
      </if>
      <if test="jieContent != null" >
        #{jieContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspJjbglInfExample" resultType="java.lang.Integer" >
    select count(*) from HSP_JJBGL_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_JJBGL_INF
    <set >
      <if test="record.jjbglSeq != null" >
        JJBGL_SEQ = #{record.jjbglSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.jjbtype != null" >
        JJBTYPE = #{record.jjbtype,jdbcType=VARCHAR},
      </if>
      <if test="record.jiaoDat != null" >
        JIAO_DAT = #{record.jiaoDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jiaoUsrno != null" >
        JIAO_USRNO = #{record.jiaoUsrno,jdbcType=VARCHAR},
      </if>
      <if test="record.jiaoUsrnam != null" >
        JIAO_USRNAM = #{record.jiaoUsrnam,jdbcType=VARCHAR},
      </if>
      <if test="record.pthzs != null" >
        PTHZS = #{record.pthzs,jdbcType=VARCHAR},
      </if>
      <if test="record.wzhzs != null" >
        WZHZS = #{record.wzhzs,jdbcType=VARCHAR},
      </if>
      <if test="record.zdjbUsrno != null" >
        ZDJB_USRNO = #{record.zdjbUsrno,jdbcType=VARCHAR},
      </if>
      <if test="record.zdjbUsrnam != null" >
        ZDJB_USRNAM = #{record.zdjbUsrnam,jdbcType=VARCHAR},
      </if>
      <if test="record.jieDat != null" >
        JIE_DAT = #{record.jieDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jieUsrno != null" >
        JIE_USRNO = #{record.jieUsrno,jdbcType=VARCHAR},
      </if>
      <if test="record.jieUsrnam != null" >
        JIE_USRNAM = #{record.jieUsrnam,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.jiaoBc != null" >
        JIAO_BC = #{record.jiaoBc,jdbcType=VARCHAR},
      </if>
      <if test="record.jiaoPtcontent != null" >
        JIAO_PTCONTENT = #{record.jiaoPtcontent,jdbcType=CLOB},
      </if>
      <if test="record.jiaoWzcontent != null" >
        JIAO_WZCONTENT = #{record.jiaoWzcontent,jdbcType=CLOB},
      </if>
      <if test="record.jieContent != null" >
        JIE_CONTENT = #{record.jieContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update HSP_JJBGL_INF
    set JJBGL_SEQ = #{record.jjbglSeq,jdbcType=VARCHAR},
      JJBTYPE = #{record.jjbtype,jdbcType=VARCHAR},
      JIAO_DAT = #{record.jiaoDat,jdbcType=TIMESTAMP},
      JIAO_USRNO = #{record.jiaoUsrno,jdbcType=VARCHAR},
      JIAO_USRNAM = #{record.jiaoUsrnam,jdbcType=VARCHAR},
      PTHZS = #{record.pthzs,jdbcType=VARCHAR},
      WZHZS = #{record.wzhzs,jdbcType=VARCHAR},
      ZDJB_USRNO = #{record.zdjbUsrno,jdbcType=VARCHAR},
      ZDJB_USRNAM = #{record.zdjbUsrnam,jdbcType=VARCHAR},
      JIE_DAT = #{record.jieDat,jdbcType=TIMESTAMP},
      JIE_USRNO = #{record.jieUsrno,jdbcType=VARCHAR},
      JIE_USRNAM = #{record.jieUsrnam,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      JIAO_BC = #{record.jiaoBc,jdbcType=VARCHAR},
      JIAO_PTCONTENT = #{record.jiaoPtcontent,jdbcType=CLOB},
      JIAO_WZCONTENT = #{record.jiaoWzcontent,jdbcType=CLOB},
      JIE_CONTENT = #{record.jieContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_JJBGL_INF
    set JJBGL_SEQ = #{record.jjbglSeq,jdbcType=VARCHAR},
      JJBTYPE = #{record.jjbtype,jdbcType=VARCHAR},
      JIAO_DAT = #{record.jiaoDat,jdbcType=TIMESTAMP},
      JIAO_USRNO = #{record.jiaoUsrno,jdbcType=VARCHAR},
      JIAO_USRNAM = #{record.jiaoUsrnam,jdbcType=VARCHAR},
      PTHZS = #{record.pthzs,jdbcType=VARCHAR},
      WZHZS = #{record.wzhzs,jdbcType=VARCHAR},
      ZDJB_USRNO = #{record.zdjbUsrno,jdbcType=VARCHAR},
      ZDJB_USRNAM = #{record.zdjbUsrnam,jdbcType=VARCHAR},
      JIE_DAT = #{record.jieDat,jdbcType=TIMESTAMP},
      JIE_USRNO = #{record.jieUsrno,jdbcType=VARCHAR},
      JIE_USRNAM = #{record.jieUsrnam,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      JIAO_BC = #{record.jiaoBc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspJjbglInfWithBLOBs" >
    update HSP_JJBGL_INF
    <set >
      <if test="jjbtype != null" >
        JJBTYPE = #{jjbtype,jdbcType=VARCHAR},
      </if>
      <if test="jiaoDat != null" >
        JIAO_DAT = #{jiaoDat,jdbcType=TIMESTAMP},
      </if>
      <if test="jiaoUsrno != null" >
        JIAO_USRNO = #{jiaoUsrno,jdbcType=VARCHAR},
      </if>
      <if test="jiaoUsrnam != null" >
        JIAO_USRNAM = #{jiaoUsrnam,jdbcType=VARCHAR},
      </if>
      <if test="pthzs != null" >
        PTHZS = #{pthzs,jdbcType=VARCHAR},
      </if>
      <if test="wzhzs != null" >
        WZHZS = #{wzhzs,jdbcType=VARCHAR},
      </if>
      <if test="zdjbUsrno != null" >
        ZDJB_USRNO = #{zdjbUsrno,jdbcType=VARCHAR},
      </if>
      <if test="zdjbUsrnam != null" >
        ZDJB_USRNAM = #{zdjbUsrnam,jdbcType=VARCHAR},
      </if>
      <if test="jieDat != null" >
        JIE_DAT = #{jieDat,jdbcType=TIMESTAMP},
      </if>
      <if test="jieUsrno != null" >
        JIE_USRNO = #{jieUsrno,jdbcType=VARCHAR},
      </if>
      <if test="jieUsrnam != null" >
        JIE_USRNAM = #{jieUsrnam,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="jiaoBc != null" >
        JIAO_BC = #{jiaoBc,jdbcType=VARCHAR},
      </if>
      <if test="jiaoPtcontent != null" >
        JIAO_PTCONTENT = #{jiaoPtcontent,jdbcType=CLOB},
      </if>
      <if test="jiaoWzcontent != null" >
        JIAO_WZCONTENT = #{jiaoWzcontent,jdbcType=CLOB},
      </if>
      <if test="jieContent != null" >
        JIE_CONTENT = #{jieContent,jdbcType=CLOB},
      </if>
    </set>
    where JJBGL_SEQ = #{jjbglSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="activetech.zyyhospital.pojo.domain.HspJjbglInfWithBLOBs" >
    update HSP_JJBGL_INF
    set JJBTYPE = #{jjbtype,jdbcType=VARCHAR},
      JIAO_DAT = #{jiaoDat,jdbcType=TIMESTAMP},
      JIAO_USRNO = #{jiaoUsrno,jdbcType=VARCHAR},
      JIAO_USRNAM = #{jiaoUsrnam,jdbcType=VARCHAR},
      PTHZS = #{pthzs,jdbcType=VARCHAR},
      WZHZS = #{wzhzs,jdbcType=VARCHAR},
      ZDJB_USRNO = #{zdjbUsrno,jdbcType=VARCHAR},
      ZDJB_USRNAM = #{zdjbUsrnam,jdbcType=VARCHAR},
      JIE_DAT = #{jieDat,jdbcType=TIMESTAMP},
      JIE_USRNO = #{jieUsrno,jdbcType=VARCHAR},
      JIE_USRNAM = #{jieUsrnam,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      JIAO_BC = #{jiaoBc,jdbcType=VARCHAR},
      JIAO_PTCONTENT = #{jiaoPtcontent,jdbcType=CLOB},
      JIAO_WZCONTENT = #{jiaoWzcontent,jdbcType=CLOB},
      JIE_CONTENT = #{jieContent,jdbcType=CLOB}
    where JJBGL_SEQ = #{jjbglSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspJjbglInf" >
    update HSP_JJBGL_INF
    set JJBTYPE = #{jjbtype,jdbcType=VARCHAR},
      JIAO_DAT = #{jiaoDat,jdbcType=TIMESTAMP},
      JIAO_USRNO = #{jiaoUsrno,jdbcType=VARCHAR},
      JIAO_USRNAM = #{jiaoUsrnam,jdbcType=VARCHAR},
      PTHZS = #{pthzs,jdbcType=VARCHAR},
      WZHZS = #{wzhzs,jdbcType=VARCHAR},
      ZDJB_USRNO = #{zdjbUsrno,jdbcType=VARCHAR},
      ZDJB_USRNAM = #{zdjbUsrnam,jdbcType=VARCHAR},
      JIE_DAT = #{jieDat,jdbcType=TIMESTAMP},
      JIE_USRNO = #{jieUsrno,jdbcType=VARCHAR},
      JIE_USRNAM = #{jieUsrnam,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      JIAO_BC = #{jiaoBc,jdbcType=VARCHAR}
    where JJBGL_SEQ = #{jjbglSeq,jdbcType=VARCHAR}
  </update>
</mapper>