<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspModelcontInfMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspModelcontInf" >
    <id column="MODELCONT_SEQ" property="modelcontSeq" jdbcType="VARCHAR" />
    <result column="MODEL_SEQ" property="modelSeq" jdbcType="VARCHAR" />
    <result column="MAJOR_CLS" property="majorCls" jdbcType="VARCHAR" />
    <result column="SUB_CLS" property="subCls" jdbcType="VARCHAR" />
    <result column="CLS_CONT" property="clsCont" jdbcType="VARCHAR" />
    <result column="CLS_SORT" property="clsSort" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CRT_DAT" property="crtDat" jdbcType="TIMESTAMP" />
    <result column="CRT_NBR" property="crtNbr" jdbcType="VARCHAR" />
    <result column="UPD_DAT" property="updDat" jdbcType="TIMESTAMP" />
    <result column="UPD_NBR" property="updNbr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MODELCONT_SEQ, MODEL_SEQ, MAJOR_CLS, SUB_CLS, CLS_CONT, CLS_SORT, REMARK, CRT_DAT, 
    CRT_NBR, UPD_DAT, UPD_NBR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.domain.HspModelcontInfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_MODELCONT_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from HSP_MODELCONT_INF
    where MODELCONT_SEQ = #{modelcontSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HSP_MODELCONT_INF
    where MODELCONT_SEQ = #{modelcontSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspModelcontInfExample" >
    delete from HSP_MODELCONT_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspModelcontInf" >
    insert into HSP_MODELCONT_INF (MODELCONT_SEQ, MODEL_SEQ, MAJOR_CLS, 
      SUB_CLS, CLS_CONT, CLS_SORT, 
      REMARK, CRT_DAT, CRT_NBR, 
      UPD_DAT, UPD_NBR)
    values (#{modelcontSeq,jdbcType=VARCHAR}, #{modelSeq,jdbcType=VARCHAR}, #{majorCls,jdbcType=VARCHAR}, 
      #{subCls,jdbcType=VARCHAR}, #{clsCont,jdbcType=VARCHAR}, #{clsSort,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{crtDat,jdbcType=TIMESTAMP}, #{crtNbr,jdbcType=VARCHAR}, 
      #{updDat,jdbcType=TIMESTAMP}, #{updNbr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspModelcontInf" >
    insert into HSP_MODELCONT_INF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modelcontSeq != null" >
        MODELCONT_SEQ,
      </if>
      <if test="modelSeq != null" >
        MODEL_SEQ,
      </if>
      <if test="majorCls != null" >
        MAJOR_CLS,
      </if>
      <if test="subCls != null" >
        SUB_CLS,
      </if>
      <if test="clsCont != null" >
        CLS_CONT,
      </if>
      <if test="clsSort != null" >
        CLS_SORT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="crtDat != null" >
        CRT_DAT,
      </if>
      <if test="crtNbr != null" >
        CRT_NBR,
      </if>
      <if test="updDat != null" >
        UPD_DAT,
      </if>
      <if test="updNbr != null" >
        UPD_NBR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modelcontSeq != null" >
        #{modelcontSeq,jdbcType=VARCHAR},
      </if>
      <if test="modelSeq != null" >
        #{modelSeq,jdbcType=VARCHAR},
      </if>
      <if test="majorCls != null" >
        #{majorCls,jdbcType=VARCHAR},
      </if>
      <if test="subCls != null" >
        #{subCls,jdbcType=VARCHAR},
      </if>
      <if test="clsCont != null" >
        #{clsCont,jdbcType=VARCHAR},
      </if>
      <if test="clsSort != null" >
        #{clsSort,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtDat != null" >
        #{crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtNbr != null" >
        #{crtNbr,jdbcType=VARCHAR},
      </if>
      <if test="updDat != null" >
        #{updDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updNbr != null" >
        #{updNbr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspModelcontInfExample" resultType="java.lang.Integer" >
    select count(*) from HSP_MODELCONT_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_MODELCONT_INF
    <set >
      <if test="record.modelcontSeq != null" >
        MODELCONT_SEQ = #{record.modelcontSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.modelSeq != null" >
        MODEL_SEQ = #{record.modelSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.majorCls != null" >
        MAJOR_CLS = #{record.majorCls,jdbcType=VARCHAR},
      </if>
      <if test="record.subCls != null" >
        SUB_CLS = #{record.subCls,jdbcType=VARCHAR},
      </if>
      <if test="record.clsCont != null" >
        CLS_CONT = #{record.clsCont,jdbcType=VARCHAR},
      </if>
      <if test="record.clsSort != null" >
        CLS_SORT = #{record.clsSort,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.crtDat != null" >
        CRT_DAT = #{record.crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtNbr != null" >
        CRT_NBR = #{record.crtNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.updDat != null" >
        UPD_DAT = #{record.updDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updNbr != null" >
        UPD_NBR = #{record.updNbr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_MODELCONT_INF
    set MODELCONT_SEQ = #{record.modelcontSeq,jdbcType=VARCHAR},
      MODEL_SEQ = #{record.modelSeq,jdbcType=VARCHAR},
      MAJOR_CLS = #{record.majorCls,jdbcType=VARCHAR},
      SUB_CLS = #{record.subCls,jdbcType=VARCHAR},
      CLS_CONT = #{record.clsCont,jdbcType=VARCHAR},
      CLS_SORT = #{record.clsSort,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CRT_DAT = #{record.crtDat,jdbcType=TIMESTAMP},
      CRT_NBR = #{record.crtNbr,jdbcType=VARCHAR},
      UPD_DAT = #{record.updDat,jdbcType=TIMESTAMP},
      UPD_NBR = #{record.updNbr,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspModelcontInf" >
    update HSP_MODELCONT_INF
    <set >
      <if test="modelSeq != null" >
        MODEL_SEQ = #{modelSeq,jdbcType=VARCHAR},
      </if>
      <if test="majorCls != null" >
        MAJOR_CLS = #{majorCls,jdbcType=VARCHAR},
      </if>
      <if test="subCls != null" >
        SUB_CLS = #{subCls,jdbcType=VARCHAR},
      </if>
      <if test="clsCont != null" >
        CLS_CONT = #{clsCont,jdbcType=VARCHAR},
      </if>
      <if test="clsSort != null" >
        CLS_SORT = #{clsSort,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtDat != null" >
        CRT_DAT = #{crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtNbr != null" >
        CRT_NBR = #{crtNbr,jdbcType=VARCHAR},
      </if>
      <if test="updDat != null" >
        UPD_DAT = #{updDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updNbr != null" >
        UPD_NBR = #{updNbr,jdbcType=VARCHAR},
      </if>
    </set>
    where MODELCONT_SEQ = #{modelcontSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspModelcontInf" >
    update HSP_MODELCONT_INF
    set MODEL_SEQ = #{modelSeq,jdbcType=VARCHAR},
      MAJOR_CLS = #{majorCls,jdbcType=VARCHAR},
      SUB_CLS = #{subCls,jdbcType=VARCHAR},
      CLS_CONT = #{clsCont,jdbcType=VARCHAR},
      CLS_SORT = #{clsSort,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      CRT_DAT = #{crtDat,jdbcType=TIMESTAMP},
      CRT_NBR = #{crtNbr,jdbcType=VARCHAR},
      UPD_DAT = #{updDat,jdbcType=TIMESTAMP},
      UPD_NBR = #{updNbr,jdbcType=VARCHAR}
    where MODELCONT_SEQ = #{modelcontSeq,jdbcType=VARCHAR}
  </update>
</mapper>