<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspModelcontInfCustomMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.dto.HspModelcontInfCustom" >
    <id column="MODELCONT_SEQ" property="modelcontSeq" jdbcType="VARCHAR" />
    <result column="MODEL_SEQ" property="modelSeq" jdbcType="VARCHAR" />
    <result column="MAJOR_CLS" property="majorCls" jdbcType="VARCHAR" />
    <result column="SUB_CLS" property="subCls" jdbcType="VARCHAR" />
    <result column="CLS_CONT" property="clsCont" jdbcType="VARCHAR" />
    <result column="CLS_SORT" property="clsSort" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CRT_DAT" property="crtDat" jdbcType="TIMESTAMP" />
    <result column="CRT_NBR" property="crtNbr" jdbcType="VARCHAR" />
    <result column="UPD_DAT" property="updDat" jdbcType="TIMESTAMP" />
    <result column="UPD_NBR" property="updNbr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    MODELCONT_SEQ, MODEL_SEQ,  SUB_CLS, CLS_CONT, CLS_SORT, REMARK, CRT_DAT, 
    CRT_NBR, UPD_DAT, UPD_NBR
  </sql>
  <sql id="If_Test" >
  	   <if test="hspModelcontInfCustom!=null">
  	   		<if test="hspModelcontInfCustom.modelType!=null and hspModelcontInfCustom.modelType!=''">
	            MODEL_SEQ =#{hspModelcontInfCustom.modelType}
	        </if>
	       <if test="hspModelcontInfCustom.majorClses!=null and hspModelcontInfCustom.majorClses!=''">
	              <foreach collection="hspModelcontInfCustom.majorClses" item="major_id" open="and major_cls in (" close=")" separator=",">  
	                <!-- 每个遍历需要生成的串 -->  
	                    #{major_id}  
	                </foreach>  
	        </if>
	        <if test="hspModelcontInfCustom.clsCont!=null and hspModelcontInfCustom.clsCont!=''">
	            and cls_cont like '%' || #{hspModelcontInfCustom.clsCont} || '%'
	        </if>
	        <if test="hspModelcontInfCustom.majorCls!=null and hspModelcontInfCustom.majorCls!=''">
	            and major_cls=#{hspModelcontInfCustom.majorCls}
	        </if>
	        <if test="hspModelcontInfCustom.subCls!=null and hspModelcontInfCustom.subCls!=''">
	            and sub_cls=#{hspModelcontInfCustom.subCls}
	        </if>
        </if>
  </sql>
  <!-- 根据模板号获取大类 -->
  <select id="findMajorClsByModelSeq" resultMap="BaseResultMap" parameterType="String" >
    select major_cls from 
    hsp_modelcont_inf 
    where 
    model_seq=#{modelSeq} 
    group by major_cls 
    order by min(cls_sort)
  </select>
  
  <!-- 根据大类获取内容列表 -->
  <select id="findSubClsByMajor" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.dto.HspModelInfQueryDto" >
    <!-- 分页头 -->
    <include refid="activetech.base.CommonSql.page_start" />
    select 
    (select info from DSTDICTINFO a where a.typecode = #{hspModelcontInfCustom.infoCode} and a.infocode = hsp_modelcont_inf.MAJOR_CLS) MAJOR_CLS,
    <include refid="Base_Column_List"></include>
    from 
    hsp_modelcont_inf  
    where 
        <include refid="If_Test"></include>
    order by CLS_SORT 
    <!-- 分页尾部 -->
	<include refid="activetech.base.CommonSql.page_end" />
  </select>
  
  <!-- 根据大类获取内容列表总数 -->
  <select id="findSubClsByMajorCount" resultType="int" parameterType="activetech.zyyhospital.pojo.dto.HspModelInfQueryDto" >
    select 
    count(*)
    from 
    hsp_modelcont_inf 
    where
       <include refid="If_Test"></include>
  </select>

  
  <!-- 根据医嘱模板名获取模板内容 -->
  <select id="finddocadviceconList" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.dto.HspModelInfQueryDto" >
    <!-- 分页头 -->
    <include refid="activetech.base.CommonSql.page_start" />
    select 
    MAJOR_CLS,
    <include refid="Base_Column_List"></include>
    from 
    hsp_modelcont_inf 
    where
    model_seq=#{hspModelcontInfCustom.modelSeq} 
    order by CRT_DAT
    <!-- 分页尾部 -->
	<include refid="activetech.base.CommonSql.page_end" />
  </select>
  
  <!-- 根据医嘱模板名获取模板内容总数 -->
  <select id="finddocadviceconListCount" resultType="int" parameterType="activetech.zyyhospital.pojo.dto.HspModelInfQueryDto" >
    select 
    count(*)
    from 
    hsp_modelcont_inf 
    where
    model_seq=#{hspModelcontInfCustom.modelSeq} 
  </select>
  
   <!-- 根据医嘱模板名获取模板内容 -->
  <select id="finddocadviceconallList" resultMap="BaseResultMap" parameterType="activetech.zyyhospital.pojo.dto.HspModelInfQueryDto" >
    <!-- 分页头 -->
    <include refid="activetech.base.CommonSql.page_start" />
      select m.MODEL_SEQ,mc.MODELCONT_SEQ,
      mc.CLS_CONT ,mc.CRT_DAT
      from HSP_MODEL_INF m left join HSP_MODELCONT_INF mc on m.MODEL_SEQ = mc.MODEL_SEQ  
      where m.MODEL_CONTENT='1'  
     <if test="hspModelcontInfCustom.modelSeq!=null and hspModelcontInfCustom.modelSeq!=''">
	        and   m.MODEL_SEQ=#{hspModelcontInfCustom.modelSeq} 
	    </if>
      order by m.MODEL_SEQ,mc.CRT_DAT
    <!-- 分页尾部 -->
	<include refid="activetech.base.CommonSql.page_end" />
  </select>
  
  <!-- 根据医嘱模板名获取模板内容总数 -->
  <select id="finddocadviceconListallCount" resultType="int" parameterType="activetech.zyyhospital.pojo.dto.HspModelInfQueryDto" >
    select count(*) from HSP_MODEL_INF m left join HSP_MODELCONT_INF mc on m.MODEL_SEQ = mc.MODEL_SEQ 
    where m.MODEL_CONTENT='1'  
    <if test="hspModelcontInfCustom.modelSeq!=null and hspModelcontInfCustom.modelSeq!=''">
	        and   m.MODEL_SEQ=#{hspModelcontInfCustom.modelSeq} 
	    </if>
    order by   m.MODEL_SEQ
  </select>
</mapper>