<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspNihssInfCustomMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.dto.HspNihssInfCustom" >
    <id column="CEREBRAL_COURSE_SEQ" property="cerebralCourseSeq" jdbcType="VARCHAR" />
    <result column="EMG_SEQ_DC" property="emgSeqDc" jdbcType="VARCHAR" />
    <result column="NIHSS_CONTENT" property="nihssContent" jdbcType="VARCHAR" />
    <result column="ASSESS_DOC" property="assessDoc" jdbcType="VARCHAR" />
    <result column="ASSESS_DATE" property="assessDate" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DOC" property="createDoc" jdbcType="VARCHAR" />
    <result column="UPDATE_DOC" property="updateDoc" jdbcType="VARCHAR" />
    <result column="nihssAssessDocNam" property="nihssAssessDocNam" jdbcType="VARCHAR" />
    <result column="CREATE_NAM" jdbcType="VARCHAR" property="createNam" />
    <result column="UPDATE_NAM" jdbcType="VARCHAR" property="updateNam" />
  </resultMap>
  <sql id="Base_Column_List">
    CEREBRAL_COURSE_SEQ, EMG_SEQ_DC, NIHSS_CONTENT, ASSESS_DOC, ASSESS_DATE, CREATE_DATE, 
    UPDATE_DATE, CREATE_DOC, UPDATE_DOC, CREATE_NAM, UPDATE_NAM
  </sql>
  <select id="findNihssInfByEmgSeq" resultMap="BaseResultMap" parameterType="String" >
    select
     <include refid="Base_Column_List" />
    from hsp_nihss_inf where emg_seq_dc=#{emgSeq}
  </select>
</mapper>