<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activetech.zyyhospital.dao.mapper.HspQtsjglMapper">
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspQtsjgl">
    <id column="QTSJ_SEQ" jdbcType="VARCHAR" property="qtsjSeq" />
    <result column="QTSJ_NAM" jdbcType="VARCHAR" property="qtsjNam" />
    <result column="QTSJ_DAT" jdbcType="TIMESTAMP" property="qtsjDat" />
    <result column="QTSJ_TYPE" jdbcType="VARCHAR" property="qtsjType" />
    <result column="ADRR" jdbcType="VARCHAR" property="adrr" />
    <result column="JYJG" jdbcType="VARCHAR" property="jyjg" />
    <result column="QJGC" jdbcType="VARCHAR" property="qjgc" />
    <result column="QJXJ" jdbcType="VARCHAR" property="qjxj" />
    <result column="BGBM" jdbcType="VARCHAR" property="bgbm" />
    <result column="BGRNAM" jdbcType="VARCHAR" property="bgrnam" />
    <result column="DJDAT" jdbcType="TIMESTAMP" property="djdat" />
    <result column="DJRNAM" jdbcType="VARCHAR" property="djrnam" />
    <result column="GLKS" jdbcType="VARCHAR" property="glks" />
    <result column="YHRY" jdbcType="VARCHAR" property="yhry" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="QTSJ_TYPE_OTHER" jdbcType="VARCHAR" property="qtsjTypeOther" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    QTSJ_SEQ, QTSJ_NAM, QTSJ_DAT, QTSJ_TYPE, ADRR, JYJG, QJGC, QJXJ, BGBM, BGRNAM, DJDAT, 
    DJRNAM, GLKS, YHRY, MEMO, QTSJ_TYPE_OTHER
  </sql>
  <select id="selectByExample" parameterType="activetech.zyyhospital.pojo.domain.HspQtsjglExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_QTSJGL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HSP_QTSJGL
    where QTSJ_SEQ = #{qtsjSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HSP_QTSJGL
    where QTSJ_SEQ = #{qtsjSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspQtsjglExample">
    delete from HSP_QTSJGL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspQtsjgl">
    insert into HSP_QTSJGL (QTSJ_SEQ, QTSJ_NAM, QTSJ_DAT, 
      QTSJ_TYPE, ADRR, JYJG, 
      QJGC, QJXJ, BGBM, BGRNAM, 
      DJDAT, DJRNAM, GLKS, 
      YHRY, MEMO, QTSJ_TYPE_OTHER
      )
    values (#{qtsjSeq,jdbcType=VARCHAR}, #{qtsjNam,jdbcType=VARCHAR}, #{qtsjDat,jdbcType=TIMESTAMP}, 
      #{qtsjType,jdbcType=VARCHAR}, #{adrr,jdbcType=VARCHAR}, #{jyjg,jdbcType=VARCHAR}, 
      #{qjgc,jdbcType=VARCHAR}, #{qjxj,jdbcType=VARCHAR}, #{bgbm,jdbcType=VARCHAR}, #{bgrnam,jdbcType=VARCHAR}, 
      #{djdat,jdbcType=TIMESTAMP}, #{djrnam,jdbcType=VARCHAR}, #{glks,jdbcType=VARCHAR}, 
      #{yhry,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{qtsjTypeOther,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspQtsjgl">
    insert into HSP_QTSJGL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qtsjSeq != null">
        QTSJ_SEQ,
      </if>
      <if test="qtsjNam != null">
        QTSJ_NAM,
      </if>
      <if test="qtsjDat != null">
        QTSJ_DAT,
      </if>
      <if test="qtsjType != null">
        QTSJ_TYPE,
      </if>
      <if test="adrr != null">
        ADRR,
      </if>
      <if test="jyjg != null">
        JYJG,
      </if>
      <if test="qjgc != null">
        QJGC,
      </if>
      <if test="qjxj != null">
        QJXJ,
      </if>
      <if test="bgbm != null">
        BGBM,
      </if>
      <if test="bgrnam != null">
        BGRNAM,
      </if>
      <if test="djdat != null">
        DJDAT,
      </if>
      <if test="djrnam != null">
        DJRNAM,
      </if>
      <if test="glks != null">
        GLKS,
      </if>
      <if test="yhry != null">
        YHRY,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="qtsjTypeOther != null">
        QTSJ_TYPE_OTHER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qtsjSeq != null">
        #{qtsjSeq,jdbcType=VARCHAR},
      </if>
      <if test="qtsjNam != null">
        #{qtsjNam,jdbcType=VARCHAR},
      </if>
      <if test="qtsjDat != null">
        #{qtsjDat,jdbcType=TIMESTAMP},
      </if>
      <if test="qtsjType != null">
        #{qtsjType,jdbcType=VARCHAR},
      </if>
      <if test="adrr != null">
        #{adrr,jdbcType=VARCHAR},
      </if>
      <if test="jyjg != null">
        #{jyjg,jdbcType=VARCHAR},
      </if>
      <if test="qjgc != null">
        #{qjgc,jdbcType=VARCHAR},
      </if>
      <if test="qjxj != null">
        #{qjxj,jdbcType=VARCHAR},
      </if>
      <if test="bgbm != null">
        #{bgbm,jdbcType=VARCHAR},
      </if>
      <if test="bgrnam != null">
        #{bgrnam,jdbcType=VARCHAR},
      </if>
      <if test="djdat != null">
        #{djdat,jdbcType=TIMESTAMP},
      </if>
      <if test="djrnam != null">
        #{djrnam,jdbcType=VARCHAR},
      </if>
      <if test="glks != null">
        #{glks,jdbcType=VARCHAR},
      </if>
      <if test="yhry != null">
        #{yhry,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="qtsjTypeOther != null">
        #{qtsjTypeOther,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspQtsjglExample" resultType="java.lang.Long">
    select count(*) from HSP_QTSJGL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update HSP_QTSJGL
    <set>
      <if test="record.qtsjSeq != null">
        QTSJ_SEQ = #{record.qtsjSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.qtsjNam != null">
        QTSJ_NAM = #{record.qtsjNam,jdbcType=VARCHAR},
      </if>
      <if test="record.qtsjDat != null">
        QTSJ_DAT = #{record.qtsjDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qtsjType != null">
        QTSJ_TYPE = #{record.qtsjType,jdbcType=VARCHAR},
      </if>
      <if test="record.adrr != null">
        ADRR = #{record.adrr,jdbcType=VARCHAR},
      </if>
      <if test="record.jyjg != null">
        JYJG = #{record.jyjg,jdbcType=VARCHAR},
      </if>
      <if test="record.qjgc != null">
        QJGC = #{record.qjgc,jdbcType=VARCHAR},
      </if>
      <if test="record.qjxj != null">
        QJXJ = #{record.qjxj,jdbcType=VARCHAR},
      </if>
      <if test="record.bgbm != null">
        BGBM = #{record.bgbm,jdbcType=VARCHAR},
      </if>
      <if test="record.bgrnam != null">
        BGRNAM = #{record.bgrnam,jdbcType=VARCHAR},
      </if>
      <if test="record.djdat != null">
        DJDAT = #{record.djdat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.djrnam != null">
        DJRNAM = #{record.djrnam,jdbcType=VARCHAR},
      </if>
      <if test="record.glks != null">
        GLKS = #{record.glks,jdbcType=VARCHAR},
      </if>
      <if test="record.yhry != null">
        YHRY = #{record.yhry,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.qtsjTypeOther != null">
        QTSJ_TYPE_OTHER = #{record.qtsjTypeOther,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update HSP_QTSJGL
    set QTSJ_SEQ = #{record.qtsjSeq,jdbcType=VARCHAR},
      QTSJ_NAM = #{record.qtsjNam,jdbcType=VARCHAR},
      QTSJ_DAT = #{record.qtsjDat,jdbcType=TIMESTAMP},
      QTSJ_TYPE = #{record.qtsjType,jdbcType=VARCHAR},
      ADRR = #{record.adrr,jdbcType=VARCHAR},
      JYJG = #{record.jyjg,jdbcType=VARCHAR},
      QJGC = #{record.qjgc,jdbcType=VARCHAR},
      QJXJ = #{record.qjxj,jdbcType=VARCHAR},
      BGBM = #{record.bgbm,jdbcType=VARCHAR},
      BGRNAM = #{record.bgrnam,jdbcType=VARCHAR},
      DJDAT = #{record.djdat,jdbcType=TIMESTAMP},
      DJRNAM = #{record.djrnam,jdbcType=VARCHAR},
      GLKS = #{record.glks,jdbcType=VARCHAR},
      YHRY = #{record.yhry,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      QTSJ_TYPE_OTHER = #{record.qtsjTypeOther,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspQtsjgl">
    update HSP_QTSJGL
    <set>
      <if test="qtsjNam != null">
        QTSJ_NAM = #{qtsjNam,jdbcType=VARCHAR},
      </if>
      <if test="qtsjDat != null">
        QTSJ_DAT = #{qtsjDat,jdbcType=TIMESTAMP},
      </if>
      <if test="qtsjType != null">
        QTSJ_TYPE = #{qtsjType,jdbcType=VARCHAR},
      </if>
      <if test="adrr != null">
        ADRR = #{adrr,jdbcType=VARCHAR},
      </if>
      <if test="jyjg != null">
        JYJG = #{jyjg,jdbcType=VARCHAR},
      </if>
      <if test="qjgc != null">
        QJGC = #{qjgc,jdbcType=VARCHAR},
      </if>
      <if test="qjxj != null">
        QJXJ = #{qjxj,jdbcType=VARCHAR},
      </if>
      <if test="bgbm != null">
        BGBM = #{bgbm,jdbcType=VARCHAR},
      </if>
      <if test="bgrnam != null">
        BGRNAM = #{bgrnam,jdbcType=VARCHAR},
      </if>
      <if test="djdat != null">
        DJDAT = #{djdat,jdbcType=TIMESTAMP},
      </if>
      <if test="djrnam != null">
        DJRNAM = #{djrnam,jdbcType=VARCHAR},
      </if>
      <if test="glks != null">
        GLKS = #{glks,jdbcType=VARCHAR},
      </if>
      <if test="yhry != null">
        YHRY = #{yhry,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="qtsjTypeOther != null">
        QTSJ_TYPE_OTHER = #{qtsjTypeOther,jdbcType=VARCHAR},
      </if>
    </set>
    where QTSJ_SEQ = #{qtsjSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspQtsjgl">
    update HSP_QTSJGL
    set QTSJ_NAM = #{qtsjNam,jdbcType=VARCHAR},
      QTSJ_DAT = #{qtsjDat,jdbcType=TIMESTAMP},
      QTSJ_TYPE = #{qtsjType,jdbcType=VARCHAR},
      ADRR = #{adrr,jdbcType=VARCHAR},
      JYJG = #{jyjg,jdbcType=VARCHAR},
      QJGC = #{qjgc,jdbcType=VARCHAR},
      QJXJ = #{qjxj,jdbcType=VARCHAR},
      BGBM = #{bgbm,jdbcType=VARCHAR},
      BGRNAM = #{bgrnam,jdbcType=VARCHAR},
      DJDAT = #{djdat,jdbcType=TIMESTAMP},
      DJRNAM = #{djrnam,jdbcType=VARCHAR},
      GLKS = #{glks,jdbcType=VARCHAR},
      YHRY = #{yhry,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      QTSJ_TYPE_OTHER = #{qtsjTypeOther,jdbcType=VARCHAR}
    where QTSJ_SEQ = #{qtsjSeq,jdbcType=VARCHAR}
  </update>
</mapper>