<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activetech.zyyhospital.dao.mapper.HspTransfusionInfCustomMapper">
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.dto.HspTransfusionInfCustom">
    <id column="TRANSFUSION_SEQ" jdbcType="VARCHAR" property="transfusionSeq" />
    <result column="EMG_SEQ" jdbcType="VARCHAR" property="emgSeq" />
    <result column="INFUSION_START_DAT" jdbcType="TIMESTAMP" property="infusionStartDat" />
    <result column="INFUSION_END_DAT" jdbcType="TIMESTAMP" property="infusionEndDat" />
    <result column="INDICATION" jdbcType="VARCHAR" property="indication" />
    <result column="COMPOSITION" jdbcType="VARCHAR" property="composition" />
    <result column="AMOUNT" jdbcType="VARCHAR" property="amount" />
    <result column="ASSESSMENT" jdbcType="VARCHAR" property="assessment" />
    <result column="INFUSION_PROCESS" jdbcType="VARCHAR" property="infusionProcess" />
    <result column="TMP_NBR" jdbcType="VARCHAR" property="tmpNbr" />
    <result column="TMP_NBR_FLG" jdbcType="VARCHAR" property="tmpNbrFlg" />
    <result column="PULSE" jdbcType="VARCHAR" property="pulse" />
    <result column="BRE_NBR" jdbcType="VARCHAR" property="breNbr" />
    <result column="BRE_NBR_FLG" jdbcType="VARCHAR" property="breNbrFlg" />
    <result column="SBP_UP_NBR" jdbcType="VARCHAR" property="sbpUpNbr" />
    <result column="SBP_DOWN_NBR" jdbcType="VARCHAR" property="sbpDownNbr" />
    <result column="SBP_NBR_FLG" jdbcType="VARCHAR" property="sbpNbrFlg" />
    <result column="OXY_NBR" jdbcType="VARCHAR" property="oxyNbr" />
    <result column="XY_FLG" jdbcType="VARCHAR" property="xyFlg" />
    <result column="PBG_NBR" jdbcType="VARCHAR" property="pbgNbr" />
    <result column="PBG_NBR_FLG" jdbcType="VARCHAR" property="pbgNbrFlg" />
    <result column="PBG_NBR_TYPE" jdbcType="VARCHAR" property="pbgNbrType" />
    <result column="HRT_RTE" jdbcType="VARCHAR" property="hrtRte" />
    <result column="REACTION" jdbcType="VARCHAR" property="reaction" />
    <result column="REACTION_CONTENT" jdbcType="VARCHAR" property="reactionContent" />
    <result column="EVALUATION_PLAN" jdbcType="VARCHAR" property="evaluationPlan" />
    <result column="DOC_COD" jdbcType="VARCHAR" property="docCod" />
    <result column="DOC_NAM" jdbcType="VARCHAR" property="docNam" />
    <result column="TRANSFUSION_DAT" jdbcType="TIMESTAMP" property="transfusionDat" />
    <result column="ISPRINT" jdbcType="VARCHAR" property="isprint" />
    <result column="CRT_DAT" jdbcType="TIMESTAMP" property="crtDat" />
    <result column="CRT_COD" jdbcType="VARCHAR" property="crtCod" />
    <result column="CRT_NAM" jdbcType="VARCHAR" property="crtNam" />
    <result column="UPD_DAT" jdbcType="TIMESTAMP" property="updDat" />
    <result column="UPD_COD" jdbcType="VARCHAR" property="updCod" />
    <result column="UPD_NAM" jdbcType="VARCHAR" property="updNam" />
  </resultMap>
  <sql id="Base_Column_List">
    TRANSFUSION_SEQ, EMG_SEQ, INFUSION_START_DAT, INFUSION_END_DAT, INDICATION, COMPOSITION, 
    AMOUNT, ASSESSMENT, INFUSION_PROCESS, TMP_NBR, TMP_NBR_FLG, PULSE, BRE_NBR, BRE_NBR_FLG, 
    SBP_UP_NBR, SBP_DOWN_NBR, SBP_NBR_FLG, OXY_NBR, XY_FLG, PBG_NBR, PBG_NBR_FLG, PBG_NBR_TYPE, 
    HRT_RTE, REACTION, REACTION_CONTENT, EVALUATION_PLAN, DOC_COD, DOC_NAM, TRANSFUSION_DAT, 
    ISPRINT, CRT_DAT, CRT_COD, CRT_NAM, UPD_DAT, UPD_COD, UPD_NAM
  </sql>
  
  <!-- 查询输血记录条数 -->
  <select id="findTransfusionCountByEmgSeq" parameterType="activetech.zyyhospital.pojo.dto.HspTransfusionInfQueryDto" resultType="int">
  		select 
  			count(*)
  		from HSP_TRANSFUSION_INF where EMG_SEQ = #{hspTransfusionInfCustom.emgSeq}
  </select>
  
  <!-- 查询输血记录列表 -->
  <select id="findTransfusionListByEmgSeq" parameterType="activetech.zyyhospital.pojo.dto.HspTransfusionInfQueryDto" resultType="activetech.zyyhospital.pojo.dto.HspTransfusionInfCustom">
  		<!-- 分页头 -->
		<include refid="activetech.base.CommonSql.page_start" />
  		select 
  			<include refid="Base_Column_List"/>
  		from HSP_TRANSFUSION_INF where EMG_SEQ = #{hspTransfusionInfCustom.emgSeq}
  		order by TRANSFUSION_DAT
  		<!-- 分页头 -->
		<include refid="activetech.base.CommonSql.page_end" />
  </select>
  
    <!-- 输血记录列表打印 -->
  <select id="findTransfusionListPrint" parameterType="activetech.zyyhospital.pojo.dto.HspLqbljlQueryDto" resultMap="BaseResultMap">
  		<!-- 分页头 -->
		<include refid="activetech.base.CommonSql.page_start" />
  		select 
  		<include refid="Base_Column_List" /> 
  		from HSP_TRANSFUSION_INF where EMG_SEQ = #{hspTransfusionInfCustom.emgSeq}
  		order by ${sort} ${order}
  		<!-- 分页尾部 -->
		<include refid="activetech.base.CommonSql.page_end" />
  </select>
  
  <!-- 修改打印状态 -->
  <update id="updTransfusionAfterPrint" parameterType="activetech.zyyhospital.pojo.dto.HspDiseaseCourseQueryDto">
  		  update HSP_TRANSFUSION_INF
		   set isprint = '1'
		 where TRANSFUSION_SEQ in
		<foreach collection="transfusionSeqList" index="index" item="transfusionSeq" open="(" separator="," close=")">  
           #{transfusionSeq}  
       </foreach>
  	</update>
</mapper>