<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activetech.zyyhospital.dao.mapper.HspTransfusionInfMapper">
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspTransfusionInf">
    <id column="TRANSFUSION_SEQ" jdbcType="VARCHAR" property="transfusionSeq" />
    <result column="EMG_SEQ" jdbcType="VARCHAR" property="emgSeq" />
    <result column="INFUSION_START_DAT" jdbcType="TIMESTAMP" property="infusionStartDat" />
    <result column="INFUSION_END_DAT" jdbcType="TIMESTAMP" property="infusionEndDat" />
    <result column="INDICATION" jdbcType="VARCHAR" property="indication" />
    <result column="COMPOSITION" jdbcType="VARCHAR" property="composition" />
    <result column="AMOUNT" jdbcType="VARCHAR" property="amount" />
    <result column="ASSESSMENT" jdbcType="VARCHAR" property="assessment" />
    <result column="INFUSION_PROCESS" jdbcType="VARCHAR" property="infusionProcess" />
    <result column="TMP_NBR" jdbcType="VARCHAR" property="tmpNbr" />
    <result column="TMP_NBR_FLG" jdbcType="VARCHAR" property="tmpNbrFlg" />
    <result column="PULSE" jdbcType="VARCHAR" property="pulse" />
    <result column="BRE_NBR" jdbcType="VARCHAR" property="breNbr" />
    <result column="BRE_NBR_FLG" jdbcType="VARCHAR" property="breNbrFlg" />
    <result column="SBP_UP_NBR" jdbcType="VARCHAR" property="sbpUpNbr" />
    <result column="SBP_DOWN_NBR" jdbcType="VARCHAR" property="sbpDownNbr" />
    <result column="SBP_NBR_FLG" jdbcType="VARCHAR" property="sbpNbrFlg" />
    <result column="OXY_NBR" jdbcType="VARCHAR" property="oxyNbr" />
    <result column="XY_FLG" jdbcType="VARCHAR" property="xyFlg" />
    <result column="PBG_NBR" jdbcType="VARCHAR" property="pbgNbr" />
    <result column="PBG_NBR_FLG" jdbcType="VARCHAR" property="pbgNbrFlg" />
    <result column="PBG_NBR_TYPE" jdbcType="VARCHAR" property="pbgNbrType" />
    <result column="HRT_RTE" jdbcType="VARCHAR" property="hrtRte" />
    <result column="REACTION" jdbcType="VARCHAR" property="reaction" />
    <result column="REACTION_CONTENT" jdbcType="VARCHAR" property="reactionContent" />
    <result column="EVALUATION_PLAN" jdbcType="VARCHAR" property="evaluationPlan" />
    <result column="DOC_COD" jdbcType="VARCHAR" property="docCod" />
    <result column="DOC_NAM" jdbcType="VARCHAR" property="docNam" />
    <result column="TRANSFUSION_DAT" jdbcType="TIMESTAMP" property="transfusionDat" />
    <result column="ISPRINT" jdbcType="VARCHAR" property="isprint" />
    <result column="CRT_DAT" jdbcType="TIMESTAMP" property="crtDat" />
    <result column="CRT_COD" jdbcType="VARCHAR" property="crtCod" />
    <result column="CRT_NAM" jdbcType="VARCHAR" property="crtNam" />
    <result column="UPD_DAT" jdbcType="TIMESTAMP" property="updDat" />
    <result column="UPD_COD" jdbcType="VARCHAR" property="updCod" />
    <result column="UPD_NAM" jdbcType="VARCHAR" property="updNam" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TRANSFUSION_SEQ, EMG_SEQ, INFUSION_START_DAT, INFUSION_END_DAT, INDICATION, COMPOSITION, 
    AMOUNT, ASSESSMENT, INFUSION_PROCESS, TMP_NBR, TMP_NBR_FLG, PULSE, BRE_NBR, BRE_NBR_FLG, 
    SBP_UP_NBR, SBP_DOWN_NBR, SBP_NBR_FLG, OXY_NBR, XY_FLG, PBG_NBR, PBG_NBR_FLG, PBG_NBR_TYPE, 
    HRT_RTE, REACTION, REACTION_CONTENT, EVALUATION_PLAN, DOC_COD, DOC_NAM, TRANSFUSION_DAT, 
    ISPRINT, CRT_DAT, CRT_COD, CRT_NAM, UPD_DAT, UPD_COD, UPD_NAM
  </sql>
  <select id="selectByExample" parameterType="activetech.zyyhospital.pojo.domain.HspTransfusionInfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_TRANSFUSION_INF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HSP_TRANSFUSION_INF
    where TRANSFUSION_SEQ = #{transfusionSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HSP_TRANSFUSION_INF
    where TRANSFUSION_SEQ = #{transfusionSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspTransfusionInfExample">
    delete from HSP_TRANSFUSION_INF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspTransfusionInf">
    insert into HSP_TRANSFUSION_INF (TRANSFUSION_SEQ, EMG_SEQ, INFUSION_START_DAT, 
      INFUSION_END_DAT, INDICATION, COMPOSITION, 
      AMOUNT, ASSESSMENT, INFUSION_PROCESS, 
      TMP_NBR, TMP_NBR_FLG, PULSE, 
      BRE_NBR, BRE_NBR_FLG, SBP_UP_NBR, 
      SBP_DOWN_NBR, SBP_NBR_FLG, OXY_NBR, 
      XY_FLG, PBG_NBR, PBG_NBR_FLG, 
      PBG_NBR_TYPE, HRT_RTE, REACTION, 
      REACTION_CONTENT, EVALUATION_PLAN, DOC_COD, 
      DOC_NAM, TRANSFUSION_DAT, ISPRINT, 
      CRT_DAT, CRT_COD, CRT_NAM, 
      UPD_DAT, UPD_COD, UPD_NAM
      )
    values (#{transfusionSeq,jdbcType=VARCHAR}, #{emgSeq,jdbcType=VARCHAR}, #{infusionStartDat,jdbcType=TIMESTAMP}, 
      #{infusionEndDat,jdbcType=TIMESTAMP}, #{indication,jdbcType=VARCHAR}, #{composition,jdbcType=VARCHAR}, 
      #{amount,jdbcType=VARCHAR}, #{assessment,jdbcType=VARCHAR}, #{infusionProcess,jdbcType=VARCHAR}, 
      #{tmpNbr,jdbcType=VARCHAR}, #{tmpNbrFlg,jdbcType=VARCHAR}, #{pulse,jdbcType=VARCHAR}, 
      #{breNbr,jdbcType=VARCHAR}, #{breNbrFlg,jdbcType=VARCHAR}, #{sbpUpNbr,jdbcType=VARCHAR}, 
      #{sbpDownNbr,jdbcType=VARCHAR}, #{sbpNbrFlg,jdbcType=VARCHAR}, #{oxyNbr,jdbcType=VARCHAR}, 
      #{xyFlg,jdbcType=VARCHAR}, #{pbgNbr,jdbcType=VARCHAR}, #{pbgNbrFlg,jdbcType=VARCHAR}, 
      #{pbgNbrType,jdbcType=VARCHAR}, #{hrtRte,jdbcType=VARCHAR}, #{reaction,jdbcType=VARCHAR}, 
      #{reactionContent,jdbcType=VARCHAR}, #{evaluationPlan,jdbcType=VARCHAR}, #{docCod,jdbcType=VARCHAR}, 
      #{docNam,jdbcType=VARCHAR}, #{transfusionDat,jdbcType=TIMESTAMP}, #{isprint,jdbcType=VARCHAR}, 
      #{crtDat,jdbcType=TIMESTAMP}, #{crtCod,jdbcType=VARCHAR}, #{crtNam,jdbcType=VARCHAR}, 
      #{updDat,jdbcType=TIMESTAMP}, #{updCod,jdbcType=VARCHAR}, #{updNam,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspTransfusionInf">
    insert into HSP_TRANSFUSION_INF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transfusionSeq != null">
        TRANSFUSION_SEQ,
      </if>
      <if test="emgSeq != null">
        EMG_SEQ,
      </if>
      <if test="infusionStartDat != null">
        INFUSION_START_DAT,
      </if>
      <if test="infusionEndDat != null">
        INFUSION_END_DAT,
      </if>
      <if test="indication != null">
        INDICATION,
      </if>
      <if test="composition != null">
        COMPOSITION,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="assessment != null">
        ASSESSMENT,
      </if>
      <if test="infusionProcess != null">
        INFUSION_PROCESS,
      </if>
      <if test="tmpNbr != null">
        TMP_NBR,
      </if>
      <if test="tmpNbrFlg != null">
        TMP_NBR_FLG,
      </if>
      <if test="pulse != null">
        PULSE,
      </if>
      <if test="breNbr != null">
        BRE_NBR,
      </if>
      <if test="breNbrFlg != null">
        BRE_NBR_FLG,
      </if>
      <if test="sbpUpNbr != null">
        SBP_UP_NBR,
      </if>
      <if test="sbpDownNbr != null">
        SBP_DOWN_NBR,
      </if>
      <if test="sbpNbrFlg != null">
        SBP_NBR_FLG,
      </if>
      <if test="oxyNbr != null">
        OXY_NBR,
      </if>
      <if test="xyFlg != null">
        XY_FLG,
      </if>
      <if test="pbgNbr != null">
        PBG_NBR,
      </if>
      <if test="pbgNbrFlg != null">
        PBG_NBR_FLG,
      </if>
      <if test="pbgNbrType != null">
        PBG_NBR_TYPE,
      </if>
      <if test="hrtRte != null">
        HRT_RTE,
      </if>
      <if test="reaction != null">
        REACTION,
      </if>
      <if test="reactionContent != null">
        REACTION_CONTENT,
      </if>
      <if test="evaluationPlan != null">
        EVALUATION_PLAN,
      </if>
      <if test="docCod != null">
        DOC_COD,
      </if>
      <if test="docNam != null">
        DOC_NAM,
      </if>
      <if test="transfusionDat != null">
        TRANSFUSION_DAT,
      </if>
      <if test="isprint != null">
        ISPRINT,
      </if>
      <if test="crtDat != null">
        CRT_DAT,
      </if>
      <if test="crtCod != null">
        CRT_COD,
      </if>
      <if test="crtNam != null">
        CRT_NAM,
      </if>
      <if test="updDat != null">
        UPD_DAT,
      </if>
      <if test="updCod != null">
        UPD_COD,
      </if>
      <if test="updNam != null">
        UPD_NAM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transfusionSeq != null">
        #{transfusionSeq,jdbcType=VARCHAR},
      </if>
      <if test="emgSeq != null">
        #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="infusionStartDat != null">
        #{infusionStartDat,jdbcType=TIMESTAMP},
      </if>
      <if test="infusionEndDat != null">
        #{infusionEndDat,jdbcType=TIMESTAMP},
      </if>
      <if test="indication != null">
        #{indication,jdbcType=VARCHAR},
      </if>
      <if test="composition != null">
        #{composition,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="assessment != null">
        #{assessment,jdbcType=VARCHAR},
      </if>
      <if test="infusionProcess != null">
        #{infusionProcess,jdbcType=VARCHAR},
      </if>
      <if test="tmpNbr != null">
        #{tmpNbr,jdbcType=VARCHAR},
      </if>
      <if test="tmpNbrFlg != null">
        #{tmpNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="pulse != null">
        #{pulse,jdbcType=VARCHAR},
      </if>
      <if test="breNbr != null">
        #{breNbr,jdbcType=VARCHAR},
      </if>
      <if test="breNbrFlg != null">
        #{breNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="sbpUpNbr != null">
        #{sbpUpNbr,jdbcType=VARCHAR},
      </if>
      <if test="sbpDownNbr != null">
        #{sbpDownNbr,jdbcType=VARCHAR},
      </if>
      <if test="sbpNbrFlg != null">
        #{sbpNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="oxyNbr != null">
        #{oxyNbr,jdbcType=VARCHAR},
      </if>
      <if test="xyFlg != null">
        #{xyFlg,jdbcType=VARCHAR},
      </if>
      <if test="pbgNbr != null">
        #{pbgNbr,jdbcType=VARCHAR},
      </if>
      <if test="pbgNbrFlg != null">
        #{pbgNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="pbgNbrType != null">
        #{pbgNbrType,jdbcType=VARCHAR},
      </if>
      <if test="hrtRte != null">
        #{hrtRte,jdbcType=VARCHAR},
      </if>
      <if test="reaction != null">
        #{reaction,jdbcType=VARCHAR},
      </if>
      <if test="reactionContent != null">
        #{reactionContent,jdbcType=VARCHAR},
      </if>
      <if test="evaluationPlan != null">
        #{evaluationPlan,jdbcType=VARCHAR},
      </if>
      <if test="docCod != null">
        #{docCod,jdbcType=VARCHAR},
      </if>
      <if test="docNam != null">
        #{docNam,jdbcType=VARCHAR},
      </if>
      <if test="transfusionDat != null">
        #{transfusionDat,jdbcType=TIMESTAMP},
      </if>
      <if test="isprint != null">
        #{isprint,jdbcType=VARCHAR},
      </if>
      <if test="crtDat != null">
        #{crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtCod != null">
        #{crtCod,jdbcType=VARCHAR},
      </if>
      <if test="crtNam != null">
        #{crtNam,jdbcType=VARCHAR},
      </if>
      <if test="updDat != null">
        #{updDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updCod != null">
        #{updCod,jdbcType=VARCHAR},
      </if>
      <if test="updNam != null">
        #{updNam,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspTransfusionInfExample" resultType="java.lang.Long">
    select count(*) from HSP_TRANSFUSION_INF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update HSP_TRANSFUSION_INF
    <set>
      <if test="record.transfusionSeq != null">
        TRANSFUSION_SEQ = #{record.transfusionSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.emgSeq != null">
        EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.infusionStartDat != null">
        INFUSION_START_DAT = #{record.infusionStartDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.infusionEndDat != null">
        INFUSION_END_DAT = #{record.infusionEndDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.indication != null">
        INDICATION = #{record.indication,jdbcType=VARCHAR},
      </if>
      <if test="record.composition != null">
        COMPOSITION = #{record.composition,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        AMOUNT = #{record.amount,jdbcType=VARCHAR},
      </if>
      <if test="record.assessment != null">
        ASSESSMENT = #{record.assessment,jdbcType=VARCHAR},
      </if>
      <if test="record.infusionProcess != null">
        INFUSION_PROCESS = #{record.infusionProcess,jdbcType=VARCHAR},
      </if>
      <if test="record.tmpNbr != null">
        TMP_NBR = #{record.tmpNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.tmpNbrFlg != null">
        TMP_NBR_FLG = #{record.tmpNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.pulse != null">
        PULSE = #{record.pulse,jdbcType=VARCHAR},
      </if>
      <if test="record.breNbr != null">
        BRE_NBR = #{record.breNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.breNbrFlg != null">
        BRE_NBR_FLG = #{record.breNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.sbpUpNbr != null">
        SBP_UP_NBR = #{record.sbpUpNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.sbpDownNbr != null">
        SBP_DOWN_NBR = #{record.sbpDownNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.sbpNbrFlg != null">
        SBP_NBR_FLG = #{record.sbpNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.oxyNbr != null">
        OXY_NBR = #{record.oxyNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.xyFlg != null">
        XY_FLG = #{record.xyFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.pbgNbr != null">
        PBG_NBR = #{record.pbgNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.pbgNbrFlg != null">
        PBG_NBR_FLG = #{record.pbgNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.pbgNbrType != null">
        PBG_NBR_TYPE = #{record.pbgNbrType,jdbcType=VARCHAR},
      </if>
      <if test="record.hrtRte != null">
        HRT_RTE = #{record.hrtRte,jdbcType=VARCHAR},
      </if>
      <if test="record.reaction != null">
        REACTION = #{record.reaction,jdbcType=VARCHAR},
      </if>
      <if test="record.reactionContent != null">
        REACTION_CONTENT = #{record.reactionContent,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationPlan != null">
        EVALUATION_PLAN = #{record.evaluationPlan,jdbcType=VARCHAR},
      </if>
      <if test="record.docCod != null">
        DOC_COD = #{record.docCod,jdbcType=VARCHAR},
      </if>
      <if test="record.docNam != null">
        DOC_NAM = #{record.docNam,jdbcType=VARCHAR},
      </if>
      <if test="record.transfusionDat != null">
        TRANSFUSION_DAT = #{record.transfusionDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isprint != null">
        ISPRINT = #{record.isprint,jdbcType=VARCHAR},
      </if>
      <if test="record.crtDat != null">
        CRT_DAT = #{record.crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtCod != null">
        CRT_COD = #{record.crtCod,jdbcType=VARCHAR},
      </if>
      <if test="record.crtNam != null">
        CRT_NAM = #{record.crtNam,jdbcType=VARCHAR},
      </if>
      <if test="record.updDat != null">
        UPD_DAT = #{record.updDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updCod != null">
        UPD_COD = #{record.updCod,jdbcType=VARCHAR},
      </if>
      <if test="record.updNam != null">
        UPD_NAM = #{record.updNam,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update HSP_TRANSFUSION_INF
    set TRANSFUSION_SEQ = #{record.transfusionSeq,jdbcType=VARCHAR},
      EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      INFUSION_START_DAT = #{record.infusionStartDat,jdbcType=TIMESTAMP},
      INFUSION_END_DAT = #{record.infusionEndDat,jdbcType=TIMESTAMP},
      INDICATION = #{record.indication,jdbcType=VARCHAR},
      COMPOSITION = #{record.composition,jdbcType=VARCHAR},
      AMOUNT = #{record.amount,jdbcType=VARCHAR},
      ASSESSMENT = #{record.assessment,jdbcType=VARCHAR},
      INFUSION_PROCESS = #{record.infusionProcess,jdbcType=VARCHAR},
      TMP_NBR = #{record.tmpNbr,jdbcType=VARCHAR},
      TMP_NBR_FLG = #{record.tmpNbrFlg,jdbcType=VARCHAR},
      PULSE = #{record.pulse,jdbcType=VARCHAR},
      BRE_NBR = #{record.breNbr,jdbcType=VARCHAR},
      BRE_NBR_FLG = #{record.breNbrFlg,jdbcType=VARCHAR},
      SBP_UP_NBR = #{record.sbpUpNbr,jdbcType=VARCHAR},
      SBP_DOWN_NBR = #{record.sbpDownNbr,jdbcType=VARCHAR},
      SBP_NBR_FLG = #{record.sbpNbrFlg,jdbcType=VARCHAR},
      OXY_NBR = #{record.oxyNbr,jdbcType=VARCHAR},
      XY_FLG = #{record.xyFlg,jdbcType=VARCHAR},
      PBG_NBR = #{record.pbgNbr,jdbcType=VARCHAR},
      PBG_NBR_FLG = #{record.pbgNbrFlg,jdbcType=VARCHAR},
      PBG_NBR_TYPE = #{record.pbgNbrType,jdbcType=VARCHAR},
      HRT_RTE = #{record.hrtRte,jdbcType=VARCHAR},
      REACTION = #{record.reaction,jdbcType=VARCHAR},
      REACTION_CONTENT = #{record.reactionContent,jdbcType=VARCHAR},
      EVALUATION_PLAN = #{record.evaluationPlan,jdbcType=VARCHAR},
      DOC_COD = #{record.docCod,jdbcType=VARCHAR},
      DOC_NAM = #{record.docNam,jdbcType=VARCHAR},
      TRANSFUSION_DAT = #{record.transfusionDat,jdbcType=TIMESTAMP},
      ISPRINT = #{record.isprint,jdbcType=VARCHAR},
      CRT_DAT = #{record.crtDat,jdbcType=TIMESTAMP},
      CRT_COD = #{record.crtCod,jdbcType=VARCHAR},
      CRT_NAM = #{record.crtNam,jdbcType=VARCHAR},
      UPD_DAT = #{record.updDat,jdbcType=TIMESTAMP},
      UPD_COD = #{record.updCod,jdbcType=VARCHAR},
      UPD_NAM = #{record.updNam,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspTransfusionInf">
    update HSP_TRANSFUSION_INF
    <set>
      <if test="emgSeq != null">
        EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="infusionStartDat != null">
        INFUSION_START_DAT = #{infusionStartDat,jdbcType=TIMESTAMP},
      </if>
      <if test="infusionEndDat != null">
        INFUSION_END_DAT = #{infusionEndDat,jdbcType=TIMESTAMP},
      </if>
      <if test="indication != null">
        INDICATION = #{indication,jdbcType=VARCHAR},
      </if>
      <if test="composition != null">
        COMPOSITION = #{composition,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="assessment != null">
        ASSESSMENT = #{assessment,jdbcType=VARCHAR},
      </if>
      <if test="infusionProcess != null">
        INFUSION_PROCESS = #{infusionProcess,jdbcType=VARCHAR},
      </if>
      <if test="tmpNbr != null">
        TMP_NBR = #{tmpNbr,jdbcType=VARCHAR},
      </if>
      <if test="tmpNbrFlg != null">
        TMP_NBR_FLG = #{tmpNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="pulse != null">
        PULSE = #{pulse,jdbcType=VARCHAR},
      </if>
      <if test="breNbr != null">
        BRE_NBR = #{breNbr,jdbcType=VARCHAR},
      </if>
      <if test="breNbrFlg != null">
        BRE_NBR_FLG = #{breNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="sbpUpNbr != null">
        SBP_UP_NBR = #{sbpUpNbr,jdbcType=VARCHAR},
      </if>
      <if test="sbpDownNbr != null">
        SBP_DOWN_NBR = #{sbpDownNbr,jdbcType=VARCHAR},
      </if>
      <if test="sbpNbrFlg != null">
        SBP_NBR_FLG = #{sbpNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="oxyNbr != null">
        OXY_NBR = #{oxyNbr,jdbcType=VARCHAR},
      </if>
      <if test="xyFlg != null">
        XY_FLG = #{xyFlg,jdbcType=VARCHAR},
      </if>
      <if test="pbgNbr != null">
        PBG_NBR = #{pbgNbr,jdbcType=VARCHAR},
      </if>
      <if test="pbgNbrFlg != null">
        PBG_NBR_FLG = #{pbgNbrFlg,jdbcType=VARCHAR},
      </if>
      <if test="pbgNbrType != null">
        PBG_NBR_TYPE = #{pbgNbrType,jdbcType=VARCHAR},
      </if>
      <if test="hrtRte != null">
        HRT_RTE = #{hrtRte,jdbcType=VARCHAR},
      </if>
      <if test="reaction != null">
        REACTION = #{reaction,jdbcType=VARCHAR},
      </if>
      <if test="reactionContent != null">
        REACTION_CONTENT = #{reactionContent,jdbcType=VARCHAR},
      </if>
      <if test="evaluationPlan != null">
        EVALUATION_PLAN = #{evaluationPlan,jdbcType=VARCHAR},
      </if>
      <if test="docCod != null">
        DOC_COD = #{docCod,jdbcType=VARCHAR},
      </if>
      <if test="docNam != null">
        DOC_NAM = #{docNam,jdbcType=VARCHAR},
      </if>
      <if test="transfusionDat != null">
        TRANSFUSION_DAT = #{transfusionDat,jdbcType=TIMESTAMP},
      </if>
      <if test="isprint != null">
        ISPRINT = #{isprint,jdbcType=VARCHAR},
      </if>
      <if test="crtDat != null">
        CRT_DAT = #{crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtCod != null">
        CRT_COD = #{crtCod,jdbcType=VARCHAR},
      </if>
      <if test="crtNam != null">
        CRT_NAM = #{crtNam,jdbcType=VARCHAR},
      </if>
      <if test="updDat != null">
        UPD_DAT = #{updDat,jdbcType=TIMESTAMP},
      </if>
      <if test="updCod != null">
        UPD_COD = #{updCod,jdbcType=VARCHAR},
      </if>
      <if test="updNam != null">
        UPD_NAM = #{updNam,jdbcType=VARCHAR},
      </if>
    </set>
    where TRANSFUSION_SEQ = #{transfusionSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspTransfusionInf">
    update HSP_TRANSFUSION_INF
    set EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      INFUSION_START_DAT = #{infusionStartDat,jdbcType=TIMESTAMP},
      INFUSION_END_DAT = #{infusionEndDat,jdbcType=TIMESTAMP},
      INDICATION = #{indication,jdbcType=VARCHAR},
      COMPOSITION = #{composition,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=VARCHAR},
      ASSESSMENT = #{assessment,jdbcType=VARCHAR},
      INFUSION_PROCESS = #{infusionProcess,jdbcType=VARCHAR},
      TMP_NBR = #{tmpNbr,jdbcType=VARCHAR},
      TMP_NBR_FLG = #{tmpNbrFlg,jdbcType=VARCHAR},
      PULSE = #{pulse,jdbcType=VARCHAR},
      BRE_NBR = #{breNbr,jdbcType=VARCHAR},
      BRE_NBR_FLG = #{breNbrFlg,jdbcType=VARCHAR},
      SBP_UP_NBR = #{sbpUpNbr,jdbcType=VARCHAR},
      SBP_DOWN_NBR = #{sbpDownNbr,jdbcType=VARCHAR},
      SBP_NBR_FLG = #{sbpNbrFlg,jdbcType=VARCHAR},
      OXY_NBR = #{oxyNbr,jdbcType=VARCHAR},
      XY_FLG = #{xyFlg,jdbcType=VARCHAR},
      PBG_NBR = #{pbgNbr,jdbcType=VARCHAR},
      PBG_NBR_FLG = #{pbgNbrFlg,jdbcType=VARCHAR},
      PBG_NBR_TYPE = #{pbgNbrType,jdbcType=VARCHAR},
      HRT_RTE = #{hrtRte,jdbcType=VARCHAR},
      REACTION = #{reaction,jdbcType=VARCHAR},
      REACTION_CONTENT = #{reactionContent,jdbcType=VARCHAR},
      EVALUATION_PLAN = #{evaluationPlan,jdbcType=VARCHAR},
      DOC_COD = #{docCod,jdbcType=VARCHAR},
      DOC_NAM = #{docNam,jdbcType=VARCHAR},
      TRANSFUSION_DAT = #{transfusionDat,jdbcType=TIMESTAMP},
      ISPRINT = #{isprint,jdbcType=VARCHAR},
      CRT_DAT = #{crtDat,jdbcType=TIMESTAMP},
      CRT_COD = #{crtCod,jdbcType=VARCHAR},
      CRT_NAM = #{crtNam,jdbcType=VARCHAR},
      UPD_DAT = #{updDat,jdbcType=TIMESTAMP},
      UPD_COD = #{updCod,jdbcType=VARCHAR},
      UPD_NAM = #{updNam,jdbcType=VARCHAR}
    where TRANSFUSION_SEQ = #{transfusionSeq,jdbcType=VARCHAR}
  </update>
</mapper>