<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activetech.zyyhospital.dao.mapper.HspXwhljldInfMapper">
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.domain.HspXwhljldInf">
    <id column="XWHI_SEQ" jdbcType="VARCHAR" property="xwhiSeq" />
    <result column="EMG_SEQ" jdbcType="VARCHAR" property="emgSeq" />
    <result column="ASS_DAT" jdbcType="TIMESTAMP" property="assDat" />
    <result column="ASS_NAME" jdbcType="VARCHAR" property="assName" />
    <result column="HRT_RTE" jdbcType="DECIMAL" property="hrtRte" />
    <result column="BRE_NBR" jdbcType="DECIMAL" property="breNbr" />
    <result column="SPO2" jdbcType="DECIMAL" property="spo2" />
    <result column="SBP_UP_NBR" jdbcType="DECIMAL" property="sbpUpNbr" />
    <result column="SBP_DOWN_NBR" jdbcType="DECIMAL" property="sbpDownNbr" />
    <result column="DW_COD" jdbcType="VARCHAR" property="dwCod" />
    <result column="DW_YM1" jdbcType="VARCHAR" property="dwYm1" />
    <result column="DW_YM2" jdbcType="VARCHAR" property="dwYm2" />
    <result column="DW_YM3" jdbcType="VARCHAR" property="dwYm3" />
    <result column="XWY_COD" jdbcType="VARCHAR" property="xwyCod" />
    <result column="XWY_WD" jdbcType="DECIMAL" property="xwyWd" />
    <result column="XWY_RL" jdbcType="VARCHAR" property="xwyRl" />
    <result column="XCY_YS" jdbcType="VARCHAR" property="xcyYs" />
    <result column="XCY_XZ" jdbcType="VARCHAR" property="xcyXz" />
    <result column="XCY_CL" jdbcType="VARCHAR" property="xcyCl" />
    <result column="MSCB_COD" jdbcType="CHAR" property="mscbCod" />
    <result column="EX_COD" jdbcType="CHAR" property="exCod" />
    <result column="OT_COD" jdbcType="CHAR" property="otCod" />
    <result column="FBPL_COD" jdbcType="CHAR" property="fbplCod" />
    <result column="FZ_COD" jdbcType="CHAR" property="fzCod" />
    <result column="FT_COD" jdbcType="CHAR" property="ftCod" />
    <result column="XWTZ_QT" jdbcType="VARCHAR" property="xwtzQt" />
    <result column="XWY_QT" jdbcType="VARCHAR" property="xwyQt" />
    <result column="RECORD_DAT" jdbcType="TIMESTAMP" property="recordDat" />
    <result column="CRT_DAT" jdbcType="TIMESTAMP" property="crtDat" />
    <result column="CRT_NUR" jdbcType="VARCHAR" property="crtNur" />
    <result column="CRT_NAME" jdbcType="VARCHAR" property="crtName" />
    <result column="UP_DAT" jdbcType="TIMESTAMP" property="upDat" />
    <result column="UP_NUR" jdbcType="VARCHAR" property="upNur" />
    <result column="UP_NAME" jdbcType="VARCHAR" property="upName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    XWHI_SEQ, EMG_SEQ, ASS_DAT, ASS_NAME, HRT_RTE, BRE_NBR, SPO2, SBP_UP_NBR, SBP_DOWN_NBR, 
    DW_COD, DW_YM1, DW_YM2, DW_YM3, XWY_COD, XWY_WD, XWY_RL, XCY_YS, XCY_XZ, XCY_CL, 
    MSCB_COD, EX_COD, OT_COD, FBPL_COD, FZ_COD, FT_COD, XWTZ_QT, XWY_QT, RECORD_DAT, 
    CRT_DAT, CRT_NUR, CRT_NAME, UP_DAT, UP_NUR, UP_NAME
  </sql>
  <select id="selectByExample" parameterType="activetech.zyyhospital.pojo.domain.HspXwhljldInfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_XWHLJLD_INF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HSP_XWHLJLD_INF
    where XWHI_SEQ = #{xwhiSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HSP_XWHLJLD_INF
    where XWHI_SEQ = #{xwhiSeq,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.zyyhospital.pojo.domain.HspXwhljldInfExample">
    delete from HSP_XWHLJLD_INF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.zyyhospital.pojo.domain.HspXwhljldInf">
    insert into HSP_XWHLJLD_INF (XWHI_SEQ, EMG_SEQ, ASS_DAT, 
      ASS_NAME, HRT_RTE, BRE_NBR, 
      SPO2, SBP_UP_NBR, SBP_DOWN_NBR, 
      DW_COD, DW_YM1, DW_YM2, 
      DW_YM3, XWY_COD, XWY_WD, 
      XWY_RL, XCY_YS, XCY_XZ, 
      XCY_CL, MSCB_COD, EX_COD, OT_COD, 
      FBPL_COD, FZ_COD, FT_COD, XWTZ_QT, 
      XWY_QT, RECORD_DAT, CRT_DAT, 
      CRT_NUR, CRT_NAME, UP_DAT, 
      UP_NUR, UP_NAME)
    values (#{xwhiSeq,jdbcType=VARCHAR}, #{emgSeq,jdbcType=VARCHAR}, #{assDat,jdbcType=TIMESTAMP}, 
      #{assName,jdbcType=VARCHAR}, #{hrtRte,jdbcType=DECIMAL}, #{breNbr,jdbcType=DECIMAL}, 
      #{spo2,jdbcType=DECIMAL}, #{sbpUpNbr,jdbcType=DECIMAL}, #{sbpDownNbr,jdbcType=DECIMAL}, 
      #{dwCod,jdbcType=VARCHAR}, #{dwYm1,jdbcType=VARCHAR}, #{dwYm2,jdbcType=VARCHAR}, 
      #{dwYm3,jdbcType=VARCHAR}, #{xwyCod,jdbcType=VARCHAR}, #{xwyWd,jdbcType=DECIMAL}, 
      #{xwyRl,jdbcType=VARCHAR}, #{xcyYs,jdbcType=VARCHAR}, #{xcyXz,jdbcType=VARCHAR}, 
      #{xcyCl,jdbcType=VARCHAR}, #{mscbCod,jdbcType=CHAR}, #{exCod,jdbcType=CHAR}, #{otCod,jdbcType=CHAR}, 
      #{fbplCod,jdbcType=CHAR}, #{fzCod,jdbcType=CHAR}, #{ftCod,jdbcType=CHAR}, #{xwtzQt,jdbcType=VARCHAR}, 
      #{xwyQt,jdbcType=VARCHAR}, #{recordDat,jdbcType=TIMESTAMP}, #{crtDat,jdbcType=TIMESTAMP}, 
      #{crtNur,jdbcType=VARCHAR}, #{crtName,jdbcType=VARCHAR}, #{upDat,jdbcType=TIMESTAMP}, 
      #{upNur,jdbcType=VARCHAR}, #{upName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="activetech.zyyhospital.pojo.domain.HspXwhljldInf">
    insert into HSP_XWHLJLD_INF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xwhiSeq != null">
        XWHI_SEQ,
      </if>
      <if test="emgSeq != null">
        EMG_SEQ,
      </if>
      <if test="assDat != null">
        ASS_DAT,
      </if>
      <if test="assName != null">
        ASS_NAME,
      </if>
      <if test="hrtRte != null">
        HRT_RTE,
      </if>
      <if test="breNbr != null">
        BRE_NBR,
      </if>
      <if test="spo2 != null">
        SPO2,
      </if>
      <if test="sbpUpNbr != null">
        SBP_UP_NBR,
      </if>
      <if test="sbpDownNbr != null">
        SBP_DOWN_NBR,
      </if>
      <if test="dwCod != null">
        DW_COD,
      </if>
      <if test="dwYm1 != null">
        DW_YM1,
      </if>
      <if test="dwYm2 != null">
        DW_YM2,
      </if>
      <if test="dwYm3 != null">
        DW_YM3,
      </if>
      <if test="xwyCod != null">
        XWY_COD,
      </if>
      <if test="xwyWd != null">
        XWY_WD,
      </if>
      <if test="xwyRl != null">
        XWY_RL,
      </if>
      <if test="xcyYs != null">
        XCY_YS,
      </if>
      <if test="xcyXz != null">
        XCY_XZ,
      </if>
      <if test="xcyCl != null">
        XCY_CL,
      </if>
      <if test="mscbCod != null">
        MSCB_COD,
      </if>
      <if test="exCod != null">
        EX_COD,
      </if>
      <if test="otCod != null">
        OT_COD,
      </if>
      <if test="fbplCod != null">
        FBPL_COD,
      </if>
      <if test="fzCod != null">
        FZ_COD,
      </if>
      <if test="ftCod != null">
        FT_COD,
      </if>
      <if test="xwtzQt != null">
        XWTZ_QT,
      </if>
      <if test="xwyQt != null">
        XWY_QT,
      </if>
      <if test="recordDat != null">
        RECORD_DAT,
      </if>
      <if test="crtDat != null">
        CRT_DAT,
      </if>
      <if test="crtNur != null">
        CRT_NUR,
      </if>
      <if test="crtName != null">
        CRT_NAME,
      </if>
      <if test="upDat != null">
        UP_DAT,
      </if>
      <if test="upNur != null">
        UP_NUR,
      </if>
      <if test="upName != null">
        UP_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xwhiSeq != null">
        #{xwhiSeq,jdbcType=VARCHAR},
      </if>
      <if test="emgSeq != null">
        #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="assDat != null">
        #{assDat,jdbcType=TIMESTAMP},
      </if>
      <if test="assName != null">
        #{assName,jdbcType=VARCHAR},
      </if>
      <if test="hrtRte != null">
        #{hrtRte,jdbcType=DECIMAL},
      </if>
      <if test="breNbr != null">
        #{breNbr,jdbcType=DECIMAL},
      </if>
      <if test="spo2 != null">
        #{spo2,jdbcType=DECIMAL},
      </if>
      <if test="sbpUpNbr != null">
        #{sbpUpNbr,jdbcType=DECIMAL},
      </if>
      <if test="sbpDownNbr != null">
        #{sbpDownNbr,jdbcType=DECIMAL},
      </if>
      <if test="dwCod != null">
        #{dwCod,jdbcType=VARCHAR},
      </if>
      <if test="dwYm1 != null">
        #{dwYm1,jdbcType=VARCHAR},
      </if>
      <if test="dwYm2 != null">
        #{dwYm2,jdbcType=VARCHAR},
      </if>
      <if test="dwYm3 != null">
        #{dwYm3,jdbcType=VARCHAR},
      </if>
      <if test="xwyCod != null">
        #{xwyCod,jdbcType=VARCHAR},
      </if>
      <if test="xwyWd != null">
        #{xwyWd,jdbcType=DECIMAL},
      </if>
      <if test="xwyRl != null">
        #{xwyRl,jdbcType=VARCHAR},
      </if>
      <if test="xcyYs != null">
        #{xcyYs,jdbcType=VARCHAR},
      </if>
      <if test="xcyXz != null">
        #{xcyXz,jdbcType=VARCHAR},
      </if>
      <if test="xcyCl != null">
        #{xcyCl,jdbcType=VARCHAR},
      </if>
      <if test="mscbCod != null">
        #{mscbCod,jdbcType=CHAR},
      </if>
      <if test="exCod != null">
        #{exCod,jdbcType=CHAR},
      </if>
      <if test="otCod != null">
        #{otCod,jdbcType=CHAR},
      </if>
      <if test="fbplCod != null">
        #{fbplCod,jdbcType=CHAR},
      </if>
      <if test="fzCod != null">
        #{fzCod,jdbcType=CHAR},
      </if>
      <if test="ftCod != null">
        #{ftCod,jdbcType=CHAR},
      </if>
      <if test="xwtzQt != null">
        #{xwtzQt,jdbcType=VARCHAR},
      </if>
      <if test="xwyQt != null">
        #{xwyQt,jdbcType=VARCHAR},
      </if>
      <if test="recordDat != null">
        #{recordDat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtDat != null">
        #{crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtNur != null">
        #{crtNur,jdbcType=VARCHAR},
      </if>
      <if test="crtName != null">
        #{crtName,jdbcType=VARCHAR},
      </if>
      <if test="upDat != null">
        #{upDat,jdbcType=TIMESTAMP},
      </if>
      <if test="upNur != null">
        #{upNur,jdbcType=VARCHAR},
      </if>
      <if test="upName != null">
        #{upName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.zyyhospital.pojo.domain.HspXwhljldInfExample" resultType="java.lang.Long">
    select count(*) from HSP_XWHLJLD_INF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update HSP_XWHLJLD_INF
    <set>
      <if test="record.xwhiSeq != null">
        XWHI_SEQ = #{record.xwhiSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.emgSeq != null">
        EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.assDat != null">
        ASS_DAT = #{record.assDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.assName != null">
        ASS_NAME = #{record.assName,jdbcType=VARCHAR},
      </if>
      <if test="record.hrtRte != null">
        HRT_RTE = #{record.hrtRte,jdbcType=DECIMAL},
      </if>
      <if test="record.breNbr != null">
        BRE_NBR = #{record.breNbr,jdbcType=DECIMAL},
      </if>
      <if test="record.spo2 != null">
        SPO2 = #{record.spo2,jdbcType=DECIMAL},
      </if>
      <if test="record.sbpUpNbr != null">
        SBP_UP_NBR = #{record.sbpUpNbr,jdbcType=DECIMAL},
      </if>
      <if test="record.sbpDownNbr != null">
        SBP_DOWN_NBR = #{record.sbpDownNbr,jdbcType=DECIMAL},
      </if>
      <if test="record.dwCod != null">
        DW_COD = #{record.dwCod,jdbcType=VARCHAR},
      </if>
      <if test="record.dwYm1 != null">
        DW_YM1 = #{record.dwYm1,jdbcType=VARCHAR},
      </if>
      <if test="record.dwYm2 != null">
        DW_YM2 = #{record.dwYm2,jdbcType=VARCHAR},
      </if>
      <if test="record.dwYm3 != null">
        DW_YM3 = #{record.dwYm3,jdbcType=VARCHAR},
      </if>
      <if test="record.xwyCod != null">
        XWY_COD = #{record.xwyCod,jdbcType=VARCHAR},
      </if>
      <if test="record.xwyWd != null">
        XWY_WD = #{record.xwyWd,jdbcType=DECIMAL},
      </if>
      <if test="record.xwyRl != null">
        XWY_RL = #{record.xwyRl,jdbcType=VARCHAR},
      </if>
      <if test="record.xcyYs != null">
        XCY_YS = #{record.xcyYs,jdbcType=VARCHAR},
      </if>
      <if test="record.xcyXz != null">
        XCY_XZ = #{record.xcyXz,jdbcType=VARCHAR},
      </if>
      <if test="record.xcyCl != null">
        XCY_CL = #{record.xcyCl,jdbcType=VARCHAR},
      </if>
      <if test="record.mscbCod != null">
        MSCB_COD = #{record.mscbCod,jdbcType=CHAR},
      </if>
      <if test="record.exCod != null">
        EX_COD = #{record.exCod,jdbcType=CHAR},
      </if>
      <if test="record.otCod != null">
        OT_COD = #{record.otCod,jdbcType=CHAR},
      </if>
      <if test="record.fbplCod != null">
        FBPL_COD = #{record.fbplCod,jdbcType=CHAR},
      </if>
      <if test="record.fzCod != null">
        FZ_COD = #{record.fzCod,jdbcType=CHAR},
      </if>
      <if test="record.ftCod != null">
        FT_COD = #{record.ftCod,jdbcType=CHAR},
      </if>
      <if test="record.xwtzQt != null">
        XWTZ_QT = #{record.xwtzQt,jdbcType=VARCHAR},
      </if>
      <if test="record.xwyQt != null">
        XWY_QT = #{record.xwyQt,jdbcType=VARCHAR},
      </if>
      <if test="record.recordDat != null">
        RECORD_DAT = #{record.recordDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtDat != null">
        CRT_DAT = #{record.crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtNur != null">
        CRT_NUR = #{record.crtNur,jdbcType=VARCHAR},
      </if>
      <if test="record.crtName != null">
        CRT_NAME = #{record.crtName,jdbcType=VARCHAR},
      </if>
      <if test="record.upDat != null">
        UP_DAT = #{record.upDat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.upNur != null">
        UP_NUR = #{record.upNur,jdbcType=VARCHAR},
      </if>
      <if test="record.upName != null">
        UP_NAME = #{record.upName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update HSP_XWHLJLD_INF
    set XWHI_SEQ = #{record.xwhiSeq,jdbcType=VARCHAR},
      EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      ASS_DAT = #{record.assDat,jdbcType=TIMESTAMP},
      ASS_NAME = #{record.assName,jdbcType=VARCHAR},
      HRT_RTE = #{record.hrtRte,jdbcType=DECIMAL},
      BRE_NBR = #{record.breNbr,jdbcType=DECIMAL},
      SPO2 = #{record.spo2,jdbcType=DECIMAL},
      SBP_UP_NBR = #{record.sbpUpNbr,jdbcType=DECIMAL},
      SBP_DOWN_NBR = #{record.sbpDownNbr,jdbcType=DECIMAL},
      DW_COD = #{record.dwCod,jdbcType=VARCHAR},
      DW_YM1 = #{record.dwYm1,jdbcType=VARCHAR},
      DW_YM2 = #{record.dwYm2,jdbcType=VARCHAR},
      DW_YM3 = #{record.dwYm3,jdbcType=VARCHAR},
      XWY_COD = #{record.xwyCod,jdbcType=VARCHAR},
      XWY_WD = #{record.xwyWd,jdbcType=DECIMAL},
      XWY_RL = #{record.xwyRl,jdbcType=VARCHAR},
      XCY_YS = #{record.xcyYs,jdbcType=VARCHAR},
      XCY_XZ = #{record.xcyXz,jdbcType=VARCHAR},
      XCY_CL = #{record.xcyCl,jdbcType=VARCHAR},
      MSCB_COD = #{record.mscbCod,jdbcType=CHAR},
      EX_COD = #{record.exCod,jdbcType=CHAR},
      OT_COD = #{record.otCod,jdbcType=CHAR},
      FBPL_COD = #{record.fbplCod,jdbcType=CHAR},
      FZ_COD = #{record.fzCod,jdbcType=CHAR},
      FT_COD = #{record.ftCod,jdbcType=CHAR},
      XWTZ_QT = #{record.xwtzQt,jdbcType=VARCHAR},
      XWY_QT = #{record.xwyQt,jdbcType=VARCHAR},
      RECORD_DAT = #{record.recordDat,jdbcType=TIMESTAMP},
      CRT_DAT = #{record.crtDat,jdbcType=TIMESTAMP},
      CRT_NUR = #{record.crtNur,jdbcType=VARCHAR},
      CRT_NAME = #{record.crtName,jdbcType=VARCHAR},
      UP_DAT = #{record.upDat,jdbcType=TIMESTAMP},
      UP_NUR = #{record.upNur,jdbcType=VARCHAR},
      UP_NAME = #{record.upName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.zyyhospital.pojo.domain.HspXwhljldInf">
    update HSP_XWHLJLD_INF
    <set>
      <if test="emgSeq != null">
        EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="assDat != null">
        ASS_DAT = #{assDat,jdbcType=TIMESTAMP},
      </if>
      <if test="assName != null">
        ASS_NAME = #{assName,jdbcType=VARCHAR},
      </if>
      <if test="hrtRte != null">
        HRT_RTE = #{hrtRte,jdbcType=DECIMAL},
      </if>
      <if test="breNbr != null">
        BRE_NBR = #{breNbr,jdbcType=DECIMAL},
      </if>
      <if test="spo2 != null">
        SPO2 = #{spo2,jdbcType=DECIMAL},
      </if>
      <if test="sbpUpNbr != null">
        SBP_UP_NBR = #{sbpUpNbr,jdbcType=DECIMAL},
      </if>
      <if test="sbpDownNbr != null">
        SBP_DOWN_NBR = #{sbpDownNbr,jdbcType=DECIMAL},
      </if>
      <if test="dwCod != null">
        DW_COD = #{dwCod,jdbcType=VARCHAR},
      </if>
      <if test="dwYm1 != null">
        DW_YM1 = #{dwYm1,jdbcType=VARCHAR},
      </if>
      <if test="dwYm2 != null">
        DW_YM2 = #{dwYm2,jdbcType=VARCHAR},
      </if>
      <if test="dwYm3 != null">
        DW_YM3 = #{dwYm3,jdbcType=VARCHAR},
      </if>
      <if test="xwyCod != null">
        XWY_COD = #{xwyCod,jdbcType=VARCHAR},
      </if>
      <if test="xwyWd != null">
        XWY_WD = #{xwyWd,jdbcType=DECIMAL},
      </if>
      <if test="xwyRl != null">
        XWY_RL = #{xwyRl,jdbcType=VARCHAR},
      </if>
      <if test="xcyYs != null">
        XCY_YS = #{xcyYs,jdbcType=VARCHAR},
      </if>
      <if test="xcyXz != null">
        XCY_XZ = #{xcyXz,jdbcType=VARCHAR},
      </if>
      <if test="xcyCl != null">
        XCY_CL = #{xcyCl,jdbcType=VARCHAR},
      </if>
      <if test="mscbCod != null">
        MSCB_COD = #{mscbCod,jdbcType=CHAR},
      </if>
      <if test="exCod != null">
        EX_COD = #{exCod,jdbcType=CHAR},
      </if>
      <if test="otCod != null">
        OT_COD = #{otCod,jdbcType=CHAR},
      </if>
      <if test="fbplCod != null">
        FBPL_COD = #{fbplCod,jdbcType=CHAR},
      </if>
      <if test="fzCod != null">
        FZ_COD = #{fzCod,jdbcType=CHAR},
      </if>
      <if test="ftCod != null">
        FT_COD = #{ftCod,jdbcType=CHAR},
      </if>
      <if test="xwtzQt != null">
        XWTZ_QT = #{xwtzQt,jdbcType=VARCHAR},
      </if>
      <if test="xwyQt != null">
        XWY_QT = #{xwyQt,jdbcType=VARCHAR},
      </if>
      <if test="recordDat != null">
        RECORD_DAT = #{recordDat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtDat != null">
        CRT_DAT = #{crtDat,jdbcType=TIMESTAMP},
      </if>
      <if test="crtNur != null">
        CRT_NUR = #{crtNur,jdbcType=VARCHAR},
      </if>
      <if test="crtName != null">
        CRT_NAME = #{crtName,jdbcType=VARCHAR},
      </if>
      <if test="upDat != null">
        UP_DAT = #{upDat,jdbcType=TIMESTAMP},
      </if>
      <if test="upNur != null">
        UP_NUR = #{upNur,jdbcType=VARCHAR},
      </if>
      <if test="upName != null">
        UP_NAME = #{upName,jdbcType=VARCHAR},
      </if>
    </set>
    where XWHI_SEQ = #{xwhiSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.zyyhospital.pojo.domain.HspXwhljldInf">
    update HSP_XWHLJLD_INF
    set EMG_SEQ = #{emgSeq,jdbcType=VARCHAR},
      ASS_DAT = #{assDat,jdbcType=TIMESTAMP},
      ASS_NAME = #{assName,jdbcType=VARCHAR},
      HRT_RTE = #{hrtRte,jdbcType=DECIMAL},
      BRE_NBR = #{breNbr,jdbcType=DECIMAL},
      SPO2 = #{spo2,jdbcType=DECIMAL},
      SBP_UP_NBR = #{sbpUpNbr,jdbcType=DECIMAL},
      SBP_DOWN_NBR = #{sbpDownNbr,jdbcType=DECIMAL},
      DW_COD = #{dwCod,jdbcType=VARCHAR},
      DW_YM1 = #{dwYm1,jdbcType=VARCHAR},
      DW_YM2 = #{dwYm2,jdbcType=VARCHAR},
      DW_YM3 = #{dwYm3,jdbcType=VARCHAR},
      XWY_COD = #{xwyCod,jdbcType=VARCHAR},
      XWY_WD = #{xwyWd,jdbcType=DECIMAL},
      XWY_RL = #{xwyRl,jdbcType=VARCHAR},
      XCY_YS = #{xcyYs,jdbcType=VARCHAR},
      XCY_XZ = #{xcyXz,jdbcType=VARCHAR},
      XCY_CL = #{xcyCl,jdbcType=VARCHAR},
      MSCB_COD = #{mscbCod,jdbcType=CHAR},
      EX_COD = #{exCod,jdbcType=CHAR},
      OT_COD = #{otCod,jdbcType=CHAR},
      FBPL_COD = #{fbplCod,jdbcType=CHAR},
      FZ_COD = #{fzCod,jdbcType=CHAR},
      FT_COD = #{ftCod,jdbcType=CHAR},
      XWTZ_QT = #{xwtzQt,jdbcType=VARCHAR},
      XWY_QT = #{xwyQt,jdbcType=VARCHAR},
      RECORD_DAT = #{recordDat,jdbcType=TIMESTAMP},
      CRT_DAT = #{crtDat,jdbcType=TIMESTAMP},
      CRT_NUR = #{crtNur,jdbcType=VARCHAR},
      CRT_NAME = #{crtName,jdbcType=VARCHAR},
      UP_DAT = #{upDat,jdbcType=TIMESTAMP},
      UP_NUR = #{upNur,jdbcType=VARCHAR},
      UP_NAME = #{upName,jdbcType=VARCHAR}
    where XWHI_SEQ = #{xwhiSeq,jdbcType=VARCHAR}
  </update>
</mapper>