<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.HspZyfxpfInfCustomMapper" >
  <resultMap id="BaseResultMap" type="activetech.zyyhospital.pojo.dto.HspZyfxpfInfCustom" >
    <id column="ZYFXPF_SEQ" property="zyfxpfSeq" jdbcType="VARCHAR" />
    <result column="EMG_SEQ" property="emgSeq" jdbcType="VARCHAR" />
    <result column="SMTZ" property="smtz" jdbcType="VARCHAR" />
    <result column="SZ" property="sz" jdbcType="VARCHAR" />
    <result column="TK" property="tk" jdbcType="VARCHAR" />
    <result column="JMTD" property="jmtd" jdbcType="VARCHAR" />
    <result column="GLDG" property="gldg" jdbcType="VARCHAR" />
    <result column="HXZC" property="hxzc" jdbcType="VARCHAR" />
    <result column="CXBWGD" property="cxbwgd" jdbcType="VARCHAR" />
    <result column="WW" property="ww" jdbcType="VARCHAR" />
    <result column="TBJZZTBH" property="tbjzztbh" jdbcType="VARCHAR" />
    <result column="YDBRFS" property="ydbrfs" jdbcType="VARCHAR" />
    <result column="BRAQ" property="braq" jdbcType="VARCHAR" />
    <result column="HXJ" property="hxj" jdbcType="VARCHAR" />
    <result column="JHY" property="jhy" jdbcType="VARCHAR" />
    <result column="ZYFXPF_SCO" property="zyfxpfSco" jdbcType="DECIMAL" />
    <result column="XDYQJYW" property="xdyqjyw" jdbcType="VARCHAR" />
    <result column="XDYQJYWQT" property="xdyqjywqt" jdbcType="VARCHAR" />
    <result column="CRTUSRNO" property="crtusrno" jdbcType="VARCHAR" />
    <result column="CRTUSRNME" property="crtusrnme" jdbcType="VARCHAR" />
    <result column="CRTTIME" property="crttime" jdbcType="TIMESTAMP" />
    <result column="UPDUSRNO" property="updusrno" jdbcType="VARCHAR" />
    <result column="UPDUSRNME" property="updusrnme" jdbcType="VARCHAR" />
    <result column="UPDTIME" property="updtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List" >
    ZYFXPF_SEQ, EMG_SEQ, SMTZ, SZ, TK, JMTD, GLDG, HXZC, CXBWGD, WW, TBJZZTBH, YDBRFS, 
    BRAQ, HXJ, JHY, ZYFXPF_SCO, XDYQJYW, XDYQJYWQT, CRTUSRNO, CRTUSRNME, CRTTIME, UPDUSRNO, 
    UPDUSRNME, UPDTIME
  </sql>
 <select id="printfxpfScoreList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <if test="distinct" >
      distinct
    </if>
    ZYFXPF_SEQ, EMG_SEQ, SMTZ, SZ, TK, JMTD, GLDG, HXZC, CXBWGD, WW, TBJZZTBH, YDBRFS, 
    BRAQ, HXJ, JHY, ZYFXPF_SCO, XDYQJYW, XDYQJYWQT, CRTUSRNO, CRTUSRNME, to_char(CRTTIME,'yyyy-mm-dd hh24:mi:ss') crttimeStr, UPDUSRNO, 
    UPDUSRNME, UPDTIME
    from HSP_ZYFXPF_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>