<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.zyyhospital.dao.mapper.IcuPipeInfoCustomMapper" >
  
  <select id="findPipeInfoCount" resultType="int"
  	parameterType="activetech.zyyhospital.pojo.dto.IcuPipeInfoQueryDto">
		select count(1) from icu_pipe_info where emg_Seq = #{icuPipeInfoCustom.emgSeq, jdbcType = VARCHAR}
		and PIPE_SEQ_HIS = PIPE_SEQ
		<if test="paramPipeType != null and paramPipeType != ''">
			and pipe_type = #{paramPipeType, jdbcType = VARCHAR }
		</if>
  </select>
  
  <select id="findPipeInfoList" resultType="activetech.zyyhospital.pojo.dto.IcuPipeInfoCustom"
  	parameterType="activetech.zyyhospital.pojo.dto.IcuPipeInfoQueryDto">
  	<include refid="activetech.base.CommonSql.page_start" />
		select pipe_seq,
		       pipe_stat,
		       emg_Seq,
		       pipe_type,
		       pipe_name,
		       decode(body_part, '-', '', body_part) body_part,
		       decode(pipe_modl, '-', '', pipe_modl) pipe_modl,
		       decode(pipe_leng, '-', '', pipe_leng) pipe_leng,
		       decode(pipe_dpth, '-', '', pipe_dpth) pipe_dpth,
		       in_type,
		       in_time,
		       to_char(in_time, 'yyyy/MM/dd hh24:mi') inTimeStr,
		       in_user,
		       (select usrname 
  				  from dstuser
				 where usrno = in_user) inUserStr,
		       decode(in_memo, '-', '', in_memo) in_memo,
		       chg_time,
		       to_char(chg_time, 'yyyy/MM/dd hh24:mi') chgTimeStr,
		       chg_user,
		       (select usrname 
  				  from dstuser
				 where usrno = chg_user) chgUserStr,
		       decode(chg_memo, '-', '', chg_memo) chg_memo,
		       out_type,
		       out_time,
		       to_char(out_time, 'yyyy/MM/dd hh24:mi') outTimeStr,
		       out_user,
		       (select usrname 
  				  from dstuser
				 where usrno = out_user) outUserStr,
		       decode(out_memo, '-', '', out_memo) out_memo,
		       decode(vld_day,
		              '',
		              '',
		              (case
		                when pipe_stat = '20' then
		                 trunc(sysdate) - trunc(chg_time) + 1 - vld_day
		                when pipe_stat = '10' then
		                 trunc(sysdate) - trunc(in_time) + 1 - vld_day
		              end)) overDay,
		       decode(out_time,'',trunc(sysdate),trunc(out_time)) - trunc(in_time) + 1 inPipeDays,
		       decode(out_time,'',trunc(sysdate),trunc(out_time)) - trunc(chg_time) + 1 chgPipeDays,
		       vld_day,
		       crt_time,
		       crt_user,
		       mod_time,
		       mod_user
		  from icu_pipe_info
		 where emg_Seq = #{icuPipeInfoCustom.emgSeq, jdbcType = VARCHAR}
		 and PIPE_SEQ_HIS = PIPE_SEQ
		<if test="paramPipeType != null and paramPipeType != ''">
		   and pipe_type = #{paramPipeType, jdbcType = VARCHAR}
		</if>
		 order by out_time desc nulls first,decode(chg_time, null,in_time,chg_time) desc, in_time desc
  	 <include refid="activetech.base.CommonSql.page_end" />
  </select>
  
    <select id="findPipeInfoUseList" resultType="activetech.zyyhospital.pojo.dto.IcuPipeInfoCustom"
  	parameterType="activetech.zyyhospital.pojo.dto.IcuPipeInfoCustom">
	select a.pipe_seq,
	       a.body_part || '-' || a.pipe_name pipeName
	  from icu_pipe_info a
	 where a.emg_Seq = #{emgSeq, jdbcType = VARCHAR}
	   and a.pipe_stat != '30'
	   and a.PIPE_SEQ_HIS = a.PIPE_SEQ
  </select>
  
  <select id="findPipeInfoHis" parameterType="java.lang.String"
  	resultType="activetech.zyyhospital.pojo.dto.IcuPipeInfoCustom">
	select pipe_stat,
	       pipe_type,
	       pipe_name,
	       decode(body_part, '-', '', body_part) body_part,
	       decode(pipe_modl, '-', '', pipe_modl) pipe_modl,
	       decode(pipe_leng, '-', '', pipe_leng) pipe_leng,
	       decode(pipe_dpth, '-', '', pipe_dpth) pipe_dpth,
	       in_time,
	       to_char(in_time, 'yyyy/MM/dd hh24:mi') inTimeStr,
	       in_user,
	       (select usrname from dstuser where usrno = in_user) inUserStr,
	       decode(in_memo, '-', '', in_memo) in_memo,
	       chg_time,
	       to_char(chg_time, 'yyyy/MM/dd hh24:mi') chgTimeStr,
	       chg_user,
	       (select usrname from dstuser where usrno = chg_user) chgUserStr,
	       decode(chg_memo, '-', '', chg_memo) chg_memo,
	       out_type,
	       out_time,
	       to_char(out_time, 'yyyy/MM/dd hh24:mi') outTimeStr,
	       out_user,
	       (select usrname from dstuser where usrno = out_user) outUserStr,
	       decode(out_memo, '-', '', out_memo) out_memo,
	       vld_day,
	       crt_time,
	       crt_user,
	       mod_time,
	       to_char(mod_time, 'yyyy/mm/dd hh24:mi') modTimeStr,
	       mod_user,
	       (select usrname from dstuser where usrno = mod_user) modUserStr,
	       PIPE_SEQ_HIS
	  from icu_pipe_info
	 where PIPE_SEQ_HIS = #{pipeSeq,jdbcType = VARCHAR}
	 and PIPE_SEQ_HIS != PIPE_SEQ
	 order by mod_time desc
  </select>
  
  <select id="getSearchInfoList" resultType="activetech.zyyhospital.pojo.domain.IcuPipeInfo"
  	parameterType="activetech.zyyhospital.pojo.dto.IcuPipeInfoQueryDto">
	select distinct
		   pipe_type,
		   ${fileId }
	  from icu_pipe_info
	 where ${fileId } is not null 
	 and PIPE_SEQ_HIS = PIPE_SEQ
	   and ${fileId } != '-'
	 order by pipe_type,
	 nlssort(${fileId} ,'NLS_SORT=SCHINESE_PINYIN_M')
  </select>
  <!-- 
     order by REGEXP_SUBSTR(${fileId }, '[[:alpha:]]+'),
          	  cast(REGEXP_SUBSTR(${fileId }, '[0-9]+') as int)
   -->
  
  <select id="queryPipeInfoByEval" parameterType="activetech.zyyhospital.pojo.dto.IcuPipeInfoQueryDto"
  	resultType="activetech.zyyhospital.pojo.dto.IcuPipeInfoCustom">
		select *
		  from (select d.seqNo,
		  			   d.vs_seq,
		               trunc(d.vs_date,'mi') vs_date,
		               to_char(trunc(d.vs_date, 'mi'),'yyyy/MM/dd hh24:mi') vsDateStr,
		               c.pipe_type,
		               c.pipe_seq,
		               c.emg_Seq,
		               c.pipe_name,
		               decode(c.body_part, '-', '', c.body_part) body_part,
		               decode(c.pipe_modl, '-', '', c.pipe_modl) pipe_modl,
		               decode(c.pipe_dpth, '-', '', c.pipe_dpth) pipe_dpth,
		               trunc(in_time, 'mi') in_time,
		               to_char(trunc(in_time, 'mi'),'yyyy/MM/dd hh24:mi') inTimeStr,
		               trunc(sysdate)-trunc(in_time)+1 overDay,
		               trunc(out_time, 'mi') out_time,
		               <![CDATA[
		               (case
		                 when vs_date < in_time then
		                  '0'
		                 when vs_date >= in_time and vs_date < out_time then
		                  '1'
		                 when vs_date >= out_time then
		                  '0'
		                 else
		                  '1'
		               end) status
		               ]]>
		          from icu_pipe_info c
		          left join (select a.seqNo,
		                            decode(b.vs_date, '', a.vs_date, b.vs_date) vs_date,
		                            b.vs_seq
		                      from (select '0' seqNo,
		                                   to_date(#{paramDate, jdbcType = VARCHAR }, 'yyyy/MM/dd') + 9 / 24 vs_date
		                              from dual
		                            union all
		                            select '1',
		                                   to_date(#{paramDate, jdbcType = VARCHAR }, 'yyyy/MM/dd') + 13 / 24 
		                              from dual
		                            union all
		                            select '2',
		                                   to_date(#{paramDate, jdbcType = VARCHAR }, 'yyyy/MM/dd') + 17 / 24 
		                              from dual
		                            union all
		                            select '3',
		                                   to_date(#{paramDate, jdbcType = VARCHAR }, 'yyyy/MM/dd') + 21 / 24 
		                              from dual
		                            union all
		                            select '4',
		                                   to_date(#{paramDate, jdbcType = VARCHAR }, 'yyyy/MM/dd') + 25 / 24 
		                              from dual
		                            union all
		                            select '5',
		                                   to_date(#{paramDate, jdbcType = VARCHAR }, 'yyyy/MM/dd') + 29 / 24 
		                              from dual) a
		                      left join (select *
		                                   from icu_vs_info
		                                  where emg_Seq = #{emgSeq, jdbcType = VARCHAR }
		                                    and trunc(vs_date) = to_date(#{paramDate, jdbcType = VARCHAR }, 'yyyy/MM/dd')
		                                    and vs_type = 'PR'
		                                    and vs_code = 'SEQNO'
		                                    and vs_rslt <![CDATA[<=]]> '3'
		                                  union all
		                                 select *
		                                   from icu_vs_info
		                                  where emg_Seq = #{emgSeq, jdbcType = VARCHAR }
		                                    and trunc(vs_date) = to_date(#{paramDate, jdbcType = VARCHAR }, 'yyyy/MM/dd') + 1
		                                    and vs_type = 'PR'
		                                    and vs_code = 'SEQNO'
		                                    and vs_rslt <![CDATA[>]]> '3') b
		                        on a.seqNo = b.vs_rslt) d
		            on 1 = 1
		         where emg_Seq = #{emgSeq, jdbcType = VARCHAR }
		         and PIPE_SEQ_HIS = PIPE_SEQ)
		 where status = '1'
		   	<choose>
		   		<when test='shiftFlag == "A"'>
		   			and seqNo in ('0','1')
		   		</when>
		   		<when test='shiftFlag == "P"'>
		   			and seqNo in ('2','3')
		   		</when>
		   		<when test='shiftFlag == "N"'>
		   			and seqNo in ('4','5')
		   		</when>
		   	</choose>
		 order by seqNo, in_time, pipe_seq
  </select>
  
  <update id="mergePipeDpth" parameterType="activetech.zyyhospital.pojo.dto.IcuPipeInfoCustom">
	merge into icu_pipe_info a
	using (select *
	         from (select link_seq,
	                      vs_rslt,
	                      row_number() over(partition by link_seq order by vs_date desc) rm
	                 from icu_vs_info a
	                where emg_Seq = #{emgSeq, jdbcType = VARCHAR }
	                  and vs_type = 'PR'
	                  and vs_code = 'PIPE_DPTH')
	        where rm = 1) b
	on (a.pipe_seq = b.link_seq)
	when matched then
	  update
	     set a.pipe_dpth = b.vs_rslt,
	         a.mod_user  = #{modUser, jdbcType = VARCHAR },
	         a.mod_time  = sysdate
	   where nvl(a.pipe_dpth,'-') != b.vs_rslt
  </update>
  
  <update id="mergePipeModl" parameterType="activetech.zyyhospital.pojo.dto.IcuPipeInfoCustom">
	merge into icu_pipe_info a
	using (select *
	         from (select link_seq,
	                      vs_rslt,
	                      row_number() over(partition by link_seq order by vs_date desc) rm
	                 from icu_vs_info a
	                where emg_Seq = #{emgSeq, jdbcType = VARCHAR }
	                  and vs_type = 'PR'
	                  and vs_code = 'PIPE_MODL')
	        where rm = 1) b
	on (a.pipe_seq = b.link_seq)
	when matched then
	  update
	     set a.pipe_modl = b.vs_rslt,
	         a.mod_user  = #{modUser, jdbcType = VARCHAR },
	         a.mod_time  = sysdate
	   where nvl(a.pipe_modl,'-') != b.vs_rslt
  </update>
  
  <update id="editPipeInfo" parameterType="activetech.zyyhospital.pojo.dto.IcuPipeInfoCustom">
	update icu_pipe_info
	   set pipe_stat = #{pipeStat, jdbcType  = VARCHAR },
       <if test="pipeStat == '20'.toString()">
           pipe_modl = nvl(#{pipeModl, jdbcType = VARCHAR }, '-'),
		   pipe_leng = nvl(#{pipeLeng, jdbcType = VARCHAR }, '-'),
		   pipe_dpth = nvl(#{pipeDpth, jdbcType = VARCHAR }, '-'),
		   vld_day   = #{vldDay, jdbcType = DECIMAL},
	       chg_time  = to_date(#{chgTimeStr, jdbcType = VARCHAR }, 'yyyy/MM/dd hh24:mi'),
	       chg_memo  = nvl(#{chgMemo, jdbcType = VARCHAR }, '-'),
	       chg_user  = #{chgUser, jdbcType = VARCHAR },
	       chg_numb  = chg_numb + 1,
       </if>
       <if test="pipeStat == '30'.toString()">
       	   out_type = #{outType, jdbcType = VARCHAR },
	       out_time = to_date(#{outTimeStr, jdbcType = VARCHAR }, 'yyyy/MM/dd hh24:mi'),
	       out_memo = nvl(#{outMemo, jdbcType = VARCHAR }, '-'),
	       out_user = #{outUser, jdbcType = VARCHAR },
	   </if>
	       mod_time = sysdate,
	       mod_user = nvl(#{modUser, jdbcType = VARCHAR }, '-')
	 where emg_Seq = #{emgSeq, jdbcType = VARCHAR }
	   and pipe_seq = #{pipeSeq, jdbcType = VARCHAR }
  </update>
  
  <insert id="insertPipeInfoHis" parameterType="java.lang.String">
	insert into icu_pipe_info
	  select 
		#{pipeSeqNew} PIPE_SEQ, PIPE_NAME, 
		<if test="delFlag != null and delFlag != ''">
			#{delFlag}
		</if>
		PIPE_STAT, 
		EMG_SEQ, PIPE_TYPE, BODY_PART, PIPE_MODL, PIPE_LENG, 
    PIPE_DPTH, IN_TYPE, IN_TIME, IN_USER, IN_MEMO, CHG_NUMB, CHG_TIME, CHG_USER, CHG_MEMO, 
    OUT_TYPE, OUT_TIME, OUT_USER, OUT_MEMO, VLD_DAY, CRT_TIME, CRT_USER, MOD_TIME, MOD_USER, 
    PIPE_SEQ PIPE_SEQ_HIS
	 from icu_pipe_info where pipe_seq = #{pipeSeq}
  </insert>
  
</mapper>