<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd ">
	
	<!--患者分诊登记 杭州市中医院 -->
	<bean id="zyyHspemginfServiceB" class="activetech.zyyhospital.service.impl.ZyyHspemginfServiceImpl" />
	<bean id="zyyHspemginfService" class="activetech.edpc.extend.service.HuzZyyHspemginfServiceImpl">
    	<constructor-arg ref="zyyHspemginfServiceB" ></constructor-arg>
    </bean>	
    
	<!-- 病情护理登记表 杭州市中医院 -->
	<bean id="hspHljldInfServiceB" class="activetech.zyyhospital.service.impl.HspHljldInfServiceImpl" />
	<bean id="hspHljldInfService" class="activetech.edpc.extend.service.HuzHspHljldInfServiceImpl">
    	<constructor-arg ref="hspHljldInfServiceB"></constructor-arg>
    </bean>
	
	<!--入院护理评估表 -->
	<bean id="hspHlpgbService" class="activetech.zyyhospital.service.impl.HspHlpgbServiceImpl" />
	
	<!--系统评估表 -->
	<bean id="zyyHspxtpgInfService" class="activetech.zyyhospital.service.impl.ZyyHspxtpgInfServiceImpl" />
	
	<!-- 床位管理 -->
	<bean id="hspBedInfService" class="activetech.zyyhospital.service.impl.HspBedInfServiceImpl" />
	
	<!-- 中医院报表zyyHspreport -->
<!--	<bean id="zyyHspreportService" class="activetech.zyyhospital.service.impl.ZyyHspreportServiceImpl" />-->
	
	<!-- 模板导入 -->
<!--	<bean id="hspModelInfService" class="activetech.zyyhospital.service.impl.HspModelInfServiceImpl" />-->
	
	<!-- 抢救室 -->
	<bean id="zyyHspQjsInfServiceB" class="activetech.zyyhospital.service.impl.ZyyHspQjsInfServiceImpl" />
	<bean id="zyyHspQjsInfService" class="activetech.edpc.extend.service.HuzZyyHspQjsInfServiceImpl">
    	<constructor-arg ref="zyyHspQjsInfServiceB"></constructor-arg>
    </bean>
    
	<!-- 留抢病历 -->
	<bean id="zyyLqblService" class="activetech.zyyhospital.service.impl.ZyyLqblServiceImpl" />
	
	<!-- 知情同意书 -->
	<bean id="zyyConsentService" class="activetech.zyyhospital.service.impl.ZyyConsentServiceImpl" />
	
	<!-- 病程记录 -->
	<bean id="hspDiseaseCourseService" class="activetech.zyyhospital.service.impl.HspDiseaseCourseServiceImpl" />
	
	<!-- 会诊记录 -->
	<bean id="hspConsultationRecordsService" class="activetech.zyyhospital.service.impl.HspConsultationRecordsServiceImpl" />
	
	<!-- 死亡记录 -->
	<bean id="hspDeathRecordService" class="activetech.zyyhospital.service.impl.HspDeathRecordServiceImpl" />
	
	<!-- 文书 -->
	<bean id="zyyNrsconsentService" class="activetech.zyyhospital.service.impl.ZyyNrsconsentServiceImpl" />
	
	<!--  -->
	<bean id="zyyWebsocketService" class="activetech.zyyhospital.service.impl.ZyyWebsocketServiceImpl" />

	<!-- 体温单 -->
	<bean id="zyyHspTpctInfService" class="activetech.zyyhospital.service.impl.ZyyHspTpctInfServiceImpl" />
	
	<!-- 评分查询 -->
	<bean id="scoreQueryService" class="activetech.zyyhospital.service.impl.ScoreQueryServiceImpl" />
	
	<!-- 脑梗溶栓病程 -->
	<bean id="hspCerebralService" class="activetech.zyyhospital.service.impl.HspCerebralServiceImpl" />

	<!-- 新诊断 -->
	<bean id="hspJbzdInfNewService" class="activetech.zyyhospital.service.impl.HspJbzdInfNewServiceImpl" />

	<!-- 评估表 -->
	<bean id="riskAssSheetService" class="activetech.zyyhospital.service.impl.HspRiskAssSheetServiceImpl" />
	
	<!-- 卒中 -->
	<bean id="hisCzSqlServerService" class="activetech.zyyhospital.service.impl.HisCzSqlServerServiceImpl" />

	<!-- 隔离措施 -->
	<bean id="hspGlcsService" class="activetech.zyyhospital.service.impl.ZyyGlcsServiceImpl" />
	
	<!-- 群体事件管理 -->
<!--	<bean id="hspQtsjglService" class="activetech.zyyhospital.service.impl.HspQtsjglServiceImpl" />-->
	
	<!-- 急诊门诊 -->
	<bean id="zyyHspJzmzInfService" class="activetech.zyyhospital.service.impl.ZyyHspJzmzInfServiceImpl" />
	
	<!-- 病案首页 -->
	<bean id="hspBasyInfService" class="activetech.zyyhospital.service.impl.HspBasyInfServiceImpl" />
	
	<!--  -->
	<bean id="icuPipeInfoService" class="activetech.zyyhospital.service.impl.IcuPipeInfoServiceImpl" />
	
	<!-- 交接班管理 -->
	<bean id="hspJjbglInfService" class="activetech.zyyhospital.service.impl.HspJjbglInfServiceImpl" />
	
	<!-- 预警阀值管理（生命体征） -->
	<bean id="icuVsDefService" class="activetech.zyyhospital.service.impl.IcuVsDefServiceImpl" />
	
	<!-- 事件提醒  -->
<!--	<bean id="IcuErInfoService" class="activetech.zyyhospital.service.impl.IcuErInfoServiceImpl" />-->
	
	<!--急诊创伤入院评估表 -->
	<bean id="hspJzcspgInfService" class="activetech.zyyhospital.service.impl.HspJzcspgInfServiceImpl" />
		
	<!-- 急诊创伤记录表  -->
	<bean id="hspJzcsjlbInfService" class="activetech.zyyhospital.service.impl.HspJzcsjlbInfServiceImpl" />
	
	<!--  -->
	<bean id="hL7Service" class="activetech.basehis.service.impl.HL7ServiceImpl" ></bean>
	
	<!-- 心肺复苏记录单 -->
	<bean id="hspHeartreordService" class="activetech.zyyhospital.service.impl.HspHeartRecordServiceImpl" />
	
	<!-- 输血记录 -->
	<bean id="hspTransfusionInfService" class="activetech.zyyhospital.service.impl.HspTransfusionInfServiceImpl" />
	
	<!-- 特殊护理记录单 -->
	<bean id="zyyTshljlService" class="activetech.zyyhospital.service.impl.ZyyTshljlServiceImpl" />
</beans>