<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">


<!-- plan follow up -->
    <bean id="followUpControl" class="activetech.task.quartz.followup.Control" />
    <!-- 定义任务，为了避免线程阻塞，用concurrent=false -->
    <bean id="followupJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="followUpControl" />
        <!-- 调用方法 -->
        <property name="targetMethod" value="getPlanOfFollowUp" />
        <property name="concurrent" value="false" />
    </bean>
    <!-- plan follow up  触发器  -->
    <bean id="followUpControlTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="followupJobDetail" />
        <!--每天7点59执行 可以改成 ${xxx.xx.xx}放在配置文件里 -->
        <property name="cronExpression" value="0 59 07 * * ?" />
    </bean>

    <!-- 配置调度器 -->
    <bean name="startQuertz" lazy-init="false" autowire="no" destroy-method="destroy"
        class="activetech.task.quartz.SchedulerFactoryBeanWithShutdownDelay" >
        <property name="quartzProperties">
            <props>
                <prop key="org.quartz.threadPool.threadCount">4</prop>
            </props>
        </property>
        <property name="waitForJobsToCompleteOnShutdown" value="false"/>
        <property name="triggers">
            <list>
                <!-- followUpControl -->
                <ref bean="followUpControlTrigger" />
            </list>
        </property>
    </bean>

</beans>