@charset "utf-8";
/**
*  医生端
*/
a:hover{
    text-decoration: none;
}
.mainbody{
    margin: 0 auto;
    overflow: auto;
    border-bottom: 1px solid #ddd;
}
.doctornote .bascilab{
    margin-right: 10px;
}
.doctornote .subheadtitle{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    height: 25px;
    line-height: 25px;
    padding: 10px 0;
}
.doctornote .divwrapper{
    width: 860px;
    margin: 0 auto;
}
.doctornote .basicDiv {
    float: left;
    width: 100%;
    margin-bottom: 2px;
}
.doctornote .ulwrapper{
    float: left;
    width: 100%;
    min-width: 860px;
    margin-bottom: 20px;
}
.doctornote .ulwrapper li{
    float: left;
    width: 100%;
    height: 26px;
    line-height: 26px;
    margin: 3px 0px;
}
.doctornote .ulwrapper li.halfli{
	width:50%;
}
.ulwrapper li.halfli .inputWth{
	width:50%;
}
.doctornote .ulwrapper li.specli{
    height: 58px;
}
.doctornote .ulwrapper li.speclongli{
    height: 88px;
}
.doctornote .ulwrapper li.varylongli{
    /* height: 187px; */
    height: auto;
}
.doctornote .ulwrapper li.specinputli{
    height: 84px;
}
.doctornote .ulwrapper li.halfli {
    width: 50%;
}
.doctornote .ulwrapper li.fourli {
    width: 25%;
}
.doctornote .ulwrapper li.threeli{
    width: 28%;
}
.doctornote .ulwrapper li.fiveli {
    width: 22%;
}
.doctornote .ulwrapper li.threefoldli{
    height: 90px;
}
.doctornote .ulwrapper li.fourtimesli{
    min-height: 89px;
    height: auto;
}
.doctornote .ulwrapper li.twoTimesLi{
    min-height: 62px;
    height: auto;
}
.recordnote .ulwrapper li.twotimesli{
    min-height: 62px;
    height: auto;
}
.doctornote .spcWdate {
    border: 1px solid #d1d1d1;
    width: 140px;
}
.doctornote .leftspan{
    float: left;
    padding-right: 10px;
}
#show_text1,#show_text2,#show_text3,#show_text4{
    float: left;
    width:745px;
    /* height: 26px; */
    min-height: 26px;
    height: auto;
    line-height: 26px;
    /* overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap; */
}
.fourtimesli table{
    float: left;
    width: 100%;
}
.doctornote .btnPos{
    position: absolute;
    right: 10px;
    bottom: 7.5px;
}
.doctornote .btndiv{
    width: 100%;
    height: 60px;
    float: left;
}
.doctornote .leftBtn{
    margin-right: 10px;
}
.doctornote .ulwrapper .rightli{
    float:right;
    padding-bottom: 10px;
    text-align: right;
    margin-right: 12px;
}
.doctornote .rxbox{
    margin-left: 10px;
}
.doctornote textarea{
    display: block;
    float: left;
    width:795px;
    height: 86px;
    border: #ddd 1px solid;
    text-indent: .5em;
    font-size: 12px;
    font-family: "微软雅黑";
    line-height: 16px;
    resize: none;
}
.doctornote textarea.smaTexta{
    width: 807px;
    height: 185px;
}
.doctornote textarea.bigDataDiv{
    width: 99%;
    height: 185px;
}
.doctornote .textareaLi{
    display: none;
}
.viewnote textarea{
    width: 840px;
    height: 185px;
}
.doctornote .longinput{
    display: block;
    width: 802px;
    border: #ddd 1px solid;
    min-width: 93px;
    font-size: 12px;
    line-height: 28px;
}
.doctornote .smalltitle {
    float: left;
    font-weight: bold;
    padding-right: 10px;
    width:52px;
}
.long-left-span {
    /* width: 97px; */
    display: inline-block;
    float: left;
    font-weight: bold;
}
.observenote .smalltitle{
    text-align: right;
}
.doctornote .sixTitle {
    width: 78px;
}
.doctornote .twotitle{
    letter-spacing:0.5em; /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-2）/(2-1)=2em */
    margin-right:-0.5em; /*同上*/
}
.recordnote .ulwrapper li{
    line-height: 28px;
    height: 28px;
}
.recordnote .specli{
    height: 56px;
}
.recordnote .extralab{
    margin-left: 5px;
}
.recordnote .spanTitle{
    display:inline-block;
    color:#000;
    font-size:14px;
    font-weight:bold;
    text-align:right;
}
.recordnote .bordered{
    border-top: 1px solid #000;
}
.recordnote .contenttext{
    width: 725px;
}
.recordnote .smcontenttext{
    width: 627px;
}
.recordnote  li label.checklabel{
    float:left;
    margin-right:8px;
    color:#2a00ff;
}
.doctornote .Signinput{
    width:80px;
}
.doctornote .small_input {
    width: 50px;
}
.doctornote .basicInput{
    width:80px;
    border: none;
    border-bottom:#DDD 1px solid;
}
.doctornote .showinputLine{
    width:80px;
    border:1px solid #fff;
    border-bottom:#DDD 1px solid;
}
.doctornote .longbasicInput{
    width:86px;
}
.doctornote .longerbasicInput{
    width:112px;
}
.doctornote .basicInput:hover{
    border: none;
    box-shadow: none;
    border-bottom:#DDD 1px solid;
}
.doctornote input[readonly].basicInput{
    background: none;
    color: #666;
}
.department,.transfer{
    display: none;
}
.recordnote .smalltitle{
    width: 72px;
    text-align: right;
}
.recordnote textarea.smaTexta,.recordnote textarea{
    width: 765px;
}
.recordnote .longinput{
    width: 760px;
}
.recordnote .longtitle, .long-li-title {
    float: left;
    font-weight: bold;
    /* padding-right: 10px; */
}
.recordnote .extratitle{
    width: 180px;
    padding-right: 0px;
}
.recordnote .ulwrapper li.certainli{
    width: 360px;
}
.recordnote .ulwrapper li.smallli{
    width: 250px;
}
.recordnote .longwidth{
    width: 9em;
    text-align: right;
}
.userList li {
    margin: 0 !important;
}
.smalltitle-input{
    float: left;
    font-weight: bold;
    padding-right: 10px;
    width:52px;
}
.temdiv {
    border: 1px solid #ddd;
    width: 777px;
    height: 32px;
    margin: 0 0 5px 62px;
    padding: 5px;
}
.small-temp-div {
    display: none;
}
.clinicnote .temdiv, .small-temp-div {
    width: 755px;
    margin-left: 82px;
}
.closeImg{
    float: right;
    margin: 8px;
    cursor: pointer;
}
/**
* 脑梗溶栓病程记录
**/
.brainDisease .smalltitle {
    width: 72px;
    padding-right: 2px;
}
.brainDisease .ulwrapper li.threeli {
    width: 33%;
}
.brainDisease .centerWz {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 3em;
}
.brainDisease .tabWrapper {
    width: 100%;
    margin-bottom: 10px;
}
.brainDisease .tabWrapper, .tabWrapper td, .tabWrapper th {
    line-height: 2em;
    border: 1px solid #000;
}
.tabWrapper .bgTr {
    background: rgb(243,249,255);
}
.tabWrapper .labTab {
    display: inline-block;
    padding-left: 10px;
}
.tabWrapper .inputLab {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}
.tabWrapper .inputLab input {
    margin-left: 40%;
}
.tabWrapper .smTdInput input {
    width: 60px;
}
.brainDisease .tabWrapper select {
    width: 100%;
}
.tabWrapper .meddleInput {
    width: 80px;
}
.tabWrapper .doctorList {
    width: 85px;
    left: 0px;
    top: 20px;
}
.brainDisease .meddleInput {
    width: 80px;
}
.brainDisease .ulwrapper li.minli {
    width: 18%;
}
.brainDisease .ulwrapper li.middleli {
    width: 24%;
}
.brainDisease .brainTitle {
    float: left;
    font-weight: bold;
    padding-right: 2px;
}
.bloodRisk .titleTr td{
    text-align: center;
    font-weight: bold;
    background:rgb(243,249,255);
}
.bloodRisk tr td label{
    float: left;
    display: inline-block;
    width: 100%;
    text-indent: 10px;
}
.bloodRisk tr td.sumTitle {
    font-weight: bold;
    text-indent: 10px;
}
.bloodRisk tr.tipTitle td {
    text-indent: 10px;
}
.bloodRisk tr.highBgTr td{
    background: #f0f6fd;
    color: #61a8d3;
}
/**
*新留观首页
**/
.maindoc{
    width:96%;
    margin-left:2%
}
.intextinput{
    border: none !important;
    border-bottom: 1px solid #ddd !important;
}
.sylong{
    width:130px
}
.syshort{
    width:50px
}
.symorelong{
    width:200px;
}
.f-right{
    float:right
}
.doctornote .ulwrapper .fourinputli{
    height:110px;
}
.doctornote .ulwrapper .threeinputli{
    height:88px;
}
.spanli span{
    margin-right:10px;
}
.ulwrapper input[type=checkbox]{
    vertical-align: middle
}
.checklabel{
    margin-right:6px
}
.lineli{
    border-bottom: 1px solid #ddd;
    height: 24px !important;
}

.doctorTable{
    width:80%;
    border: 1px solid #000;
    border-collapse: collapse;
}
.doctorTable tr{
    height: 26px;
}
.doctorTable tr td{
    border: 1px solid #000;
    text-align: center;
}
.middlep{
    font-size:16px;
    font-weight: bolder;
    text-align: center
}
.clinicnote #show_text1{
    margin-top:15px
}
.clinicnote #show_text2{
    margin-top:8px
}
.clinicnote .divwrapper .bascilab{
    margin-left:20px
}
.suggest-div {
    width: 765px;
    height: 200px;
    float: left;
    border: 1px solid #cdcdcd;
}
.suggest-div .left-div-msg {
    float: left;
    height: 100%;
    width: 80%;
    border-right: 1px solid #cdcdcd;
    box-sizing: border-box;
    overflow-y: auto;
}
.suggest-div .right-div-msg {
    float: left;
    width: 20%;
    height: 100%;
    overflow-y: auto;
}
div.sepcialWthLong {
    width: 734px !important;
}
.score-panel {
    float: left;
    width: 80px;
    height: 60px;
    background: #f2f2f2;
    cursor: pointer;
}
.score-panel .num-score {
    font-size: 16px;
}
.score-panel .score {
    font-size: 14px;
    color: #f0791b;
}
.score-panel p {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
#dzqm img{
    width: 45px;
    vertical-align: middle;
    height: auto
}
.m-lten{
    margin-left: 10%
}
.left-span-input {
    float: left;
    margin-left: 82px;
    margin-top: 5px;
}
.middle-input {
    width: 530px;
}
.doctornote textarea.small-area {
    height: 40px;
}
.doctornote textarea.big-area {
    height: 120px;
}
.import-tem-div {
    display: none;
    width: 830px;
    height: 32px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #e0e2e5;
}
.long-common-btn {
    width: auto;
    padding: 0 4px;
}
.temdivRecord{
    width: 755px;
    margin-left:82px;
}