<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.edpc.dao.mapper.CpcMapper" >
  
  	<select id="getCpcPatientInfoList" resultType="activetech.edpc.pojo.dto.HspDbzlBasCustom"
  		parameterType="activetech.edpc.pojo.dto.QueryDto">
		select
			a.emg_seq,
			a.way_typ,
			a.mpi,
			a.reg_tim,
			a.cst_nam,
			a.cst_age,
			a.cst_sex_cod,
			a.cst_age_cod,
			a.id_nbr,
			a.phe_nbr,
			(select pro_val
			FROM hsp_xtzl_inf
			WHERE emg_no = a.emg_seq
			and pro_code = 'BQPG') bqpg,
			(select pro_val
			FROM hsp_xtzl_inf
			WHERE emg_no = a.emg_seq
			and pro_code = 'BQPGMX') bqpgmx,
			(select pro_val
			FROM hsp_xtzl_inf
			WHERE emg_no = a.emg_seq
			and pro_code = 'KILLIP') killip,
			(select pro_val
			FROM hsp_xtzl_inf
			WHERE emg_no = a.emg_seq
			and pro_code = 'XUEY') xuey,
			(select pro_val
			FROM hsp_xtzl_inf
			WHERE emg_no = a.emg_seq
			and pro_code = 'XINL') xinl
		from hsp_dbzl_bas a
		<where>
			<if test="patTyp != null and patTyp.length()>0">
				and a.pat_typ = #{patTyp,jdbcType = VARCHAR}
			</if>
			<if test="cstNam !=null and cstNam.length()>0">
				and (a.vst_cad = #{cstNam, jdbcType = VARCHAR}
				or a.cst_nam like '%'||#{cstNam, jdbcType = VARCHAR}||'%'
				)
			</if>
			<if test="bhls == false ">
				and a.crt_tim >= sysdate - 1
			</if>
		</where>
		order by reg_tim desc nulls last
  	</select>
  	
  	<select id="getCsPatientInfoList" resultType="activetech.hospital.pojo.dto.HspemginfCustom"
  		parameterType="activetech.edpc.pojo.dto.QueryDto">
  		select a.emg_seq,
			   a.emg_dat,
			   a.cst_nam,
			   a.cst_age,
			   a.cst_sex_cod,
			   a.xt_sub_cod,
			   a.oxy_nbr, 
			   b.sbpup_nbr,
			   b.sbpdown_nbr,  
			   b.hrt_rte,
			   a.id_nbr,
			   a.phe_nbr,
			   a.pre_dgn_cod,
			   a.sym_sit_des,
			   (select bed_num from hsp_bed_inf where emg_seq = a.emg_seq) bed_num,
			   (select pro_val from hsp_xtzl_inf where emg_no = a.emg_seq and pro_code = 'KILLIP') killip,
			   (select ill_tim from aid_patient where patid = a.patid) illTim
		  from hsp_emg_inf a, hsp_mews_inf b
		 where a.emg_seq = b.emg_seq(+)
		   and a.cspg_flg = '1'
	   		<if test="cstNam !=null and cstNam.length()>0">
	 			and (a.vst_cad = #{cstNam, jdbcType = VARCHAR}
	 				or a.cst_nam like '%'||#{cstNam, jdbcType = VARCHAR}||'%'
	 			)
	 		</if>
	 		<if test = "bhls == false ">
	 			and a.emg_dat >= sysdate - 1
	 		</if>
	  order by emg_dat desc
  	</select>
	
	
</mapper>