<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.edpc.dao.mapper.CpcMapper" >
	<sql id="condition">
		<where>
			<if test="hspAra!=null and hspAra!=''.toString()">
				and a.hsp_ara =#{hspAra,jdbcType=VARCHAR}
			</if>
			<if test="patTyp != null and patTyp.length()>0">
				and a.pat_typ = #{patTyp,jdbcType = VARCHAR}
			</if>
			<if test="cstNam !=null and cstNam.length()>0">
				and (a.vst_cad = #{cstNam, jdbcType = VARCHAR}
				or a.cst_nam like '%'||#{cstNam, jdbcType = VARCHAR}||'%'
				)
			</if>
			<if test="bhls == false ">
				and a.crt_tim >= sysdate - 1
			</if>
		</where>
		order by reg_tim desc nulls last
	</sql>
  	<select id="getCpcPatientInfoList" resultType="activetech.edpc.pojo.dto.HspDbzlBasCustom"
  		parameterType="activetech.edpc.pojo.dto.QueryDto">
       <include refid="activetech.base.CommonSql.page_start"/>
		select
		    a.reg_seq,
			a.emg_seq,
			a.way_typ,
			a.mpi,
			a.reg_tim,
			a.cst_nam,
			a.cst_age,
		    (select info from dstdictinfo where typecode='CST_AGE_COD' and infocode=a.cst_age_cod) cst_age_cod_inf,
			a.cst_sex_cod,
			a.cst_age_cod,
			a.id_nbr,
			a.phe_nbr,
			a.hsp_ara,
			(select pro_val
			FROM hsp_xtzl_inf
			WHERE emg_no = a.emg_seq
			and pro_code = 'BQPG') bqpg,
			(select pro_val
			FROM hsp_xtzl_inf
			WHERE emg_no = a.emg_seq
			and pro_code = 'BQPGMX') bqpgmx,
			(select pro_val
			FROM hsp_xtzl_inf
			WHERE emg_no = a.emg_seq
			and pro_code = 'KILLIP') killip,
			(select pro_val
			FROM hsp_xtzl_inf
			WHERE emg_no = a.emg_seq
			and pro_code = 'XUEY') xuey,
			(select pro_val
			FROM hsp_xtzl_inf
			WHERE emg_no = a.emg_seq
			and pro_code = 'XINL') xinl
		from hsp_dbzl_bas a
		<include refid="condition"/>
      <include refid="activetech.base.CommonSql.page_end"/>
  	</select>
  	
  	<select id="getCsPatientInfoList" resultType="activetech.hospital.pojo.dto.HspemginfCustom"
  		parameterType="activetech.edpc.pojo.dto.QueryDto">
  		select a.emg_seq,
			   a.emg_dat,
			   a.cst_nam,
			   a.cst_age,
			   a.cst_sex_cod,
			   a.xt_sub_cod,
			   a.oxy_nbr, 
			   b.sbpup_nbr,
			   b.sbpdown_nbr,  
			   b.hrt_rte,
			   a.id_nbr,
			   a.phe_nbr,
			   a.pre_dgn_cod,
			   a.sym_sit_des,
			   (select bed_num from hsp_bed_inf where emg_seq = a.emg_seq) bed_num,
			   (select pro_val from hsp_xtzl_inf where emg_no = a.emg_seq and pro_code = 'KILLIP') killip,
			   (select ill_tim from aid_patient where patid = a.patid) illTim
		  from hsp_emg_inf a, hsp_mews_inf b
		 where a.emg_seq = b.emg_seq(+)
		   and a.cspg_flg = '1'
	   		<if test="cstNam !=null and cstNam.length()>0">
	 			and (a.vst_cad = #{cstNam, jdbcType = VARCHAR}
	 				or a.cst_nam like '%'||#{cstNam, jdbcType = VARCHAR}||'%'
	 			)
	 		</if>
	 		<if test = "bhls == false ">
	 			and a.emg_dat >= sysdate - 1
	 		</if>
	  order by emg_dat desc
  	</select>
	<select id="getHspDbzlBasinf" resultType="activetech.edpc.pojo.dto.HspDbzlBasCustom"
			parameterType="activetech.edpc.pojo.dto.QueryDto">
		select a.reg_seq,
			   a.reg_tim,
			   a.emg_seq,
			   a.mpi,
			   a.pat_typ,
			   a.way_typ,
			   a.card_type,
			   a.vst_cad,
			   a.cst_nam,
			   a.cst_sex_cod,
			   a.id_type,
			   a.id_nbr,
			   a.cst_age_cod,
			   (select info from dstdictinfo where typecode='CST_AGE_COD' and infocode=a.cst_age_cod) cst_age_cod_inf,
			   a.cst_age,
			   a.pat_wgt,
			   a.pat_hgt,
			   a.bth_dat,
			   a.phe_nbr,
			   a.cst_adr,
			   a.nation,
			   a.emg_job,
			   a.marital_status,
			   a.cst_edu,
			   a.lnk_man,
			   a.lnk_way,
			   a.grn_chl,
			   a.sw_chl,
			   a.hsp_ara,
			   a.yqxh,
			   a.jzxh,
			   a.zyxh,
			   a.doc_dat,
			   a.jzys,
			   a.ysxm,
			   a.ksdm,
			   a.crt_tim,
			   a.crt_no,
			   a.crt_nam,
			   a.mod_tim,
			   a.mod_no,
			   a.mod_nam,
			   a.rcd_sta,
			   a.chk_tim,
			   a.chk_no,
			   a.chk_nam,
			   a.chk_msg,
			   a.stp_flg,
			   a.stp_tim,
			   a.stp_no,
			   a.stp_nam,
			   a.smt_sta,
			   a.smt_seq,
			   a.smt_msg,
			   (select pro_val
				FROM hsp_xtzl_inf
				WHERE emg_no = a.emg_seq
				  and pro_code = 'BQPG') bqpg,
			   (select pro_val
				FROM hsp_xtzl_inf
				WHERE emg_no = a.emg_seq
				  and pro_code = 'XUEY') xuey,
			   (select pro_val
				FROM hsp_xtzl_inf
				WHERE emg_no = a.emg_seq
				  and pro_code = 'XINL') xinl,
		       (select pro_val
				FROM hsp_xtzl_inf
				WHERE emg_no = a.emg_seq
				  and pro_code = 'CBZD') cbzd
		from Hsp_Dbzl_Bas a
		where a.reg_seq = #{regSeq, jdbcType = VARCHAR}
	</select>
	
	<select id="getCpcPatientInfoListCount" parameterType="activetech.edpc.pojo.dto.QueryDto"
			resultType="int">
		select count(*) from hsp_dbzl_bas a
		<include refid="condition"/>
	</select>


	<select id="getCsPatientInfoListForDbzlBas" resultType="activetech.edpc.pojo.dto.HspDbzlBasCustom"
			parameterType="activetech.edpc.pojo.dto.QueryDto">
         <include refid="activetech.base.CommonSql.page_start"/>
		 select a.emg_seq,
			   a.reg_tim,
			   a.cst_nam,
			   a.cst_age,
			   a.cst_sex_cod,
			   (select pro_val FROM hsp_xtzl_inf WHERE emg_no = a.emg_seq and pro_code = 'XTZBNH') xtzbnh,
			   (select pro_val FROM hsp_xtzl_inf WHERE emg_no = a.emg_seq and pro_code = 'XUEYANG') xueyang,
				   (select pro_val FROM hsp_xtzl_inf WHERE emg_no = a.emg_seq and pro_code = 'XUEY') xuey,
				   (select pro_val FROM hsp_xtzl_inf WHERE emg_no = a.emg_seq and pro_code = 'XINL') xinl,
			   a.id_nbr,
			   a.phe_nbr,
			   (select pro_val FROM hsp_xtzl_inf WHERE emg_no = a.emg_seq and pro_code = 'CBYX') cbyx,
				   (select pro_val FROM hsp_xtzl_inf WHERE emg_no = a.emg_seq and pro_code = 'BRZSZZ') brzszz,
			   (select bed_num from hsp_bed_inf where emg_seq = a.emg_seq) bed_num,
			   (select pro_val
				  from hsp_xtzl_inf
				 where emg_no = a.emg_seq
				   and pro_code = 'KILLIP') killip,
			   (select pro_val FROM hsp_xtzl_inf WHERE emg_no = a.emg_seq and pro_code = 'FBSJ') fbsj
		   from HSP_DBZL_BAS a
		   where a.pat_typ = '3'
	   		<if test="cstNam !=null and cstNam.length()>0">
	 			and (a.vst_cad = #{cstNam, jdbcType = VARCHAR}
	 				or a.cst_nam like '%'||#{cstNam, jdbcType = VARCHAR}||'%'
	 			)
	 		</if>
	 		<if test = "bhls == false ">
	 			and a.reg_tim >= sysdate - 1
	 		</if>
	  order by reg_tim desc
    <include refid="activetech.base.CommonSql.page_end"/>
  	</select>

	<select id="getCsPatientInfoListCount" parameterType="activetech.edpc.pojo.dto.QueryDto"
			resultType="int">
		select count(*) from hsp_dbzl_bas a
            where a.pat_typ = '3'
			<if test="cstNam !=null and cstNam.length()>0">
				and (a.vst_cad = #{cstNam, jdbcType = VARCHAR}
				or a.cst_nam like '%'||#{cstNam, jdbcType = VARCHAR}||'%'
				)
			</if>
			<if test="bhls == false ">
				and a.crt_tim >= sysdate - 1
			</if>
		order by reg_tim desc nulls last
	</select>
</mapper>