<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.edpc.dao.mapper.HspCsmicDefMapper" >
  <resultMap id="BaseResultMap" type="activetech.edpc.pojo.domain.HspCsmicDef" >
    <result column="MIC_PRT" property="micPrt" jdbcType="CHAR" />
    <result column="FLD_TYP" property="fldTyp" jdbcType="VARCHAR" />
    <result column="FLD_COD" property="fldCod" jdbcType="VARCHAR" />
    <result column="FLD_NME" property="fldNme" jdbcType="VARCHAR" />
    <result column="FLD_SRT" property="fldSrt" jdbcType="VARCHAR" />
    <result column="LST_NME" property="lstNme" jdbcType="VARCHAR" />
    <result column="VAR_NME" property="varNme" jdbcType="VARCHAR" />
    <result column="MEM_COD" property="memCod" jdbcType="VARCHAR" />
    <result column="DAT_SRC" property="datSrc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MIC_PRT, FLD_TYP, FLD_COD, FLD_NME, FLD_SRT, LST_NME, VAR_NME, MEM_COD, DAT_SRC
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.edpc.pojo.domain.HspCsmicDefExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_CSMIC_DEF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="activetech.edpc.pojo.domain.HspCsmicDefExample" >
    delete from HSP_CSMIC_DEF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.edpc.pojo.domain.HspCsmicDef" >
    insert into HSP_CSMIC_DEF (MIC_PRT, FLD_TYP, FLD_COD, 
      FLD_NME, FLD_SRT, LST_NME, 
      VAR_NME, MEM_COD, DAT_SRC
      )
    values (#{micPrt,jdbcType=CHAR}, #{fldTyp,jdbcType=VARCHAR}, #{fldCod,jdbcType=VARCHAR}, 
      #{fldNme,jdbcType=VARCHAR}, #{fldSrt,jdbcType=VARCHAR}, #{lstNme,jdbcType=VARCHAR}, 
      #{varNme,jdbcType=VARCHAR}, #{memCod,jdbcType=VARCHAR}, #{datSrc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="activetech.edpc.pojo.domain.HspCsmicDef" >
    insert into HSP_CSMIC_DEF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="micPrt != null" >
        MIC_PRT,
      </if>
      <if test="fldTyp != null" >
        FLD_TYP,
      </if>
      <if test="fldCod != null" >
        FLD_COD,
      </if>
      <if test="fldNme != null" >
        FLD_NME,
      </if>
      <if test="fldSrt != null" >
        FLD_SRT,
      </if>
      <if test="lstNme != null" >
        LST_NME,
      </if>
      <if test="varNme != null" >
        VAR_NME,
      </if>
      <if test="memCod != null" >
        MEM_COD,
      </if>
      <if test="datSrc != null" >
        DAT_SRC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="micPrt != null" >
        #{micPrt,jdbcType=CHAR},
      </if>
      <if test="fldTyp != null" >
        #{fldTyp,jdbcType=VARCHAR},
      </if>
      <if test="fldCod != null" >
        #{fldCod,jdbcType=VARCHAR},
      </if>
      <if test="fldNme != null" >
        #{fldNme,jdbcType=VARCHAR},
      </if>
      <if test="fldSrt != null" >
        #{fldSrt,jdbcType=VARCHAR},
      </if>
      <if test="lstNme != null" >
        #{lstNme,jdbcType=VARCHAR},
      </if>
      <if test="varNme != null" >
        #{varNme,jdbcType=VARCHAR},
      </if>
      <if test="memCod != null" >
        #{memCod,jdbcType=VARCHAR},
      </if>
      <if test="datSrc != null" >
        #{datSrc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.edpc.pojo.domain.HspCsmicDefExample" resultType="java.lang.Integer" >
    select count(*) from HSP_CSMIC_DEF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_CSMIC_DEF
    <set >
      <if test="record.micPrt != null" >
        MIC_PRT = #{record.micPrt,jdbcType=CHAR},
      </if>
      <if test="record.fldTyp != null" >
        FLD_TYP = #{record.fldTyp,jdbcType=VARCHAR},
      </if>
      <if test="record.fldCod != null" >
        FLD_COD = #{record.fldCod,jdbcType=VARCHAR},
      </if>
      <if test="record.fldNme != null" >
        FLD_NME = #{record.fldNme,jdbcType=VARCHAR},
      </if>
      <if test="record.fldSrt != null" >
        FLD_SRT = #{record.fldSrt,jdbcType=VARCHAR},
      </if>
      <if test="record.lstNme != null" >
        LST_NME = #{record.lstNme,jdbcType=VARCHAR},
      </if>
      <if test="record.varNme != null" >
        VAR_NME = #{record.varNme,jdbcType=VARCHAR},
      </if>
      <if test="record.memCod != null" >
        MEM_COD = #{record.memCod,jdbcType=VARCHAR},
      </if>
      <if test="record.datSrc != null" >
        DAT_SRC = #{record.datSrc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_CSMIC_DEF
    set MIC_PRT = #{record.micPrt,jdbcType=CHAR},
      FLD_TYP = #{record.fldTyp,jdbcType=VARCHAR},
      FLD_COD = #{record.fldCod,jdbcType=VARCHAR},
      FLD_NME = #{record.fldNme,jdbcType=VARCHAR},
      FLD_SRT = #{record.fldSrt,jdbcType=VARCHAR},
      LST_NME = #{record.lstNme,jdbcType=VARCHAR},
      VAR_NME = #{record.varNme,jdbcType=VARCHAR},
      MEM_COD = #{record.memCod,jdbcType=VARCHAR},
      DAT_SRC = #{record.datSrc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>