<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="activetech.edpc.dao.mapper.HspCsabcInfMapper" >
  <resultMap id="BaseResultMap" type="activetech.edpc.pojo.domain.HspCsabcInf" >
    <id column="ABC_SEQ" property="abcSeq" jdbcType="VARCHAR" />
    <id column="EMG_SEQ" property="emgSeq" jdbcType="VARCHAR" />
    <id column="FLD_COD" property="fldCod" jdbcType="VARCHAR" />
    <result column="FLD_VAL" property="fldVal" jdbcType="VARCHAR" />
    <result column="USR_NO" property="usrNo" jdbcType="VARCHAR" />
    <result column="USR_NME" property="usrNme" jdbcType="VARCHAR" />
    <result column="CRT_TIM" property="crtTim" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ABC_SEQ, EMG_SEQ, FLD_COD, FLD_VAL, USR_NO, USR_NME, CRT_TIM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="activetech.edpc.pojo.domain.HspCsabcInfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_CSABC_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="activetech.edpc.pojo.domain.HspCsabcInfKey" >
    select 
    <include refid="Base_Column_List" />
    from HSP_CSABC_INF
    where ABC_SEQ = #{abcSeq,jdbcType=VARCHAR}
      and EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
      and FLD_COD = #{fldCod,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="activetech.edpc.pojo.domain.HspCsabcInfKey" >
    delete from HSP_CSABC_INF
    where ABC_SEQ = #{abcSeq,jdbcType=VARCHAR}
      and EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
      and FLD_COD = #{fldCod,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.edpc.pojo.domain.HspCsabcInfExample" >
    delete from HSP_CSABC_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.edpc.pojo.domain.HspCsabcInf" >
    insert into HSP_CSABC_INF (ABC_SEQ, EMG_SEQ, FLD_COD, 
      FLD_VAL, USR_NO, USR_NME, 
      CRT_TIM)
    values (#{abcSeq,jdbcType=VARCHAR}, #{emgSeq,jdbcType=VARCHAR}, #{fldCod,jdbcType=VARCHAR}, 
      #{fldVal,jdbcType=VARCHAR}, #{usrNo,jdbcType=VARCHAR}, #{usrNme,jdbcType=VARCHAR}, 
      #{crtTim,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="activetech.edpc.pojo.domain.HspCsabcInf" >
    insert into HSP_CSABC_INF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="abcSeq != null" >
        ABC_SEQ,
      </if>
      <if test="emgSeq != null" >
        EMG_SEQ,
      </if>
      <if test="fldCod != null" >
        FLD_COD,
      </if>
      <if test="fldVal != null" >
        FLD_VAL,
      </if>
      <if test="usrNo != null" >
        USR_NO,
      </if>
      <if test="usrNme != null" >
        USR_NME,
      </if>
      <if test="crtTim != null" >
        CRT_TIM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="abcSeq != null" >
        #{abcSeq,jdbcType=VARCHAR},
      </if>
      <if test="emgSeq != null" >
        #{emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="fldCod != null" >
        #{fldCod,jdbcType=VARCHAR},
      </if>
      <if test="fldVal != null" >
        #{fldVal,jdbcType=VARCHAR},
      </if>
      <if test="usrNo != null" >
        #{usrNo,jdbcType=VARCHAR},
      </if>
      <if test="usrNme != null" >
        #{usrNme,jdbcType=VARCHAR},
      </if>
      <if test="crtTim != null" >
        #{crtTim,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.edpc.pojo.domain.HspCsabcInfExample" resultType="java.lang.Integer" >
    select count(*) from HSP_CSABC_INF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HSP_CSABC_INF
    <set >
      <if test="record.abcSeq != null" >
        ABC_SEQ = #{record.abcSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.emgSeq != null" >
        EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.fldCod != null" >
        FLD_COD = #{record.fldCod,jdbcType=VARCHAR},
      </if>
      <if test="record.fldVal != null" >
        FLD_VAL = #{record.fldVal,jdbcType=VARCHAR},
      </if>
      <if test="record.usrNo != null" >
        USR_NO = #{record.usrNo,jdbcType=VARCHAR},
      </if>
      <if test="record.usrNme != null" >
        USR_NME = #{record.usrNme,jdbcType=VARCHAR},
      </if>
      <if test="record.crtTim != null" >
        CRT_TIM = #{record.crtTim,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HSP_CSABC_INF
    set ABC_SEQ = #{record.abcSeq,jdbcType=VARCHAR},
      EMG_SEQ = #{record.emgSeq,jdbcType=VARCHAR},
      FLD_COD = #{record.fldCod,jdbcType=VARCHAR},
      FLD_VAL = #{record.fldVal,jdbcType=VARCHAR},
      USR_NO = #{record.usrNo,jdbcType=VARCHAR},
      USR_NME = #{record.usrNme,jdbcType=VARCHAR},
      CRT_TIM = #{record.crtTim,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="activetech.edpc.pojo.domain.HspCsabcInf" >
    update HSP_CSABC_INF
    <set >
      <if test="fldVal != null" >
        FLD_VAL = #{fldVal,jdbcType=VARCHAR},
      </if>
      <if test="usrNo != null" >
        USR_NO = #{usrNo,jdbcType=VARCHAR},
      </if>
      <if test="usrNme != null" >
        USR_NME = #{usrNme,jdbcType=VARCHAR},
      </if>
      <if test="crtTim != null" >
        CRT_TIM = #{crtTim,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ABC_SEQ = #{abcSeq,jdbcType=VARCHAR}
      and EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
      and FLD_COD = #{fldCod,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="activetech.edpc.pojo.domain.HspCsabcInf" >
    update HSP_CSABC_INF
    set FLD_VAL = #{fldVal,jdbcType=VARCHAR},
      USR_NO = #{usrNo,jdbcType=VARCHAR},
      USR_NME = #{usrNme,jdbcType=VARCHAR},
      CRT_TIM = #{crtTim,jdbcType=TIMESTAMP}
    where ABC_SEQ = #{abcSeq,jdbcType=VARCHAR}
      and EMG_SEQ = #{emgSeq,jdbcType=VARCHAR}
      and FLD_COD = #{fldCod,jdbcType=VARCHAR}
  </update>
</mapper>