<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="activetech.edpc.dao.mapper.HspGrpUsrMapper">
  <resultMap id="BaseResultMap" type="activetech.edpc.pojo.domain.HspGrpUsrKey">
    <id column="GRP_SEQ" jdbcType="VARCHAR" property="grpSeq" />
    <id column="USRNO" jdbcType="VARCHAR" property="usrno" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    GRP_SEQ, USRNO
  </sql>
  <select id="selectByExample" parameterType="activetech.edpc.pojo.domain.HspGrpUsrExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HSP_GRP_USR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="activetech.edpc.pojo.domain.HspGrpUsrKey">
    delete from HSP_GRP_USR
    where GRP_SEQ = #{grpSeq,jdbcType=VARCHAR}
      and USRNO = #{usrno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="activetech.edpc.pojo.domain.HspGrpUsrExample">
    delete from HSP_GRP_USR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="activetech.edpc.pojo.domain.HspGrpUsrKey">
    insert into HSP_GRP_USR (GRP_SEQ, USRNO)
    values (#{grpSeq,jdbcType=VARCHAR}, #{usrno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="activetech.edpc.pojo.domain.HspGrpUsrKey">
    insert into HSP_GRP_USR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="grpSeq != null">
        GRP_SEQ,
      </if>
      <if test="usrno != null">
        USRNO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="grpSeq != null">
        #{grpSeq,jdbcType=VARCHAR},
      </if>
      <if test="usrno != null">
        #{usrno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="activetech.edpc.pojo.domain.HspGrpUsrExample" resultType="java.lang.Long">
    select count(*) from HSP_GRP_USR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update HSP_GRP_USR
    <set>
      <if test="record.grpSeq != null">
        GRP_SEQ = #{record.grpSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.usrno != null">
        USRNO = #{record.usrno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update HSP_GRP_USR
    set GRP_SEQ = #{record.grpSeq,jdbcType=VARCHAR},
      USRNO = #{record.usrno,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>